:host {
    --supr-v3-tile-title-color: var(--black-100);

    .tile {
        supr-image {
            --supr-image-width: 28px;
            --supr-image-height: 24px;
        }

        supr-text {
            --supr-text-color: var(--supr-v3-tile-title-color);
        }
    }
}
