<div class="wrapper">
    <agm-map
        [zoom]="mapSettings.zoom"
        [latitude]="location?.lat"
        [longitude]="location?.lng"
        [usePanning]="mapSettings.usePanning"
        [zoomControl]="mapSettings.zoomControl"
        [showDefaultInfoWindow]="mapSettings.defaultInfo"
        [streetViewControl]="mapSettings.streetViewControl"
        (mapReady)="mapReady($event)"
    >
        <agm-marker
            [latitude]="location?.lat"
            [longitude]="location?.lng"
            [iconUrl]="mapMarkerOption"
            (markerClick)="handleMarkerClick.emit($event)"
        ></agm-marker>
    </agm-map>

    <div
        class="currentLocationMarker suprRow center"
        (click)="recenterMap()"
        saClick
        [saObjectName]="saObjectName.CLICK.CURRENT_LOCATION_MAP"
    >
        <supr-icon name="gps"></supr-icon>
    </div>
</div>
