:host {
    .floatingBannerWrapper {
        position: absolute;
        padding: 16px;
        bottom: 0;

        &.withMiniCart {
            bottom: 68px;
        }

        &.onSubsPage {
            bottom: 88px;
        }

        &.autoHide {
            z-index: 101;
        }

        &.cartFooterV2Active {
            bottom: 98px;
        }

        supr-banner {
            --supr-banner-content-link-font-size: 12px;
            --supr-banner-content-link-font-wight: inherit;
        }
    }
}
