:host {
    .wrapper {
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid var(--black-20);

        .header {
            padding-bottom: 8px;
            border-bottom: 1px solid var(--black-20);
        }

        .content {
            padding-top: 8px;
        }

        supr-text {
            &.addedFor {
                --supr-text-color: var(--black-100);
            }

            &.alertText {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-60);
            }

            &.dateText {
                --supr-text-wrap: normal;
                --supr-text-color: var(--primary-120);
            }
        }

        supr-button {
            margin-left: auto;
            padding-left: 24px;

            --supr-button-height: 24px;
            --supr-button-border-radius: 16px;
            --supr-button-bg-color: var(--white-100);
            --supr-button-border-color: var(--alert-100);

            supr-text {
                --supr-text-color: var(--alert-100);
            }

            supr-icon {
                --supr-icon-font-size: 12px;
                --supr-icon-color: var(--alert-100);
            }
        }

        supr-button.selected {
            --supr-button-bg-color: var(--alert-100);

            supr-text {
                --supr-text-color: var(--white-100);
            }

            supr-icon {
                --supr-icon-color: var(--white-100);
            }
        }
    }
}
