:host {
    .product {
        .inlineWrapper {
            display: inline-block;
        }

        supr-image {
            --supr-image-width: 90px;
            --supr-image-height: 90px;
            --supr-image-border-width: 1px;
            --supr-image-border-radius: 50%;
            --supr-image-wrapper-width: 140px;
            --supr-image-wrapper-height: 140px;
            --supr-image-border-color: var(--black-10);
        }

        &Name {
            max-width: 75%;

            --supr-text-wrap: normal;
            --supr-text-align: center;
            --supr-text-color: var(--black-80);
        }

        &Info {
            width: 100%;

            supr-text.label {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-40);

                &.approx {
                    top: 1px;
                    position: relative;
                }
            }

            supr-text.caution {
                --supr-text-color: var(--caution-100);
            }

            &Balance {
                width: 100%;
                padding-right: 16px;
            }

            &Deliveries {
                width: 100%;
                padding-left: 16px;
                padding-right: 16px;
                border-left: 1px solid var(--black-10);
                border-right: 1px solid var(--black-10);
            }

            &Quantity {
                width: 100%;
                padding-left: 16px;
            }

            supr-icon.tooltip {
                padding-top: 2px;

                --supr-icon-color: var(--black-40);
                --supr-icon-font-size: var(--supr-font-size-small);

                &.caution {
                    --supr-icon-color: var(--caution-100);
                }
            }
        }
    }
}
