:host {
    .suprScrollContent {
        padding: var(--supr-page-header-height)
            var(--supr-content-horizontal-padding)
            calc(
                var(--supr-content-vertical-padding) +
                    var(--supr-page-header-height)
            );

        &.hasSkipBlock {
            padding-bottom: var(--supr-pass-bottom-padding-with-skip-block);
        }
    }

    supr-text {
        --supr-text-wrap: normal;

        &.pageHeader {
            --supr-text-color: var(--black-80);
        }
    }

    .infoBlock {
        .textWrapper {
            max-width: 235px;
        }

        supr-text {
            &.title {
                --supr-text-color: var(--black-80);
            }

            &.pointTitle {
                --supr-text-color: var(--black-60);
            }

            &.pointDesc {
                --supr-text-color: var(--black-40);
            }
        }

        supr-svg {
            &.refundClock {
                --supr-svg-width: 18px;
                --supr-svg-height: 18px;
                --supr-svg-path: var(--supr-svg-refund-clock);

                margin-right: 12px;
                margin-top: 2px;
            }

            &.bill {
                --supr-svg-width: 18px;
                --supr-svg-height: 18px;
                --supr-svg-path: var(--supr-svg-bill);

                margin-right: 12px;
                margin-top: 2px;
            }
        }
    }

    .headerBg {
        margin: 0 calc(-1 * var(--supr-content-horizontal-padding));
        padding: 0 var(--supr-content-horizontal-padding);
        background-color: var(--primary-20);
        height: 70px;
        display: flex;
        align-items: center;
        position: relative;

        .absImg {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        supr-svg {
            --supr-svg-width: 131px;
            --supr-svg-height: 116px;
            --supr-svg-path: var(--supr-svg-vacation);
        }
    }

    .dateBlock {
        position: relative;
        padding: 18px 0;
        border-bottom: 1px solid var(--black-10);

        &:nth-child(even) {
            border-bottom: none;
        }

        supr-text {
            &.dateHeader {
                --supr-text-color: var(--black-60);
            }
        }

        supr-icon {
            --supr-icon-color: var(--black-60);
            --supr-icon-font-size: 20px;

            &.calendarIcon {
                margin-right: 20px;
                margin-top: 2px;
            }
        }
    }

    .calendarModalWrapper {
        padding: 0 24px 12px;

        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supt-text-color: var(--white-100);
            }
        }
    }

    .confirmationModalWrapper {
        padding: 0 24px 12px;

        supr-text {
            &.vacationDays {
                --supr-text-color: var(--black-60);
            }
        }

        supr-button {
            --supr-button-width: 100%;
        }
    }

    supr-sticky-wrapper {
        --supr-sticky-wrapper-top: none;
        --supr-sticky-wrapper-bottom: 0;
        --supr-sticky-wrapper-bg-color: var(--white-100);
        --supr-sticky-wrapper-box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.16);
    }

    .footerWrapper {
        padding: 16px;

        supr-button {
            width: 100%;

            --supr-button-width: 100%;
        }
    }
}
