<div class="headerWrapper" (click)="toggleGroup()">
    <supr-section-header
        *ngIf="version === 2; else headerV1"
        [chevronDown]="true"
        [chevronUp]="expanded"
        subTitleType="paragraph"
        [icon]="_methodData?.desc?.icon"
        [title]="_methodData?.desc?.title"
        [subtitle]="_methodData?.desc?.subtitle"
    >
    </supr-section-header>

    <ng-template #headerV1>
        <supr-section-header
            [chevronDown]="true"
            [chevronUp]="expanded"
            subTitleType="paragraph"
            [title]="_methodData?.title"
            [icon]="_settingsConfig?.icon"
            [subtitle]="_methodData?.subtitle"
        >
        </supr-section-header>
    </ng-template>
</div>

<ng-container *ngIf="version === 2; else templateV1">
    <ng-container *ngIf="expanded">
        <supr-wallet-payment-mode-tile-layout
            ctaTextType="body"
            [options]="_methodData?.options"
            [selectedOption]="_selectedMethod"
            [header]="_methodData?.componentMeta?.header"
            [ctaText]="_methodData?.componentMeta?.ctaText"
            [saContext]="amount"
            [saObjectName]="_methodData?.group"
            (handleCtaClick)="handleTileLayoutCtaClick(_methodData?.group)"
            (handleTileClick)="
                _updateSelectedModeV2($event, _methodData.method)
            "
            *ngIf="_methodData?.componentMeta?.type === _componentTypes.TILE"
        ></supr-wallet-payment-mode-tile-layout>

        <supr-wallet-payment-mode-card-layout
            [options]="_methodData?.options"
            [selectedOption]="_selectedMethod"
            [showCVVInput]="_showCardLayoutCVV"
            [saContext]="amount"
            [saObjectName]="_methodData?.group"
            *ngIf="_methodData?.componentMeta?.type === _componentTypes.CARD"
            (handleItemClick)="
                _updateSelectedModeV2($event, _methodData.method)
            "
        >
        </supr-wallet-payment-mode-card-layout>

        <supr-wallet-payment-mode-preferred-layout
            [options]="_methodData?.options"
            [selectedOption]="_selectedMethod"
            [showCVVInput]="_showCardLayoutCVV"
            [saContext]="amount"
            [saObjectName]="_methodData?.group"
            *ngIf="_methodData?.componentMeta?.type === _componentTypes.LIST"
            (handleItemClick)="
                _updateSelectedModeV2($event, _methodData.method)
            "
        >
        </supr-wallet-payment-mode-preferred-layout>

        <supr-wallet-payment-mode-vpa-layout
            [options]="_methodData?.options"
            [hideAddNewOption]="_methodData?.standardCheckout"
            [selectedOption]="_selectedMethod"
            [saContext]="amount"
            [saObjectName]="_methodData?.group"
            *ngIf="_methodData?.componentMeta?.type === _componentTypes.UPI"
            (handleItemClick)="
                _updateSelectedModeV2($event, _methodData.method)
            "
        >
        </supr-wallet-payment-mode-vpa-layout>
    </ng-container>
</ng-container>

<ng-template #templateV1>
    <div
        class="methodsWrapper"
        [class.last]="lastGroup"
        *ngIf="_methodData?.methods && expanded"
    >
        <div
            class="paymentMethod"
            [class.selected]="method?.key === _selectedMethod"
            *ngFor="
                let method of _methodData.methods | keyvalue;
                last as _last;
                trackBy: trackByFn
            "
            (click)="updateSelectedMode.emit(method?.key)"
        >
            <supr-section-header
                titleType="subheading"
                subTitleType="caption"
                [icon]="method?.value?.icon"
                [title]="method?.value?.title"
                [subtitle]="method?.value?.subtitle"
            ></supr-section-header>
        </div>
    </div>
</ng-template>
