:host {
    supr-section-header {
        --supr-section-header-icon-size: 24px;
        --supr-section-header-bg-color: var(--black-1);
        --supr-section-header-icon-wrapper-width: 24px;
        --supr-section-header-icon-color: var(--black-80);
        --supr-section-header-icon-wrapper-padding-top: 6px;
        --supr-section-header-text-wrapper-padding-left: 24px;
        --supr-section-header-border-top: 1px solid var(--black-5);
        --supr-section-header-border-bottom: 1px solid var(--black-5);
    }

    .methodsWrapper {
        padding: 0 18px;

        .paymentMethod {
            supr-section-header {
                --supr-section-header-icon-size: 24px;
                --supr-section-wrapper-padding: 16px 0;
                --supr-section-header-border-top: none;
                --supr-section-header-icon-wrapper-width: 24px;
                --supr-section-header-bg-color: var(--white-100);
                --supr-section-header-icon-color: var(--black-20);
                --supr-section-header-title-color: var(--black-80);
                --supr-section-header-icon-wrapper-padding-top: 6px;
                --supr-section-header-text-wrapper-padding-left: 22px;
                --supr-section-header-subtitle-color: var(--black-40);
                --supr-section-header-border-bottom: 1px solid var(--black-10);
            }

            &.selected {
                supr-section-header {
                    --supr-section-header-icon-color: var(--primary-100);
                }
            }
        }

        &:not(.last) {
            .paymentMethod:last-of-type {
                supr-section-header:last-child {
                    --supr-section-header-border-bottom: none;
                }
            }
        }
    }
}
