:host {
    .wrapper {
        &HeaderText {
            --supr-text-color: var(--black-40);
        }

        &FooterText {
            margin-left: auto;

            --supr-text-color: var(--primary-100);
        }

        &FooterIcon {
            --supr-icon-color: var(--primary-100);
        }
    }

    ion-skeleton-text {
        &.header {
            width: 40%;
        }
        &.first {
            width: 80%;
        }
        &.second {
            width: 50%;
        }
        &.third {
            width: 20%;
        }
    }
}
