:host {
    --supr-horizontal-card-padding: 8px;
    --supr-horizontal-card-spacing: 8px;
    --supr-horizontal-padding-top: 16px;
    --supr-horizontal-card-margin-top: 4px;

    --supr-horizontal-min-height: 191px;

    .container {
        padding-right: var(--supr-content-horizontal-padding);

        &RowData {
            margin-left: var(--supr-horizontal-card-spacing);
            margin-top: var(--supr-horizontal-card-margin-top);

            &:first-child {
                margin-left: var(--supr-content-horizontal-padding);
            }

            &Item {
                margin-bottom: var(--supr-horizontal-card-spacing);

                &:last-child {
                    margin-bottom: 0px !important;
                }
            }
        }
    }

    .suprDayStyle {
        min-height: var(--supr-horizontal-min-height);
        padding-top: var(--supr-horizontal-padding-top);
    }
}
