:host {
    supr-input-label {
        --input-label-text-color: var(--black-40);
    }

    supr-text {
        --supr-text-wrap: normal;

        &.referralNote {
            --supr-text-color: var(--black-40);
        }

        &.error {
            --supr-text-color: var(--caution-100);
        }
    }
}
