:host {
    --supr-checkbox-height: 20px;
    --supr-checkbox-width: 20px;
    --supr-checkbox-border: 2px solid var(--primary-100);
    --supr-checkbox-border-color-after: var(--white-100);

    .checkboxWrapper {
        position: relative;
        width: var(--supr-checkbox-width);
        height: var(--supr-checkbox-height);

        label {
            background-color: transparent;
            border: var(--supr-checkbox-border);
            border-radius: 50%;
            width: var(--supr-checkbox-width);
            height: var(--supr-checkbox-height);
            left: 0;
            position: absolute;
            top: 0;

            &:after {
                border: 2px solid var(--supr-checkbox-border-color-after);
                border-top: none;
                border-right: none;
                content: "";
                height: 6px;
                left: 3px;
                opacity: 0;
                position: absolute;
                top: 4px;
                transform: rotate(-45deg);
                width: 10px;
            }
        }

        input[type="checkbox"] {
            visibility: hidden;

            &:checked + label {
                background-color: var(--primary-100);
                border-color: var(--primary-100);
            }

            &:checked + label:after {
                opacity: 1;
            }
        }
    }
}
