:host {
    --week-day-container-width: inherit;
    --week-day-text-color: inherit;
    --week-day-selected-text-color: inherit;
    --week-day-space-width: 2px;

    .week {
        width: var(--week-day-container-width);

        supr-week-day-small {
            --day-text-color: var(--week-day-text-color);
            --day-selected-text-color: var(--week-day-selected-text-color);

            margin-right: var(--week-day-space-width);

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
