:host {
    --day-text-color: var(--black-20);
    --day-selected-text-color: var(--primary-100);

    supr-text {
        --supr-text-color: var(--day-text-color);

        &.selected {
            --supr-text-color: var(--day-selected-text-color);
        }
    }
}
