:host {
    --week-day-small-container-width: 100%;

    --week-day-small-day-text-color: var(--black-20);
    --week-day-small-day-selected-text-color: var(--primary-100);
    --week-day-small-text-color: var(--black-40);
    --week-day-small-text-transform: inherit;

    supr-text {
        --supr-text-color: var(--week-day-small-text-color);
        --supr-text-transform: var(--week-day-small-text-transform);
    }

    supr-week-day-custom {
        --week-day-text-color: var(--week-day-small-day-text-color);
        --week-day-selected-text-color: var(
            --week-day-small-day-selected-text-color
        );
    }
}
