:host {
    .oos {
        supr-button {
            --supr-button-width: 90px;
            --supr-button-height: 26px;

            &.notify {
                --supr-button-border-color: var(--alert-100);
                --supr-button-bg-color: var(--white-100);
                --supr-button-border-radius: 16px;

                supr-text {
                    --supr-text-color: var(--alert-100);
                }

                supr-icon {
                    --supr-icon-color: var(--alert-100);
                    --supr-icon-font-size: 10px;
                    --supr-icon-font-weight: 600;
                }

                &.notified {
                    --supr-button-bg-color: var(--alert-100);

                    supr-text {
                        --supr-text-color: var(--white-100);
                    }

                    supr-icon {
                        --supr-icon-color: var(--white-100);
                    }
                }
            }

            &.oos {
                --supr-button-bg-color: #f2f2f2;
                --supr-button-border-color: #f2f2f2;
                --supr-button-border-radius: 8px;

                supr-text {
                    --supr-text-color: #999999;
                }
            }
        }

        &.singleLine {
            supr-text {
                --supr-text-color: var(--black-40);

                &.text {
                    width: 70%;
                    --supr-text-wrap: normal;
                }
            }
        }

        &.reverse {
            flex-direction: column-reverse;
        }
    }
}
