:host {
    --container-height: 100vh;

    --schedule-calendar-header-close-icon-size: 24px;
    --schedule-calendar-header-close-icon-padding-right: 16px;

    --schedule-nux-prompt-width: 96%;
    --schedule-nux-prompt-padding-x: 12px;
    --schedule-nux-prompt-border-radius: 8px;

    .container {
        overflow: hidden;
        position: relative;
        height: var(--container-height);
    }

    .suprScrollContent {
        padding-top: var(--supr-page-header-height);

        &.cartPresent {
            padding-bottom: calc(80px + var(--supr-content-vertical-padding));
        }

        &#scheduleContentWrapper {
            scroll-behavior: smooth;
        }

        .orderFeedbackCalender {
            margin-right: 10px;

            supr-text {
                --supr-text-color: var(--black-80);
                --supr-text-font-size: var(--supr-font-size-large);
                --supr-text-font-weight: var(--supr-weight-bold);
                --supr-text-wrap: normal;
            }

            supr-text.subtitle {
                --supr-text-color: var(--black-40);
                --supr-text-font-size: var(--supr-font-size-small);
                --supr-text-font-weight: var(--supr-weight-normal);
            }

            supr-svg {
                margin: 0 10px;

                &.feedbackThumbs {
                    --supr-svg-background-repeat: round;
                    --supr-svg-path: var(--supr-svg-feedback-thumbs);
                    --supr-svg-width: 120px;
                    --supr-svg-height: 96px;
                }
            }

            .subtitle {
                margin-top: 8px;
            }
        }
    }

    .scheduleOrdersHeader {
        padding-right: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        .actionWrapper {
            margin-left: auto;

            supr-text.actionText {
                --supr-text-color: var(--black-20);
            }
        }
    }

    .paddedWrapper {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
    }

    supr-sticky-wrapper {
        &.calendarWrapper {
            --supr-sticky-wrapper-top: 0;
            --supr-sticky-wrapper-bottom: none;
            --supr-sticky-wrapper-position: fixed;

            supr-icon.closeIcon {
                --supr-icon-font-size: var(
                    --schedule-calendar-header-close-icon-size
                );
            }

            .calendarHeader,
            .calendarContent {
                background-color: var(--white-100);
            }

            .calendarHeader {
                padding: 0 var(--supr-content-horizontal-padding);
                height: var(--supr-page-header-height);

                supr-icon {
                    padding-right: var(
                        --schedule-calendar-header-close-icon-padding-right
                    );
                }

                .actionWrapper {
                    margin-left: auto;
                }

                supr-text.actionText {
                    --supr-text-color: var(--black-20);
                }
            }

            .calendarContent {
                padding: var(--supr-content-vertical-padding)
                    var(--supr-content-horizontal-padding);
                padding-top: 0;
            }
        }
    }

    supr-chip.headerChip {
        margin-left: auto;
        --supr-chip-border-color: var(--black-10);

        supr-text {
            --supr-text-color: var(--primary-100);
        }

        &.active {
            --supr-chip-border-color: transparent;
            --supr-chip-background-color: var(--primary-100);

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }

    supr-loader.previousLoader {
        --supr-loader-width: 64px;
        --supr-loader-height: 32px;
        --supr-loader-color: var(--primary-100);
    }

    .nuxPrompt {
        &Content {
            background-color: var(--primary-10);
            width: var(--schedule-nux-prompt-width);
            border-radius: var(--schedule-nux-prompt-border-radius);
            padding: var(--schedule-nux-prompt-padding-x)
                var(--supr-content-horizontal-padding);
            margin: 0 16px 16px;

            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--primary-100);
            }

            supr-icon {
                --supr-icon-color: var(--primary-100);
                --supr-icon-font-size: var(--supr-font-size-large);
            }
        }
    }

    .loadMore {
        height: 80px;
    }

    .orderCalendarBannerWrapper {
        position: absolute;
        padding: 0 16px;
        bottom: 16px;
    }
}
