:host {
    .wrapper {
        padding: var(--supr-content-vertical-padding) 0;

        .headerText {
            padding: 0 var(--supr-content-horizontal-padding);

            supr-text {
                --supr-text-color: var(--black-40);
            }
        }

        .optionWrapper {
            padding: 0 var(--supr-content-horizontal-padding);

            .option {
                padding: 18px 0;
                border-top: 1px solid var(--black-20);

                supr-text.label {
                    padding-left: 8px;

                    &.primary {
                        --supr-text-color: var(--primary-100);
                    }

                    &.alert {
                        --supr-text-color: var(--alert-75);
                    }
                }
            }

            &.firstOption {
                .option {
                    border-top: none;
                }
            }

            &.selected {
                background-color: var(--primary-10);
                border-top: 1px solid var(--primary-100);
                border-bottom: 1px solid var(--primary-100);

                .option {
                    border-top: none;
                }

                + .optionWrapper {
                    .option {
                        border-top: none;
                    }
                }
            }
        }

        .btnWrapper {
            padding: 0 var(--supr-content-horizontal-padding);

            supr-button {
                --supr-button-width: 100%;
                --supr-button-text-transform: uppercase;
            }
        }
    }
}
