<div class="container">
    <supr-page-header>
        <div class="suprRow spaceBetween">
            <supr-text type="subheading">
                Create subscription
            </supr-text>
        </div>
    </supr-page-header>

    <div class="suprScrollContent">
        <supr-create-subscription-product-tile
            *ngIf="sku"
            [sku]="sku"
        ></supr-create-subscription-product-tile>

        <div class="infoWrapper">
            <div class="suprRow top left quantityInfoWrapper infoItem">
                <supr-icon name="cart" class="leftIcon"></supr-icon>
                <div class="spacer16"></div>
                <div>
                    <supr-text type="body" class="title">
                        Quantity
                    </supr-text>
                    <supr-text type="body" class="subtitle">
                        per day
                    </supr-text>
                </div>
                <supr-number-counter
                    [thresholdQty]="0"
                    [quantity]="_subscriptionItem?.quantity"
                    [minusDisabled]="_subscriptionItem?.quantity === 1"
                    (handleClick)="onQtyUpdate($event)"
                ></supr-number-counter>
            </div>
            <div
                saClick
                [saObjectName]="saClickObjectNames.REPEAT"
                (click)="openFrequencySelectionModal()"
                class="suprRow top frequencyInfoWrapper infoItem"
            >
                <supr-icon name="refresh" class="leftIcon"></supr-icon>
                <div class="spacer16"></div>
                <div class="suprColumn left">
                    <div class="suprRow top">
                        <supr-text type="body" class="title">
                            Repeat
                        </supr-text>
                        <div class="spacer8"></div>
                        <supr-text type="body" class="info">
                            {{frequencyText}}
                        </supr-text>
                    </div>
                    <div class="divider8"></div>
                    <div class="suprRow fullWidth">
                        <supr-week-days-select
                            [selectedDays]="_subscriptionItem?.frequency"
                        ></supr-week-days-select>
                        <supr-icon
                            name="chevron_right"
                            class="rightChevron"
                        ></supr-icon>
                    </div>
                </div>
            </div>
            <div
                saClick
                [saObjectName]="saClickObjectNames.DELIVERIES"
                (click)="openDeliverySelectionModal()"
                class="suprRow top left deliveriesInfoWrapper infoItem"
            >
                <supr-icon name="subscription" class="leftIcon"></supr-icon>
                <div class="spacer16"></div>
                <div>
                    <supr-text type="body" class="title">
                        Recharge / Top up
                    </supr-text>
                    <div class="divider4"></div>
                    <supr-text type="bold16" class="info">
                        {{deliveries}} Deliveries
                    </supr-text>
                </div>
                <supr-icon
                    name="chevron_right"
                    class="rightChevron"
                ></supr-icon>
            </div>
            <div
                saClick
                [saObjectName]="saClickObjectNames.START_DATE"
                (click)="openDateSelectionModal()"
                class="suprRow top left dateInfoWrapper infoItem"
            >
                <supr-icon name="calendar" class="leftIcon"></supr-icon>
                <div class="spacer16"></div>
                <div class="fullWidth">
                    <div class="suprRow">
                        <div class="suprColumn top left">
                            <supr-text type="body" class="title">
                                Start date
                            </supr-text>
                            <div class="divider4"></div>
                            <supr-text type="bold16" class="info">
                                {{startDateText || "" | titlecase}}
                            </supr-text>
                        </div>
                        <supr-icon
                            name="chevron_right"
                            class="rightChevron"
                        ></supr-icon>
                    </div>
                    <div
                        *ngIf="!_alternatesV2Experiment && sku?.out_of_stock && sku?.next_available_date"
                    >
                        <div class="divider16"></div>
                        <supr-subscription-late-start-notice
                            [sku]="sku"
                            [startDateText]="_subscriptionItem?.start_date"
                            [quantity]="_subscriptionItem?.quantity"
                            [vacation]="vacation"
                        ></supr-subscription-late-start-notice>
                    </div>
                    <div *ngIf="tpEnabled">
                        <div class="divider16"></div>

                        <supr-t-plus-one-banner
                            type="SUBSCRIPTION"
                            saImpression
                            [saObjectName]="saImpressionObjectName"
                        >
                        </supr-t-plus-one-banner>
                    </div>
                </div>
            </div>
        </div>

        <div class="descriptionWrapper">
            <div class="suprRow top header">
                <div>
                    <supr-text type="subheading600">
                        {{_TEXTS.HEADER_1}}
                    </supr-text>
                    <supr-text type="subheading600">
                        {{_TEXTS.HEADER_2}}
                    </supr-text>
                </div>
                <supr-svg></supr-svg>
            </div>
            <div class="suprRow top descriptionItem">
                <supr-icon name="settings"></supr-icon>
                <div class="spacer12"></div>
                <div>
                    <supr-text type="paragraph">
                        {{_TEXTS.DESC_HEADING_2}}
                    </supr-text>
                    <div class="divider4"></div>
                    <supr-text type="caption">
                        {{_TEXTS.DESC_CONTENT_2}}
                    </supr-text>
                </div>
            </div>
            <div class="divider12"></div>
            <div class="suprRow top descriptionItem">
                <supr-icon name="calendar"></supr-icon>
                <div class="spacer12"></div>
                <div>
                    <supr-text type="paragraph">
                        {{_TEXTS.DESC_HEADING_3}}
                    </supr-text>
                    <div class="divider4"></div>
                    <supr-text type="caption">
                        {{_TEXTS.DESC_CONTENT_3}}
                    </supr-text>
                </div>
            </div>
        </div>
    </div>

    <supr-sticky-wrapper>
        <div class="suprRow footerWrapper">
            <div class="deliverOnce">
                <supr-button
                    [saContext]="sku?.id"
                    [saObjectName]="saClickObjectNames.DELIVER_ONCE"
                    (handleClick)="deliverOnce()"
                >
                    <supr-text type="body">
                        DELIVER ONCE
                    </supr-text>
                </supr-button>
            </div>
            <div class="confirm">
                <supr-button
                    [saContext]="sku?.id"
                    [saObjectName]="saClickObjectNames.CONFIRM_SUBSCRIPTION"
                    (handleClick)="confirmSubscription()"
                >
                    <supr-text type="body">
                        SUBSCRIBE
                    </supr-text>
                </supr-button>
            </div>
        </div>
    </supr-sticky-wrapper>

    <supr-modal
        *ngIf="showFrequencyModal"
        [modalName]="modalNames.CREATE_SUBSCRIPTION_FREQUENCY"
        (handleClose)="closeFrequencySelectionModal()"
    >
        <supr-subscription-create-frequency-modal
            [skuId]="sku?.id"
            [frequency]="_subscriptionItem?.frequency"
            (handleFrequencyConfirmation)="onFrequencyChange($event)"
        ></supr-subscription-create-frequency-modal>
    </supr-modal>

    <supr-modal
        *ngIf="showDeliveryModal"
        [modalName]="modalNames.CREATE_SUBSCRIPTION_DELIVERIES"
        (handleClose)="closeDeliverySelectionModal()"
    >
        <supr-subscription-create-delivery-modal
            [skuId]="sku?.id"
            [deliveries]="deliveries"
            (handleDeliveryConfirmation)="onDeliveryChange($event)"
        ></supr-subscription-create-delivery-modal>
    </supr-modal>

    <supr-modal
        *ngIf="showDateModal"
        [modalName]="modalNames.CREATE_SUBSCRIPTION_START_DATE"
        (handleClose)="closeDateSelectionModal()"
    >
        <supr-subscription-create-date-modal
            [skuId]="sku?.id"
            [vacation]="vacation"
            [startDate]="_subscriptionItem?.start_date"
            [customDisabledDates]="oosDates"
            [customDisabledDateText]="oosDateCalendarText"
            (handleDateConfirmation)="onDateChange($event)"
        ></supr-subscription-create-date-modal>
    </supr-modal>

    <supr-block-access-banner
        [isFromSubscriptionsPage]="true"
    ></supr-block-access-banner>
</div>
