:host {
    width: 100%;
    position: relative;

    --supr-bag-ribbon-image-wrapper-size: 36px;
    --supr-bag-ribbon-image-wrapper-position-right: 36px;

    --supr-bag-ribbon-svg-size: 36px;

    --supr-bag-ribbon-height: 48px;

    --supr-bag-ribbon-font-color: var(--primary-100);

    .ribbon {
        background-color: var(--primary-10);
        height: var(--supr-bag-ribbon-height);
        padding: 0 var(--supr-content-horizontal-padding);
    }

    .imageWrapper {
        border-radius: 50%;
        background-color: white;
        width: var(--supr-bag-ribbon-image-wrapper-size);
        height: var(--supr-bag-ribbon-image-wrapper-size);
        top: calc(-1 * var(--supr-bag-ribbon-image-wrapper-size) / 2);

        supr-svg {
            --supr-svg-path: var(--supr-svg-supr-bag-url);
            --supr-svg-width: var(--supr-bag-ribbon-svg-size);
            --supr-svg-height: var(--supr-bag-ribbon-svg-size);
        }
    }

    supr-text {
        --supr-text-color: var(--supr-bag-ribbon-font-color);
    }

    supr-ribbon {
        --supr-ribbon-padding-x: 0;
        --supr-ribbon-overflow: visible;
        --supr-ribbon-bg-color: transparent;
    }
}
