@import "mixins/grid";

:host {
    --supr-horizontal-card-padding: 8px;
    --supr-horizontal-card-spacing: 8px;

    .horizontalSlider {
        @include center-vertical;

        overflow-x: auto;
        overflow-y: hidden;
        height: inherit;
        margin: 0 calc(var(--supr-content-horizontal-padding) * -1);

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
