:host {
    .footer {
        supr-button {
            --supr-button-height: 28px;
            --supr-button-padding: 0 12px;
            --supr-button-border-radius: 16px;
            --supr-button-bg-color: var(--alert-100);
            --supr-button-border-color: var(--alert-100);

            supr-text {
                --supr-text-color: var(--white-100);
            }

            supr-icon {
                margin-left: auto;
                --supr-icon-color: var(--white-100);
            }
        }
    }
}
