:host {
    --supr-v3-container-header-type-1-title-color: var(--black-80);
    --supr-v3-container-header-type-1-subtitle-color: var(--black-80);

    .header {
        &Text {
            &.wrap {
                max-width: 60%;
            }

            supr-text {
                --supr-text-color: var(
                    --supr-v3-container-header-type-1-title-color
                );
                --supr-text-wrap: normal;

                &.subtitle {
                    --supr-text-color: var(
                        --supr-v3-container-header-type-1-subtitle-color
                    );
                }
            }
        }

        &Image {
            position: absolute;
            top: 0;
            right: 0;

            supr-image {
                --supr-image-height: 77px;
            }
        }
    }
}
