:host {
    --supr-v3-container-width: 100%;
    --supr-v3-container-title-color: var(--black-80);
    --supr-v3-container-subtitle-color: var(--black-80);
    --supr-v3-container-tnc-color: var(--black-40);
    --supr-v3-container-bg-color: var(--white-100);
    --supr-v3-container-bg-image-size: cover;

    --supr-v3-container-see-all-color: var(--primary-100);
    --supr-v3-container-see-all-bg-color: var(--white-100);

    .container {
        position: relative;
        background-color: var(--supr-v3-container-bg-color);
        background-size: var(--supr-v3-container-bg-image-size);
        margin: 0 calc(var(--supr-content-horizontal-padding) * -1);
        padding: 0 var(--supr-content-horizontal-padding);

        &Tnc {
            background-color: var(--white-100);
            padding: 6px 8px;
            align-items: center;
            border-radius: 4px;

            supr-image {
                --supr-image-width: 50px;
                --supr-image-height: 20px;
            }

            supr-text {
                --supr-text-wrap: normal;
                --supr-text-truncate-line-count: 3;

                &.title {
                    width: 80%;
                    --supr-text-color: var(--black-80);
                }

                &.subtitle {
                    --supr-text-align: right;
                    --supr-text-color: var(--black-40);
                    --supr-text-font-size: var(--supr-font-size-tiny);
                }
            }

            &Info {
                width: 80%;
            }
        }
    }

    .addPadding {
        padding: var(--supr-content-horizontal-padding);
    }
}
