:host {
    --supr-horizontal-card-margin-bottom: 8px;
    --supr-horizontal-card-spacing: 4px;

    .container {
        &RowData {
            &Item {
                width: 100%;
                margin-bottom: calc(
                    2 * var(--supr-horizontal-card-margin-bottom)
                );
                padding: 0 calc(2 * var(--supr-horizontal-card-spacing));

                &:last-child {
                    padding-right: 0px;
                }

                &:first-child {
                    padding-left: 0px;
                    padding-right: calc(
                        2 * var(--supr-horizontal-card-spacing)
                    );
                }
            }
        }
    }
}
