:host {
    --checkbox-image-left-width: 48px;
    --checkbox-image-left-height: 24px;
    --checkbox-image-left-border-width: 1px;
    --checkbox-image-left-margin-right: 8px;
    --checkbox-image-left-border-radius: 4px;
    --checkbox-image-left-border-color: var(--black-10);

    --checkbox-text-color: var(--black-80);

    --checkbox-icon-right-color: var(--primary-100);
    --checkbox-icon-right-size: var(--supr-font-size-small);

    supr-line-item-variant-A {
        --image-left-width: var(--checkbox-image-left-width);
        --image-left-height: var(--checkbox-image-left-height);
        --image-left-border-width: var(--checkbox-image-left-border-width);
        --image-left-border-color: var(--checkbox-image-left-border-color);
        --image-left-margin-right: var(--checkbox-image-left-margin-right);
        --image-left-border-radius: var(--checkbox-image-left-border-radius);

        --text-color: var(--checkbox-text-color);

        --icon-right-size: var(--checkbox-icon-right-size);
        --icon-right-color: var(--checkbox-icon-right-color);
    }
}
