:host {
    .wrapper {
        padding: var(--supr-content-padding);

        supr-button {
            --supr-button-width: 100%;
            --supr-button-text-transform: uppercase;
        }

        .suprPassInfo {
            supr-icon {
                margin: 2px 0 0 0;
                --supr-icon-font-size: 14px;
            }

            supr-text {
                --supr-text-wrap: normal;
            }

            .subscribeText {
                margin-left: auto;

                supr-text {
                    --supr-text-color: var(--primary-100);
                }

                supr-icon {
                    --supr-icon-color: var(--primary-100);
                }
            }
        }
    }
}
