:host {
    .suprScrollContent {
        scroll-behavior: smooth;
        padding: var(--supr-page-header-height)
            var(--supr-content-horizontal-padding) 0;
    }

    .loaderContainer {
        height: 100%;

        supr-loader {
            --supr-loader-color: var(--primary-100);
            --supr-loader-width: 200px;
            --supr-loader-height: 40px;
        }
    }

    .description {
        padding-top: 16px;

        supr-text {
            --supr-text-wrap: normal;

            &.offerTitle {
                --supr-text-color: var(--black-80);
            }

            &.offerSubtitle {
                --supr-text-color: var(--black-60);
            }
        }

        supr-image {
            --supr-image-wrapper-height: 52vw;
        }
    }

    .accordionHeaderWrapper {
        margin: 0 calc(var(--supr-content-horizontal-padding) * -1);

        supr-section-header {
            --supr-section-header-bg-color: var(--black-5);
            --supr-section-header-icon-color: var(--black-100);
            --supr-section-header-icon-size: 20px;
        }
    }

    .accordionContentWrapper {
        padding: 16px 0;

        supr-text {
            --supr-text-color: var(--black-60);
            --supr-text-wrap: normal;

            &.question {
                --supr-text-color: var(--black-80);
            }
        }

        li {
            margin-bottom: 12px;
        }

        li:last-child {
            margin-bottom: 0;
        }
    }
}
