@import "mixins/grid";

:host {
    --home-featured-tile-width: 240px;
    --home-featured-tile-height: 222px;

    --home-featured-tile-v2-width: 270px;
    --home-featured-tile-v2-height: 156px;

    --discovery-bg-color: var(--white-100);
    --discovery-spacing-height: 24px;
    --discovery-mini-spacing-height: 16px;

    .featured {
        &Slider {
            @include center-vertical;
            margin: 0 calc(var(--supr-content-horizontal-padding) * -1);
            overflow-y: hidden;
            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            supr-featured-tile {
                padding-right: 8px;

                &:first-child {
                    margin-left: var(--supr-content-horizontal-padding);
                }

                &:last-child {
                    padding-right: var(--supr-content-horizontal-padding);
                }
            }
        }

        &Tile {
            @include center-all;

            width: var(--home-featured-tile-width);
            height: var(--home-featured-tile-height);
            background-color: var(--black-5);
            border-radius: 8px;

            &.v2 {
                width: var(--home-featured-tile-v2-width);
                height: var(--home-featured-tile-v2-height);
            }

            supr-image {
                --supr-image-display: block;
            }
        }
    }

    .discovery {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding) 0;
        background-color: var(--discovery-bg-color);

        &Spacing {
            height: var(--discovery-spacing-height);
        }

        &HalfSpacing {
            height: var(--discovery-mini-spacing-height);
        }

        &.cartPresent {
            padding-bottom: calc(80px + var(--supr-content-vertical-padding));
        }
    }
}
