@import "mixins/grid";

:host {
    --skeleton-featured-width: 200px;
    --skeleton-featured-height: 200px;

    .featured {
        &Container {
            @include center-vertical;

            margin: 0 calc(var(--supr-content-horizontal-padding) * -1);
            overflow: hidden;
        }

        ion-skeleton-text {
            &.heading {
                width: 26%;
                height: 24px;
            }

            &.tile {
                flex-shrink: 0;
                border-radius: 8px;
                height: var(--skeleton-featured-height);
                width: var(--skeleton-featured-width);
                margin: 0;
                margin-right: 8px;

                &:first-child {
                    margin-left: var(--supr-content-horizontal-padding);
                }
            }
        }
    }
}
