:host {
    .wrapper {
        padding-top: 16px;

        .separator {
            border: 1px solid var(--black-5);
        }

        supr-section-header {
            --supr-section-header-bg-color: transparent;
            --supr-section-header-icon-color: var(--black-100);
            --supr-section-header-icon-size: 20px;
            --supr-section-header-title-color: var(--black-80);
            --supr-section-header-subtitle-color: var(--black-40);
            --supr-section-header-right-icon-size: 24px;
        }

        .header {
            padding: 0 16px;

            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-80);

                &.subtitle {
                    --supr-text-color: var(--black-40);
                }

                &.info {
                    --supr-text-color: var(--success-100);
                }
            }

            supr-icon {
                --supr-icon-color: var(--black-40);
                --supr-icon-font-size: 6px;

                margin-right: 8px;
                margin-top: 7px;
            }
        }

        .actionButtons {
            padding: var(--supr-content-horizontal-padding);
            background: var(--white-100);
            box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.16);

            .buttonWrapper {
                width: 100%;

                supr-button {
                    --supr-button-width: 100%;

                    supr-text {
                        --supr-text-color: var(--white-100);
                    }

                    &.remove {
                        --supr-button-bg-color: var(--white-100);

                        supr-text {
                            --supr-text-color: var(--primary-100);
                        }
                    }
                }
            }
        }
    }
}
