:host {
    --supr-oos-overlay-z-index: 0;
    --supr-oos-overlay-bg-color: var(--white-20);
    --supr-oos-overlay-font-size: var(--supr-font-size-medium);

    --supr-oos-overlay-text-color: var(--white-100);
    --supr-oos-overlay-text-bg-color: var(--black-80);

    .suprOosOverlay {
        supr-backdrop {
            --supr-backdrop-bg-color: var(--supr-oos-overlay-bg-color);
            --supr-backdrop-z-index: var(--supr-oos-overlay-z-index);
            --supr-backdrop-position: absolute;
            --supr-backdrop-bg-image: unset;
        }

        supr-text {
            --supr-text-color: var(--supr-oos-overlay-text-color);
            --supr-text-font-size: var(--supr-oos-overlay-font-size);

            &.text {
                padding: 6px;
                border-radius: 4px;
                background-color: var(--supr-oos-overlay-text-bg-color);
            }
        }
    }
}
