<div class="wrapper">
    <div class="suprRow wrapperInfo">
        <supr-icon name="phone_slash"></supr-icon>
        <div class="spacer16"></div>
        <supr-text type="body">
            {{ message }}
        </supr-text>
    </div>
</div>
