:host {
    .autoDebitCheckboxBlock {
        padding: 0 12px;

        supr-text {
            --supr-text-wrap: normal;

            &.description {
                --supr-text-color: var(--black-40);
            }
        }

        ion-checkbox {
            --size: 18px;
            --border-radius: 50%;
            --checkmark-color: var(--white-100);
            --checkmark-width: 2px;
            --border-color: var(--primary-100);
            --background: var(--white-100);
            --background-checked: var(--primary-100);
            --border-color-checked: var(--primary-100);

            margin-top: 2px;
        }
    }

    .autoDebitOffer {
        supr-chip {
            --supr-chip-background-color: var(--success-100);
            --supr-chip-padding: 2px 6px;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }

        supr-text {
            &.unitPrice {
                --supr-text-color: var(--black-40);
                --supr-text-decoration: line-through;
            }

            &.offerText {
                --supr-text-color: var(--success-100);
            }
        }
    }
}
