:host {
    // Calculated on screen height
    --supr-map-height: calc(38% + 32px);
    --content-padding-bottom: 88px;

    .suprScrollContent {
        padding-top: var(--supr-page-header-height);
        padding-bottom: var(--content-padding-bottom);
    }

    .addressSummary {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
    }

    supr-button {
        flex: 1;

        --supr-button-width: 100%;

        supr-text {
            --supr-text-color: var(--white-100);
        }

        &.edit {
            --supr-button-bg-color: var(--white-100);
            --supr-button-border-color: var(--primary-100);

            supr-text {
                --supr-text-color: var(--primary-100);
            }
        }
    }

    supr-map {
        --supr-map-default-height: var(--supr-map-height);
    }

    @media screen and (max-height: 550px) {
        --supr-map-height: 0px;
    }
}
