:host {
    --supr-page-footer-height: 200px;
    --skip-icon-size: 20px;

    supr-map {
        --supr-map-default-marker-offset-top: 40%;
        --supr-map-default-height: calc(100vh - var(--supr-page-footer-height));
    }

    supr-page-footer {
        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }

    .skip {
        position: absolute;
        top: 25px;
        right: 16px;
        z-index: 100;

        supr-text {
            --supr-text-color: var(--black-80);
        }

        supr-icon {
            --supr-icon-color: var(--black-80);
            --supr-icon-font-size: var(--skip-icon-size);

            margin-top: 1px;
        }
    }
}
