:host {
    --supr-skip-text-color: var(--primary-100);
    --supr-skip-icon-color: var(--primary-100);
    --supr-skip-icon-size: 24px;

    .wrapper {
        padding: var(--supr-content-padding);

        supr-text {
            --supr-text-color: var(--supr-skip-text-color);
        }

        supr-icon {
            --supr-icon-color: var(--supr-skip-icon-color);
            --supr-icon-font-size: var(--supr-skip-icon-size);
        }
    }
}
