:host {
    --wrapper-width: 120px;
    --wrapper-padding: 16px;
    --wrapper-border-radius: 8px;
    --placeholder-color: var(--black-40);
    --wrapper-border: 1px solid var(--black-40);

    .inputWrapper {
        position: relative;

        width: var(--wrapper-width);
        border: var(--wrapper-border);
        padding: var(--wrapper-padding);
        border-radius: var(--wrapper-border-radius);

        .loaderWrapper {
            top: 12px;
            right: 24px;
            width: 24px;
            position: absolute;

            supr-loader {
                --supr-loader-color: var(--primary-100);
            }
        }

        supr-input {
            --supr-input-placeholder-color: var(--placeholder-color);
        }
    }

    supr-text {
        --supr-text-color: var(--caution-100);
    }
}
