<div class="container scheduleContainer suprContainer">
    <supr-schedule-orders-header
        [vacation]="vacation"
        [month]="calendarSelectedDate?.jsDate | date: 'LLL'"
        [year]="calendarSelectedDate?.jsDate | date: 'yyyy'"
        (handleMonthClick)="onHeaderMonthClick()"
    ></supr-schedule-orders-header>

    <div class="suprScrollContent" *ngIf="showShimmers; else content">
        <supr-schedule-skeleton></supr-schedule-skeleton>
    </div>

    <ng-template #content>
        <div
            class="suprScrollContent"
            id="scheduleContentWrapper"
            [class.cartPresent]="cartPresent"
            *ngIf="orderCalendar?.length > 0 || futureCalendar?.length > 0"
        >
            <div>
                <div
                    *ngIf="
                        ordersCurrentState === orderStates.FETCHING_MORE_ORDERS;
                        else previousAction
                    "
                    class="suprColumn center paddedWrapper"
                >
                    <supr-loader class="previousLoader"></supr-loader>
                </div>

                <ng-template #previousAction>
                    <div
                        saClick
                        [saObjectName]="saObjectNames.CLICK.VIEW_PREVIOUS"
                        class="suprColumn center paddedWrapper"
                        (click)="loadPrevious()"
                    >
                        <div class="suprRow">
                            <supr-icon name="chevron_up"></supr-icon>
                        </div>
                        <div class="suprRow">
                            <supr-text type="paragraph">
                                Tap to view previous
                            </supr-text>
                        </div>
                    </div>

                    <div
                        *ngIf="showOrderFeedback"
                        class="orderFeedbackCalender suprRow"
                        saImpression
                        [saObjectName]="saObjectNames.CALENDER_RATING"
                    >
                        <supr-svg class="feedbackThumbs"></supr-svg>
                        <div class="">
                            <supr-text>
                                {{order_feedback.feedbackCalenderTitle}}
                            </supr-text>
                            <supr-text class="subtitle">
                                {{ order_feedback.feedbackCalenderSubtitle }}
                            </supr-text>
                        </div>
                    </div>
                </ng-template>

                <div class="suprRow center nuxPrompt" *ngIf="!nuxShown">
                    <div class="nuxPromptContent suprRow">
                        <supr-icon name="question"></supr-icon>
                        <div class="spacer16"></div>
                        <supr-text type="body">
                            You can view and manage all your upcoming orders
                            here.
                        </supr-text>
                    </div>
                </div>
                <supr-order-delivery-container
                    [date]="date"
                    id="{{ date }}"
                    *ngFor="let date of orderCalendar; trackBy: trackOrdersFn"
                    [orderFeedback]="orderFeedbackObject && orderFeedbackObject[date]"
                >
                </supr-order-delivery-container>
            </div>
            <div *ngIf="futureCalendar?.length > 0">
                <div
                    *ngFor="
                        let date of futureCalendar;
                        trackBy: trackSchedulesFn
                    "
                >
                    <supr-schedule-delivery-container
                        id="{{ date }}"
                        [date]="date"
                        [paused]="isSchedulePaused(date)"
                        [pastOrderSkuList]="pastOrderSkuList"
                        [pausedBySystem]="isSchedulePausedBySystem(date)"
                        (updateActionListener)="updateActionListener($event)"
                    ></supr-schedule-delivery-container>
                </div>
            </div>
            <div
                class="suprColumn center paddedWrapper loadMore"
                (click)="loadMore()"
            >
                <div class="suprRow">
                    <supr-icon name="chevron_down"></supr-icon>
                </div>
                <div class="suprRow">
                    <supr-text type="paragraph">Tap to load more</supr-text>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-container
        *ngIf="orderCalendar?.length > 0 || futureCalendar?.length > 0"
    >
        <supr-cart></supr-cart>
    </ng-container>

    <supr-modal
        #calendarModal
        *ngIf="showCalendarModal"
        [animate]="false"
        [modalType]="calendarModalType"
        (handleClose)="closeCalendarModal()"
    >
        <supr-schedule-calendar
            [suprModalRef]="calendarModal"
            [selectedDate]="calendarSelectedDate"
            [month]="calendarSelectedDate?.jsDate | date: 'LLL'"
            [year]="calendarSelectedDate?.jsDate | date: 'yyyy'"
            (handleDateChange)="onCalendarDateChange($event)"
        ></supr-schedule-calendar>
    </supr-modal>
    <ng-container *ngIf="!showOrderCalendarBanner">
        <supr-block-access-banner></supr-block-access-banner>
    </ng-container>

    <ng-container *ngIf="orderCalendarBanner && showOrderCalendarBanner">
        <div class="orderCalendarBannerWrapper">
            <supr-banner
                [banner]="orderCalendarBanner"
                [showHideButton]="true"
                (handleHideButtonClick)="hideOrderCalendarBanner()"
            ></supr-banner>
        </div>
    </ng-container>
</div>
