:host {
    --supr-cart-footer-bg-color: var(--white-100);
    --supr-cart-footer-padding: 12px var(--supr-content-horizontal-padding)
        var(--supr-content-vertical-padding);

    supr-page-footer {
        --supr-page-footer-padding: var(--supr-cart-footer-padding);
        --supr-page-footer-bg-color: var(--supr-cart-footer-bg-color);
    }

    supr-button {
        --supr-button-width: 100%;
    }

    supr-text {
        --supr-text-color: var(--white-100);
    }
}
