:host {
    supr-chip {
        padding-right: 8px;

        --supr-chip-border-radius: 4px;
        --supr-chip-border-color: var(--black-20);

        supr-image {
            --supr-image-wrapper-width: 28px;
            --supr-image-wrapper-height: 28px;
        }

        supr-text {
            --supr-text-color: var(--black-80);
        }

        &.selected {
            --supr-chip-border-color: transparent;
            --supr-chip-background-color: var(--primary-20);
        }
    }
}
