:host {
    .day {
        border-radius: var(--supr-week-days-select-borer-radius);
        background-color: var(--supr-week-days-select-bg-color);
        width: var(--supr-week-days-select-width);
        height: var(--supr-week-days-select-height);

        supr-text {
            --supr-text-color: var(--supr-week-days-select-text-color);
        }

        &.selected {
            background-color: var(--supr-week-days-select-selected-bg-color);

            supr-text {
                --supr-text-color: var(
                    --supr-week-days-select-selected-text-color
                );
            }
        }
    }
}
