:host {
    --tile-image-wrapper-width: 96px;
    --tile-image-spacing: 16px;

    --frequency-wrapper-left-spacing: var(--tile-image-wrapper-width);
    --frequency-wrapper-width: calc(
        100% - var(--frequency-wrapper-left-spacing) - var(--tile-image-spacing)
    );

    .wrapper {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        supr-text {
            &.body {
                --supr-text-color: var(--black-40);
                --supr-text-wrap: normal;
            }
        }

        supr-button {
            display: block;
            margin-top: 80px;

            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }

    .frequency {
        &Wrapper {
            width: var(--frequency-wrapper-width);
            margin-left: auto;

            supr-icon {
                --supr-icon-color: var(--primary-100);
                margin-top: 3px;
            }

            supr-week-days-small {
                --week-day-small-text-color: var(--primary-100);
            }
        }

        supr-icon {
            --supr-icon-font-size: 24px;
            margin-top: 5px;
        }

        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }

    .tile {
        width: 100%;
        height: auto;

        &Image {
            supr-image {
                --supr-image-wrapper-width: 96px;
                --supr-image-wrapper-height: 96px;
                --supr-image-bg-color: var(--white-100);
                --supr-image-border-radius: 50%;
                --supr-image-width: 72px;
                --supr-image-height: 72px;
                --supr-image-border-color: var(--black-20);
                --supr-image-border-width: 1px;
            }

            width: 96px;
            margin-right: 16px;
        }

        &Name {
            supr-text {
                &.title {
                    --supr-text-wrap: normal;
                }
            }
        }

        &Qty {
            width: 100%;

            .counter {
                margin-left: auto;

                supr-text {
                    --supr-text-color: var(--black-40);
                }
            }
        }
    }
}
