:host {
    .wrapper {
        supr-text {
            --supr-text-color: var(--black-40);
        }

        supr-radio-button-group {
            width: 100%;

            --supr-radio-button-group-container-height: 60px;
            --supr-radio-button-group-text-wrap: normal;
        }
    }
}
