:host {
    ion-skeleton-text {
        &.header {
            width: 40%;
        }
        &.first {
            width: 90%;
        }
        &.second {
            width: 50%;
        }
        &.third {
            width: 20%;
        }
    }
}
