:host {
    --faq-icon-font-size: 24px;

    --faq-header-width: 80%;

    --loader-height: 200px;

    supr-icon {
        --supr-icon-font-size: var(--faq-icon-font-size);
        --supr-icon-color: var(--black-80);

        transition: transform 0.3s ease-in-out;
        transform: rotate(0deg);

        &.up {
            transform: rotate(-180deg);
        }
    }

    .heading {
        width: var(--faq-header-width);

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--black-80);
        }
    }

    .description {
        padding: var(--faq-padding-top) 0 0 0;

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-align: left;
            --supr-text-color: var(--black-60);
        }
    }

    .separator {
        border-bottom: 1px solid var(--black-10);
    }
}
