:host {
    .modal {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        supr-text {
            &.body {
                --supr-text-color: var(--black-40);
                --supr-text-wrap: normal;
            }
        }

        supr-button {
            display: block;
            margin-top: 80px;

            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }

        &.cancel {
            supr-button {
                margin-top: 20px;

                --supr-button-bg-color: var(--white-100);
                --supr-button-border-color: var(--caution-100);
                --supr-button-loader-color: var(--caution-100);

                supr-text {
                    --supr-text-color: var(--caution-100);
                }
            }
        }
    }
}
