:host {
    --supr-card-padding: 16px;
    --supr-card-border-radius: 8px;
    --supr-card-border-color: var(--black-10);
    --supr-card-bg-color: var(--white-100);
    --supr-card-box-shadow: inherit;

    .card {
        padding: var(--supr-card-padding);
        background-color: var(--supr-card-bg-color);
        border-radius: var(--supr-card-border-radius);
        border: solid 1px var(--supr-card-border-color);
        box-shadow: var(--supr-card-box-shadow);
    }
}
