:host {
    --supr-activity-tag-padding: 2px 8px;
    --supr-activity-tag-border-radius: 10px;
    --supr-activity-days-color: var(--caution-100);

    .activityItem {
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
        background: var(--white-100);
        border-radius: 4px;
        padding: 12px;

        supr-text {
            --supr-text-wrap: normal;

            &.daysText {
                --supr-text-color: var(--supr-activity-days-color);
                --supr-text-align: right;
            }

            &.dateText {
                --supr-text-color: var(--black-40);
                --supr-text-align: right;
            }
        }

        .tag {
            padding: var(--supr-activity-tag-padding);
            border-radius: var(--supr-activity-tag-border-radius);
            background: var(--supr-activity-days-color);
        }

        .leftColumn {
            width: 69%;
        }

        .rightColumn {
            width: 29%;
            margin-left: auto;
        }

        .viewAllBlock {
            supr-text {
                --supr-text-color: var(--primary-100);
            }

            supr-icon {
                --supr-icon-color: var(--primary-100);
            }
        }
    }
}
