@import "mixins/grid";

:host {
    --supr-back-button-icon-size: 24px;
    --supr-back-button-icon-color: inherit;

    .wrapper {
        @include center-all;

        padding-left: 16px;
        padding-right: 16px;
        height: var(--supr-page-header-height);

        supr-icon {
            --supr-icon-font-size: var(--supr-back-button-icon-size);
            --supr-icon-color: var(--supr-back-button-icon-color);
        }
    }
}
