:host {
    supr-page-footer-v2 {
        --supr-page-footer-box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.16);
        --supr-page-footer-content-wrapper-width: 50%;
    }

    .leftText {
        supr-text {
            --supr-text-color: var(--black-60);
            --supr-text-wrap: normal;
        }
    }
}
