@import "mixins/grid";

:host {
    --rewards-footer-height: 115px;
    --rewards-tile-width: 243px;
    --rewards-tile-height: 158px;

    .suprScrollContent {
        scroll-behavior: smooth;
        padding: var(--supr-page-header-height)
            var(--supr-content-horizontal-padding) var(--rewards-footer-height);
    }

    .scratchCardsContainer {
        .scractchCardImgWrapper {
            img {
                width: var(--rewards-tile-width);
                border-radius: 16px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        .allRewardsClaimed {
            supr-svg {
                &.allRewardsClaimedImage {
                    --supr-svg-path: var(--supr-svg-rewards);
                    --supr-svg-width: 150px;
                    --supr-svg-height: 170px;
                }
            }

            supr-text {
                &.allRewardsClaimedText {
                    --supr-text-color: var(--salmon-100);
                    --supr-text-wrap: normal;
                    --supr-text-align: center;

                    max-width: 190px;
                }
            }
        }
    }

    .scratchCardContainer {
        background: var(--delight-50);

        .scratchCardWrapper {
            height: 500px;

            .cardWrapper {
                min-width: 270px;
                margin: 0 auto;

                .infoAndAction {
                    min-height: 58px;
                    max-width: 70%;
                    margin: 0 auto;
                }

                .infoTexts {
                    supr-text {
                        --supr-text-color: var(--black-80);
                        --supr-text-align: center;
                        --supr-text-wrap: normal;
                    }
                }

                .actionBtn {
                    supr-button {
                        --supr-button-bg-color: var(--alert-100);
                        --supr-button-border-color: var(--alert-100);

                        &.hasError {
                            --supr-button-bg-color: var(--salmon-100);
                            --supr-button-border-color: var(--salmon-100);
                        }

                        supr-text {
                            --supr-text-color: var(--white-100);
                        }

                        supr-icon {
                            --supr-icon-color: var(--white-100);
                        }
                    }
                }
            }
        }

        .celebration {
            background-repeat: no-repeat;
            background-size: contain;
            background-image: var(--supr-svg-celebration);
        }
    }

    .scratchCardSlider {
        &Tile {
            @include center-all;

            padding-right: 20px;

            img {
                min-width: var(--rewards-tile-width);
                max-width: var(--rewards-tile-width);
                border-radius: 16px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            &:first-child {
                margin-left: var(--supr-content-horizontal-padding);
            }

            &:last-child {
                padding-right: var(--supr-content-horizontal-padding);
            }
        }

        .horizontalImageSlider {
            min-height: 175px;
        }
    }

    .faqsBlock {
        .faqContentWrapper {
            padding: 12px;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);

            &.fullPage {
                padding: 0;
                padding-top: 16px;
                box-shadow: none;
            }
        }
    }

    .loaderContainer {
        height: 100%;

        supr-loader {
            --supr-loader-color: var(--primary-100);
            --supr-loader-width: 200px;
            --supr-loader-height: 40px;
        }
    }

    .rewardsBlock {
        padding-top: 16px;
    }

    .rewardsInfoWrapper {
        .imgWrapper {
            text-align: center;

            img {
                height: 90px;
                width: 90px;
            }
        }

        supr-text {
            --supr-text-wrap: normal;

            &.pageHeader {
                --supr-text-color: var(--black-40);
            }

            &.titleText {
                --supr-text-color: var(--primary-120);
                --supr-text-transform: uppercase;
                --supr-text-align: center;
                --supr-text-font-size: var(--supr-font-size-regular);
                --supr-text-font-weight: var(--supr-weight-bold);
                --supr-text-line-height: 28px;
                --supr-text-letter-spacing: 0.08em;
            }

            &.subTitleText {
                --supr-text-color: var(--black-80);
                --supr-text-align: center;
                --supr-text-font-size: var(--supr-font-size-medium);
                --supr-text-font-weight: var(--supr-weight-normal);
                --supr-text-line-height: 22px;
            }

            &.memberTitleText {
                --supr-text-align: center;
            }
        }
    }

    .fullPagePadding {
        padding: calc(var(--supr-page-header-height) + 16px)
            var(--supr-content-horizontal-padding)
            calc(var(--supr-content-vertical-padding));
    }

    .faqsBlock {
        .faqContentWrapper {
            padding-top: 16px;
        }
    }

    supr-text {
        &.sectionTitle {
            --supr-text-color: var(--black-80);

            &Light {
                --supr-text-color: var(--black-60);
            }
        }
    }

    .sectionLink {
        margin-left: auto;

        supr-text {
            --supr-text-color: var(--primary-100);
        }

        supr-icon {
            --supr-icon-color: var(--primary-100);
        }
    }

    .viewAllBlock {
        supr-text {
            --supr-text-color: var(--primary-100);
        }

        supr-icon {
            --supr-icon-color: var(--primary-100);
        }
    }

    .activityBlockPadding {
        padding-top: 16px;
    }
}
