:host {
    --supr-configurable-svg-path: initial;

    --supr-configurable-icon-color: var(--black-100);
    --supr-configurable-icon-size: var(--supr-font-size-small);

    supr-icon {
        --supr-icon-color: var(--supr-configurable-icon-color);
        --supr-icon-font-size: var(--supr-configurable-icon-size);
    }

    supr-svg {
        --supr-svg-path: var(--supr-configurable-svg-path);
        --supr-svg-width: var(--supr-configurable-icon-size);
        --supr-svg-height: var(--supr-configurable-icon-size);
    }
}
