@import "mixins/grid";

:host {
    --supr-search-input-font-size: var(--supr-font-size-medium);

    .container {
        position: relative;

        supr-input {
            --supr-input-padding: 0 56px 0 0;
            --supr-input-font-size: var(--supr-search-input-font-size);

            width: 100%;
        }

        .icon {
            @include center-all;

            height: var(--supr-page-header-height);
            padding: 0 16px;

            supr-icon {
                --supr-icon-font-size: 16px;
                --supr-icon-font-weight: var(--supr-weight-bold);
                --supr-icon-color: var(--black-60);
            }
        }
    }
}
