@import "mixins/grid";

:host {
    --supr-horizontal-card-padding: 8px;
    --supr-horizontal-card-spacing: 8px;

    --supr-tile-img-bg-color: var(--white-100);

    --supr-product-tile-image-width: 64px;
    --supr-product-tile-image-height: 64px;

    --supr-horizontal-card-width: 220px;

    --image-container-with: 76px;
    --image-container-height: 100px;

    --info-container-min-height: 96px;
    --title-truncate-length: 2;

    .horizontalSlider {
        @include center-vertical;

        overflow-y: hidden;
        overflow-x: auto;
        margin: 0 calc(var(--supr-content-horizontal-padding) * -1);

        &::-webkit-scrollbar {
            display: none;
        }

        &RowData {
            margin-left: var(--supr-horizontal-card-spacing);

            &:first-child {
                margin-left: var(--supr-content-horizontal-padding);
            }

            &:last-child {
                padding-right: var(--supr-content-horizontal-padding);
                margin-right: var(--supr-content-horizontal-padding);
            }

            &Item {
                margin-bottom: calc(2 * var(--supr-horizontal-card-spacing));
            }
        }
    }

    .image {
        @include center-vertical;
        @include center-horizontal;

        width: var(--image-container-with);
        height: var(--image-container-height);

        padding: 0 4px;
    }

    .tile {
        width: 100%;
        height: auto;
        position: relative;

        &Image {
            background-color: var(--white-100);
            border-radius: 4px;

            supr-image {
                --supr-image-width: 64px;
                --supr-image-height: 61px;
            }
        }

        &Counter {
            supr-text.qtySubtext {
                --supr-text-color: var(--black-40);
            }
        }
    }

    .card {
        position: relative;
        width: var(--supr-horizontal-card-width);

        &.item {
            padding: var(--supr-horizontal-card-padding);
        }
    }

    .details {
        width: 98px;
        margin-top: -2px;

        &Name {
            --supr-text-wrap: normal;
            --supr-text-truncate-line-count: var(--title-truncate-length);
        }

        &Qty {
            --supr-text-color: var(--black-40);
        }

        &Price {
            &Strike {
                --supr-text-color: var(--black-30);
                --supr-text-decoration: line-through;
            }
        }
    }

    .info {
        min-height: var(--info-container-min-height);
    }

    supr-image {
        --supr-image-width: var(--supr-product-tile-image-width);
        --supr-image-height: var(--supr-product-tile-image-height);
    }

    .overlay50 {
        opacity: 0.5;
    }

    .overlay40 {
        opacity: 0.5;
    }
}
