:host {
    .headerText {
        --supr-text-color: var(--black-80);
    }

    .tagsWrapper {
        padding: 16px 0 0;

        supr-chip {
            padding-right: 8px;
            padding-bottom: 8px;

            --supr-chip-border-radius: 4px;

            supr-text {
                --supr-text-color: var(--primary-100);
            }

            &.selected {
                --supr-chip-background-color: var(--primary-100);

                supr-text {
                    --supr-text-color: var(--white-100);
                }
            }
        }
    }
}
