:host {
    --content-padding-top: calc(var(--supr-page-header-height));
    --content-padding-bottom: var(--supr-page-footer-height);

    .suprScrollContent {
        padding-top: var(--content-padding-top);
        padding-bottom: var(--content-padding-bottom);
    }

    supr-page-header {
        supr-text {
            --supr-text-color: var(--black-100);
        }
    }

    supr-section-header {
        --supr-section-header-bg-color: var(--primary-20);
        --supr-section-header-icon-color: var(--black-100);
        --supr-section-header-icon-size: 20px;
    }
}
