:host {
    --supr-recharge-successful-balance-container-height: 84px;
    --supr-recharge-successful-balance-container-width: 225px;
    --supr-recharge-successful-balance-container-border: 1px solid
        var(--black-10);
    --supr-recharge-successful-balance-container-border-radius: 8px;
    --supr-recharge-successful-balance-container-horizontal-padding: 12px;

    .rechargeSuccessfulContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        .rechargeSuccessful {
            supr-svg.approved {
                --supr-svg-width: 50px;
                --supr-svg-height: 50px;
                --supr-svg-path: var(--supr-svg-approved);
            }

            .successText {
                --supr-text-color: var(--black-40);
            }

            .balanceContainer {
                width: var(--supr-recharge-successful-balance-container-width);
                border: var(
                    --supr-recharge-successful-balance-container-border
                );
                border-radius: var(
                    --supr-recharge-successful-balance-container-border-radius
                );
                padding: 0
                    var(
                        --supr-recharge-successful-balance-container-horizontal-padding
                    );

                .wallet {
                    height: calc(
                        var(--supr-recharge-successful-balance-container-height) /
                            2
                    );
                    width: 100%;

                    supr-text {
                        --supr-text-color: var(--primary-100);
                    }

                    supr-svg.walletIcon {
                        --supr-svg-width: 16px;
                        --supr-svg-height: 16px;
                        --supr-svg-path: var(--supr-wallet-primary);
                    }
                }

                .suprCredits {
                    height: calc(
                        var(--supr-recharge-successful-balance-container-height) /
                            2
                    );
                    width: 100%;

                    supr-text {
                        --supr-text-color: var(--lime-150);
                    }

                    supr-svg.scIcon {
                        --supr-svg-width: 16px;
                        --supr-svg-height: 16px;
                        --supr-svg-path: var(--supr-svg-supr-credits-img);
                    }
                }
            }
        }
    }
}
