:host {
    --supr-recharge-coupon-chevron-color: var(--primary-100);
    --supr-recharge-coupon-text-color: var(--primary-100);
    --supr-recharge-coupon-text-height: 56px;
    --supr-recharge-coupon-applied-block-height: 24px;
    --supr-recharge-coupon-applied-block-horizontal-padding: 8px;

    --supr-recharge-coupon-input-height: 48px;
    --supr-recharge-coupon-input-padding: 12px 16px;
    --supr-recharge-coupon-input-border-radius: 4px;

    --supr-recharge-coupon-message-block-height: 32px;

    .rechargeCoupon {
        &Content {
            height: var(--supr-recharge-coupon-text-height);
        }

        .applyCoupon {
            supr-text {
                --supr-text-color: var(--supr-recharge-coupon-text-color);
                --supr-text-transform: uppercase;
            }

            supr-icon {
                --supr-icon-color: var(--supr-recharge-coupon-chevron-color);
            }
        }

        .appliedCoupon {
            height: var(--supr-recharge-coupon-applied-block-height);
            padding: 0
                var(--supr-recharge-coupon-applied-block-horizontal-padding);
            background: var(--success-10);

            supr-text {
                --supr-text-color: var(--success-100);
            }

            supr-icon {
                --supr-icon-color: var(--black-80);
            }
        }
    }

    .wrapper {
        padding: var(--supr-content-padding);

        supr-button {
            --supr-button-width: 100%;
            supr-text {
                --supr-text-color: var(--white-100);
                --supr-text-transform: uppercase;
            }
        }

        .rechargeCoupon {
            &Input {
                height: var(--supr-recharge-coupon-input-height);
                border-radius: var(--supr-recharge-coupon-input-border-radius);
                padding: var(--supr-recharge-coupon-input-padding);
                border: 1px solid var(--black-40);

                supr-input {
                    --supr-text-transform: uppercase;
                }

                &Box {
                    flex: 1;
                }
            }
        }

        .messageBlock {
            &Container {
                height: var(--supr-recharge-coupon-message-block-height);

                supr-text {
                    --supr-text-color: var(--caution-100);
                }
            }
        }
    }
}
