:host {
    --header-bg-color: var(--primary-20);

    --filter-bg-color: var(--primary-10);
    --filter-active-bg-color: var(--primary-100);
    --filter-text-color: var(--primary-100);
    --filter-active-text-color: var(--white-100);
    --filter-width: 50%;
    --filter-padding: 4px;
    --filter-height: 32px;

    --item-row-padding: 16px;

    --option-padding: 10px 12px;

    --content-box-input-prefix-padding: 15px;
    --content-box-padding: 8px;

    --loader-height: 200px;

    --txn-empty-supr-svg-width: 132px;
    --txn-empty-supr-svg-height: 100px;

    --txn-border: 1px solid #e5e5e5;
    --txn-border-radius: 4px;
    --txn-margin-bottom: 18px;

    --txn-refund-tag-padding: 4px 8px;
    --txn-refund-tag-bg: #eef8ec;
    --txn-refund-tag-border-radius: 2px;

    --txn-credits-expiry-height: 30px;
    --txn-credits-expiry-border-radius: 8px;
    --txn-credits-expiry-padding: 4px 12px;

    supr-page-header {
        --supr-page-header-border-height: 0;
        --supr-page-header-back-button-color: var(--black-80);

        supr-text {
            --supr-text-color: var(--black-80);
        }
    }

    .suprScrollContent {
        padding-top: var(--supr-page-header-height);
    }

    .header {
        box-sizing: border-box;
        padding: var(--supr-content-padding);
        background-color: var(--header-bg-color);
    }

    .creditsExpiry {
        background: var(--lime-10);
        border-radius: var(--txn-credits-expiry-border-radius);
        padding: var(--txn-credits-expiry-padding);

        supr-text {
            --supr-text-color: var(--lime-150);
            --supr-text-wrap: normal;
        }

        supr-svg.expiring {
            --supr-svg-width: 20px;
            --supr-svg-height: 20px;
            --supr-svg-path: var(--supr-svg-expiring);
        }
    }

    .filters {
        padding-top: var(--item-row-padding);

        &Item {
            width: var(--filter-width);
            padding: 0 var(--filter-padding);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        supr-button {
            --supr-button-bg-color: var(--filter-bg-color);
            --supr-button-border-width: 0;
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--filter-text-color);
            }

            &.active {
                --supr-button-bg-color: var(--filter-active-bg-color);

                supr-text {
                    --supr-text-color: var(--filter-active-text-color);
                }
            }
        }
    }

    .transactions {
        padding: 0 var(--supr-content-horizontal-padding);
    }

    .transaction {
        padding: var(--item-row-padding);
        border-radius: var(--txn-border-radius);
        border: var(--txn-border);
        margin-bottom: var(--txn-margin-bottom);

        .breakup {
            margin: 0 calc(var(--item-row-padding) * -1);
            padding: 0 var(--item-row-padding);
            border-top: var(--txn-border);
        }

        .tag {
            padding: var(--txn-refund-tag-padding);
            background: var(--txn-refund-tag-bg);
            border-radius: var(--txn-refund-tag-border-radius);
        }

        supr-text {
            --supr-text-wrap: normal;

            &.last {
                margin-left: auto;
            }

            &.amountChange {
                --supr-text-color: var(--caution-100);
            }

            &.subtext {
                --supr-text-color: var(--black-40);
            }

            &.light {
                --supr-text-color: var(--black-20);
            }

            &.dark {
                --supr-text-color: var(--black-80);
            }

            &.refund,
            &.cashback,
            &.refill,
            &.recharge {
                --supr-text-color: var(--success-100);
            }
        }

        .icon {
            --supr-icon-font-size: 20px;
            --supr-icon-color: var(--black-40);
        }
    }

    .scTxn {
        supr-svg {
            --supr-svg-path: var(--supr-svg-supr-credits-img);
            --supr-svg-width: 16px;
            --supr-svg-height: 16px;

            margin-left: 4px;
        }

        supr-text {
            &.scAmount {
                --supr-text-color: var(--caution-100);

                &.isGain {
                    --supr-text-color: var(--success-100);
                }
            }
        }

        .capitalize {
            --supr-text-transform: capitalize;
        }
    }

    .loader {
        height: var(--loader-height);

        supr-loader {
            --supr-loader-color: var(--primary-100);
            --supr-loader-width: 200px;
            --supr-loader-height: 40px;
        }
    }

    .empty {
        height: calc(100vh - 210px);

        supr-svg {
            --supr-svg-width: var(--txn-empty-supr-svg-width);
            --supr-svg-height: var(--txn-empty-supr-svg-height);

            &.Wallet {
                --supr-svg-path: var(--supr-svg-empty-transactions);
            }

            &.SuprCredits {
                --supr-svg-path: var(--supr-svg-credits-empty-transactions);
            }
        }

        supr-text {
            &.subText {
                --supr-text-color: var(--black-40);
            }

            &.SuprCreditsTitle {
                --supr-text-color: var(--lime-150);
            }
        }
    }
}
