:host {
    --header-bg-color: var(--primary-20);

    --filter-bg-color: var(--primary-10);
    --filter-active-bg-color: var(--primary-100);
    --filter-text-color: var(--primary-100);
    --filter-active-text-color: var(--white-100);
    --filter-width: 33.3%;
    --filter-padding: 4px;
    --filter-height: 32px;

    --item-row-padding: 16px;

    --option-padding: 10px 12px;

    --content-box-input-prefix-padding: 15px;
    --content-box-padding: 8px;

    --loader-height: 200px;

    --txn-empty-supr-svg-width: 132px;
    --txn-empty-supr-svg-height: 100px;

    supr-page-header {
        --supr-page-header-border-height: 0;
        --supr-page-header-back-button-color: var(--black-80);

        supr-text {
            --supr-text-color: var(--black-80);
        }
    }

    .suprScrollContent {
        padding-top: var(--supr-page-header-height);
    }

    .header {
        padding: var(--supr-content-padding);
        background-color: var(--header-bg-color);
    }

    .filters {
        padding-top: var(--item-row-padding);

        &Item {
            width: var(--filter-width);
            padding: 0 var(--filter-padding);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        supr-button {
            --supr-button-bg-color: var(--filter-bg-color);
            --supr-button-border-width: 0;
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--filter-text-color);
            }

            &.active {
                --supr-button-bg-color: var(--filter-active-bg-color);

                supr-text {
                    --supr-text-color: var(--filter-active-text-color);
                }
            }
        }
    }

    .transactions {
        padding: 0 var(--supr-content-horizontal-padding);
    }

    .transaction {
        padding: var(--item-row-padding) 0;
        border-bottom: 1px solid var(--black-10);

        supr-text {
            --supr-text-wrap: normal;

            &.last {
                margin-left: auto;
            }

            &.subtext {
                --supr-text-color: var(--black-40);
            }

            &.refill,
            &.recharge {
                --supr-text-color: var(--primary-100);
            }

            &.refund,
            &.cashback {
                --supr-text-color: var(--success-100);
            }
        }
    }

    .loader {
        height: var(--loader-height);

        supr-loader {
            --supr-loader-color: var(--primary-100);
            --supr-loader-width: 200px;
            --supr-loader-height: 40px;
        }
    }

    .empty {
        height: calc(100vh - 200px);

        supr-svg {
            --supr-svg-path: var(--supr-svg-empty-transactions);
            --supr-svg-width: var(--txn-empty-supr-svg-width);
            --supr-svg-height: var(--txn-empty-supr-svg-height);
        }

        supr-text {
            &.subText {
                --supr-text-color: var(--black-40);
            }
        }
    }
}
