@import "mixins/grid";
@import "mixins/core";
@import "mixins/typography";

:host {
    --wallet-header-bg-color: var(--primary-20);

    --wallet-supr-svg-width: 180px;
    --wallet-supr-svg-height: 150px;

    --wallet-input-height: 56px;
    --wallet-input-border-radius: 4px;
    --wallet-input-bg-color: var(--primary-5);
    --wallet-balance-font-size: 25px;
    --wallet-balance-font-weight: 800;

    --transaction-header-padding-left: 54px;
    --transaction-product-padding: 16px;

    --add-money-option-width: 99px;
    --add-money-option-height: 40px;
    --add-money-option-border-radius: 4px;
    --add-money-option-border-width: 2px;
    --add-money-option-bg-color: var(--black-5);

    --options-active-bg-color: var(--primary-20);

    --supr-recharge-coupon-text-height: 56px;
    --supr-recharge-coupon-z-index: 99;

    supr-page-header {
        --supr-page-header-border-height: 0;
        --supr-page-header-back-button-color: var(--black-80);

        supr-text {
            --supr-text-color: var(--black-80);
        }
    }

    .suprScrollContent {
        padding-top: var(--supr-page-header-height);
        padding-bottom: var(--supr-page-footer-height);
        scroll-behavior: smooth;
    }

    .header {
        position: relative;
        padding: var(--supr-content-padding);
        background-color: var(--wallet-header-bg-color);
        padding-bottom: var(--supr-content-horizontal-padding);

        supr-chip {
            --supr-chip-border-color: var(--white-40);
            --supr-chip-text-color: var(--white-100);
        }

        supr-svg {
            --supr-svg-path: var(--supr-svg-wallet-url);
            --supr-svg-width: var(--wallet-supr-svg-width);
            --supr-svg-height: var(--wallet-supr-svg-height);

            position: absolute;
            right: 0px;
            top: 20px;
        }

        .allTxn {
            supr-text {
                --supr-text-color: var(--primary-120);
                --supr-text-transform: uppercase;
            }

            supr-icon {
                --supr-icon-color: var(--primary-120);
                --supr-icon-font-size: 16px;
            }
        }
    }

    .balance {
        supr-text {
            --supr-text-color: var(--black-80);

            &.walletAmount {
                --supr-text-font-size: var(--wallet-balance-font-size);
                --supr-text-font-weight: var(--wallet-balance-font-weight);
            }
        }

        .wallet {
            padding-right: 42px;

            &.withBorder {
                border-right: 1px solid var(--primary-60);
            }
        }

        .suprCredits {
            padding-left: 20px;

            supr-svg.scIcon {
                --supr-svg-width: 20px;
                --supr-svg-height: 20px;
                --supr-svg-path: var(--supr-svg-supr-credits-img);
            }

            supr-icon {
                --supr-icon-font-size: 12px;
                --supr-icon-color: var(--black-80);
            }
        }
    }

    .addMoney {
        padding: var(--supr-content-padding);

        supr-text {
            &.title {
                --supr-text-color: var(--black-80);
            }

            &.note {
                --supr-text-color: var(--black-40);
            }
        }

        &Input {
            height: var(--wallet-input-height);
            border-radius: var(--wallet-input-border-radius);
            background-color: var(--white-100);
            padding: 16px 18px;
            border: 1px solid var(--black-40);

            &Prefix {
                @include rupee;
                @include heading;

                color: var(--black-40);
            }

            &Box {
                flex: 1;
            }
        }

        &Options {
            supr-text {
                --supr-text-color: var(--black-40);
            }

            &Item {
                @include center-all;

                width: var(--add-money-option-width);
                height: var(--add-money-option-height);
                background-color: var(--add-money-option-bg-color);
                border-radius: var(--add-money-option-border-radius);
                border-width: var(--add-money-option-border-width);
                border-style: solid;
                border-color: transparent;

                &.active {
                    background-color: var(--options-active-bg-color);

                    supr-text {
                        --supr-text-color: var(--primary-120);
                    }
                }
            }
        }

        .warningMsg {
            position: absolute;

            supr-text {
                --supr-text-color: var(--caution-100);
            }
        }

        &WithCoupon {
            position: relative;

            .rechargeCouponContainer {
                position: absolute;
                top: 0;
                right: var(--supr-content-horizontal-padding);
            }
        }

        .couponAppliedContainer {
            border: solid 1px var(--black-10);
            border-radius: 8px;
            padding: 22px 16px;
            position: relative;
        }
    }

    .showOtherModes {
        supr-section-header {
            --supr-section-header-icon-size: 24px;
            --supr-section-wrapper-padding: 16px;
            --supr-section-header-border-top: none;
            --supr-section-header-icon-wrapper-width: 24px;
            --supr-section-header-bg-color: var(--white-100);
            --supr-section-header-icon-color: var(--black-20);
            --supr-section-header-title-color: var(--black-80);
            --supr-section-header-icon-wrapper-padding-top: 6px;
            --supr-section-header-text-wrapper-padding-left: 22px;
            --supr-section-header-subtitle-color: var(--caution-100);
            --supr-section-header-border-bottom: 1px solid var(--black-10);
            --supr-section-header-border-top: 1px solid var(--black-10);
        }
    }

    supr-page-footer {
        supr-button {
            --supr-button-bg-color: var(--primary-100);
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
