<div class="scheduleItemWrapper suprRow" [ngClass]="getClasses()">
    <div class="suprColumn top stretch dateWrapper left">
        <supr-schedule-wrapper-date [date]="date"></supr-schedule-wrapper-date>
    </div>
    <div class="spacer16"></div>
    <div class="suprColumn top stretch contentWrapper left">
        <div class="suprRow top dayWrapper">
            <div class="suprRow left">
                <supr-text type="subtitle" class="dayText">{{ day }}</supr-text>

                <ng-container *ngIf="tomorrow && tpEnabled">
                    <div class="spacer8"></div>
                    <supr-icon name="lock"></supr-icon>
                </ng-container>
            </div>

            <div
                *ngIf="paused"
                (click)="openPauseModal()"
                class="suprColumn iconWrapper center"
            >
                <supr-icon name="pause_filled"></supr-icon>
                <supr-text type="paragraph">
                    {{ TEXTS.ON_VACATION_TEXT }}
                </supr-text>
            </div>
            <div
                *ngIf="!paused && pausedBySystem"
                class="suprRow iconWrapper center"
            >
                <supr-icon name="lock"></supr-icon>
                <supr-text
                    type="paragraph"
                    saImpression
                    [saObjectValue]="date"
                    [saObjectName]="saObjectNamePausedBySystem"
                >
                    {{ TEXTS.SYSTEM_PAUSED_TEXT }}
                </supr-text>
            </div>
        </div>
        <div class="suprRow headerInfo" *ngIf="!tpEnabled">
            <!-- [TODO] Read status texts from constants-->
            <supr-text
                type="paragraph"
                class="infoText"
                *ngIf="!noSchedule && !paused && !pausedBySystem"
            >
                {{ schedule?.message || scheduleItemMessage }}
            </supr-text>
            <supr-text
                type="paragraph"
                class="infoText"
                *ngIf="noSchedule && !paused && !pausedBySystem"
            >
                {{ noSchedulesMessage || TEXTS.NOT_SCHEDULED_TEXT }}
            </supr-text>
            <supr-text type="paragraph" class="infoText" *ngIf="paused">
                {{ pausedMsg || TEXTS.PAUSED_TEXT }}
            </supr-text>
            <supr-text
                type="paragraph"
                class="infoText"
                *ngIf="!paused && pausedBySystem"
            >
                {{ pausedBySystemMsg }}
            </supr-text>
        </div>
        <div class="scheduleProductTilesWrapper">
            <div *ngIf="schedule?.subscriptions">
                <div *ngFor="let subscription of schedule.subscriptions">
                    <div class="divider24"></div>
                    <supr-schedule-subscription-container
                        [date]="date"
                        [paused]="paused"
                        [showFrequency]="true"
                        [subscription]="subscription"
                        [subscriptionView]="subscriptionView"
                        [editable]="subscription?.quantity > 0"
                        (updateActionListener)="
                            updateActionListener.emit($event)
                        "
                    ></supr-schedule-subscription-container>
                </div>
            </div>

            <div *ngIf="schedule?.addons">
                <div *ngFor="let addOn of schedule.addons">
                    <div class="divider24"></div>
                    <supr-schedule-addon-container
                        [date]="date"
                        [addOn]="addOn"
                        [paused]="paused"
                        [editable]="addOn?.quantity > 0"
                        (updateActionListener)="
                            updateActionListener.emit($event)
                        "
                    ></supr-schedule-addon-container>
                </div>
            </div>

            <ng-container *ngIf="tomorrow && tpEnabled; else addView">
                <supr-t-plus-one-banner
                    [isLeftPaddingZero]="true"
                ></supr-t-plus-one-banner>
            </ng-container>
            <ng-template #addView>
                <div *ngIf="!locked && !paused && !pausedBySystem">
                    <div class="divider24"></div>
                    <supr-add-item
                        (handleClick)="goToSearchPage(date)"
                    ></supr-add-item>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<schedule-past-order-collection
    *ngIf="tomorrow"
    [pastOrderSkuList]="pastOrderSkuList"
></schedule-past-order-collection>
<supr-bag-ribbon *ngIf="tomorrow && !noSchedule"></supr-bag-ribbon>
