:host {
    --schedule-item-date-wrapper-width: 40px;
    --schedule-item-wrapper-status-info-text-color: var(--black-40);

    .scheduleItemWrapper {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        .dayWrapper {
            width: 100%;

            .iconWrapper {
                width: 22%;
                margin-left: auto;

                supr-icon {
                    --supr-icon-color: var(--primary-100);
                    --supr-icon-font-size: var(--supr-font-size-large);
                }

                supr-text {
                    --supr-text-color: var(--primary-100);
                }
            }

            supr-icon {
                --supr-icon-color: var(--black-30);
            }
        }

        &.disabled {
            supr-text.dayText {
                opacity: 0.25;
            }

            .infoText,
            .dateWrapper {
                opacity: 0.25;
            }
        }

        &.systemVacation {
            background: var(--beige);

            .dayWrapper {
                align-items: center;

                .iconWrapper {
                    width: auto;

                    supr-icon {
                        --supr-icon-color: var(--caution-100);
                        --supr-icon-font-size: var(--supr-font-size-regular);

                        margin-right: 4px;
                    }

                    supr-text {
                        --supr-text-color: var(--caution-100);
                    }
                }
            }

            .headerInfo {
                .infoText {
                    --supr-text-color: var(--black-80);
                }
            }
        }

        .dateWrapper {
            margin-top: 3px;
            width: var(--schedule-item-date-wrapper-width);
        }

        .headerInfo {
            &.suprRow {
                width: 100%;
            }

            .statusWrapper {
                width: 30%;
            }

            /* [TODO] Show both texts in same line */
            .infoText {
                --supr-text-wrap: normal;
                --supr-text-color: var(
                    --schedule-item-wrapper-status-info-text-color
                );
            }
        }

        .scheduleProductTilesWrapper {
            width: 100%;
        }

        supr-t-plus-one-banner {
            --supr-t-plus-one-banner-bg-color: none;
            --supr-t-plus-one-banner-title-color: var(--black-60);
            --supr-t-plus-one-banner-title-font-size: var(
                --supr-font-size-regular
            );
            --supr-t-plus-one-banner-subtitle-color: var(--black-60);
        }
    }
}
