:host {
    --supr-accordion-border-color: var(--black-10);
    --supr-accordion-padding: 24px 12px;
    --supr-accordion-color: var(--primary-20);
    --supr-accordion-icon-width: 50px;
    --supr-accordion-margin: 0;
    --supr-accordion-icon-font-size: 24px;

    .accordion {
        .header {
            border-top: 1px solid var(--supr-accordion-border-color);
            border-bottom: 1px solid var(--supr-accordion-border-color);
            padding: var(--supr-accordion-padding);
            background-color: var(--supr-accordion-color);
            margin: var(--supr-accordion-margin);

            .icon {
                width: var(--supr-accordion-icon-width);
                margin-top: 4px;
            }

            supr-icon {
                --supr-icon-font-size: var(--supr-accordion-icon-font-size);
            }

            supr-text {
                --supr-text-wrap: normal;
            }
        }

        .disabled {
            background-color: var(--black-5);
        }
    }
}
