<div class="suprRow wrapper">
    <div class="suprColumn stretch top imageWrapper">
        <supr-image
            [lazyLoad]="false"
            [image]="sku?.image"
            [src]="sku?.image?.fullUrl"
            [imgWidth]="CLODUINARY_IMAGE_SIZE.DEFAULT.WIDTH"
            [imgHeight]="CLODUINARY_IMAGE_SIZE.DEFAULT.HEIGHT"
        ></supr-image>
    </div>
    <div class="suprColumn stretch top left infoWrapper">
        <div class="suprRow left productName">
            <supr-text type="body">{{ sku?.sku_name }}</supr-text>
        </div>
        <div class="divider4"></div>
        <div class="suprRow productDetails" [class.baseline]="showPriceStrike">
            <supr-text type="body" class="price">
                {{ sku?.unit_price | rupee }}
            </supr-text>
            <div *ngIf="showPriceStrike" class="spacer8"></div>
            <div class="suprRow">
                <supr-text
                    type="caption"
                    class="itemPriceStrike"
                    *ngIf="showPriceStrike"
                >
                    {{ sku?.unit_mrp | rupee: 2 }}
                </supr-text>
                <div class="spacer6"></div>
                <div class="suprRow center dotBetween"></div>
                <div class="spacer6"></div>
                <supr-text class="quantityText" type="caption">
                    {{ quantityText }}
                </supr-text>
            </div>
        </div>
    </div>
    <div class="suprColumn stretch top right counterWrapper">
        <supr-number-counter
            *ngIf="showCounter"
            [thresholdQty]="-1"
            [quantity]="counterQuantity"
            [plusDisabled]="plusDisabled"
            [minusDisabled]="!counterQuantity"
            [class.warning]="!counterQuantity"
            [saObjectValue]="saObjectValueCounter"
            (handleClick)="handleQuantityUpdate.emit($event)"
        ></supr-number-counter>
    </div>
</div>
