:host {
    --supr-schedule-card-image-size: 64px;
    --supr-schedule-card-product-width: 100%;
    --supr-schedule-card-info-padding-x: 12px;
    --supr-schedule-card-image-container-size: 64px;
    --supr-schedule-card-counter-wrapper-wdith: 92px;
    --supr-schedule-card-quantity-text-color: var(--black-40);
    --supr-schedule-card-image-wrapper-bg-color: var(--white-100);

    width: var(--supr-schedule-card-product-width);

    .imageWrapper {
        width: var(--supr-schedule-card-image-container-size);

        supr-image {
            --supr-image-width: var(--supr-schedule-card-image-size);
            --supr-image-height: var(--supr-schedule-card-image-size);
            --supr-image-bg-color: var(
                --supr-schedule-card-image-wrapper-bg-color
            );
            --supr-image-wrapper-width: var(
                --supr-schedule-card-image-container-size
            );
            --supr-image-wrapper-height: var(
                --supr-schedule-card-image-container-size
            );
        }
    }

    .infoWrapper {
        position: relative;
        padding-left: var(--supr-schedule-card-info-padding-x);
        padding-right: var(--supr-schedule-card-info-padding-x);
    }

    .counterWrapper {
        width: var(--supr-schedule-card-counter-wrapper-wdith);

        supr-number-counter {
            &.warning {
                --counter-qty-text-color: var(--caution-100);
            }
        }
    }

    .productName {
        width: 100%;

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--black-80);
        }
    }

    .baseline {
        align-items: baseline;
    }

    .productDetails {
        .dotBetween {
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: var(--black-30);
        }

        supr-text {
            --supr-text-color: var(--supr-schedule-card-quantity-text-color);

            &.price {
                --supr-text-color: var(--black-80);
            }

            &.itemPriceStrike {
                --supr-text-color: var(--black-30);
                --supr-text-decoration: line-through;
            }
        }
    }
}
