:host {
    --supr-schedule-edit-modal-change-text-color: var(--primary-100);
    --supr-schedule-edit-modal-cancel-text-color: var(--caution-60);
    --supr-schedule-edit-modal-delivery-text-color: var(--black-40);

    --supr-schedule-edit-modal-subscribe-icon-size: 14px;
    --supr-schedule-edit-modal-subscribe-text-color: var(--primary-100);
    --supr-schedule-edit-modal-subscribe-icon-color: var(--primary-100);

    --supr-schedule-edit-modal-info-ribbon-bg-color: var(--primary-10);
    --supr-schedule-edit-modal-info-ribbon-text-color: var(--primary-100);
    --supr-schedule-edit-modal-warning-ribbon-bg-color: var(--caution-10);
    --supr-schedule-edit-modal-warning-ribbon-text-color: var(--caution-100);

    --supr-schedule-edit-modal-cancel-btn-color: var(--caution-100);
    --supr-schedule-edit-modal-secondary-btn-color: var(--primary-100);
    --supr-schedule-edit-modal-update-btn-text-color: var(--white-100);

    .scheduleEditWrapper {
        padding: 0 var(--supr-content-horizontal-padding);
    }

    supr-text.headerText {
        --supr-text-color: var(--black-80);
    }

    .paddedWrapper {
        border-bottom: 1px solid var(--black-10);
        padding: var(--supr-content-vertical-padding) 0;

        &:nth-last-of-type(2) {
            border-bottom: none;
        }

        &:last-of-type {
            padding-top: 12px;
            border-bottom: none;
        }
    }

    .deliveryInfo {
        .calendarIcon {
            width: 24px;
            padding-top: 2px;

            supr-icon {
                --supr-icon-color: var(--grey-3);
                --supr-icon-font-size: var(--supr-font-size-medium-large);
            }
        }

        .contentWrapper {
            padding-left: 20px;
        }

        .cancelWrapper {
            margin-left: auto;

            supr-text {
                --supr-text-color: var(--caution-100);
            }

            supr-icon {
                --supr-icon-color: var(--caution-100);
            }
        }

        supr-icon.chevronRight {
            margin-left: auto;
            padding-right: 16px;
        }

        supr-text {
            &.label {
                --supr-text-color: var(--grey-3);
            }

            &.value {
                --supr-text-color: var(--grey-2);
            }
        }
    }

    .quantityInfo {
        .subscriptionAction {
            supr-text {
                --supr-text-color: var(
                    --supr-schedule-edit-modal-subscribe-text-color
                );
            }

            supr-icon {
                --supr-icon-color: var(
                    --supr-schedule-edit-modal-subscribe-icon-color
                );
                --supr-icon-font-size: var(
                    --supr-schedule-edit-modal-subscribe-icon-size
                );
            }
        }

        supr-text.approx {
            --supr-text-color: var(--black-40);
        }

        supr-text.quantity {
            margin-left: auto;
        }
    }

    supr-ribbon {
        &.warningRibbon {
            --supr-ribbon-bg-color: var(
                --supr-schedule-edit-modal-warning-ribbon-bg-color
            );

            supr-text {
                --supr-text-color: var(
                    --supr-schedule-edit-modal-warning-ribbon-text-color
                );
            }
        }

        &.infoRibbon {
            --supr-ribbon-bg-color: var(
                --supr-schedule-edit-modal-info-ribbon-bg-color
            );

            supr-text {
                --supr-text-color: var(
                    --supr-schedule-edit-modal-info-ribbon-text-color
                );
            }
        }
    }

    supr-button.actionButton {
        width: 100%;
        --supr-button-width: 100%;

        &.primaryAction {
            width: 55%;
        }

        &.secondaryAction {
            width: 40%;
        }

        &.updateBtn {
            supr-text {
                --supr-text-color: var(
                    --supr-schedule-edit-modal-update-btn-text-color
                );
            }
        }

        &.cancelBtn {
            --supr-button-bg-color: var(--white-100);
            --supr-button-border-color: var(
                --supr-schedule-edit-modal-cancel-btn-color
            );
            --supr-button-loader-color: var(
                --supr-schedule-edit-modal-cancel-btn-color
            );

            supr-text {
                --supr-text-color: var(
                    --supr-schedule-edit-modal-cancel-btn-color
                );
            }
        }

        &.deliverOnceBtn {
            --supr-button-bg-color: var(--white-100);
            --supr-button-border-color: var(
                --supr-schedule-edit-modal-secondary-btn-color
            );
            --supr-button-loader-color: var(
                --supr-schedule-edit-modal-secondary-btn-color
            );

            supr-text {
                --supr-text-color: var(
                    --supr-schedule-edit-modal-secondary-btn-color
                );
            }
        }
    }
}
