<div class="scheduleEditWrapper">
    <div *ngIf="headerText">
        <div class="divider24"></div>
        <supr-text class="headerText" type="subtitle">
            {{ headerText }}
        </supr-text>
    </div>

    <div class="suprRow paddedWrapper">
        <supr-schedule-card-product
            [sku]="sku"
            [showCounter]="showCounter"
            [plusDisabled]="plusDisabled"
            [quantity]="schedule?.quantity"
            [counterQuantity]="counterQuantity"
            [saObjectValueCounter]="subscription?.id"
            (handleQuantityUpdate)="handleQuantityUpdate.emit($event)"
        ></supr-schedule-card-product>
    </div>

    <div
        saClick
        class="paddedWrapper suprRow deliveryInfo"
        [saObjectValue]="saObjectValueSubId"
        [saObjectName]="saObjectNamesClick.CHANGE_DATE"
        (click)="_handleDeliveryDateClick(EDIT_DELIVERY_ACTIONS.CHANGE_DATE)"
    >
        <div class="suprColumn calendarIcon stretch top left">
            <supr-icon name="calendar"></supr-icon>
        </div>

        <div class="suprColumn top left contentWrapper">
            <supr-text type="body" class="label">
                Delivery date
            </supr-text>
            <div class="divider4"></div>
            <supr-text type="subheading600" class="value">
                {{ dateText | titlecase }}
            </supr-text>
        </div>

        <div
            class="suprColumn stretch"
            [class.bottom]="showCancelAction"
            [class.center]="!showCancelAction"
        >
            <div
                class="suprRow cancelWrapper"
                *ngIf="!showCancelConfirmation && showCancelAction"
            >
                <supr-text
                    saClick
                    type="subtext10"
                    [saObjectValue]="saObjectValueSubId"
                    [saObjectName]="saObjectNamesClick.CANCEL_DELIVERY"
                    (click)="_handleCancelClick($event)"
                >
                    CANCEL DELIVERY
                </supr-text>
                <supr-icon name="chevron_right"></supr-icon>
            </div>

            <supr-icon
                name="chevron_right"
                class="chevronRight"
                *ngIf="!showCancelAction"
            ></supr-icon>
        </div>
    </div>

    <!-- [TODO] Handle buttons and ribbons in switch with only 2 variations and dynamic content and param based action-->
    <div class="paddedWrapper" *ngIf="adjustmentAction && showAdjustmentText">
        <ng-container
            *ngIf="adjustmentAction === EDIT_DELIVERY_ACTIONS.WALLET_RECHARGE"
        >
            <supr-ribbon class="warningRibbon">
                <div class="suprRow center">
                    <supr-text type="body">
                        Add {{ amountChange | rupee: 2 }} to your Supr Wallet to
                        continue.
                    </supr-text>
                </div>
            </supr-ribbon>
        </ng-container>

        <ng-container *ngIf="adjustmentAction === EDIT_DELIVERY_ACTIONS.DEBIT">
            <supr-ribbon class="infoRibbon">
                <div class="suprRow center">
                    <supr-text type="body">
                        {{ amountChange | rupee: 2 }} will be deducted from your
                        Supr Wallet.
                    </supr-text>
                </div>
            </supr-ribbon>
        </ng-container>

        <ng-container *ngIf="adjustmentAction === EDIT_DELIVERY_ACTIONS.REFUND">
            <supr-ribbon class="infoRibbon">
                <div class="suprRow center">
                    <supr-text type="body">
                        Amount will be refunded to your Supr Wallet.
                    </supr-text>
                </div>
            </supr-ribbon>
        </ng-container>

        <ng-container
            *ngIf="adjustmentAction === EDIT_DELIVERY_ACTIONS.ADJUSTMENT"
        >
            <supr-ribbon class="infoRibbon">
                <div class="suprRow center">
                    <supr-text type="body">
                        {{ texts.DATES_ADJUSTED_TEXT }}
                    </supr-text>
                </div>
            </supr-ribbon>
        </ng-container>

        <ng-container
            *ngIf="
                adjustmentAction === EDIT_DELIVERY_ACTIONS.RECHARGE_SUBSCRIPTION
            "
        >
            <supr-ribbon class="warningRibbon">
                <div class="suprRow center">
                    <supr-text type="body">
                        {{ texts.RECHARGE_SUBSCRIPTION_TEXT }}
                    </supr-text>
                </div>
            </supr-ribbon>
        </ng-container>
    </div>

    <div
        class="paddedWrapper quantityInfo"
        *ngIf="subscription && (!adjustmentAction || !showAdjustmentText)"
    >
        <div class="suprRow">
            <supr-text type="body">{{ texts.DELIVERIES_LEFT }}&nbsp;</supr-text>
            <supr-text type="body" class="approx">{{ texts.APPROX }}</supr-text>
            <supr-text type="body" class="quantity">
                {{ remainingQtyStr }}
            </supr-text>
        </div>

        <div class="divider8"></div>

        <div
            saClick
            class="suprRow subscriptionAction"
            [saObjectValue]="saObjectValueSubId"
            [saObjectName]="saObjectNamesClick.MANAGE_SUBSCRIPTION"
            (click)="handleManageSubscription.emit()"
        >
            <supr-text type="paragraph">
                {{ texts.MANAGE_SUBSCRIPTION }}
            </supr-text>
            <supr-icon name="chevron_right"></supr-icon>
        </div>
    </div>

    <div class="paddedWrapper suprRow spaceBetween">
        <supr-button
            saImpression
            class="secondaryAction actionButton deliverOnceBtn"
            *ngIf="
                secondaryActionText &&
                adjustmentAction === EDIT_DELIVERY_ACTIONS.RECHARGE_SUBSCRIPTION
            "
            [loading]="showBtnLoader"
            [saObjectValue]="saObjectValueSubId"
            [saObjectName]="saObjectNamesClick.DELIVER_ONCE"
            (click)="_handleButtonClick(EDIT_DELIVERY_ACTIONS.DELIVER_ONCE)"
        >
            <supr-text type="body">
                {{ secondaryActionText }}
            </supr-text>
        </supr-button>

        <supr-button
            saImpression
            class="updateBtn actionButton"
            [loading]="showBtnLoader"
            [saObjectName]="saObjectNamesClick.MODAL_DONE"
            [saObjectValue]="saObjectValueSubId"
            (click)="_handleButtonClick('done')"
            *ngIf="!showCancelConfirmation && !adjustmentAction"
        >
            <supr-text type="body">{{ confirmBtnText || "Done" }}</supr-text>
        </supr-button>

        <supr-button
            saImpression
            class="updateBtn actionButton"
            [class.primaryAction]="secondaryActionText"
            [loading]="showBtnLoader"
            [saObjectValue]="saObjectValueSubId"
            [saObjectName]="saObjectNamesClick.RECHARGE_PLAN"
            *ngIf="
                adjustmentAction === EDIT_DELIVERY_ACTIONS.RECHARGE_SUBSCRIPTION
            "
            (click)="
                _handleButtonClick(EDIT_DELIVERY_ACTIONS.RECHARGE_SUBSCRIPTION)
            "
        >
            <supr-text type="body">Recharge plan</supr-text>
        </supr-button>

        <supr-button
            class="updateBtn actionButton"
            [loading]="showBtnLoader"
            [saObjectValue]="saObjectValueSubId"
            [saObjectName]="saObjectNamesClick.ADJUSTMENT_DONE"
            *ngIf="
                !showCancelConfirmation &&
                (adjustmentAction === EDIT_DELIVERY_ACTIONS.ADJUSTMENT ||
                    adjustmentAction === EDIT_DELIVERY_ACTIONS.REFUND ||
                    adjustmentAction === EDIT_DELIVERY_ACTIONS.CHANGE_DATE ||
                    adjustmentAction === EDIT_DELIVERY_ACTIONS.USE_BALANCE)
            "
            (click)="_handleButtonClick(EDIT_DELIVERY_ACTIONS.UPDATE)"
        >
            <supr-text type="body">{{ confirmBtnText || "Done" }}</supr-text>
        </supr-button>

        <supr-button
            class="updateBtn actionButton"
            *ngIf="adjustmentAction === EDIT_DELIVERY_ACTIONS.DEBIT"
            [loading]="showBtnLoader"
            (click)="_handleButtonClick('payment')"
        >
            <supr-text type="body">Confirm & Pay</supr-text>
        </supr-button>

        <supr-button
            class="updateBtn actionButton"
            *ngIf="adjustmentAction === EDIT_DELIVERY_ACTIONS.WALLET_RECHARGE"
            [loading]="showBtnLoader"
            (click)="_handleButtonClick(EDIT_DELIVERY_ACTIONS.WALLET_RECHARGE)"
        >
            <supr-text type="body"
                >Add {{ amountChange | rupee: 2 }} to Supr Wallet</supr-text
            >
        </supr-button>

        <supr-button
            class="cancelBtn actionButton"
            *ngIf="showCancelConfirmation"
            [loading]="showBtnLoader"
            [saObjectValue]="saObjectValueCancel"
            [saObjectName]="saObjectNamesClick.CONFIRM_CANCEL_DELIVERY"
            (click)="_handleButtonClick(EDIT_DELIVERY_ACTIONS.CANCEL)"
        >
            <supr-text
                type="body"
                *ngIf="subscription; else addOnCancelConfirm"
            >
                Confirm cancel for {{ date | date: "LLL d" }}{{ dateSuffix }}
            </supr-text>

            <ng-template #addOnCancelConfirm>
                <supr-text type="body">Confirm cancel</supr-text>
            </ng-template>
        </supr-button>
    </div>
</div>
