:host {
    --supr-section-header-icon-size: 15px;
    --supr-section-header-border-top: none;
    --supr-section-header-border-bottom: none;
    --supr-section-wrapper-padding: 12px 16px;
    --supr-section-header-right-icon-size: 18px;
    --supr-section-header-icon-wrapper-width: 15px;
    --supr-section-header-bg-color: var(--supr-grey);
    --supr-section-header-icon-color: var(--black-40);
    --supr-section-header-title-color: var(--black-100);
    --supr-section-header-icon-wrapper-padding-top: 6px;
    --supr-section-header-subtitle-color: var(--black-80);
    --supr-section-header-text-wrapper-padding-left: 18px;
    --supr-section-header-right-icon-color: var(--black-100);

    .wrapper {
        padding: var(--supr-section-wrapper-padding);
        border-top: var(--supr-section-header-border-top);
        background-color: var(--supr-section-header-bg-color);
        border-bottom: var(--supr-section-header-border-bottom);

        .iconWrapper {
            width: var(--supr-section-header-icon-wrapper-width);
            padding-top: var(--supr-section-header-icon-wrapper-padding-top);
        }

        .textWrapper {
            padding-left: var(--supr-section-header-text-wrapper-padding-left);

            .titleWrapper {
                width: 100%;
            }
        }

        supr-icon {
            --supr-icon-color: var(--supr-section-header-icon-color);
            --supr-icon-font-size: var(--supr-section-header-icon-size);

            &.chevronRight {
                margin-left: auto;

                --supr-icon-color: var(--supr-section-header-right-icon-color);
                --supr-icon-font-size: var(
                    --supr-section-header-right-icon-size
                );

                transform: rotate(0deg);
                transition: transform 0.3s ease-in-out;

                &.up {
                    transform: rotate(-180deg);
                }
            }
        }

        supr-text {
            --supr-text-color: var(--supr-section-header-title-color);

            &.subtitle {
                --supr-text-wrap: normal;
                --supr-text-color: var(--supr-section-header-subtitle-color);
            }
        }
    }
}
