:host {
    --supr-t-plus-one-banner-border-radius: 8px;
    --supr-t-plus-one-banner-bg-color: var(--primary-10);
    --supr-t-plus-one-banner-title-color: var(--primary-120);
    --supr-t-plus-one-banner-title-font-size: var(--supr-font-size-medium);
    --supr-t-plus-one-banner-subtitle-color: var(--black-80);
    --supr-t-plus-one-banner-ribbon-padding-y: 16px;
    --supr-t-plus-one-banner-ribbon-padding-x: 16px;
    --supr-t-plus-one-banner-subtitle-font-weight: 300;

    .wrapper {
        padding: 0 var(--supr-content-horizontal-padding);
    }

    supr-expand-banner {
        --supr-expand-ribbon-padding-y: var(
            --supr-t-plus-one-banner-ribbon-padding-y
        );
        --supr-expand-ribbon-padding-x: var(
            --supr-t-plus-one-banner-ribbon-padding-x
        );
        --supr-expand-banner-title-font-size: var(
            --supr-t-plus-one-banner-title-font-size
        );
        --supr-expand-banner-border-radius: var(
            --supr-t-plus-one-banner-border-radius
        );
        --supr-expand-banner-bg-color: var(--supr-t-plus-one-banner-bg-color);
        --supr-expand-banner-title-color: var(
            --supr-t-plus-one-banner-title-color
        );
        --supr-expand-banner-icon-color: var(
            --supr-t-plus-one-banner-title-color
        );
        --supr-expand-banner-subtitle-color: var(
            --supr-t-plus-one-banner-subtitle-color
        );
        --supr-expand-ribbon-subtitle-font-weight: var(
            --supr-t-plus-one-banner-subtitle-font-weight
        );
    }
}
