:host {
    .feedbackWrapper {
        margin-bottom: 18px;
        border-bottom: 1px solid var(--black-10);

        .header {
            text-align: center;

            --supr-text-color: var(--black-80);
        }

        .iconsWrapper {
            padding: 12px 0 18px 0;

            .iconWrapper {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 32px;
                border: 1px solid var(--black-40);

                &:last-of-type {
                    margin-right: 0;
                }

                supr-icon {
                    --supr-icon-font-size: 20px;
                    --supr-icon-color: var(--black-40);
                }

                &.selected {
                    background-color: var(--black-80);

                    supr-icon {
                        --supr-icon-font-size: 20px;
                        --supr-icon-color: var(--white-100);
                    }
                }
            }
        }

        .tagsWrapper {
            padding: 0 4px 10px 4px;
        }
    }

    .savedFeedbackWrapper {
        text-align: center;
        margin-bottom: 18px;
        padding: 0 16px 18px;
        border-bottom: 1px solid var(--black-10);

        .iconWrapper {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--black-40);

            supr-icon {
                --supr-icon-font-size: 20px;
                --supr-icon-color: var(--white-100);
            }
        }

        supr-text {
            &.subtitle {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-60);
            }
        }
    }
}
