:host {
    supr-ribbon {
        --supr-ribbon-padding-x: 16px;
        --supr-ribbon-padding-y: 16px;
        --supr-ribbon-border-radius: 8px;
        --supr-ribbon-bg-color: var(--primary-10);
    }

    supr-icon {
        padding-top: 4px;

        --supr-icon-color: var(--primary-100);
        --supr-icon-font-size: var(--supr-font-size-large);
    }

    supr-text {
        &.title {
            --supr-text-color: var(--black-80);
        }

        &.subtitle {
            --supr-text-wrap: normal;
            --supr-text-color: var(--black-40);
        }
    }
}
