:host {
    --supr-credits-info-balance-bg: var(--lime-10);
    --supr-credits-info-balance-height: 52px;
    --supr-credits-info-balance-horizontal-padding: 12px;
    --supr-credits-info-balance-border-radius: 4px;

    .wrapper {
        padding: var(--supr-content-padding);

        supr-text {
            --supr-text-color: var(--black-80);
            --supr-text-wrap: normal;

            &.linkText {
                --supr-text-color: var(--primary-100);
            }
        }

        supr-icon {
            --supr-icon-color: var(--primary-100);
            --supr-icon-font-size: var(--supr-font-size-medium);

            margin-left: 4px;
            margin-top: 2px;
        }
    }
}
