:host {
    --container-height: 100vh;
    --container-width: 100vw;
    --container-padding: var(--supr-content-vertical-padding)
        var(--supr-content-horizontal-padding);

    .container {
        width: var(--container-width);
        height: var(--container-height);
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: var(--supr-page-header-height);
    }
}
