:host {
    --input-padding: 0 var(--supr-content-horizontal-padding);

    --type-footer-padding: var(--supr-content-vertical-padding)
        var(--supr-content-horizontal-padding);
    --type-footer-button-width: calc(100vw - 48px);

    supr-backdrop {
        --supr-backdrop-bg-color: var(--white-30);
        --supr-backdrop-bg-image: unset;
    }

    .suprScrollContent {
        padding-top: var(--supr-page-header-height);
    }

    .form {
        padding: var(--input-padding);
        margin-top: 16px;
        margin-bottom: 48px;

        &Footer {
            margin-top: 24px;

            supr-sticky-wrapper {
                --supr-sticky-wrapper-position: fixed;
                --supr-sticky-wrapper-bottom: var(
                    --supr-content-vertical-padding
                );
                --supr-sticky-wrapper-left: var(
                    --supr-content-horizontal-padding
                );
                --supr-sticky-wrapper-right: var(
                    --supr-content-horizontal-padding
                );
                --supr-sticky-wrapper-top: none;

                supr-button {
                    --supr-button-width: var(--type-footer-button-width);
                }
            }
        }
    }

    .input {
        &.relative {
            position: relative;
        }

        .absoluteOverlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }

        supr-text {
            --supr-text-color: var(--black-40);
        }

        &Field {
            border-radius: 2px;
            width: 100%;

            supr-input {
                --supr-input-width: calc(100vw - 75px);
            }

            supr-input-label {
                --input-label-text-color: var(--black-40);
            }

            &.disabled {
                supr-input-label {
                    --input-label-text-color: var(--black-10);
                    --input-label-input-color: var(--black-40);
                }

                supr-input-search-list {
                    --label-text-color: var(--black-10);
                }
            }

            &Label {
                color: var(--black-40);
            }

            &Button {
                justify-content: space-between;
                padding: 12px 16px;
                border: 1px solid var(--black-10);
                border-radius: 4px;

                supr-text {
                    --supr-text-color: var(--black-80);
                }

                supr-icon {
                    --supr-icon-color: var(--black-40);
                }
            }
        }
    }

    supr-page-footer {
        supr-button {
            --supr-button-bg-color: var(--primary-100);
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
