:host {
    --info-border-radius: 8px;
    --info-padding: var(--supr-content-vertical-padding)
        var(--supr-content-horizontal-padding);

    --info-icon-display: block;
    --info-bg-color: var(--alert-10);
    --info-color: var(--alert-100);

    --icon-color: var(--alert-100);
    --icon-font-size: var(--supr-font-size-large);

    .wrapper {
        padding: var(--info-padding);
        background-color: var(--info-bg-color);
        border-radius: var(--info-border-radius);

        supr-icon {
            --supr-icon-color: var(--info-color);
            --supr-icon-font-size: var(--icon-font-size);
            display: var(--info-icon-display);
        }

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--info-color);
        }
    }
}
