@import "mixins/grid";

:host {
    --map-overlay-header-top: 46px;
    --map-overlay-header-position: 0;
    --map-overlay-vertical-padding: 20px;
    --map-overlay-horizontal-padding: 24px;
    --map-footer-height: 88px;

    --location-result-icon-width: 16px;
    --location-result-icon-spacing: 8px;
    --supr-add-item-icon-color: var(--primary-100);
    --location-result-secondary-text-width: calc(
        100% - var(--location-result-icon-width) -
            var(--location-result-icon-spacing)
    );

    --add-address-footer-button-width: calc(
        100vw - var(--supr-content-horizontal-padding) * 2
    );

    --info-top-padding: 16px;
    --info-container-rest-padding: 24px 0 24px;
    --info-container-top-padding: calc(
        var(--supr-page-header-height) + var(--info-top-padding)
    );
    --info-container-z-index: 2;
    --info-container-height: 64px;
    --info-container-shadow: 0 0 10px var(--black-20);
    --info-icon-font-size: var(--supr-font-size-large);

    --divider-height: 1px;
    --divider-color: var(--black-10);

    .societyNameInfo {
        position: absolute;
        left: 0;
        right: 0;
        z-index: var(--info-container-z-index);
        background: var(--white-100);
        box-shadow: var(--info-container-shadow);

        &Wrapper {
            padding: var(--info-container-top-padding)
                var(--info-container-rest-padding);

            supr-text {
                --supr-text-color: var(--black-40);

                margin-left: 15px;
            }

            supr-icon {
                --supr-icon-color: var(--black-40);
                --supr-icon-font-size: var(--info-icon-font-size);

                transform: rotate(180deg);
            }
        }

        &Divider {
            display: block;
            margin: auto;
            width: 100%;
            height: var(--divider-height);
            background-color: var(--divider-color);
        }
    }

    agm-map {
        height: calc(100vh - var(--map-footer-height));
        text-align: center;
    }

    .suprScrollContent {
        padding-top: var(--supr-page-header-height);

        &.hasInfo {
            padding-top: calc(
                var(--supr-page-header-height) + var(--info-container-height)
            );
        }
    }

    .markerWrapper {
        top: 35%;
        z-index: 1;
        position: fixed;
    }

    supr-tooltip {
        supr-icon {
            --supr-icon-color: var(--white-100);
        }

        supr-text {
            --supr-text-color: var(--white-100);
        }

        &.warning {
            --supr-tooltip-bg-color: var(--caution-100);
        }
    }

    supr-loader {
        --supr-loader-width: 60px;
        --supr-loader-height: 20px;
    }

    supr-svg.marker {
        --supr-svg-width: 24px;
        --supr-svg-height: 44px;
        --supr-svg-path: var(--supr-svg-map-pointer);
    }

    .overlay {
        position: fixed;
        top: var(--map-overlay-header-top);
        left: var(--map-overlay-header-position);
        right: var(--map-overlay-header-position);
        bottom: var(--map-overlay-header-position);
        height: 1vh;

        &Search {
            padding: var(--map-overlay-vertical-padding)
                var(--map-overlay-horizontal-padding);
            border: 1px solid var(--black-20);
            background-color: var(--white-100);
            box-shadow: 0px 0px 4px 0px var(--black-20);
            -moz-box-shadow: 0px 0px 4px 0px var(--black-20);
            -webkit-box-shadow: 0px 0px 4px 0px var(--black-20);

            supr-icon.search {
                --supr-icon-color: var(--primary-100);
                --supr-icon-font-size: var(--supr-font-size-large);

                margin-left: auto;
            }

            supr-icon.pin {
                --supr-icon-color: var(--black-80);
            }

            supr-text {
                padding-left: 15px;
                width: 80%;

                --supr-text-color: var(--black-80);
                --supr-text-text-overflow: ellipsis;
                --supr-text-overflow: hidden;
            }
        }

        &Footer {
            margin-top: 40px;
            height: 1vh;
        }

        &CurrentLocationMarker {
            right: 12px;
            width: 40px;
            height: 40px;
            margin-top: 10px;
            position: absolute;
            border-radius: 50%;
            text-align: center;
            border: 1px solid var(--black-20);
            background-color: var(--white-100);
            box-shadow: 0px 0px 4px 0px var(--black-20);
            -moz-box-shadow: 0px 0px 4px 0px var(--black-20);
            -webkit-box-shadow: 0px 0px 4px 0px var(--black-20);
        }
    }

    supr-sticky-wrapper {
        --supr-sticky-wrapper-position: fixed;
        --supr-sticky-wrapper-bottom: var(--supr-content-vertical-padding);
        --supr-sticky-wrapper-top: none;

        .ribbonWrapper {
            background-color: var(--white-100);
            box-shadow: 0px 0px 4px 0px var(--black-10);
            -moz-box-shadow: 0px 0px 4px 0px var(--black-10);
            -webkit-box-shadow: 0px 0px 4px 0px var(--black-10);

            supr-ribbon {
                --supr-ribbon-bg-color: var(--primary-10);

                supr-text {
                    --supr-text-align: center;
                    --supr-text-color: var(--primary-100);
                }
            }
        }

        .btnWrapper {
            padding: 0 var(--supr-content-horizontal-padding);

            supr-button {
                --supr-button-width: 100%;
            }
        }
    }

    .current {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        &Row {
            padding-bottom: 15px;
            border-bottom: 1px solid var(--black-10);

            &Location {
                --supr-text-color: var(--black-80);
            }

            &Gps {
                --supr-text-color: var(--black-40);
            }
        }
    }

    .results {
        padding: 0 var(--supr-content-horizontal-padding);

        supr-icon {
            --supr-icon-color: var(--black-40);
        }

        supr-text {
            &.primary {
                --supr-text-color: var(--black-80);
            }

            &.secondary {
                --supr-text-color: var(--black-40);
                --supr-text-text-overflow: ellipsis;
                --supr-text-overflow: hidden;

                width: var(--location-result-secondary-text-width);
            }
        }

        &Divider {
            display: block;
            margin: auto;
            width: 100%;
            height: var(--divider-height);
            background-color: var(--divider-color);
        }
    }

    .nearBy {
        padding: var(--map-padding) var(--map-padding) 0 var(--map-padding);

        supr-text {
            --supr-text-color: var(--black-40);
        }
    }

    .addAddress {
        @include center-all;

        width: 100%;

        supr-button {
            --supr-button-bg-color: var(--white-100);
            --supr-button-width: 210px;

            supr-icon {
                --supr-icon-color: var(--supr-add-item-icon-color);
            }

            supr-text {
                --supr-text-transform: uppercase;
                --supr-text-color: var(--primary-100);
            }
        }
    }

    .noSocietyResults {
        margin-top: 32px;

        supr-svg {
            --supr-svg-path: var(--supr-svg-not-found-url);
            --supr-svg-width: 112px;
            --supr-svg-height: 80px;
        }

        supr-text {
            --supr-text-color: var(--black-40);
            --supr-text-align: center;
            --supr-text-wrap: normal;

            max-width: 70%;
        }
    }

    supr-loader.searchLoader {
        height: 100px;
        --supr-loader-color: var(--primary-100);
        height: 100px;
    }
}
