:host {
    --address-not-found-icon-size: 24px;

    .searchWrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .list {
            &Wrapper {
                padding: var(--supr-content-padding);
                padding-top: var(--supr-page-header-height);
            }

            &Option {
                font-size: 16px;
                border-bottom: solid 1px var(--black-10);
                padding: 12px 0;

                &:last-child {
                    border-bottom: none;
                }

                &NoResults {
                    supr-text {
                        --supr-text-color: var(--primary-100);
                    }
                }

                &AddressNotFound {
                    supr-text {
                        --supr-text-color: var(--black-20);
                    }

                    supr-icon {
                        --supr-icon-color: var(--black-20);
                        --supr-icon-font-size: var(
                            --address-not-found-icon-size
                        );
                    }
                }
            }
        }
    }

    .updateAddressContainer {
        padding: var(--supr-content-padding);

        supr-text {
            --supr-text-wrap: normal;
        }

        supr-input-label {
            --input-label-text-color: var(--black-40);

            width: 100%;
        }

        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
