:host {
    .review {
        padding: var(--supr-content-padding);

        supr-text {
            &.title,
            &.exampleHeading {
                --supr-text-color: var(--black-80);
                --supr-text-wrap: normal;
            }

            &.textAreaLabel,
            &.exampleBody {
                --supr-text-color: var(--black-40);
                --supr-text-wrap: normal;
            }
        }

        supr-page-footer {
            supr-button {
                --supr-button-width: 100%;
            }
        }
    }

    textarea {
        border: 0.5px solid var(--black-40);
        width: 92%;
        padding: 5px 10px;
        border-radius: 2px;
        margin-top: 8px;

        &::placeholder {
            color: var(--black-40);
        }

        &::-webkit-input-placeholder {
            color: var(--black-40);
        }
    }
}
