:host {
    --type-header-bg-color: var(--primary-100);
    --type-header-text-color: var(--white-100);

    --type-body-padding: 32px;

    --supr-address-tile-padding: 16px;
    --supr-address-tile-border-radius: 8px;
    --supr-address-tile-border-color: var(--black-10);
    --supr-address-tile-bg-color: var(--white-100);

    --svg-width: 80px;
    --svg-height: 72px;

    --type-body-tile-width: 49%;
    --type-body-tile-card-svg-padding: 24px 32px;
    --type-body-tile-card-svg-top-right: 10px;
    --type-body-tile-card-text-padding: 16px 8px;
    --type-body-tile-card-text-min-height: 100px;

    --type-footer-padding: var(--supr-content-padding);
    --type-footer-button-width: calc(100vw - 48px);

    .type {
        &Header {
            padding: 0 var(--supr-content-horizontal-padding);
            background-color: var(--type-header-bg-color);
            color: var(--white-100);
            padding-top: var(--supr-page-header-height);

            supr-page-header {
                --supr-page-header-bg-color: var(--type-header-bg-color);
                --supr-page-header-border-color: var(--type-header-bg-color);

                supr-text {
                    --supr-text-color: var(--white-50);
                }
            }

            supr-text {
                --supr-text-color: var(--white-100);
                --supr-text-wrap: normal;
            }
        }

        &Body {
            padding: var(--type-body-padding);

            &Tile {
                supr-address-type-tile {
                    width: var(--type-body-tile-width);
                }
                &Card {
                    background-color: var(--supr-address-tile-bg-color);
                    border-radius: var(--supr-address-tile-border-radius);
                    border: solid 1px var(--supr-address-tile-border-color);

                    supr-svg {
                        &.apartment {
                            --supr-svg-path: var(--supr-svg-address-apartment);
                            --supr-svg-width: var(--svg-width);
                            --supr-svg-height: var(--svg-height);
                        }

                        &.independent {
                            --supr-svg-path: var(
                                --supr-svg-address-independent
                            );
                            --supr-svg-width: var(--svg-width);
                            --supr-svg-height: var(--svg-height);
                        }
                    }

                    &Svg {
                        supr-icon {
                            --supr-icon-font-size: 20px;
                            --supr-icon-color: var(--primary-100);
                        }

                        padding: var(--type-body-tile-card-svg-padding);
                        background-color: var(--primary-10);
                        position: relative;

                        &Approve {
                            position: absolute;
                            top: var(--type-body-tile-card-svg-top-right);
                            right: var(--type-body-tile-card-svg-top-right);
                        }
                    }

                    &Text {
                        padding: var(--type-body-tile-card-text-padding);
                        min-height: var(--type-body-tile-card-text-min-height);

                        text-align: center;

                        supr-text {
                            &.type {
                                --supr-text-color: var(--black-80);
                            }

                            &.disc {
                                --supr-text-color: var(--black-40);
                                --supr-text-wrap: normal;
                            }
                        }

                        &.approve {
                            supr-text {
                                --supr-text-color: var(--primary-100);
                            }
                        }
                    }

                    &.approve {
                        border: solid 2px var(--primary-100);
                    }
                }
            }
        }
    }

    supr-page-footer {
        supr-button {
            --supr-button-bg-color: var(--primary-100);
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
