:host {
    --supr-sku-price-color: var(--black-100);
    --supr-sku-price-strike-color: var(--black-30);

    supr-text {
        &.price {
            --supr-text-color: var(--supr-sku-price-color);

            &Strike {
                --supr-text-color: var(--supr-sku-price-strike-color);
                --supr-text-decoration: line-through;
            }
        }
    }
}
