:host {
    .wrapper {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        &Header {
            --supr-text-color: var(--black-80);
        }

        &Content {
            padding-bottom: 42px;

            supr-icon {
                --supr-icon-font-size: 32px;
                --supr-icon-color: var(--grey-3);
            }

            &Label {
                width: 58px;
                padding-top: 1px;

                supr-text {
                    --supr-text-wrap: normal;
                    --supr-text-color: var(--grey-3);
                }
            }

            supr-number-counter {
                margin-left: auto;
            }
        }

        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
