:host {
    --supr-canvas-width: 243px;
    --supr-canvas-height: 158px;
    --supr-canvas-msg-container-width: 150px;

    .scratchCardContainer {
        position: relative;
        width: 100%;
        height: var(--supr-canvas-height);
        user-select: none;

        .canvasContainer {
            position: relative;
            margin: 0 auto;
            width: var(--supr-canvas-width);
            height: var(--supr-canvas-height);
            z-index: 50;

            canvas {
                image-rendering: auto;
                border-radius: 16px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        supr-loader {
            --supr-loader-color: var(--primary-100);
        }

        .msgContainer {
            position: absolute;
            margin: 0 auto;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 16px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: var(--supr-canvas-width);
            height: var(--supr-canvas-height);
            background: var(--primary-20);
            z-index: 10;

            &.withError {
                background: var(--alert-10);
            }

            .msgContent {
                position: absolute;
                left: 50%;
                top: 50%;
                width: var(--supr-canvas-msg-container-width);
                height: auto;
                transform: translate(-50%, -50%);

                supr-text-fragment {
                    --supr-text-fragment-align: center;
                }
            }
        }
    }
}
