:host {
    --supr-ribbon-padding-y: 8px;
    --supr-ribbon-padding-x: 24px;
    --supr-ribbon-overflow: hidden;
    --supr-ribbon-bg-color: var(--primary-5);
    --supr-ribbon-border-radius: 0;
    --supr-ribbon-border: inherit;

    .wrapper {
        position: relative;
        overflow: var(--supr-ribbon-overflow);
        background-color: var(--supr-ribbon-bg-color);
        padding: var(--supr-ribbon-padding-y) var(--supr-ribbon-padding-x);
        border-radius: var(--supr-ribbon-border-radius);
        border: var(--supr-ribbon-border);
    }
}
