:host {
    --supr-bottom-sheet-z-index: calc(var(--supr-base-z-index) + 1);
    --supr-bottom-sheet-position-bottom: 0;
    --supr-bottom-sheet-bg-color: var(--white-100);

    --supr-bottom-sheet-animation-name: pullUp;
    --supr-bottom-sheet-animation-duration: 0.3s;
    --supr-bottom-sheet-animation-timing-function: ease-out;

    --wrapper-position-y: 100%;
    --wrapper-transition-name: inherit;

    supr-draggable-top {
        --supr-draggable-top-bg-color: var(--supr-bottom-sheet-bg-color);
    }

    supr-sticky-wrapper {
        --supr-sticky-wrapper-position: fixed;
        --supr-sticky-wrapper-bottom: var(--supr-bottom-sheet-position-bottom);
        --supr-sticky-wrapper-top: none;
        --supr-sticky-wrapper-transform: translateY(
            calc(var(--wrapper-position-y) * 1px)
        );
        --supr-sticky-wrapper-transition-name: var(--wrapper-transition-name);
    }

    .wrapper {
        width: 100%;
        max-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;

        z-index: var(--supr-bottom-sheet-z-index);
        transform: translateY(calc(var(--wrapper-position-y) * 1px));
        will-change: transform opacity;

        animation-duration: var(--supr-bottom-sheet-animation-duration);
        animation-name: var(--supr-bottom-sheet-animation-name);
        animation-timing-function: var(
            --supr-bottom-sheet-animation-timing-function
        );

        &Content {
            background-color: var(--supr-bottom-sheet-bg-color);
        }
    }

    @keyframes pullUp {
        from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes pullDown {
        from {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

        to {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
    }
}
