:host {
    supr-button {
        --supr-button-width: 92px;
        --supr-button-height: 28px;
        --supr-button-padding: 0px 10px;
        --supr-button-border-radius: 28px;
        --supr-button-border-color: transparent;
        --supr-button-bg-color: var(--primary-10);

        &.primary {
            --supr-button-bg-color: var(--white-100);
            --supr-button-border-color: var(--primary-100);
        }

        supr-icon {
            --supr-icon-color: var(--primary-100);
            --supr-icon-font-size: var(--supr-font-size-regular);
        }

        supr-text {
            &.label {
                --supr-text-color: var(--primary-100);
            }
        }
    }
}
