:host {
    --item-image-width: 64px;
    --item-image-height: 64px;

    .wrapper {
        &Container {
            padding: var(--supr-content-horizontal-padding);

            &Space {
                padding: 16px;
                border-radius: 8px;
                border: 1px solid var(--black-10);

                .titleWrapper {
                    padding-bottom: 16px;
                    border-bottom: 1px solid var(--black-10);

                    supr-text {
                        --supr-text-color: var(--black-80);
                        --supr-text-wrap: normal;

                        &.subtitle {
                            --supr-text-color: var(--black-40);

                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }

    .item {
        padding-top: 16px;

        &Image {
            margin-right: 8px;
            width: var(--item-image-width);

            supr-image {
                --supr-image-opacity: 0.6;
                --supr-image-wrapper-width: var(--item-image-width);
                --supr-image-wrapper-height: var(--item-image-height);
            }
        }

        &Content {
            width: 100%;

            supr-text {
                --supr-text-color: var(--black-40);
            }
        }

        &Name {
            width: 80%;
            display: block;

            --supr-text-wrap: normal;
        }

        &Price {
            width: 100%;
            &Strike {
                --supr-text-decoration: line-through;
            }

            supr-button {
                &.oos {
                    --supr-button-width: 90px;
                    --supr-button-height: 26px;
                    --supr-button-bg-color: var(--black-5);
                    --supr-button-border-color: var(--black-5);
                    --supr-button-border-radius: 8px;

                    supr-text {
                        --supr-text-color: var(--black-40);
                    }
                }
            }
        }
    }

    .horizontalSeparator {
        border: 1px solid var(--black-10);
    }
}
