:host {
    supr-card {
        --supr-card-padding: 8px 12px;
        --supr-card-border-radius: 4px;
    }

    .tile {
        height: 46px;
        position: relative;

        &.history {
            height: 125px;
        }

        &Date {
            --supr-text-color: var(--black-60);
        }

        &Quantity {
            --supr-text-color: var(--black-80);
        }

        &Action {
            margin-left: auto;

            supr-text {
                --supr-text-color: var(--primary-120);
            }

            supr-icon {
                --supr-icon-color: var(--primary-120);
            }
        }

        &Amount {
            margin-left: auto;

            &.success {
                --supr-text-color: var(--success-100);
            }

            &.caution {
                --supr-text-color: var(--caution-100);
            }
        }

        &Ledger,
        &RechargeId {
            --supr-text-color: var(--black-40);
        }

        &Ledger {
            left: 0px;
            bottom: 4px;
            position: absolute;
        }

        &Status {
            padding: 4px 6px;
            display: inline-block;

            &.success {
                background-color: var(--success-10);

                supr-text {
                    --supr-text-color: var(--success-120);
                }
            }

            &.caution {
                background-color: var(--caution-10);

                supr-text {
                    --supr-text-color: var(--caution-100);
                }
            }
        }
    }
}
