:host {
    .wrapper {
        padding: var(--supr-content-padding);

        supr-text {
            --supr-text-wrap: normal;
        }

        .headerBlock {
            .referralImage {
                img {
                    height: 60px;
                    width: 66px;
                }
            }

            .referralText {
                supr-text-fragment {
                    &.boldText {
                        --supr-text-fragment-font-weight: var(
                            --supr-weight-bold
                        );
                    }

                    &.semiBoldText {
                        --supr-text-fragment-font-weight: var(
                            --supr-weight-semi-bold
                        );
                    }
                }
            }
        }

        .thirdPartyInviteBlock {
            supr-text.headingText {
                --supr-text-color: var(--black-40);
            }

            .individualShare {
                max-width: 33.33%;
                margin-right: 16px;

                &.isLast {
                    margin-right: 0;
                }

                &Image {
                    supr-svg {
                        --supr-svg-width: 46px;
                        --supr-svg-height: 46px;
                        --supr-svg-path: var(--supr-svg-options);

                        &.WhatsApp {
                            --supr-svg-path: var(--supr-svg-whatsapp);
                        }

                        &.Facebook {
                            --supr-svg-path: var(--supr-svg-facebook);
                        }

                        &.SMS {
                            --supr-svg-path: var(--supr-svg-sms);
                        }
                    }
                }

                &Text {
                    --supr-text-color: var(--black-80);
                }
            }
        }
    }
}
