:host {
    --supr-nudge-padding: 16px 16px 88px 16px;

    .wrapper {
        padding: var(--supr-nudge-padding);

        supr-text-fragment {
            --supr-text-fragment-font-weight: var(--supr-weight-bold);
        }

        supr-sticky-wrapper {
            --supr-sticky-wrapper-top: none;
            --supr-sticky-wrapper-bottom: 0;
            --supr-sticky-wrapper-bg-color: var(--white-100);
        }

        .footerWrapper {
            padding: 18px 16px 18px;
            box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.16);

            supr-button {
                width: 100%;

                --supr-button-width: 100%;

                supr-text {
                    --supr-text-color: var(--white-100);
                }

                supr-icon {
                    --supr-icon-color: var(--white-100);
                }

                &.skipBtn {
                    --supr-button-bg-color: var(--white-100);

                    supr-text {
                        --supr-text-color: var(--primary-100);
                    }
                }
            }
        }
    }
}
