:host {
    --supr-chip-text-color: var(--white-100);
    --supr-chip-border-width: 1px;
    --supr-chip-border-radius: 16px;
    --supr-chip-border-color: var(--primary-100);
    --supr-chip-padding: 6px 12px;
    --supr-chip-background-color: transparent;
    --supr-chip-min-width: inherit;

    .chip {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-width: var(--supr-chip-border-width);
        border-color: var(--supr-chip-border-color);
        border-radius: var(--supr-chip-border-radius);
        padding: var(--supr-chip-padding);
        color: var(--supr-chip-text-color);
        background-color: var(--supr-chip-background-color);
        min-width: var(--supr-chip-min-width);

        ion-ripple-effect {
            border-radius: var(--supr-chip-border-radius);
        }
    }
}
