:host {
    --faq-icon-font-size: 24px;
    --faq-header-width: 80%;
    --faq-padding-top: 15px;
    --loader-height: 200px;
    --supr-loader-width: 200px;
    --supr-loader-height: 40px;

    .suprScrollContent {
        padding: var(--supr-page-header-height) 0;
        padding-bottom: 120px;

        .faqChatForm {
            height: 90vh;
            position: relative;
            overflow: scroll;
            display: block;

            .chatContent {
                margin-bottom: 60px;
            }
        }
    }

    supr-page-footer {
        --supr-page-footer-padding: 12px 16px 24px;
        --supr-page-footer-box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.16);

        supr-text {
            --supr-text-color: var(--black-40);
        }
    }

    .faqList {
        margin: 0 16px;
    }

    supr-loader {
        height: var(--loader-height);

        --supr-loader-color: var(--primary-100);
        --supr-loader-width: var(--supr-loader-width);
        --supr-loader-height: var(--supr-loader-height);
    }

    supr-icon {
        --supr-icon-font-size: var(--faq-icon-font-size);

        transition: transform 0.3s ease-in-out;
        transform: rotate(0deg);

        &.up {
            transform: rotate(-180deg);
        }
    }

    .faqSupport {
        supr-modal {
            --supr-modal-content-position: fixed;
        }

        .listItem {
            width: 100%;
        }

        .listContent {
            textarea {
                margin: 8px 0 0;
            }
        }
    }

    .item {
        padding-top: var(--faq-padding-top);
    }

    .heading {
        width: var(--faq-header-width);

        supr-text {
            --supr-text-wrap: normal;
        }
    }

    .description {
        padding: var(--faq-padding-top) 0 0 0;

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-align: left;
            --supr-text-color: var(--black-40);
        }
    }

    .separator {
        border-bottom: 1px solid var(--black-10);
    }

    .faqTemplate {
        .component {
            margin-bottom: 8px;
        }

        .link {
            supr-text {
                --supr-text-color: var(--primary-100);
            }
        }
    }

    supr-text {
        --supr-text-wrap: normal;
    }
}
