:host {
  --primary-buttons-height: 75px;

  .suprScrollContent {
    padding: var(--supr-page-header-height) 0;
  }

  .selfServe {
    margin-bottom: 40px;
  }

  .serviceIssues {
    supr-accordion {
      --supr-accordion-color: var(--black-1);
    }
  }

  .listItem {
    width: 100%;

    supr-order-history-container {
      &.disabled {
        --order-history-product-name-font-color: var(--black-40);
        --order-history-product-image-opacity: 0.4;
      }
    }

    supr-text {
      --supr-text-wrap: normal;

      &.disabled {
        --supr-text-color: var(--black-40);
      }
    }

    .serviceComplaint {
      margin-top: 4px;

      supr-text {
        --supr-text-wrap: normal;
        --supr-text-color: var(--black-60);
      }
    }
  }

  .pseudoDropdown {
    padding: 14px 20px;
    background-color: var(--black-5);
    border-radius: 8px;
    margin-bottom: 16px;
    margin-top: 12px;
    width: 100%;

    supr-text {
      --supr-text-wrap: normal;
    }

    supr-icon {
      --supr-icon-font-size: var(--supr-icon-font-size-large);
    }
  }

  .listContent {
    width: 100%;

    textarea {
      width: inherit;
      border: 1px solid var(--black-10);
      padding: 8px;
      margin: 8px 0 12px;
    }
  }

  supr-page-footer {
    --supr-page-footer-padding: 12px 16px 24px;

    supr-button {
      --supr-button-width: 100%;
    }

    supr-icon {
      --supr-icon-color: var(--primary-100);
    }

    supr-text {
      --supr-text-color: var(--black-40);
      --supr-text-wrap: normal;
    }

    .link {
      supr-text {
        --supr-text-color: var(--primary-100);
      }
    }
  }

  .orderDetails {
    margin: 8px 0 12px;

    supr-dropdown {
      --supr-dropdown-background-color: var(--black-5);
      --supr-dropdown-border: none;
      --supr-dropdown-width: 100%;
      --supr-dropdown-padding: 14px 20px;
      --supr-dropdown-border-radius: 8px;
    }

    .quantitySelection {
      padding: 16px 20px;
      background: var(--black-5);
      border-radius: 8px;
      margin-top: 16px;

      supr-number-counter {
        &.disabled {
          --supr-number-counter-border-color: var(--black-20);
          --supr-number-counter-text-color: var(--white-100);
        }
      }
    }

    .feedback {
      padding: 16px 20px;
      margin-top: 16px;
      background: var(--black-5);
      border-radius: 8px;

      .buttonList {
        min-height: var(--primary-buttons-height);
        display: flex;
        flex-flow: wrap;
        margin: 0 -4px;

        supr-button {
          margin: 4px;
          --supr-button-height: 30px;
          --supr-button-padding: 0 8px;
          --supr-button-bg-color: transparent;
          --supr-button-text-color: var(--primary-100);
          --supr-button-border-color: var(--primary-25);

          &.selected {
            --supr-button-bg-color: var(--primary-100);
            --supr-button-text-color: var(--white-100);
          }
          &.disabled {
            --supr-button-bg-color: var(--black-40);
          }
        }
      }
    }
  }

  .summaryButtons {
    .actionbutton {
      width: 48%;

      supr-button {
        --supr-button-width: 100%;
        --supr-button-height: 40px;

        &.inactive {
          --supr-button-bg-color: var(--white-100);
          --supr-button-text-color: var(--primary-100);
        }
      }
    }
  }

  .imageUpload {
    .block {
      padding: 16px;

      .icon {
        margin-top: 4px;
        width: 50px;

        supr-svg {
          --supr-svg-path: var(--supr-svg-camera);
          --supr-svg-width: 25px;
          --supr-svg-height: 20px;
        }
      }

      .text {
        supr-text {
          --supr-text-wrap: normal;

          &.subtitle {
            --supr-text-color: var(--black-40);
          }
        }
      }

      .list {
        margin-top: 8px;
        width: 100%;

        .order {
          margin-top: 16px;

          .quantity {
            max-width: 33%;
          }
        }
      }

      .upload {
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}
