:host {
    .suprScrollContent {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
        padding-top: var(--supr-page-header-height);

        .ivrCall {
            margin-top: 16px;
        }

        .successTicker {
            margin: 0 -16px;
        }

        supr-list-item {
            --supr-list-item-header-padding: 16px 0 0;
            --supr-list-item-header-align: left;
            --supr-icon-disabled-color: var(--primary-100);
        }

        supr-modal {
            --supr-modal-content-position: fixed;

            supr-text {
                --supr-text-wrap: normal;

                &.listHeader {
                    --supr-text-color: var(--black-60);
                }
            }
        }

        supr-cart-banner {
            --supr-cart-banner-bg-color: var(--success-10);
            --supr-cart-banner-left-border-color: var(--success-100);
        }
    }

    supr-page-footer {
        div {
            margin: 10px 0;
            supr-button {
                --supr-button-width: 100%;

                &.secondary {
                    --supr-button-bg-color: var(--white-100);
                    --supr-button-text-color: var(--primary-100);
                    --supr-button-border-radius: 4px;
                    --supr-button-height: 40px;
                }
            }
        }
    }

    .ivr {
        supr-modal {
            --supr-modal-content-position: fixed;

            supr-text {
                --supr-text-wrap: normal;

                &.listHeader {
                    --supr-text-color: var(--black-60);
                }
            }
        }
    }

    .resumeChat {
        .resumeChatContent {
            border: 1px solid var(--black-10);
            padding: 10px;
            border-radius: 8px;
            margin-top: 16px;

            .image {
                width: auto;

                supr-svg {
                    --supr-svg-path: var(--supr-svg-resume-chat);
                    --supr-svg-width: 63px;
                    --supr-svg-height: 58px;
                }
            }

            .textbox {
                margin-left: 16px;
            }
        }
    }

    .supportCalendar {
        .orderCalendar {
            margin: 0 -16px;
        }

        .calendarLink {
            border: 1px solid var(--black-20);
            padding: 16px;
            border-radius: 4px;

            supr-icon {
                --supr-icon-color: var(--primary-100);
            }

            .link {
                supr-text {
                    --supr-text-color: var(--primary-100);
                }
            }
        }
    }

    .activeComplaints {
        supr-complaints-list {
            --supr-complaints-list-margin: 16px 0;
        }
    }

    .help {
        .actionButton {
            max-width: 50%;
        }

        supr-support-button {
            width: 100%;
        }

        supr-text {
            --supr-text-align: center;
        }
    }

    .col1,
    .col2 {
        width: 10%;

        supr-icon {
            --supr-icon-color: var(--black-20);
            --supr-icon-font-size: 20px;
        }
    }

    .list {
        supr-text {
            --supr-text-color: var(--black-80);
            --supr-text-font-size: var(--supr-font-size-medium);
        }
    }

    .saperator {
        height: 1px;
        border-bottom: 1px solid var(--black-10);
    }

    .supportModal {
        padding: 24px 16px;
    }
}
