:host {
    --supr-full-screen-modal-content-padding: 24px 36px;

    .fullScreenModal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #dbf3f1;

        z-index: calc(var(--supr-backdrop-z-index) + 1);

        supr-modal {
            height: 100%;

            --supr-modal-backdrop-bg-color: transparent;
            --supr-modal-backdrop-bg-image: unset;
        }

        .wrapper {
            padding: var(--supr-full-screen-modal-content-padding);

            supr-text {
                --supr-text-color: var(--black-80);
                --supr-text-wrap: normal;
                --supr-text-align: center;
            }

            supr-image {
                --supr-image-width: 200px;
                --supr-image-height: 200px;
            }
        }

        .footerWrapper {
            position: absolute;
            bottom: 44px;
            left: 50%;
            transform: translateX(-50%);

            supr-button {
                --supr-button-width: 200px;
            }
        }
    }
}
