:host {
  --supr-list-item-padding: 0 16px;
  --supr-list-item-header-padding: 16px 12px;
  --supr-list-item-color: var(--white-100);
  --supr-icon-disabled-color: var(--black-10);
  --supr-list-item-icon-width: 50px;
  --supr-list-item-icon-font-size: 20px;
  --supr-list-item-margin: 0;
  --supr-list-item-header-align: center;

  .suprListItem {
    .header {
      padding: var(--supr-list-item-header-padding);
      background-color: var(--supr-list-item-color);
      margin: var(--supr-list-item-margin);

      .icon {
        width: var(--supr-list-item-icon-width);

        supr-icon {
          --supr-icon-font-size: var(--supr-list-item-icon-font-size);
          --supr-icon-color: var(--black-40);

          &.selected {
            --supr-icon-color: var(--primary-100);
          }

          &.disabled {
            --supr-icon-color: var(--supr-icon-disabled-color);
          }
        }
      }

      .block {
        align-items: var(--supr-list-item-header-align);
      }
    }

    .bufferContent {
      padding: var(--supr-list-item-padding);
    }

    .content {
      padding: var(--supr-list-item-padding);
    }

    .leftCol {
      width: var(--supr-list-item-icon-width);
    }

    .saperator {
      height: 1px;
      border-bottom: 1px solid var(--black-10);
      margin: 0 12px;
    }
  }
}
