:host {
    --supr-week-days-select-container-width: 100%;

    --supr-week-days-select-text-color: var(--black-20);
    --supr-week-days-select-selected-text-color: var(--white-100);

    --supr-week-days-select-bg-color: var(--black-5);
    --supr-week-days-select-selected-bg-color: var(--primary-100);

    --supr-week-days-select-borer-radius: 50%;
    --supr-week-days-select-width: 32px;
    --supr-week-days-select-height: 32px;

    --supr-week-day-custom-text-color: var(--black-40);

    .wrapper {
        width: var(--supr-week-days-select-container-width);
    }
}
