:host {
    --form-supr-map-height: 39vh;
    --form-supr-wrapper-height: 55vh;

    .form {
        supr-input-label {
            --input-label-text-color: var(--black-40);
        }

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--black-40);
        }

        supr-input-label {
            width: 100%;

            &.formInput {
                width: 48%;
            }
        }
    }

    .wrapper {
        padding: var(--supr-content-horizontal-padding);
    }

    supr-map {
        --supr-map-default-height: var(--form-supr-map-height);
    }

    supr-button {
        --supr-button-width: 100%;

        supr-text {
            --supr-text-color: var(--white-100);
        }
    }
}
