:host {
    .suprScrollContent {
        padding: var(--supr-content-padding);
        padding-top: calc(
            var(--supr-page-header-height) +
                var(--supr-content-vertical-padding) / 2
        );

        supr-image {
            --supr-image-border-radius: 0;
        }
    }

    supr-page-footer {
        supr-button {
            width: 48%;

            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }

            &.back {
                --supr-button-bg-color: var(--white-100);

                supr-text {
                    --supr-text-color: var(--primary-100);
                }
            }
        }
    }
}
