<ng-container *ngIf="header || ctaText">
    <div class="suprRow headerWrapper">
        <supr-text type="subheading" *ngIf="header">{{ header }}</supr-text>

        <div class="suprRow ctaWrapper" (click)="handleCtaClick.emit()">
            <supr-text [type]="ctaTextType" *ngIf="ctaText">
                {{ ctaText }}
            </supr-text>
            <supr-icon [name]="_iconNames.CHEVRON_RIGHT"></supr-icon>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="options?.length">
    <div class="suprRow top wrap tilesContainer">
        <ng-container
            *ngFor="let option of options; trackBy: _trackByFn; index as _i"
        >
            <div
                *ngIf="option"
                class="suprColumn tileWrapper"
                saClick
                saImpression
                [saPosition]="_i + 1"
                [saContext]="[saContext]"
                [saObjectName]="saObjectName"
                [saObjectValue]="option.desc?.title"
                (click)="_handleTileClick(option)"
            >
                <supr-wallet-payment-mode-tile
                    subtitleIcon="rupee"
                    [useDirectImageUrl]="true"
                    [title]="option?.desc?.title"
                    [imageSrc]="option?.desc?.image"
                    [subtitle]="option?.desc?.subtitle"
                    [icon]="
                        option?.id === selectedOption &&
                        _iconNames.APPROVE_FILLED
                    "
                ></supr-wallet-payment-mode-tile>
            </div>
        </ng-container>
    </div>
</ng-container>
