:host {
    --cta-icon-font-size: 15px;

    .headerWrapper {
        padding: var(--supr-content-padding);
        padding-bottom: 8px;

        supr-text {
            --supr-text-color: var(--black-80);
        }

        .ctaWrapper {
            margin-left: auto;

            supr-icon {
                --supr-icon-color: var(--primary-100);
                --supr-icon-font-size: var(--cta-icon-font-size);
            }

            supr-text {
                --supr-text-color: var(--primary-100);
            }
        }
    }

    .tilesContainer {
        padding: 16px 8px;

        .tileWrapper {
            width: 25%;
            padding: 8px 8px;

            supr-wallet-payment-mode-tile {
                width: 100%;
            }
        }
    }
}
