:host {
    width: 100%;

    supr-button {
        --supr-button-bg-color: var(--white-100);
        --supr-button-border-color: var(--primary-100);
        --supr-button-loader-color: var(--primary-100);
        --supr-button-width: 100%;

        supr-text {
            --supr-text-color: var(--primary-100);
        }
    }
}
