:host {
    supr-sticky-wrapper {
        --supr-sticky-wrapper-bottom: 0;
        --supr-sticky-wrapper-top: none;
        --supr-sticky-wrapper-bg-color: var(--white-100);

        .footer {
            padding: 18px var(--supr-content-horizontal-padding);

            supr-button {
                width: 100%;

                --supr-button-width: 100%;

                supr-text {
                    --supr-text-color: var(--white-100);
                }
            }
        }
    }
}
