:host {
    .wrapper {
        padding: var(--supr-content-horizontal-padding)
            var(--supr-content-vertical-padding);

        supr-text {
            --supr-text-wrap: normal;

            &.header {
                --supr-text-color: var(--black-80);
            }

            &.content {
                --supr-text-color: var(--black-60);
            }
        }

        supr-button {
            width: 100%;

            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
