:host {
    --grid-column-gap: 30px;
    --grid-column-width: calc(
        (
                100vw - 2 * var(--supr-content-horizontal-padding) - 2 *
                    var(--grid-column-gap)
            ) / 3
    );

    .grid {
        &Row {
            display: grid;
            grid-template-columns:
                var(--grid-column-width) var(--grid-column-width)
                var(--grid-column-width);
            grid-column-gap: var(--grid-column-gap);
        }

        &Tile {
            width: 100%;

            &.leftEdge {
                padding-left: 0;
            }

            &.rightEdge {
                padding-right: 0;
            }

            .wrapper {
                height: 100%;
                width: 100%;
                margin: 0;
                ion-skeleton-text {
                    border-radius: 8px;
                    padding-top: 100%;
                    width: 100%;
                }
            }

            ion-skeleton-text {
                border-radius: 0px;
                padding: 0;
                margin: 0;
                &.title {
                    width: 64px;
                    height: 8px;
                    margin-top: 12px;
                }

                &.info {
                    width: 40px;
                    height: 8px;
                    margin-top: 4px;
                }
            }
        }
    }
}
