:host {
    --supr-tile-width: 100%;
    --supr-tile-height: 100%;

    --supr-tile-img-width: 100%;
    --supr-tile-img-height: auto;

    --supr-tile-img-wrapper-width: 100%;
    --supr-tile-img-wrapper-height: 100%;

    --supr-tile-img-bg-color: transparent;
    --supr-tile-title-color: var(--black-80);

    --supr-tile-img-border-radius: 8px;

    .wrapper {
        width: var(--supr-tile-width);
        height: var(--supr-tile-height);

        supr-text {
            --supr-text-color: var(--supr-tile-title-color);
            --supr-text-wrap: normal;
            --supr-text-align: center;

            margin-top: 8px;
        }
    }

    .imgWrapper {
        width: 100%;
        height: 100%;
        padding-top: 100%;
        overflow: hidden;
        position: relative;

        supr-image {
            --supr-image-width: var(--supr-tile-img-width);
            --supr-image-height: var(--supr-tile-img-height);
            --supr-image-wrapper-padding: 8px;
            --supr-image-wrapper-width: var(--supr-tile-img-wrapper-width);
            --supr-image-wrapper-height: var(--supr-tile-img-wrapper-height);
            --supr-image-border-radius: var(--supr-tile-img-border-radius);
            --supr-image-bg-color: var(--supr-tile-img-bg-color);

            position: absolute;
            width: var(--supr-image-wrapper-width);
            height: var(--supr-image-wrapper-height);
            top: 0px;
            left: 0px;
        }
    }
}
