<ng-container *ngIf="footerMeta">
    <ng-container *ngFor="let lineItem of footerMeta?.lineItems; index as _i">
        <ng-container *ngIf="!lineItem?.multipleLines; else multilinePart">
            <div class="suprRow">
                <div
                    class="suprRow"
                    *ngFor="let part of lineItem?.parts"
                    (click)="handleRowClick(part?.action)"
                >
                    <ng-container *ngIf="part?.prefix?.iconName">
                        <supr-configurable-icon
                            [config]="
                                getPartIconConfig(part, footerMetaKeys.PREFIX)
                            "
                            [ngStyle]="part?.suffix?.iconStyle || {}"
                        ></supr-configurable-icon>
                        <div class="spacer2"></div>
                    </ng-container>

                    <supr-text-fragment
                        *ngIf="part?.text?.text"
                        [type]="part?.text?.textType"
                        [textFragment]="getPartTextConfig(part)"
                        [ngStyle]="part?.text?.textStyle || {}"
                    >
                    </supr-text-fragment>

                    <ng-container *ngIf="part?.suffix?.iconName">
                        <div class="spacer2"></div>
                        <supr-configurable-icon
                            [config]="
                                getPartIconConfig(part, footerMetaKeys.SUFFIX)
                            "
                            [ngStyle]="part?.suffix?.iconStyle || {}"
                        ></supr-configurable-icon>
                    </ng-container>
                </div>
            </div>
            <div class="divider2" *ngIf="(footerMeta?.lineItems)[_i + 1]"></div>
        </ng-container>
        <ng-template #multilinePart>
            <div
                class="suprRow"
                *ngFor="let part of lineItem?.parts"
                (click)="handleRowClick(part.action)"
            >
                <ng-container *ngIf="part?.prefix?.iconName">
                    <supr-configurable-icon
                        [config]="
                            getPartIconConfig(part, footerMetaKeys.PREFIX)
                        "
                        [ngStyle]="part?.suffix?.iconStyle || {}"
                    ></supr-configurable-icon>
                    <div class="spacer2"></div>
                </ng-container>

                <supr-text-fragment
                    *ngIf="part?.text?.text"
                    [type]="part?.text?.textType || {}"
                    [textFragment]="getPartTextConfig(part)"
                    [ngStyle]="part?.text?.textStyle || {}"
                >
                </supr-text-fragment>

                <ng-container *ngIf="part?.suffix?.iconName">
                    <div class="spacer2"></div>
                    <supr-configurable-icon
                        [config]="
                            getPartIconConfig(part, footerMetaKeys.SUFFIX)
                        "
                        [ngStyle]="part?.suffix?.iconStyle || {}"
                    ></supr-configurable-icon>
                </ng-container>
            </div>
        </ng-template>
    </ng-container>
</ng-container>
