:host {
    --supr-dropdown-background-color: var(--black-20);
    --supr-dropdown-border: 1px solid var(--black-80);
    --supr-dropdown-width: auto;
    --supr-dropdown-padding: 8px 20px;
    --supr-dropdown-border-radius: 4px;

    .dropdownModal {
        padding: 24px;

        supr-text {
            --supr-text-wrap: normal;

            &.title {
                --supr-text-color: var(--black-40);
            }
        }

        .option {
            padding: 16px 0;
            border-bottom: 1px solid var(--black-10);

            supr-text {
                --supr-text-wrap: normal;

                &.disabled {
                    --supr-text-color: var(--black-40);
                }
            }
        }
    }

    .dropdownInput {
        padding: var(--supr-dropdown-padding);
        background-color: var(--supr-dropdown-background-color);
        border-radius: var(--supr-dropdown-border-radius);
        margin-top: 16px;

        supr-text {
            --supr-text-wrap: normal;
        }

        supr-icon {
            --supr-icon-font-size: var(--supr-icon-font-size-large);
        }
    }
}
