:host {
    --supr-exit-cart-waring-icon-color: var(--primary-100);
    --supr-exit-cart-waring-icon-size: 20px;

    --supr-exit-cart-message-title-color: var(--black-100);
    --supr-exit-cart-message-subtitle-color: var(--black-40);

    .wrapper {
        padding: var(--supr-content-padding);

        supr-icon {
            --supr-icon-color: var(--supr-exit-cart-waring-icon-color);
            --supr-icon-font-size: var(--supr-exit-cart-waring-icon-size);
        }

        supr-text {
            --supr-text-color: var(--supr-exit-cart-message-title-color);

            &.subtitle {
                --supr-text-color: var(--supr-exit-cart-message-subtitle-color);
                --supr-text-wrap: normal;
            }
        }

        supr-button {
            width: 100%;

            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }

            &.leave {
                --supr-button-bg-color: var(--white-100);

                supr-text {
                    --supr-text-color: var(--primary-100);
                }
            }
        }
    }
}
