:host {
    .wrapper {
        .header {
            padding-bottom: 8px;

            supr-text {
                --supr-text-color: var(--primary-120);
            }

            supr-icon {
                --supr-icon-font-size: 18px;
                --supr-icon-color: var(--primary-120);
            }
        }
    }
}
