<div class="wrapper" [ngClass]="getClasses()">
    <div
        class="suprRow header"
        (click)="toggleHeader()"
        [class.supportAccordion]="_isAccordion"
    >
        <div class="suprColumn stretch top left headerDate">
            <supr-schedule-wrapper-date
                [date]="date"
            ></supr-schedule-wrapper-date>
        </div>
        <div class="suprColumn stretch left top">
            <div class="suprRow left">
                <supr-text type="subtitle" class="dayText headerTitle">
                    {{ _day }}
                    <supr-text
                        type="regular14"
                        [inline]="true"
                        class="headerDay"
                        *ngIf="_isToday || _isTomorrow"
                    >
                        ({{ date | date: "EEE" }})
                    </supr-text>
                </supr-text>

                <ng-container *ngIf="_statusIcon">
                    <div class="spacer8"></div>
                    <supr-icon
                        class="statusIcon"
                        [name]="_statusIcon"
                    ></supr-icon>
                </ng-container>
            </div>

            <div
                *ngIf="!noOrders && _orderStatus; else noOrdersText"
                class="headerSubtitle"
            >
                <supr-text type="paragraph">
                    {{ _orderStatus }}
                </supr-text>
            </div>
            <ng-template #noOrdersText>
                <div class="headerSubtitle">
                    <supr-text type="paragraph">
                        {{ noOrdersMessage || _TEXTS.NO_ORDERS }}
                    </supr-text>
                </div>
            </ng-template>
        </div>
        <div *ngIf="_isAccordion">
            <supr-icon
                name="chevron_up"
                class="primary"
                *ngIf="_expand"
            ></supr-icon>
            <supr-icon
                name="chevron_down"
                class="primary"
                *ngIf="!_expand"
            ></supr-icon>
        </div>
    </div>

    <ng-container *ngFor="let slot of _DELIVERY_SLOTS; first as _first">
        <ng-container
            *ngIf="
                (_expand && orderHistory && orderHistory[slot]) ||
                (_expand && scheduleData && scheduleData[slot])
            "
        >
            <div *ngIf="_slotTimelines && !_first" class="divider10"></div>
            <div class="divider24"></div>

            <supr-delivery-slot-chip
                [slot]="slot"
                [title]="getNestedData(slot, 'title')"
            >
            </supr-delivery-slot-chip>

            <div
                class="helpWrapper"
                *ngIf="!_slotTimelines || !_slotTimelines[slot]"
            >
                <div class="suprRow top helpContent">
                    <div class="suprColumn left">
                        <supr-text type="caption">
                            {{ getNestedData(slot, "subtitle") }}&nbsp;
                            <supr-text
                                class="otp"
                                [inline]="true"
                                type="captionBold"
                                *ngIf="getNestedData(slot, 'otp')"
                            >
                                OTP {{ getNestedData(slot, "otp") }}
                            </supr-text>
                        </supr-text>

                        <div class="divider6"></div>
                        <supr-text
                            saClick
                            type="caption"
                            class="needHelp"
                            (click)="
                                navigateSupport(
                                    getNestedData(slot, 'delivery_timeslots')
                                )
                            "
                            [saContext]="slot"
                            [saContextList]="saContextList"
                            [saObjectName]="saObjectNames.CLICK.NEED_HELP"
                            [saObjectValue]="getNestedData(slot, 'title')"
                        >
                            {{ _TEXTS.NEED_HELP }}
                        </supr-text>
                    </div>

                    <div
                        class="deliveryProofWrapper suprColumn"
                        saClick
                        saImpression
                        [saContext]="slot"
                        [saObjectValue]="date"
                        [saObjectName]="saObjectNames.CLICK.VIEW_PHOTO"
                        *ngIf="getNestedData(slot, 'delivery_proof')"
                        (click)="goToDeliveryProofPage(date, slot)"
                    >
                        <div class="gradientOverlay"></div>
                        <supr-image
                            [src]="getNestedData(slot, 'delivery_proof')"
                            useDirectUrl="true"
                        ></supr-image>
                        <div class="suprRow textWrapper">
                            <supr-text type="subtext10">VIEW</supr-text>
                            <supr-icon name="chevron_right"></supr-icon>
                        </div>
                    </div>
                </div>
            </div>

            <ng-container
                *ngIf="orderHistory && orderHistory[slot]; else scheduleOrders"
            >
                <div
                    saImpression
                    class="itemsWrapper"
                    [saObjectName]="slot"
                    [saContextList]="saContextList"
                    [saObjectValue]="getNestedData(slot, 'title')"
                    [saContext]="getNestedData(slot, 'delivery_timeslots')"
                >
                    <div
                        class="itemsContent"
                        *ngFor="let order of orderHistory[slot]; last as isLast"
                    >
                        <div class="divider24"></div>

                        <supr-order-history-container
                            [date]="date"
                            [order]="order"
                            [orderFeedback]="
                                _orderFeedback && _orderFeedback[order.id]
                            "
                        ></supr-order-history-container>

                        <div
                            class="divider24 separator"
                            *ngIf="
                                !isLast &&
                                _orderFeedback &&
                                _orderFeedback[order.id]
                            "
                        ></div>
                    </div>

                    <ng-container
                        *ngIf="_slotTimelines && _slotTimelines[slot]"
                    >
                        <div class="timelineWrapper">
                            <supr-order-timeline
                                [ngClass]="getClasses()"
                                [slot]="slot"
                                [date]="date"
                                [collapsed]="!_isToday"
                                [multiplePOD]="multiplePOD"
                                [slotTimeline]="_slotTimelines[slot]"
                                [slotTime]="
                                    getNestedData(slot, 'delivery_timeslots')
                                "
                                [headerObjectName]="
                                    saObjectNames.CLICK.DELIVERY_STATUS
                                "
                                [deliveryProofObjectName]="
                                    saObjectNames.CLICK.VIEW_PHOTO
                                "
                            ></supr-order-timeline>

                            <div
                                class="complaintTimeline"
                                *mobxReaction="complaintTimeline.bind(this)"
                            >
                                <supr-timeline
                                    [timelineItems]="complaintList"
                                    [header]="complaintHeader"
                                    headerIcon="headphones"
                                    [collapsed]="!_isToday"
                                    *ngIf="complaintList?.length > 0"
                                >
                                </supr-timeline>
                            </div>
                        </div>

                        <div
                            saClick
                            class="helpChipWrapper"
                            [saContext]="slot"
                            [saContextList]="saContextList"
                            [saObjectName]="saObjectNames.CLICK.NEED_HELP"
                            [saObjectValue]="getNestedData(slot, 'title')"
                        >
                            <supr-chip
                                (handleClick)="
                                    navigateSupport(
                                        getNestedData(
                                            slot,
                                            'delivery_timeslots'
                                        )
                                    )
                                "
                            >
                                <supr-text type="subtext10">
                                    {{ _TEXTS.GET_HELP }}
                                </supr-text>
                            </supr-chip>
                        </div>
                    </ng-container>

                    <div class="borderBottom"></div>

                    <div *ngIf="_isAccordion" class="suprRow supportOptions">
                        <div class="supportButton">
                            <supr-support-button
                                [show]="supportCalendarConfig?.call_access"
                                [displayText]="supportCalendarConfig?.call"
                                (handleClick)="callActionButton()"
                                saImpression
                                saClick
                                [saObjectName]="
                                    supportCalendarConfig?.saObjectNameCall
                                "
                                [saObjectValue]="date"
                                [saContext]="slot"
                            ></supr-support-button>
                        </div>

                        <div class="supportButton">
                            <supr-support-button
                                [show]="supportCalendarConfig?.chat_access"
                                [displayText]="supportCalendarConfig?.chat"
                                (handleClick)="
                                    chatActionButton(
                                        getNestedData(
                                            slot,
                                            'delivery_timeslots'
                                        )
                                    )
                                "
                                saImpression
                                saClick
                                [saObjectName]="
                                    supportCalendarConfig?.saObjectNameChat
                                "
                                [saObjectValue]="date"
                                [saContext]="slot"
                            ></supr-support-button>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-template #scheduleOrders>
                <div
                    saImpression
                    class="itemsWrapper"
                    [saObjectName]="slot"
                    [saContextList]="saContextList"
                    [saObjectValue]="getNestedData(slot, 'title')"
                    [saContext]="getNestedData(slot, 'delivery_timeslots')"
                    *ngIf="scheduleData && scheduleData[slot]"
                >
                    <div
                        class="itemsContent"
                        *ngFor="let order of scheduleData[slot]"
                    >
                        <div class="divider24"></div>

                        <supr-order-history-container
                            [date]="date"
                            [order]="order"
                            [orderFeedback]="
                                _orderFeedback && _orderFeedback[order.id]
                            "
                        ></supr-order-history-container>
                    </div>

                    <div class="borderBottom"></div>
                </div>
            </ng-template>
        </ng-container>
    </ng-container>

    <div
        saImpression
        class="thanksWrapper"
        [saObjectName]="saObjectNames.THANK_YOU_FEEDBACK"
        *ngIf="_showOrderFeedbackThanks"
    >
        <div class="divider12"></div>
        <supr-svg class="feedbackThumbs suprRow center"></supr-svg>
        <supr-text>{{ _feedbackThanks }}</supr-text>
    </div>

    <div *ngIf="!noOrders && _expand" class="divider16"></div>
    <div *ngIf="_isAccordion && _expand" class="divider16"></div>
</div>
