:host {
    --border-color: var(--black-10);

    .header {
        background: var(--black-5);
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        &Day {
            --supr-text-color: var(--black-40);
        }

        &Date {
            width: 52px;
            padding-top: 3px;
            padding-right: 20px;
        }

        &Subtitle {
            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-80);
            }
        }

        supr-icon {
            --supr-icon-color: var(--black-30);
        }
    }

    .noOrders {
        .header {
            background-color: var(--white-100);
            border-top: 1px solid var(--black-5);
        }
    }

    supr-delivery-slot-chip {
        --supr-delivery-slot-chip-border-color: var(--black-10);
    }

    .helpWrapper {
        padding-left: 28px;

        .helpContent {
            padding-top: 12px;
            padding-left: 32px;
            border-left: 1px solid var(--border-color);
            padding-right: var(--supr-content-horizontal-padding);

            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-80);

                &.otp {
                    --supr-text-color: var(--black-100);
                }
            }

            .needHelp {
                --supr-text-color: var(--primary-140);
            }

            .deliveryProofWrapper {
                width: 68px;
                height: 60px;
                padding-left: 8px;
                position: relative;

                .gradientOverlay {
                    right: 0;
                    z-index: 1;
                    width: 60px;
                    height: 60px;
                    border-radius: 5px;
                    position: absolute;
                    background: linear-gradient(
                        180deg,
                        rgba(100, 100, 100, 0) 50%,
                        var(--black-60) 90%
                    );
                }

                .textWrapper {
                    z-index: 2;
                    left: 12px;
                    bottom: 2px;
                    position: absolute;

                    supr-text {
                        --supr-text-color: var(--white-100);
                    }

                    supr-icon {
                        --supr-icon-color: var(--white-100);
                    }
                }

                supr-image {
                    --supr-image-width: 60px;
                    --supr-image-height: auto;
                    --supr-image-wrapper-width: 60px;
                    --supr-image-wrapper-height: 60px;
                }
            }
        }
    }

    .itemsWrapper {
        position: relative;
        padding-left: 28px;

        .itemsContent {
            padding-left: 32px;
            border-left: 1px solid var(--border-color);
            padding-right: var(--supr-content-horizontal-padding);
        }

        .borderBottom {
            width: 16px;
            height: 1px;
            background-color: var(--border-color);
        }

        .supportOptionsSeparator {
            border-left: 1px solid var(--black-10);
        }

        .supportOptions {
            margin-left: 20px;
            position: absolute;
            bottom: -16px;
            .supportButton {
                margin: 0 4px;
                supr-support-button {
                    --supr-support-button-border-radius: 16px;
                    --supr-support-button-height: 30px;
                    --supr-support-button-bg-color: var(--white-100);
                    --supr-support-button-text-color: var(--primary-100);
                }
            }
        }
    }

    .thanksWrapper {
        border-left: 1px solid var(--border-color);

        supr-text {
            --supr-text-align: center;
            --supr-text-color: var(--black-40);
            --supr-text-font-size: var(--supr-font-size-small);
        }

        supr-svg {
            &.feedbackThumbs {
                --supr-svg-width: 75px;
                --supr-svg-height: 60px;
                --supr-svg-background-repeat: round;
                --supr-svg-path: var(--supr-svg-feedback-thumbs-calender);
            }
        }
    }

    .timelineWrapper {
        padding: 16px 16px 26px 32px;
        border-left: 1px solid var(--border-color);

        .complaintTimeline {
            margin-top: 12px;

            supr-timeline {
                --timeline-flow-border-solid: none;
            }
        }
    }

    .tomorrow {
        --border-color: var(--primary-100);

        .header {
            background-color: var(--primary-20);

            &Day {
                --supr-text-color: var(--black-80);
            }
        }
    }

    .today {
        --border-color: var(--primary-50);

        .header {
            border-bottom: none;
            background-color: var(--supr-grey);
        }
    }

    .separator {
        border-bottom: 1px solid var(--black-10);
    }

    .helpChipWrapper {
        bottom: -10px;
        position: absolute;
        padding-left: 32px;

        supr-chip {
            --supr-chip-padding: 2px 8px;

            supr-text {
                --supr-text-color: var(--primary-100);
            }
        }
    }

    .supportAccordion {
        border: 1px solid var(--black-5);
    }

    supr-order-timeline {
        --header-icon-color: var(--black-40);
        --header-text-color: var(--black-40);

        &.today,
        &.tomorrow {
            --header-icon-color: var(--primary-100);
            --header-text-color: var(--primary-100);
        }
    }
}
