:host {
    .suprScrollContent {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
        padding-top: var(--supr-page-header-height);
    }

    .complaintsArchive {
        supr-complaints-list {
            --supr-complaints-list-margin: 16px 0;
        }

        supr-text {
            --supr-text-font-size: var(--supr-font-size-large);
            --supr-text-font-weight: var(--supr-weight-bold);
        }
    }

    .supportModal {
        padding: 24px 16px;
    }
}
