:host {
    .suprScrollContent {
        padding: var(--supr-content-vertical-padding) 0;
        padding-top: var(--supr-page-header-height);
    }

    .listItem {
        width: 100%;

        supr-order-history-container {
            &.disabled {
                --order-history-product-name-font-color: var(--black-40);
                --order-history-product-image-opacity: 0.4;
            }
        }

        supr-text {
            --supr-text-wrap: normal;

            &.disabled {
                --supr-text-color: var(--black-40);
            }
        }

        .serviceComplaint {
            margin-top: 4px;

            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-60);
            }
        }
    }

    .listContent {
        width: 100%;

        textarea {
            width: inherit;
            border: 1px solid var(--black-10);
            padding: 8px;
            margin: 8px 0 12px;
        }
    }

    .orderDetails {
        margin: 8px 0 12px;

        supr-dropdown {
            --supr-dropdown-background-color: var(--black-1);
            --supr-dropdown-border: none;
            --supr-dropdown-width: 100%;
            --supr-dropdown-padding: 14px 20px;
            --supr-dropdown-border-radius: 8px;
        }

        .quantitySelection {
            padding: 16px 20px;
            background: var(--black-1);
            border-radius: 8px;
            margin-top: 16px;

            supr-number-counter {
                &.disabled {
                    --supr-number-counter-border-color: var(--black-20);
                    --supr-number-counter-text-color: var(--white-100);
                }
            }
        }

        .feedback {
            padding: 16px 20px;
            margin-top: 16px;
            background: var(--black-1);
            border-radius: 8px;

            .buttonList {
                min-height: var(--primary-buttons-height);
                display: flex;
                flex-flow: wrap;
                margin: 0 -4px;

                supr-button {
                    margin: 4px;
                    --supr-button-height: 30px;
                    --supr-button-padding: 0 8px;
                    --supr-button-bg-color: transparent;
                    --supr-button-text-color: var(--primary-100);
                    --supr-button-border-color: var(--primary-25);

                    &.selected {
                        --supr-button-bg-color: var(--primary-100);
                        --supr-button-text-color: var(--white-100);
                    }
                    &.disabled {
                        --supr-button-bg-color: var(--black-40);
                    }
                }
            }
        }
    }

    .upload {
        width: 100%;
    }

    .complaintTimeline {
        supr-accordion {
            --supr-accordion-color: var(--success-100);
        }

        supr-timeline {
            --timeline-border: none;
        }
    }
}
