:host {
    .imageWrapper {
        border: 1px solid var(--black-20);

        supr-image {
            --supr-image-border-radius: 0px;
        }
    }

    .feedbackWrapper {
        padding: 18px 12px;
        border-radius: 0 0 8px 8px;
        border: 1px solid var(--black-20);
        border-top: none;

        .reportWrapper {
            supr-text {
                --supr-text-color: var(--salmon-100);
            }

            supr-icon {
                --supr-icon-font-size: 18px;
                --supr-icon-color: var(--salmon-100);
            }
        }
    }
}
