@import "mixins/grid";
@import "mixins/typography";

:host {
    --slider--day-bar-height: 40px;
    --slider--day-date-width: 32px;
    --slider--day-date-height: 32px;
    --slider--height: calc(
        var(--slider--day-date-height) * 6 + var(--slider--day-name-height)
    );
    --supr-calendar-bg-color: var(--white-100);

    .calendar {
        background-color: var(--supr-calendar-bg-color);
        overflow: hidden;
    }

    .header {
        .icon {
            padding: 4px;

            supr-icon {
                @include center-vertical;

                --supr-icon-font-size: 16px;
                --supr-icon-color: var(--primary-100);

                line-height: 24px;
            }
        }
    }

    .slider {
        height: var(--slider--height);

        &Month {
            flex: 1;
        }
    }

    .day {
        &Bar {
            color: var(--black-60);
            font-size: var(--supr-font-size-regular);
            font-weight: var(--supr-weight-semi-bold);

            height: var(--slider--day-bar-height);
            line-height: var(--slider--day-bar-height);

            &Name {
                flex: 1;
                text-transform: capitalize;
            }
        }

        &Date {
            flex: 1;
            height: var(--slider--day-date-height);

            &Container {
                @include center-all;

                height: 100%;
                position: relative;

                &.vacation {
                    background-color: var(--primary-25);

                    &.start {
                        background: linear-gradient(
                            to right,
                            var(--white-100) 50%,
                            var(--primary-25) 50%
                        );
                    }

                    &.end {
                        background: linear-gradient(
                            to left,
                            var(--white-100) 50%,
                            var(--primary-25) 50%
                        );
                    }
                }

                supr-text {
                    --supr-text-color: var(--caution-100);
                    --supr-text-font-size: 8px;

                    position: absolute;
                    bottom: 0;
                }
            }

            &Value {
                @include paragraph;
                @include center-all;

                color: var(--black-40);

                height: var(--slider--day-date-height);
                width: var(--slider--day-date-width);

                &.today {
                    border: 1px solid var(--black-5);
                    border-radius: 50%;
                }

                &.vacation {
                    color: var(--black-40);
                }

                &.disable,
                &.lastMonth,
                &.pause {
                    color: var(--black-10);
                }

                &.selected {
                    background-color: var(--primary-100);
                    color: var(--white-100);

                    border-radius: 50%;
                    border: none;
                }

                .month {
                    text-transform: capitalize;
                    margin-left: 2px;
                }
            }
        }
    }
}
