:host {
    --supr-bookmark-width: 42px;
    --supr-bookmark-height: 43px;
    --supr-bookmark-padding: 5px;

    --supr-bookmark-bg-color: transparent;
    --supr-bookmark-title-color: var(--white-100);
    --supr-bookmark-subtitle-color: var(--white-100);
    --supr-bookmark-notch-bg-color: transparent;

    --supr-bookmark-right-position: 14px;
    --supr-bookmark-top-position: -8px;

    .bookmark {
        &Wrapper {
            position: absolute;
            right: var(--supr-bookmark-right-position);
            top: var(--supr-bookmark-top-position);
        }

        &Content {
            position: relative;
            width: var(--supr-bookmark-width);
            height: var(--supr-bookmark-height);
            text-align: center;
            box-sizing: content-box;
            padding: var(--supr-bookmark-padding);
            background: var(--supr-bookmark-bg-color);
            box-shadow: 0 1px 8px 0 var(--black-15);

            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--supr-bookmark-title-color);

                &.subtitle {
                    --supr-text-color: var(--supr-bookmark-subtitle-color);
                }
            }

            &:after {
                content: "";
                position: absolute;
                right: 0;
                width: 0;
                height: 0;
                border-top: 13px solid var(--supr-bookmark-bg-color);
                border-right: 26px solid transparent;
                border-left: 26px solid transparent;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0px;
                right: -4px;
                width: 0;
                height: 0;
                border-bottom: solid 4px var(--supr-bookmark-notch-bg-color);
                border-left: solid 2px var(--supr-bookmark-notch-bg-color);
                border-right: solid 2px transparent;
                border-top: solid 4px transparent;
            }
        }
    }
}
