@import "mixins/grid";

:host {
    --supr-grid-item-border-width: 1px;
    --supr-grid-item-border-color: var(--black-5);
    --supr-grid-item-width: 100%;
    --supr-grid-item-height: auto;
    --supr-grid-item-bg-color: var(--white-100);

    --supr-grid-card-width: 100%;
    --supr-grid-card-height: 236px;
    --supr-grid-card-padding: 8px;
    --supr-grid-card-border-width: 1px;
    --supr-grid-card-bg-color: var(--white-100);
    --supr-grid-card-border-color: transparent;

    --supr-horizontal-card-width: 152px;
    --supr-horizontal-card-height: 236px;
    --supr-horizontal-card-padding: 8px;
    --supr-horizontal-card-spacing: 8px;
    --supr-horizontal-card-border-radius: 8px;
    --supr-horizontal-card-border-width: 1px;
    --supr-horizontal-card-bg-color: var(--white-100);
    --supr-horizontal-card-border-color: transparent;

    --supr-horizontal-card-top-banner-height: 28px;
    --supr-horizontal-card-bottom-banner-height: 24px;

    --supr-vertical-card-spacing: 8px;
    --supr-vertical-card-border-radius: 4px;
    --supr-vertical-card-bg-color: var(--white-100);
    --supr-vertical-card-border-color: var(--black-5);

    --collection-image-width: 180px;
    --collection-image-height: 200px;

    --vertical-card_padding: 8px 0;

    --hero-grid-vertical-card-width: 128px;
    --hero-grid-card-width: 116px;
    --hero-grid-padding: 8px;
    --hero-grid-margin: 8px;

    --hero-grid-card-vertical-height: 212px;
    --hero-grid-card-vertical-width: 128px;

    --hero-grid-card-horizontal-height: 102px;
    --hero-grid-card-horizontal-width: 116px;

    .grid {
        &Row {
            border-width: 0;
            border-bottom-width: var(--supr-grid-item-border-width);
            border-color: var(--supr-grid-item-border-color);
            border-style: solid;

            &:last-child {
                border: none;
            }

            &Item {
                @include center-all;

                width: var(--supr-grid-item-width);
                height: var(--supr-grid-item-height);
                border-width: 0;
                border-right-width: var(--supr-grid-item-border-width);
                border-color: var(--supr-grid-item-border-color);
                border-style: solid;

                &:last-child {
                    border: none;
                }
            }
        }

        &Card {
            width: var(--supr-grid-card-width);
            height: var(--supr-grid-card-height);
            padding: var(--supr-grid-card-padding);
            border-width: 1px;
            border-style: solid;
            border-color: var(--supr-grid-card-border-color);
        }
    }

    .horizontal {
        @include center-vertical;

        overflow-y: hidden;
        overflow-x: auto;
        margin: 0 calc(var(--supr-content-horizontal-padding) * -1);

        &::-webkit-scrollbar {
            display: none;
        }

        &Card {
            position: relative;
            width: var(--supr-horizontal-card-width);
            height: var(--supr-horizontal-card-height);
            border-radius: var(--supr-horizontal-card-border-radius);
            background-color: var(--supr-horizontal-card-bg-color);
            border-color: var(--supr-horizontal-card-border-color);
            border-width: 1px;
            border-style: solid;

            &.banner {
                &Top {
                    height: calc(
                        var(--supr-horizontal-card-height) +
                            var(--supr-horizontal-card-top-banner-height)
                    );
                }

                &Bottom {
                    height: calc(
                        var(--supr-horizontal-card-height) +
                            var(--supr-horizontal-card-bottom-banner-height)
                    );
                }

                &Both {
                    height: calc(
                        var(--supr-horizontal-card-height) +
                            var(--supr-horizontal-card-top-banner-height) +
                            var(--supr-horizontal-card-bottom-banner-height)
                    );
                }
            }

            &.item {
                padding: var(--supr-horizontal-card-padding);

                &.banner {
                    &Top {
                        padding-top: calc(
                            var(--supr-horizontal-card-padding) +
                                var(--supr-horizontal-card-top-banner-height)
                        );
                    }

                    &Bottom {
                        padding-bottom: calc(
                            var(--supr-horizontal-card-padding) +
                                var(--supr-horizontal-card-bottom-banner-height)
                        );
                    }

                    &Both {
                        padding-top: calc(
                            var(--supr-horizontal-card-padding) +
                                var(--supr-horizontal-card-top-banner-height)
                        );
                        padding-bottom: calc(
                            var(--supr-horizontal-card-padding) +
                                var(--supr-horizontal-card-bottom-banner-height)
                        );
                    }
                }
            }
        }

        supr-collection-horizontal-card {
            margin-left: var(--supr-horizontal-card-spacing);

            &:first-child {
                margin-left: var(--supr-content-horizontal-padding);
            }

            &:last-child {
                padding-right: var(--supr-content-horizontal-padding);
                margin-right: var(--supr-content-horizontal-padding);
            }
        }

        supr-collection-see-all {
            height: 100%;
        }
    }

    .vertical {
        &Card {
            position: relative;
            border-radius: var(--supr-vertical-card-border-radius);
            background-color: var(--supr-vertical-card-bg-color);
            border-color: var(--supr-vertical-card-border-color);
            padding: var(--vertical-card_padding);
            border-width: 1px;
            border-style: solid;

            supr-collection-sku-wide {
                --supr-sku-tag-banner-border-radius: 0 0
                    var(--supr-vertical-card-border-radius)
                    var(--supr-vertical-card-border-radius);
            }
        }

        supr-collection-see-all {
            text-align: center;
        }
    }

    .CollectionImage {
        supr-image {
            --supr-image-width: var(--collection-image-width);
            --supr-image-height: var(--collection-image-height);
        }

        width: var(--collection-image-width);
        margin-right: 8px;
    }

    .heroGrid {
        @include center-vertical;

        overflow-y: hidden;
        overflow-x: auto;
        margin: 0 calc(var(--supr-content-horizontal-padding) * -1);

        &::-webkit-scrollbar {
            display: none;
        }

        supr-image {
            --supr-image-border-radius: 0;
        }

        &Vertical {
            margin-left: calc(2 * var(--hero-grid-margin));
            margin-right: var(--hero-grid-margin);

            &Card {
                width: var(--hero-grid-card-vertical-width);
                height: var(--hero-grid-card-vertical-height);

                supr-image {
                    --supr-image-width: var(--hero-grid-vertical-card-width);
                }
            }
        }

        &Horizontal {
            padding-right: var(--hero-grid-padding);

            &:last-child {
                padding-right: var(--supr-content-horizontal-padding);
            }

            &Card {
                width: var(--hero-grid-card-horizontal-width);
                height: var(--hero-grid-card-horizontal-height);

                &:first-child {
                    margin-bottom: var(--hero-grid-padding);
                }

                supr-image {
                    --supr-image-width: var(--hero-grid-card-width);
                }
            }
        }
    }

    .SingleCardImage {
        supr-image {
            --supr-image-border-radius: 0;
        }
    }
}
