:host {
    --supr-collection-title-color: var(--black-80);
    --supr-collection-subtitle-color: var(--black-80);

    .header {
        &Text {
            &.wrap {
                max-width: 60%;
            }

            supr-text {
                --supr-text-color: var(--supr-collection-title-color);
                --supr-text-wrap: normal;

                &.subtitle {
                    --supr-text-color: var(--supr-collection-subtitle-color);
                }
            }
        }
    }
}
