:host {
    --supr-see-all-text-color: var(--primary-100);
    --supr-see-all-bg-color: var(--white-100);
    --supr-see-all-card-width: 152px;
    --supr-see-all-card-height: 216px;
    --supr-see-all-border-radius: 8px;
    --supr-see-all-border-width: 1px;
    --supr-see-all-border-color: transparent;

    --supr-see-all-btn-padding: 4px 19px;
    --supr-see-all-btn-border-radius: 20px;

    --supr-see-all-icon-size: 20px;

    .wrapper {
        supr-text {
            --supr-text-color: var(--supr-see-all-text-color);
        }

        supr-icon {
            --supr-icon-color: var(--supr-see-all-text-color);
            --supr-icon-font-size: var(--supr-see-all-icon-size);
        }

        &.card {
            height: 100%;

            .suprRow {
                height: 100%;
            }
        }

        .button {
            border-width: 1px;
            border-style: solid;
            border-color: var(--supr-see-all-border-color);
            border-radius: var(--supr-see-all-btn-border-radius);
            background-color: var(--supr-see-all-bg-color);
            padding: var(--supr-see-all-btn-padding);
        }

        .buttonVerticalBottom {
            justify-content: center;

            supr-text {
                --supr-text-color: var(--supr-see-all-text-color);
                --supr-text-wrap: normal;
            }

            supr-icon {
                --supr-icon-color: var(--supr-see-all-text-color);
            }
        }
    }
}
