:host {
    --supr-sku-ribbon-position-top: 8px;
    --supr-sku-ribbon-position-bottom: 0;

    --supr-sku-img-width: auto;
    --supr-sku-img-height: 80px;

    --supr-sku-name-color: var(--black-100);
    --supr-sku-price-color: var(--black-100);
    --supr-sku-price-strike-color: var(--black-30);
    --supr-sku-qty-color: var(--black-40);

    --supr-sku-wide-padding: 8px;

    --supr-sku-tag-banner-border-radius: 0 0 4px 4px;

    .sku {
        height: 100%;
        width: 100%;

        &.wide {
            .tileContainer {
                padding: var(--supr-sku-wide-padding);
            }

            supr-collection-tag-banner {
                --supr-tag-border-radius: var(
                    --supr-sku-tag-banner-border-radius
                );

                position: static;
            }
        }

        .suprColumn {
            height: 100%;
        }

        &Section {
            width: 100%;

            &.fadeIn {
                opacity: 0.3;
            }
        }

        supr-collection-tag-ribbon {
            position: absolute;
            top: var(--supr-sku-ribbon-position-top);
            left: -1px;
        }

        supr-collection-tag-banner {
            position: absolute;
            bottom: var(--supr-sku-ribbon-position-bottom);
            left: -1px;
            right: -1px;
        }

        supr-image {
            --supr-image-width: var(--supr-sku-img-width);
            --supr-image-height: var(--supr-sku-img-height);
        }

        supr-text {
            &.name {
                --supr-text-color: var(--supr-sku-name-color);
                --supr-text-wrap: normal;
                --supr-text-truncate-line-count: 2;
            }

            &.price {
                --supr-text-color: var(--supr-sku-price-color);

                &Strike {
                    --supr-text-color: var(--supr-sku-price-strike-color);
                    --supr-text-decoration: line-through;
                }
            }

            &.qty {
                --supr-text-color: var(--supr-sku-qty-color);
            }
        }
    }
}
