:host {
    --supr-collection-width: 100%;
    --supr-collection-title-color: var(--black-80);
    --supr-collection-subtitle-color: var(--black-80);
    --supr-collection-tnc-color: var(--black-40);
    --supr-collection-bg-color: var(--white-100);
    --supr-collection-bg-image-size: cover;

    --supr-collection-see-all-color: var(--primary-100);
    --supr-collection-see-all-bg-color: var(--white-100);

    .collection {
        position: relative;
        background-color: var(--supr-collection-bg-color);
        background-size: var(--supr-collection-bg-image-size);
        margin: 0 calc(var(--supr-content-horizontal-padding) * -1);
        padding: 0 var(--supr-content-horizontal-padding);
    }

    .addPadding {
        padding: var(--supr-content-horizontal-padding);
    }
}
