:host {
    --supr-tag-bg-color: var(--white-100);
    --supr-tag-text-color: var(--black-100);
    --supr-tag-border-color: var(--black-5);

    --supr-tag-width: 100%;
    --supr-tag-height: 24px;

    --supr-tag-icon-width: 16px;
    --supr-tag-icon-height: 16px;

    --supr-tag-border-radius: 0 0 8px 8px;

    .tag {
        supr-text {
            --supr-text-color: var(--supr-tag-text-color);
        }

        supr-image {
            --supr-image-width: var(--supr-tag-icon-width);
            --supr-image-height: var(--supr-tag-icon-height);
            --supr-image-wrapper-width: var(--supr-tag-icon-width);
            --supr-image-wrapper-height: var(--supr-tag-icon-height);
        }

        &.ribbon {
            margin: 0 4px;
        }

        &.banner {
            background-color: var(--supr-tag-bg-color);
            width: var(--supr-tag-width);
            height: var(--supr-tag-height);
            border-radius: var(--supr-tag-border-radius);

            &.border {
                border-top: 1px solid var(--supr-tag-border-color);
            }
        }
    }
}
