@import "mixins/grid";

:host {
    --supr-v3-tile-title-color: var(--black-100);

    --supr-v3-tile-image-width: 72px;
    --supr-v3-tile-image-height: 72px;

    .tile {
        margin-bottom: 12px;
        min-height: 100%;

        supr-image {
            --supr-image-width: var(--supr-v3-tile-image-width);
            --supr-image-height: var(--supr-v3-tile-image-height);
        }

        &Image {
            @include center-vertical;
            justify-content: center;
        }
    }

    supr-v3-tile-variant-d {
        &:first-child {
            margin-right: 12px;
        }

        &:last-child {
            margin-right: 12px;
        }
    }
}
