:host {
    --sku-reward-tag-bg-color: var(--delight-15);
    --sku-reward-tag-text-color: var(--delight-130);
    --sku-reward-icon-color: var(--delight-130);
    --sku-reward-info-icon-color: var(--delight-130);

    supr-tag {
        &.freeItemTag {
            --supr-tag-padding: 4px 12px;
            --supr-tag-border-radius: 4px;
            --supr-tag-bg-color: var(--sku-reward-tag-bg-color);

            supr-text {
                --supr-text-color: var(--sku-reward-tag-text-color);
                --supr-text-transform: uppercase;
            }

            supr-icon {
                --supr-icon-color: var(--sku-reward-icon-color);
                --supr-icon-wrapper-size: 12px;
                --supr-icon-font-size: 12px;

                &.suprPassIcon {
                    --supr-icon-color: var(--sku-reward-icon-color);
                    --supr-icon-wrapper-size: initial;
                    --supr-icon-font-size: 12px;
                    margin-left: -6px;
                }
            }
        }
    }

    supr-icon {
        --supr-icon-color: var(--sku-reward-info-icon-color);
    }

    supr-modal {
        .wrapper {
            padding: 16px 16px 48px;

            supr-text {
                --supr-text-color: var(--black-40);
                --supr-text-wrap: normal;
            }
        }
    }
}
