:host {
    --supr-expand-banner-border-radius: 8px;
    --supr-expand-banner-bg-color: var(--primary-20);
    --supr-expand-banner-title-color: var(--primary-100);
    --supr-expand-banner-icon-color: var(--primary-100);
    --supr-expand-banner-subtitle-color: var(--black-100);
    --supr-expand-banner-subtitle-font-size: var(--supr-font-size-small);
    --supr-expand-banner-title-font-size: var(--supr-font-size-medium);
    --supr-expand-banner-title-weight: var(--supr-weight-semi-bold);
    --supr-expand-ribbon-padding-y: 16px;
    --supr-expand-ribbon-padding-x: 16px;
    --supr-expand-ribbon-subtitle-font-weight: var(--supr-weight-semi-bold);
    --supr-expand-ribbon-border: inherit;

    supr-ribbon {
        --supr-ribbon-border-radius: var(--supr-expand-banner-border-radius);
        --supr-ribbon-bg-color: var(--supr-expand-banner-bg-color);
        --supr-ribbon-padding-y: var(--supr-expand-ribbon-padding-y);
        --supr-ribbon-padding-x: var(--supr-expand-ribbon-padding-x);
        --supr-ribbon-border: var(--supr-expand-ribbon-border);

        &.noLeftPadding {
            --supr-ribbon-padding-x: 0;
        }

        supr-text {
            --supr-text-font-weight: var(--supr-expand-banner-title-weight);
            --supr-text-font-size: var(--supr-expand-banner-title-font-size);
            --supr-text-color: var(--supr-expand-banner-title-color);

            --supr-text-text-overflow: ellipsis;
            --supr-text-overflow: hidden;
            --supr-text-wrap: normal;

            &.subtitle {
                --supr-text-color: var(--supr-expand-banner-subtitle-color);
                --supr-text-font-weight: var(
                    --supr-expand-ribbon-subtitle-font-weight
                );
                --supr-text-font-size: var(
                    --supr-expand-banner-subtitle-font-size
                );
            }
        }

        supr-icon {
            --supr-icon-color: var(--supr-expand-banner-icon-color);
        }
    }
}
