<supr-page-header>
    <supr-text type="heading">Global Components</supr-text>
</supr-page-header>

<ion-content>
    <div class="content" [ngClass]="getClassNames()">
        <div class="section">
            <ion-title padding class="sectionTitle"
                >Supr Input Label
            </ion-title>
            <div class="sectionInput">
                <supr-input-label
                    label="Name"
                    placeholder="Write your name"
                    (handleInputChange)="inputChangeLabel()"
                ></supr-input-label>

                <supr-input-label
                    label="Phone Number"
                    placeholder="Enter your number"
                    value="9538406805"
                    disabled="true"
                    (handleInputChange)="inputChangeLabel()"
                ></supr-input-label>
            </div>
        </div>

        <div class="section">
            <ion-title padding class="sectionTitle"
                >Schedule Product Tile
            </ion-title>
            <div class="sectionInput">
                <supr-schedule-product-tile></supr-schedule-product-tile>
            </div>
        </div>
        <div class="section">
            <ion-title padding class="sectionTitle"
                >Counter Flat Add Button
            </ion-title>
            <div class="sectionInput">
                <supr-number-counter
                    [quantity]="quantity3"
                    [thresholdQty]="-1"
                    [minusDisabled]="!quantity3"
                    (handleClick)="onQuantityUpdate3($event)"
                    type="flat"
                >
                </supr-number-counter>
                <br />
                <supr-number-counter
                    [quantity]="quantity4"
                    [thresholdQty]="-1"
                    [minusDisabled]="!quantity4"
                    (handleClick)="onQuantityUpdate4($event)"
                    type="flat"
                >
                </supr-number-counter>
            </div>
        </div>
        <div class="section">
            <ion-title padding class="sectionTitle">
                Modals
            </ion-title>

            <div class="sectionInput">
                <div class="suprRow">
                    <supr-button (handleClick)="openModal1()">
                        Open Modal
                    </supr-button>
                    <div class="spacer24"></div>
                    <supr-button (handleClick)="openModal1(false)">
                        Open Modal(no animation)
                    </supr-button>
                </div>
                <supr-text type="body" *ngIf="modalCloseMsg">
                    {{ modalCloseMsg }}
                </supr-text>
            </div>
        </div>
        <div class="section">
            <ion-title padding class="sectionTitle">
                Week Days Selection
            </ion-title>
            <div class="sectionInput">
                <supr-week-days-small
                    [selectedDays]="selectedDays"
                ></supr-week-days-small>

                <supr-week-days-select
                    [selectedDays]="selectedDays1"
                    (handleSelect)="handleWeekDaysSelect($event)"
                ></supr-week-days-select>
            </div>
        </div>

        <div class="section">
            <ion-title padding class="sectionTitle">
                Add Item
            </ion-title>

            <div class="sectionInput">
                <supr-add-item (handleClick)="addItem()"></supr-add-item>
            </div>
        </div>

        <div class="section">
            <ion-title padding class="sectionTitle">Supr Card</ion-title>
            <div class="sectionInput">
                <supr-card></supr-card>
            </div>
        </div>

        <div class="section">
            <ion-title padding class="sectionTitle">Radio Button</ion-title>
            <div class="sectionInput suprRow">
                <supr-radio-button
                    [selected]="radio1"
                    text="3 deliveries"
                    (handleClick)="radio1 = !radio1"
                ></supr-radio-button>
                <div class="spacer16"></div>
                <supr-radio-button
                    [selected]="radio2"
                    text="6 deliveries"
                    (handleClick)="radio2 = !radio2"
                ></supr-radio-button>
                <div class="spacer16"></div>
            </div>
        </div>
        <div class="section">
            <ion-title padding class="sectionTitle">Bottom Sheet</ion-title>
            <div class="sectionInput">
                <supr-button (handleClick)="toggleBottomSheet(true)">
                    Open Bottom Sheet
                </supr-button>
            </div>
        </div>
        <div class="section pages">
            <ion-title padding class="sectionTitle">
                Pages
            </ion-title>
            <div class="sectionCounter">
                <div class="suprRow">
                    <supr-button
                        style="margin-right: 10px;"
                        (handleClick)="goToPage('home')"
                    >
                        Home
                    </supr-button>
                    <supr-button
                        style="margin-right: 10px;"
                        (handleClick)="goToPage('search')"
                    >
                        Search
                    </supr-button>
                    <supr-button
                        style="margin-right: 10px;"
                        (handleClick)="goToPage('address')"
                    >
                        Address
                    </supr-button>
                </div>
                <div class="suprRow">
                    <supr-button
                        style="margin-right: 10px;"
                        (handleClick)="goToPage('wallet')"
                    >
                        Wallet
                    </supr-button>

                    <supr-button
                        style="margin-right: 10px;"
                        (handleClick)="goToPage('login')"
                    >
                        Login
                    </supr-button>

                    <supr-button
                        style="margin-right: 10px;"
                        (handleClick)="goToPage('password')"
                    >
                        OTP
                    </supr-button>
                </div>
                <div class="suprRow" style="margin-top:10px">
                    <supr-button
                        style="margin-right: 10px;"
                        (handleClick)="goToPage('category')"
                    >
                        Category
                    </supr-button>
                    <supr-button
                        style="margin-right: 10px;"
                        (handleClick)="goToPage('cart')"
                    >
                        Cart
                    </supr-button>
                    <supr-button
                        style="margin-right: 10px;"
                        (handleClick)="goToPage('schedule')"
                    >
                        Schedule
                    </supr-button>
                </div>
                <div class="suprRow" style="margin-top:10px">
                    <supr-button
                        style="margin-right: 10px;"
                        (handleClick)="goToPage('subscription')"
                    >
                        Subscription
                    </supr-button>

                    <supr-button
                        style="margin-right: 10px;"
                        (handleClick)="goToPage('cityselection')"
                    >
                        Select City
                    </supr-button>
                    <supr-button
                        style="margin-right: 10px;"
                        (handleClick)="goToPage('walletCart')"
                    >
                        Wallet From Cart
                    </supr-button>
                </div>
            </div>
        </div>
        <div class="section side-menu">
            <ion-title padding class="sectionTitle">
                Side Menu
            </ion-title>
            <div class="sectionInput">
                <supr-side-menu-opener class="default" name="home-menu">
                </supr-side-menu-opener>
                <supr-side-menu-opener class="primary" name="home-menu">
                </supr-side-menu-opener>
            </div>
        </div>
        <div class="section text">
            <ion-title padding class="sectionTitle">
                Text component
            </ion-title>
            <div class="sectionCounter">
                <supr-text type="title">Title text</supr-text>
                <supr-text class="subtitle" type="subtitle">
                    Sub Title text
                </supr-text>
                <supr-text class="heading" type="heading">
                    Heading text
                </supr-text>
                <supr-text type="Subheading">Subheading text</supr-text>
                <supr-text type="paragraph">Paragraph text</supr-text>
                <supr-text type="caption">Caption text</supr-text>
                <supr-text class="action14" type="action14">
                    Action 14 text
                </supr-text>
                <supr-text type="body">Body text</supr-text>
                <supr-text type="subtext10">Subtext 10 text</supr-text>
            </div>
        </div>
        <div class="section chip">
            <ion-title padding class="sectionTitle">
                Chip
            </ion-title>
            <div class="sectionCounter">
                <div class="suprRow">
                    <div class="suprColumn">
                        <supr-chip color="primary">
                            <span style="color:var(--primary-100)">
                                3 active plans
                            </span>
                        </supr-chip>
                    </div>
                    <div
                        class="suprColumn center"
                        style="padding: 5px; background: var(--primary-100)"
                    >
                        <supr-chip class="white">Rs. 100 balance</supr-chip>
                    </div>
                </div>
            </div>
        </div>
        <div class="section number-counter">
            <ion-title padding class="sectionTitle">
                Number Counter
            </ion-title>
            <div class="sectionCounter">
                <div class="suprRow">
                    <div class="suprColumn">
                        <supr-number-counter
                            [quantity]="quantity"
                            (handleClick)="onQuantityUpdate($event)"
                        >
                        </supr-number-counter>
                        <ion-label style="color: var(--black-60)"
                            >(Default)
                        </ion-label>
                    </div>
                    <div class="suprColumn center">
                        <supr-number-counter
                            [quantity]="quantity1"
                            [plusDisabled]="quantity1 > 5"
                            (handleClick)="onQuantityUpdate1($event)"
                        >
                        </supr-number-counter>

                        <ion-label style="color: var(--black-60)">
                            qty > 5 (disabled)
                        </ion-label>
                    </div>
                    <div class="suprColumn center">
                        <supr-number-counter
                            [quantity]="quantity2"
                            [thresholdQty]="-1"
                            [minusDisabled]="!quantity2"
                            (handleClick)="onQuantityUpdate2($event)"
                        >
                        </supr-number-counter>
                        <ion-label style="color: var(--black-60)"
                            >showZero
                        </ion-label>
                    </div>
                </div>
            </div>
        </div>
        <div class="section calendar">
            <ion-title padding class="sectionTitle">
                Calendar
            </ion-title>
            <div class="cal-container">
                <supr-calendar
                    [startDate]="initDate"
                    (selectDate)="updateSelectedDate($event)"
                ></supr-calendar>

                <div class="suprRow center" style="margin-bottom: 10px;">
                    <supr-button
                        style="margin-right: 10px;"
                        variant="outline"
                        [disabled]="initDate.dateText === '2019-07-25'"
                        (handleClick)="openCal1()"
                    >
                        July 25, 2019
                    </supr-button>
                    <supr-button
                        variant="fill"
                        [disabled]="initDate.dateText === '2019-08-10'"
                        (handleClick)="openCal2()"
                    >
                        Aug 10, 2019
                    </supr-button>
                </div>
                <ion-item>
                    <ion-label>selected date: {{ selectedDate }}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        current start date: {{ initDate.dateText }}
                    </ion-label>
                </ion-item>
            </div>
        </div>

        <supr-icon-list></supr-icon-list>

        <div class="section pull-over">
            <ion-title padding class="sectionTitle">
                Pull over
            </ion-title>
            <div class="sectionDragHolder">
                <supr-draggable-top></supr-draggable-top>
            </div>
        </div>

        <div class="section tag">
            <ion-title padding class="sectionTitle">
                Tags
            </ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <supr-tag text="new"></supr-tag>
                    </ion-col>
                    <ion-col>
                        <supr-tag text="popular" variant="black"></supr-tag>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label>Primary, White</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label>Black, White</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div class="section otp-input">
            <ion-title padding class="sectionTitle">
                Enter 4 Digit OTP
            </ion-title>
            <div class="sectionInput">
                <supr-otp-input length="4" (updateOtp)="onOtpUpdate($event)">
                </supr-otp-input>
                <div class="sectionInputTyped">
                    Otp entered: {{ otpEntered }}
                </div>
            </div>
        </div>

        <div class="section search-input">
            <ion-title padding class="sectionTitle">
                Search Input
            </ion-title>
            <div class="sectionInput">
                <supr-search-input
                    placeholder="Search"
                    (changeText)="onSearchInputText($event)"
                >
                </supr-search-input>
                <div class="sectionInputTyped">
                    You typed: {{ searchInputText }}
                </div>
            </div>
        </div>
        <div class="section">
            <ion-toolbar>
                <ion-title>Supr Image</ion-title>
            </ion-toolbar>
            <supr-image
                src="https://media.istockphoto.com/photos/organic-homemade-whole-wheat-bread-picture-id474679296?k=6&m=474679296&s=612x612&w=0&h=6fZNeknQlHuyRW1WUFLBJVrOg4C8kuyom-xTB3TeKiQ="
                alt="Sample Text"
                class="rounded"
            ></supr-image>

            <supr-image
                src="https://www.heritagefoods.in/static/images/milk-3.png"
                alt="Sample Text"
                class="circle"
            ></supr-image>
        </div>

        <div class="section">
            <ion-toolbar>
                <ion-title>Supr Button</ion-title>
            </ion-toolbar>
            <div class="sectionBtnGrid">
                <div class="sectionBtnGridRow suprRow">
                    <div class="sectionBtnGridColumn suprColumn">
                        <supr-button variant="fill" color="primary">
                            Primary - inline
                        </supr-button>
                    </div>
                    <div class="sectionBtnGridColumn suprColumn">
                        <supr-button variant="outline" color="primary">
                            outline - primary
                        </supr-button>
                    </div>
                </div>
                <div class="sectionBtnGridRow suprRow">
                    <div class="sectionBtnGridColumn suprColumn">
                        <supr-button
                            variant="outline"
                            color="secondary"
                            width="100%"
                        >
                            outline - secondary - block
                        </supr-button>
                    </div>
                </div>
                <div class="sectionBtnGridRow suprRow">
                    <div class="sectionBtnGridColumn suprColumn">
                        <supr-button width="100%"
                            >primary - fill - block
                        </supr-button>
                    </div>
                </div>
                <div class="sectionBtnGridRow suprRow">
                    <div class="sectionBtnGridColumn suprColumn">
                        <supr-button variant="fill" width="150px">
                            fill - width - 150px
                        </supr-button>
                    </div>
                </div>
                <div class="sectionBtnGridRow suprRow">
                    <div class="sectionBtnGridColumn suprColumn">
                        <supr-button [disabled]="true"
                            >fill - disabled
                        </supr-button>
                    </div>
                    <div class="sectionBtnGridColumn suprColumn">
                        <supr-button variant="outline" [disabled]="true">
                            outline - disabled
                        </supr-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="section skeleton">
            <ion-title padding class="sectionTitle">
                Skeleton Text
            </ion-title>
            <div class="sectionInput">
                <ion-avatar slot="start">
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-item>
                    <ion-skeleton-text
                        style="width: 20%; height: 70px;"
                        slot="start"
                    ></ion-skeleton-text>
                    <ion-label>
                        <h3>
                            <ion-skeleton-text animated style="width: 50%">
                            </ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 80%">
                            </ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 60%">
                            </ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-thumbnail slot="start">
                        <ion-skeleton-text
                            style="width: 20%; height: 70px;"
                            slot="start"
                        ></ion-skeleton-text>
                    </ion-thumbnail>
                    <ion-label>
                        <h3>
                            <ion-skeleton-text animated style="width: 50%">
                            </ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 80%">
                            </ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 60%">
                            </ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-thumbnail slot="start">
                        <ion-skeleton-text
                            animated
                            style="--border-radius: 10px"
                        ></ion-skeleton-text>
                    </ion-thumbnail>
                    <ion-label>
                        <h3>
                            <ion-skeleton-text animated style="width: 50%">
                            </ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 80%">
                            </ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 60%">
                            </ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>
            </div>
        </div>

        <div class="section">
            <ion-title padding class="sectionTitle">
                Supr Product Tile
            </ion-title>
            <div class="sectionInput">
                <supr-product-tile [sku]="productTile"></supr-product-tile>
            </div>
        </div>

        <div class="section">
            <ion-title padding class="sectionTitle">
                Supr Ribbon
            </ion-title>
            <div class="sectionInput">
                <supr-ribbon>
                    <supr-text type="body">
                        ₹28 will be refunded to your Supr Wallet.
                    </supr-text>
                </supr-ribbon>
            </div>
        </div>

        <div class="section">
            <ion-title padding class="sectionTitle">
                Back Button
            </ion-title>
            <div class="sectionInput">
                <supr-back-button></supr-back-button>
            </div>
        </div>

        <div class="section">
            <ion-title padding>Category Tiles</ion-title>
            <div class="sectionInput">
                <div class="category-container">
                    <supr-category-grid></supr-category-grid>
                </div>
            </div>
        </div>

        <div class="section">
            <ion-title padding class="sectionTitle">Supr Cart</ion-title>
            <button (click)="openCart()">Open Cart</button>
            <supr-cart></supr-cart>
        </div>
    </div>
</ion-content>
