:host {
    --vacation-view-theme: var(--alert-100);

    .vacation {
        --vacation-view-theme: var(--salmon-100);
    }

    .iconWrapper {
        width: 43px;
        padding-left: 11px;
        padding-right: 12px;
    }

    supr-icon {
        --supr-icon-font-size: 20px;
        --supr-icon-color: var(--vacation-view-theme);

        &.chevron {
            --supr-icon-font-size: 12px;
        }
    }

    supr-text {
        --supr-text-wrap: normal;
        --supr-text-color: var(--vacation-view-theme);
    }
}
