:host {
    .contactCard {
        supr-text {
            --supr-text-wrap: normal;
        }

        .contactCircle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: var(--salmon-80);
            position: relative;
            margin-bottom: auto;

            &.shareCardCircle {
                background: var(--primary-50);
            }

            supr-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                --supr-text-color: var(--white-100);
                --supr-text-transform: uppercase;
            }

            supr-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-left: -2px;

                --supr-icon-color: var(--white-100);
                --supr-icon-font-size: 10px;
            }
        }

        .contactBlock {
            max-width: calc(100% - 110px);

            .contactName {
                supr-text {
                    --supr-text-color: var(--black-80);
                    --supr-text-transform: capitalize;

                    &.shareCardName {
                        background: var(--black-100);
                    }
                }
            }

            .contactNumber {
                supr-text {
                    --supr-text-color: var(--black-40);

                    &.shareCardNumber {
                        background: var(--primary-100);
                    }
                }
            }
        }

        .contactAction {
            margin-left: auto;
            margin-bottom: auto;

            supr-text {
                --supr-text-color: var(--primary-100);
            }

            supr-icon {
                --supr-icon-color: var(--primary-100);
            }

            .invitedText {
                supr-text {
                    --supr-text-color: var(--black-20);
                }
            }
        }
    }
}
