:host {
    --supr-referral-header-bg: #ebfff9;
    --supr-referral-header-padding-bottom: 32px;
    --supr-referral-warning-icon-color: #f28d18;
    --supr-referral-warning-icon-font-size: 12px;

    .referralHeader {
        background: var(--supr-referral-header-bg);
        margin-left: calc(var(--supr-content-horizontal-padding) * -1);
        margin-right: calc(var(--supr-content-horizontal-padding) * -1);
        padding: 0 var(--supr-content-horizontal-padding);
        padding-bottom: var(--supr-referral-header-padding-bottom);
        border-bottom-left-radius: 50% 25%;
        border-bottom-right-radius: 50% 25%;

        &.lowBottomPadding {
            padding-bottom: 24px;
        }

        &Content {
            max-width: 80%;
        }

        supr-text-fragment {
            --supr-text-fragment-align: center;

            &.boldText {
                --supr-text-fragment-font-weight: var(--supr-weight-bold);
            }

            &.semiBoldText {
                --supr-text-fragment-font-weight: var(--supr-weight-semi-bold);
            }
        }

        .imgWrapper {
            text-align: center;

            img {
                height: 90px;
                width: 90px;
            }
        }

        supr-icon.warningInfo {
            --supr-icon-color: var(--supr-referral-warning-icon-color);
            --supr-icon-font-size: var(--supr-referral-warning-icon-font-size);
        }
    }
}
