:host {
    .referralCodeBlockWrapper {
        supr-text {
            --supr-text-wrap: normal;

            &.referralTitle {
                --supr-text-color: var(--black-80);
            }

            &.referralCaption {
                --supr-text-color: var(--black-40);
            }
        }

        supr-input-label {
            width: 100%;
        }

        .formBlock {
            position: relative;

            .submitFloater {
                position: absolute;
                height: 48px;
                right: 0;
                top: 4px;
                padding: 0 22px 0 13px;

                supr-text {
                    --supr-text-color: var(--primary-100);
                }

                &::before {
                    content: "";
                    height: 20px;
                    width: 1px;
                    background: var(--black-10);
                    position: absolute;
                    top: 14px;
                    left: 0;
                }
            }
        }
    }
}
