:host {
    --footnote-height: 69px;
    --container-padding-bottom: calc(
        var(--supr-content-vertical-padding) + var(--supr-page-header-height)
    );

    --container-padding-bottom-with-note: calc(
        var(--supr-content-vertical-padding) + var(--supr-page-header-height) +
            var(--footnote-height)
    );

    .suprScrollContent {
        scroll-behavior: smooth;
        padding: var(--supr-page-header-height)
            var(--supr-content-horizontal-padding)
            var(--container-padding-bottom);

        &.hasFootNote {
            padding-bottom: var(--container-padding-bottom-with-note);
        }
    }

    .faqTopBar {
        margin-right: 12px;

        supr-text {
            --supr-text-color: var(--primary-100);
        }

        supr-icon {
            --supr-icon-color: var(--primary-100);
        }
    }

    .loaderContainer {
        height: 100%;

        supr-loader {
            --supr-loader-color: var(--primary-100);
            --supr-loader-width: 200px;
            --supr-loader-height: 40px;
        }
    }

    .rewardsBlock {
        padding-top: 16px;
    }

    .referralInfoWrapper {
        .imgWrapper {
            text-align: center;

            img {
                height: 90px;
                width: 90px;
            }
        }

        supr-text {
            --supr-text-wrap: normal;

            &.pageHeader {
                --supr-text-color: var(--black-40);
            }

            &.titleText {
                --supr-text-color: var(--primary-120);
                --supr-text-transform: uppercase;
                --supr-text-align: center;
                --supr-text-font-size: var(--supr-font-size-regular);
                --supr-text-font-weight: var(--supr-weight-bold);
                --supr-text-line-height: 28px;
                --supr-text-letter-spacing: 0.08em;
            }

            &.subTitleText {
                --supr-text-color: var(--black-80);
                --supr-text-align: center;
                --supr-text-font-size: var(--supr-font-size-medium);
                --supr-text-font-weight: var(--supr-weight-normal);
                --supr-text-line-height: 22px;
            }

            &.memberTitleText {
                --supr-text-align: center;
            }
        }
    }

    .bannerBlock {
        background-color: var(--primary-10);
        padding: 8px 20px 8px 12px;
        border-radius: 4px;

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--primary-120);
        }
    }

    .fullPagePadding {
        padding: calc(var(--supr-page-header-height) + 16px)
            var(--supr-content-horizontal-padding)
            calc(var(--supr-content-vertical-padding));
    }

    .faqsBlock {
        .faqContentWrapper {
            padding-top: 16px;
        }
    }

    supr-text {
        &.sectionTitle {
            --supr-text-color: var(--black-80);
        }
    }

    .genericReferralBlock {
        padding-bottom: 16px;
        border-bottom: 1px solid var(--black-40);
    }

    .syncContactsWrapper {
        supr-text {
            --supr-text-wrap: normal;

            &.syncText {
                --supr-text-color: var(--black-80);
                --supr-text-align: center;
            }
        }

        .syncImg {
            margin-top: 44px;
        }
    }

    supr-page-footer {
        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }

        .alternateBlock {
            supr-text {
                --supr-text-color: var(--primary-100);
            }

            supr-icon {
                --supr-icon-color: var(--primary-100);
            }
        }
    }
}
