:host {
    .wrapper {
        position: relative;
        height: var(--supr-map-default-height);

        agm-map {
            height: 100%;
        }

        .currentLocationMarker {
            width: var(--supr-map-current-location-width);
            height: var(--supr-map-current-location-height);
            position: var(--supr-map-current-location-position);
            right: var(--supr-map-current-location-offset-right);
            bottom: var(--supr-map-current-location-offset-bottom);
            text-align: var(--supr-map-current-location-text-align);
            background-color: var(--supr-map-current-location-bg-color);
            border-radius: var(--supr-map-current-location-border-radius);
            border: var(--supr-map-current-location-border-width)
                var(--supr-map-current-location-border-width)
                var(--supr-map-current-location-border-color);
            box-shadow: var(--supr-map-current-location-box-shadow);
            -moz-box-shadow: var(--supr-map-current-location-box-shadow);
            -webkit-box-shadow: var(--supr-map-current-location-box-shadow);
        }

        .markerWrapper {
            width: 100%;
            position: absolute;
            top: var(--supr-map-default-marker-offset-top);
        }
    }
}
