:host {
    supr-svg {
        --supr-svg-path: var(--supr-svg-map-pointer);
        --supr-svg-width: var(--supr-svg-map-pointer-width);
        --supr-svg-height: var(--supr-svg-map-pointer-height);
    }

    supr-chip {
        --supr-chip-min-width: 100px;
        --supr-chip-min-height: 30px;
        --supr-chip-border-color: var(--supr-map-location-marker-border-color);
        --supr-chip-background-color: var(--supr-map-location-marker-bg-color);

        supr-text {
            --supr-text-color: var(--supr-map-location-marker-text-color);
        }

        &.error {
            --supr-chip-border-color: var(--alert-100);
            --supr-chip-background-color: var(--alert-100);
        }

        supr-loader {
            --supr-loader-height: 16px;
        }
    }

    .pin {
        width: var(--supr-map-location-marker-pin-width);
        height: var(--supr-map-location-marker-pin-height);
        background-color: var(--supr-map-location-marker-bg-color);

        &.error {
            background-color: var(--alert-100);
        }
    }

    .base {
        border-radius: 50%;
        width: var(--supr-map-location-marker-base-width);
        height: var(--supr-map-location-marker-base-height);
        background-color: var(--supr-map-location-marker-bg-color);

        &.error {
            background-color: var(--alert-100);
        }
    }
}
