:host {
    --supr-map-default-height: 400px;

    --supr-map-current-location-width: 40px;
    --supr-map-current-location-height: 40px;

    --supr-map-current-location-text-align: center;

    --supr-map-current-location-position: absolute;
    --supr-map-current-location-offset-right: 12px;
    --supr-map-current-location-offset-bottom: 20px;

    --supr-map-current-location-border-radius: 50%;
    --supr-map-current-location-border-width: 1px;
    --supr-map-current-location-border-style: solid;
    --supr-map-current-location-border-color: var(--black-20);
    --supr-map-current-location-bg-color: var(--white-100);

    --supr-map-current-location-box-shadow: 0px 0px 4px 0px var(--black-20);

    --supr-map-location-marker-bg-color: var(--primary-100);
    --supr-map-location-marker-text-color: var(--white-100);
    --supr-map-location-marker-border-color: var(--primary-100);
    --supr-map-location-marker-pin-width: 2px;
    --supr-map-location-marker-pin-height: 16px;
    --supr-map-location-marker-base-width: 12px;
    --supr-map-location-marker-base-height: 4px;

    --supr-map-default-marker-offset-top: 40%;
}
