:host {
    --header-padding-top: 36px;
    --header-svg-width: 103px;
    --header-svg-height: 49px;

    --content-padding-bottom: calc(
        var(--supr-page-footer-height) + var(--supr-content-vertical-padding)
    );

    --city-icon-border-radius: 8px;

    --city-tile-height: 82px;
    --city-tile-border-width: 1px;
    --city-tile-margin-right: 28px;

    --city-svg-width: 48px;
    --city-svg-height: 48px;

    --city-selected-icon-size: 24px;

    --supr-city-selection-footer-padding: 12px
        var(--supr-content-horizontal-padding)
        var(--supr-content-vertical-padding);

    .header {
        padding: var(--supr-content-vertical-padding) 0 0 0;

        supr-svg {
            --supr-svg-path: var(--supr-svg-logo-large-url);
            --supr-svg-width: var(--header-svg-width);
            --supr-svg-height: var(--header-svg-height);
        }
    }

    .suprScrollContent {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
        padding-bottom: var(--content-padding-bottom);
    }

    supr-button {
        --background: var(--primary-100);
        --supr-button-width: 100%;

        supr-text {
            --supr-text-color: var(--white-100);
        }
    }

    .grid {
        supr-city-selection-city {
            margin-right: var(--city-tile-margin-right);
            flex: 1;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .city {
        &Icon {
            position: relative;
            height: var(--city-tile-height);
            border: 1px solid var(--black-10);
            border-radius: var(--city-icon-border-radius);

            &.selected {
                border: 2px solid var(--primary-100);
            }

            supr-svg {
                --supr-svg-path: var(--city-svg-url);
                --supr-svg-width: var(--city-svg-width);
                --supr-svg-height: var(--city-svg-height);

                position: relative;
                margin: auto;

                &.bangalore {
                    --supr-svg-width: 64px;
                }
            }

            supr-icon {
                --supr-icon-color: var(--primary-100);
                --supr-icon-font-size: var(--city-selected-icon-size);

                position: absolute;
                left: calc(50% - 12px);
                top: 31px;

                border-radius: 50%;
                background-color: var(--white-100);
            }
        }

        supr-text {
            --supr-text-align: center;
            --supr-text-color: var(--primary-100);
            --supr-text-transform: capitalize;
        }
    }

    .note {
        supr-text {
            --supr-text-color: var(--black-40);

            &:last-child {
                --supr-text-color: var(--primary-100);
            }
        }
    }

    supr-text {
        &.subtitle {
            --supr-text-color: var(--black-40);
        }
    }

    supr-page-footer {
        --supr-page-footer-padding: var(--supr-city-selection-footer-padding);
    }
}
