:host {
    --footer-padding-top: 16px;

    supr-sticky-wrapper {
        --supr-sticky-wrapper-top: none;
        --supr-sticky-wrapper-bottom: 0;
    }

    .footer {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
        padding-top: var(--footer-padding-top);
        background-color: var(--white-100);
        box-shadow: 0 -1px 5px 0px var(--black-10);

        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }

        supr-text {
            &.body {
                --supr-text-color: var(--black-40);
            }
        }
    }
}
