:host {
    --header-content-width: 100vw;
    --header-content-height: calc(196px - var(--supr-page-header-height));
    --header-content-padding: 30px var(--supr-content-horizontal-padding) 16px;

    --header-edit-link-left-spacing: 64px;

    .header {
        &Content {
            width: var(--header-content-width);
            height: var(--header-content-height);
            background-color: var(--header-bg-color);
            padding: var(--header-content-padding);
            box-sizing: border-box;

            supr-subscription-product-tile {
                --tile-product-name-color: var(--white-100);
                --tile-product-qty-color: var(--white-100);
                --tile-product-frequency-icon-color: var(--white-100);
                --tile-product-frequency-text-color: var(--white-100);
                --tile-product-frequency-day-text-color: var(--white-15);
                --tile-product-frequency-selected-day-text-color: var(
                    --white-100
                );

                width: 100%;
            }

            .edit {
                margin-left: var(--header-edit-link-left-spacing);

                supr-text {
                    --supr-text-transform: uppercase;
                    --supr-text-color: var(--white-100);
                }

                supr-icon {
                    --supr-icon-color: var(--white-100);
                    --supr-icon-font-size: 12px;
                }
            }
        }
    }
}
