:host {
    supr-backdrop {
        --supr-backdrop-bg-color: var(--white-30);
        --supr-backdrop-bg-image: unset;
    }

    .suprScrollContent {
        background-color: var(--primary-5);
        height: 100%;

        supr-loader {
            --supr-loader-color: var(--primary-100);
            --supr-loader-width: 200px;
            --supr-loader-height: 40px;
        }
    }
}
