:host {
    --content-padding-bottom: 88px;

    --header-bg-color: var(--primary-100);
    --header-title-color: var(--white-60);
    --header-back-button-color: var(--white-100);

    supr-page-header {
        --supr-page-header-bg-color: var(--header-bg-color);
        --supr-page-header-back-button-color: var(--header-back-button-color);
        --supr-page-header-border-height: 0;

        supr-text {
            --supr-text-color: var(--header-title-color);
        }
    }

    .suprScrollContent {
        padding-top: var(--supr-page-header-height);
        padding-bottom: var(--content-padding-bottom);

        .body {
            padding: var(--supr-content-vertical-padding)
                var(--supr-content-horizontal-padding);
        }
    }

    .suprPassPlansWrapper {
        supr-icon {
            --supr-icon-color: var(--primary-100);
            --supr-icon-font-size: 10px;
        }
    }

    .bannerBlock {
        background-color: var(--primary-10);
        padding: 8px 20px 8px 12px;
        border-radius: 4px;

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--primary-120);
        }
    }
}
