:host {
    supr-sticky-wrapper {
        --supr-sticky-wrapper-top: none;
        --supr-sticky-wrapper-bottom: 0;
        --supr-sticky-wrapper-bg-color: var(--white-100);
    }

    .footerWrapper {
        padding: 12px 16px 24px;

        supr-button {
            width: 100%;

            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }

            supr-icon {
                --supr-icon-color: var(--white-100);
            }
        }
    }
}
