:host {
    --cart-summary-text-margin-bottom: 16px;
    --cart-summary-text-padding-bottom: 16px;

    --cart-footer-button-width: 100%;

    --supr-msg-container-padding: 8px;
    --supr-msg-container-border-radius: 5px;

    .summary {
        supr-text {
            &:last-child {
                --supr-text-color: var(--black-40);

                margin-left: auto;
            }

            --supr-text-color: var(--black-100);

            &.success {
                --supr-text-color: var(--success-100);
            }

            &.dark {
                --supr-text-color: var(--black-100) !important;
            }

            &.priceStrike {
                --supr-text-color: var(--black-40);
                --supr-text-decoration: line-through;
            }
        }

        .delFeePriceBlock {
            margin-left: auto;
        }

        .suprPassBlock {
            supr-text {
                margin-left: initial;
                --supr-text-color: var(--black-40);

                &.suprPassText {
                    --supr-text-color: var(--primary-100);
                    --supr-text-decoration: underline;
                }
            }
        }

        .suprCredits {
            --supr-text-color: var(--lime-150) !important;
        }

        .line {
            height: 1px;
            background-color: var(--black-10);
        }

        supr-svg.creditsImage {
            --supr-svg-width: 17px;
            --supr-svg-height: 17px;
            --supr-svg-path: var(--supr-svg-supr-credits-img);
        }

        .delFeeRefundMessage {
            padding: var(--supr-msg-container-padding);
            border-radius: var(--supr-msg-container-border-radius);
            background: var(--primary-10);
            border: 2px dashed var(--black-5);

            supr-text {
                margin-left: initial !important;

                --supr-text-wrap: normal;
                --supr-text-color: var(--primary-100);
            }
        }

        .scMessage {
            padding: var(--supr-msg-container-padding);
            border-radius: var(--supr-msg-container-border-radius);
            background: var(--lime-10);

            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-60);

                &.suprCredits {
                    --supr-text-color: var(--lime-160);
                }
            }
        }

        .delFeeInfo {
            --supr-icon-color: var(--black-20);
        }
    }
}
