:host {
    --tile-expired-bg-color: var(--black-5);
    --tile-active-bg-color: var(--white--100);
    --tile-recharge-bg-color: var(--red-10);

    .tile {
        &Image {
            width: 104px;
            padding-right: 16px;

            supr-image {
                --supr-image-width: 56px;
                --supr-image-height: 56px;
                --supr-image-border-width: 1px;
                --supr-image-border-radius: 50%;
                --supr-image-wrapper-width: 80px;
                --supr-image-wrapper-height: 80px;
                --supr-image-bg-color: var(--white-100);
                --supr-image-border-color: var(--black-10);
            }
        }

        &Content {
            &Name {
                width: 95%;

                --supr-text-wrap: normal;
                --supr-text-color: var(--black-80);
            }

            &Frequency {
                supr-icon {
                    --supr-icon-font-size: 12px;
                    --supr-icon-color: var(--black-40);
                }

                supr-week-days-small {
                    --week-day-small-day-selected-text-color: var(--black-80);
                }
            }

            &Balance {
                supr-text {
                    &.label {
                        --supr-text-color: var(--black-40);
                    }

                    &.value {
                        --supr-text-color: var(--black-80);
                    }
                }
            }
        }

        &Recharge {
            supr-card {
                --supr-card-bg-color: var(--tile-recharge-bg-color);
            }
        }

        &Expired {
            supr-card {
                --supr-card-bg-color: var(--tile-expired-bg-color);
            }
        }
    }
}
