:host {
    --supr-radio-button-container-height: 40px;
    --supr-radio-button-container-width: inherit;
    --supr-radio-button-container-border-radius: 4px;
    --supr-radio-button-container-padding: 0 8px;

    --supr-radio-button-circle-size: 18px;
    --supr-radio-button-right-icon-size: 20px;

    --supr-radio-button-text-color: var(--primary-100);
    --supr-radio-button-text-wrap: inherit;
    --supr-radio-button-bg-color: var(--primary-10);
    --supr-radio-button-circle-color: var(--black-20);
    --supr-radio-button-right-icon-color: var(--primary-100);

    --supr-radio-button-selected-text-color: var(--white-100);
    --supr-radio-button-selected-bg-color: var(--primary-100);
    --supr-radio-button-selected-circle-color: var(--white-100);
    --supr-radio-button-selected-right-icon-color: var(--white-100);

    .wrapper {
        height: var(--supr-radio-button-container-height);
        width: var(--supr-radio-button-container-width);
        background-color: var(--supr-radio-button-bg-color);
        border-radius: var(--supr-radio-button-container-border-radius);
        padding: var(--supr-radio-button-container-padding);
        box-sizing: border-box;

        supr-icon {
            --supr-icon-font-size: var(--supr-radio-button-circle-size);
            --supr-icon-color: var(--supr-radio-button-circle-color);

            &.right {
                --supr-icon-font-size: var(--supr-radio-button-right-icon-size);
                --supr-icon-color: var(--supr-radio-button-right-icon-color);

                margin-left: auto;
            }
        }

        supr-text {
            --supr-text-color: var(--supr-radio-button-text-color);
            --supr-text-wrap: var(--supr-radio-button-text-wrap);
        }

        &.selected {
            background-color: var(--supr-radio-button-selected-bg-color);

            supr-icon {
                --supr-icon-color: var(
                    --supr-radio-button-selected-circle-color
                );

                &.right {
                    --supr-icon-color: var(
                        --supr-radio-button-selected-right-icon-color
                    );
                }
            }

            supr-text {
                --supr-text-color: var(--supr-radio-button-selected-text-color);
            }
        }

        &.disabled {
            background-color: var(--black-10);

            supr-text {
                --supr-text-color: var(--black-30);
            }
        }
    }
}
