:host {
  --header-text-color: var(--primary-100);
  --header-icon-color: var(--primary-100);
  --timeline-border: 1px solid var(--black-10);
  --timeline-flow-border-solid: 1px solid var(--primary-60);
  --timeline-line-item-title-color: var(--black-40);
  --timeline-line-item-active-title-color: var(--black-80);

  .timeline {
    padding: 12px;
    border-radius: 8px;
    border: var(--timeline-border);

    &Header {
      padding-bottom: 12px;

      &.collapsed {
        padding-bottom: 0;
      }

      supr-icon {
        margin-right: 8px;

        --supr-icon-color: var(--header-icon-color);
        --supr-icon-font-size: var(--supr-font-size-regular);
      }

      supr-text-highlight {
        --supr-text-color: var(--header-text-color);
      }

      .chevron {
        margin-right: 0;
        margin-left: auto;

        --supr-icon-color: var(--black-40);
        --supr-icon-font-size: var(--supr-font-size-large);
      }
    }

    &Content {
      padding-left: 1px;
      border-top: var(--timeline-border);

      .lineItem {
        &IconWrapper {
          width: 8px;
          height: 8px;
          padding-top: 2px;
          margin-right: 13px;

          supr-icon {
            --supr-icon-font-size: 12px;
            --supr-icon-color: var(--black-40);

            &.checked {
              --supr-icon-color: var(--primary-100);
            }
          }
        }

        &SubtitleWrapper {
          padding-left: 21px;
        }

        &Image {
          padding-top: 8px;
          padding-left: 22px;

          &Wrapper {
            width: 80px;
            height: 80px;
            position: relative;

            .overlay {
              right: 0;
              z-index: 1;
              width: 80px;
              height: 80px;
              border-radius: 5px;
              position: absolute;
              background: linear-gradient(200deg, rgba(100, 100, 100, 0) 50%, var(--black-60) 90%);
            }

            .textWrapper {
              left: 8px;
              z-index: 2;
              bottom: 2px;
              position: absolute;

              supr-text-highlight {
                --supr-text-color: var(--white-100);
              }

              supr-icon {
                --supr-icon-color: var(--white-100);
              }
            }

            supr-image {
              --supr-image-width: 80px;
              --supr-image-height: auto;
              --supr-image-wrapper-width: 80px;
              --supr-image-wrapper-height: 80px;
            }
          }
        }

        supr-text-highlight {
          --supr-text-wrap: normal;
          --supr-text-color: var(--timeline-line-item-title-color);

          &.active {
            --supr-text-color: var(--timeline-line-item-active-title-color);
          }
        }

        supr-text-highlight {
          --supr-text-highlight-color: var(--primary-120);
        }
      }

      .bordered {
        left: 6px;
        padding-left: 14px;
        position: relative;
        border-left: 1px dashed var(--black-40);

        &.solid {
          border-left: var(--timeline-flow-border-solid);
        }

        .lineItemImage,
        .lineItemSubtitleWrapper {
          padding-left: 0;
        }
      }
    }
  }
}
