<div class="timeline">
    <div
        saClick
        saImpression
        [class.collapsed]="collapsed"
        class="suprRow timelineHeader"
        [saContext]="headerContext"
        [saObjectName]="headerObjectName"
        [saObjectValue]="headerObjectValue"
        [saContextList]="headerContextList"
        (click)="toggleTimeline()"
        *ngIf="isHeader"
    >
        <supr-icon [name]="headerIcon"></supr-icon>

        <supr-text-highlight
            type="action14"
            [text]="header?.text"
            [highlightedText]="header?.highlightText"
        >
        </supr-text-highlight>

        <supr-icon
            class="chevron"
            name="chevron_down"
            *ngIf="collapsed"
        ></supr-icon>

        <supr-icon
            class="chevron"
            name="chevron_up"
            *ngIf="!collapsed"
        ></supr-icon>
    </div>

    <div class="timelineContent" *ngIf="timelineItems?.length && !collapsed">
        <div class="divider14"></div>
        <div
            class="suprRow"
            *ngFor="let lineItem of timelineItems; last as isLast; index as _i"
        >
            <div class="lineItem" *ngIf="lineItem">
                <div class="suprRow top">
                    <div class="lineItemIconWrapper">
                        <supr-icon
                            [name]="lineItem?.icon"
                            [class.checked]="lineItem?.checked"
                        ></supr-icon>
                    </div>
                    <supr-text-highlight
                        type="paragraph"
                        [text]="lineItem?.title?.text"
                        [class.active]="lineItem?.checked"
                        [highlightedText]="lineItem?.title?.highlightText"
                    >
                    </supr-text-highlight>
                </div>

                <div
                    [class.bordered]="!isLast"
                    [class.solid]="timelineItems[_i + 1]?.checked"
                >
                    <div
                        *ngIf="lineItem?.subtitle?.text"
                        class="lineItemSubtitleWrapper"
                    >
                        <div class="divider2"></div>
                        <supr-text-highlight
                            type="caption"
                            [text]="lineItem?.subtitle?.text"
                            [highlightedText]="
                                lineItem?.subtitle?.highlightText
                            "
                        >
                        </supr-text-highlight>
                    </div>

                    <div
                        class="lineItemImage"
                        *ngIf="lineItem?.image?.url"
                        (click)="handleImageClick.emit()"
                    >
                        <div
                            class="lineItemImageWrapper"
                            saClick
                            saImpression
                            [saContext]="imageContext"
                            [saObjectName]="imageObjectName"
                            [saObjectValue]="imageObjectValue"
                        >
                            <div class="overlay"></div>
                            <supr-image
                                useDirectUrl="true"
                                [src]="lineItem?.image?.url"
                            ></supr-image>
                            <div class="suprRow textWrapper">
                                <supr-text-highlight
                                    type="subtext10"
                                    [text]="lineItem?.image?.text"
                                    [highlightedText]="
                                        lineItem?.image?.highlightText
                                    "
                                >
                                </supr-text-highlight>
                                <supr-icon name="chevron_right"></supr-icon>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!isLast" class="divider14"></div>
                </div>
            </div>
        </div>
    </div>
</div>
