:host {
    supr-chip {
        width: calc(50% - 8px);

        --supr-chip-min-width: 100%;
        --supr-chip-border-radius: 4px;
        --supr-chip-border-color: var(--black-5);

        supr-text {
            --supr-text-color: var(--black-40);
        }

        &.active {
            --supr-chip-border-color: var(--primary-20);
            --supr-chip-background-color: var(--primary-20);

            supr-text {
                --supr-text-color: var(--primary-120);
            }
        }
    }
}
