:host {
    --supr-discount-block-border-radius: 8px;
    --supr-discount-block-border: solid 1px var(--black-10);

    .discount {
        &Wrapper {
            padding: var(--supr-content-horizontal-padding);
            padding-bottom: 6px;
        }

        &Content {
            position: relative;
            border: var(--supr-discount-block-border);
            border-radius: var(--supr-discount-block-border-radius);
        }
    }

    .noteText {
        --supr-text-color: var(--black-40);
    }
}
