:host {
    .loaderContainer {
        height: 100%;

        supr-loader {
            --supr-loader-color: var(--primary-100);
            --supr-loader-width: 200px;
            --supr-loader-height: 40px;
        }
    }

    supr-section-header {
        --supr-section-header-bg-color: var(--supr-grey);
        --supr-section-header-icon-color: var(--black-100);
        --supr-section-header-icon-size: 20px;
    }

    .noOffers {
        margin-top: 80px;
        text-align: center;

        supr-svg {
            --supr-svg-path: var(--supr-coupon-disabled);
            --supr-svg-width: 80px;
            --supr-svg-height: 80px;
        }

        supr-text {
            --supr-text-color: var(--black-40);
            --supr-text-wrap: normal;

            max-width: 240px;
        }
    }

    .itemWrapper {
        padding: 12px 16px;

        supr-image {
            --supr-image-width: 30px;
            --supr-image-height: auto;
        }

        supr-text {
            --supr-text-wrap: normal;

            &.title {
                --supr-text-color: var(--black-80);
            }

            &.description {
                --supr-text-color: var(--black-40);
                --supr-text-truncate-line-count: 2;
            }

            &.learnMore {
                --supr-text-color: var(--primary-100);
            }

            &.tapApply {
                --supr-text-color: var(--primary-100);
            }

            &.error {
                --supr-text-color: var(--caution-100);
            }

            &.noCouponText {
                --supr-text-color: var(--black-60);
            }

            &.disabled {
                --supr-text-color: var(--black-20);
            }
        }

        supr-icon {
            &.chevRight {
                --supr-icon-font-size: 18px;
                --supr-icon-color: var(--primary-100);
            }
        }

        supr-button {
            --supr-button-bg-color: var(--white-100);
            --supr-button-text-color: var(--primary-100);
            --supr-button-border-color: var(--primary-100);
            --supr-button-border-radius: 8px;
            --supr-button-min-width: 110px;

            &.disabled {
                --supr-button-disabled-bg-color: var(--white-100);
                --supr-button-text-color: var(--black-20);
                --supr-button-disabled-border-color: var(--black-20);
                --supr-button-disabled-opacity: 1;
            }
        }
    }
}
