:host {
    --supr-sku-tile-bg-color: #f6f4ff;
    --supr-sku-item-the-day-color: var(--primary-100);

    .tile {
        background-color: var(--white-100);
    }

    .wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        position: relative;
        width: calc(100vw - 32px);

        &Image {
            padding: 8px 4px;
            z-index: 10;
            position: absolute;
            border-radius: 8px;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
            border: 1px solid var(--supr-sku-item-the-day-color);
            background-color: var(--white-100);

            &Img {
                --supr-image-width: 80px;
                --supr-image-height: 90px;
                --supr-image-border-radius: 4px;
            }
        }

        &Content {
            width: 100%;
            height: 100%;
            margin-left: 16px;
            border-radius: 4px;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
            background-color: var(--supr-sku-tile-bg-color);
            padding: 14px 14px 14px 0;

            &Details {
                padding-left: 92px;

                &Off {
                    border-radius: 74px;
                    background-color: var(--success-100);
                    padding: 8px;
                    height: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                supr-text {
                    --supr-text-overflow: hidden;

                    &.title {
                        --supr-text-color: var(--supr-sku-item-the-day-color);
                    }
                    &.off {
                        --supr-text-color: var(--white-100);
                    }

                    &.urgency {
                        --supr-text-color: var(--brown-4);
                    }
                }
            }
        }
    }

    .skuDetails {
        position: relative;

        supr-text {
            &.name {
                --supr-text-wrap: normal;
                --supr-text-truncate-line-count: 2;

                width: 60%;
            }

            &.price {
                --supr-text-color: var(--supr-sku-price-color);

                &Strike {
                    --supr-text-color: var(--black-40);
                    --supr-text-decoration: line-through;
                }
            }

            &.qty {
                --supr-text-color: var(--black-40);
            }
        }
    }

    .overlay {
        opacity: 0.8;
    }

    .skuBtn {
        position: relative;

        supr-add-button {
            --supr-add-button-counter-border-color: var(
                --supr-sku-item-the-day-color
            );
            --supr-add-button-counter-bg-color: var(--white-100) !important;
            --supr-add-button-counter-icon-color: var(
                --supr-sku-item-the-day-color
            );
            --supr-add-button-counter-text-color: var(
                --supr-sku-item-the-day-color
            );
        }
    }
}
