:host {
    .suprScrollContent {
        padding: var(--supr-content-padding);
        padding-top: calc(var(--supr-page-header-height) + 24px);

        supr-text {
            --supr-text-color: var(--black-80);
            --supr-text-wrap: normal;

            &.textTitle {
                --supr-text-color: var(--black-60);
            }

            &.suggestionText {
                --supr-text-color: var(--black-40);
            }
        }
    }

    .requestProductBlock {
        background-color: var(--primary-10);
        border-radius: 4px;
        padding: 16px 16px 24px;

        supr-text {
            --supr-text-color: var(--black-80);
            --supr-text-align: center;
            --supr-text-wrap: normal;

            &.subTitle {
                --supr-text-color: var(--black-40);
            }
        }

        supr-button {
            --supr-button-width: 100%;
            --supr-button-text-color: var(--primary-100);
            --supr-text-color: var(--primary-100);
            --supr-button-bg-color: transparent;
        }
    }

    textarea {
        width: 100%;
        background-color: var(--black-3);
        border-radius: 6px;
        padding: 12px;
        line-height: 24px;
        border: none;
    }

    supr-button {
        --supr-button-width: 100%;
    }

    supr-page-header {
        font-size: var(--supr-font-size-medium);
    }
}
