:host {
    --container-bg-color: var(--white-100);
    --categories-padding-top: 16px;
    --results-padding-top: 24px;
    --sub-balance-bg-color: var(--red-10);
    --supr-page-no-results-text-color: var(--black-10);

    .suprScrollContent {
        padding-top: var(--supr-page-header-height);

        &.cartPresent {
            padding-bottom: calc(80px + var(--supr-content-vertical-padding));
        }
    }

    .resultsWrapper {
        overflow-y: auto;
        --alternates-offset: 0px;
        --cart-footer-offset: 0px;
        --header-content-offset: 56px;

        &.searchFiltersEnabled {
            --header-content-offset: 122px;
        }

        &.alternateResults {
            --alternates-offset: 24px;
        }

        &.cartPresent {
            --cart-footer-offset: calc(
                54px + var(--supr-content-vertical-padding)
            );
        }

        height: calc(
            100vh - var(--supr-page-header-height) -
                var(--header-content-offset) - var(--alternates-offset) -
                var(--cart-footer-offset)
        );
    }

    .subscriptionBalance {
        padding: var(--supr-content-horizontal-padding);
        width: 100vw;
        background-color: var(--sub-balance-bg-color);

        supr-text {
            --supr-text-color: var(--black-40);
        }
    }

    .subscribedProducts {
        margin: 0 calc(var(--supr-content-horizontal-padding) * -1);
        overflow-y: hidden;
        overflow-x: auto;

        supr-subscribed-product-tile-container:first-child {
            margin-left: var(--supr-content-horizontal-padding);
        }
    }

    .results {
        padding-top: var(--results-padding-top);
    }

    .noresults {
        padding: 0 var(--supr-content-horizontal-padding);

        supr-svg {
            --supr-svg-path: var(--supr-svg-not-found-url);
            --supr-svg-width: 140px;
            --supr-svg-height: 100px;
        }
        padding-top: 24px;

        supr-text {
            --supr-text-color: var(--black-60);
        }
    }

    .paddedWrapper {
        padding: 0 var(--supr-content-horizontal-padding);
    }
}
