:host {
    --supr-exit-cart-message-title-color: var(--black-100);
    --supr-exit-cart-message-subtitle-color: var(--black-40);

    .wrapper {
        padding: var(--supr-content-padding);
        padding-bottom: 130px;

        supr-text {
            --supr-text-color: var(--supr-exit-cart-message-title-color);
            --supr-text-wrap: normal;

            &.subtitle {
                --supr-text-color: var(--supr-exit-cart-message-subtitle-color);
            }

            &.warning {
                --supr-text-color: var(--caution-100);
            }
        }

        .savingsTexts {
            width: calc(100% - 80px);

            supr-icon {
                --supr-icon-font-size: 7px;
                --supr-icon-color: var(--primary-100);

                margin-top: 8px;
                margin-right: 12px;
            }
        }

        .logo {
            margin-left: auto;
            .imgWrapper {
                text-align: center;

                img {
                    height: 48px;
                    width: 48px;
                }
            }
        }

        .actionButtons {
            position: absolute;
            bottom: 0;
            width: 100%;
            margin-left: calc(var(--supr-content-horizontal-padding) * -1);
            padding: var(--supr-content-horizontal-padding);
            background: var(--white-100);
            box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.16);

            .buttonWrapper {
                width: 100%;

                supr-button {
                    --supr-button-width: 100%;

                    supr-text {
                        --supr-text-color: var(--white-100);
                    }

                    &.remove {
                        --supr-button-bg-color: var(--white-100);

                        supr-text {
                            --supr-text-color: var(--primary-100);
                        }
                    }
                }
            }
        }
    }
}
