:host {
    --content-padding-top: calc(var(--supr-page-header-height));
    --content-padding-bottom: var(--supr-page-footer-height);

    .suprScrollContent {
        padding-top: var(--content-padding-top);
        padding-bottom: var(--content-padding-bottom);

        &.error {
            padding-bottom: calc(var(--content-padding-bottom) + 48px);
        }

        &.newFooter {
            padding-bottom: calc(var(--content-padding-bottom) * 2);
        }
    }

    .subsMessageWrapper {
        padding: calc(var(--supr-content-vertical-padding) / 2)
            var(--supr-content-horizontal-padding)
            var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
    }

    .summaryWrapper {
        padding: var(--supr-content-horizontal-padding);
        padding-top: 0;
    }

    supr-cart-loader-skeleton {
        display: block;
        height: 100%;
    }

    supr-cart-banner {
        &.suprPassSavingsBanner {
            --supr-cart-banner-left-border-color: var(--primary-60);
            --supr-cart-banner-bg-color: var(--primary-20);
            --supr-cart-banner-title-color: var(--black-80);
            --supr-cart-banner-sub-title-color: var(--black-80);
            --supr-cart-banner-cta-color: var(--primary-140);
        }
    }
}
