:host {
    .container {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
    }

    supr-text {
        --supr-text-wrap: normal;

        &.subtitle {
            --supr-text-color: var(--black-40);
        }
    }

    .buttonWrapper {
        width: 49%;

        &.right {
            margin-left: auto;
        }

        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }

            &.remove {
                --supr-button-bg-color: var(--white-100);

                supr-text {
                    --supr-text-color: var(--primary-100);
                }
            }
        }
    }
}
