:host {
    .addAddress {
        padding: var(--supr-content-padding);
        background-color: var(--white-100);

        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }

        supr-text {
            &.body {
                --supr-text-color: var(--black-40);
                --supr-text-wrap: normal;
            }
        }
    }
}
