:host {
    supr-sticky-wrapper {
        --supr-sticky-wrapper-top: none;
        --supr-sticky-wrapper-bottom: 0;
    }

    .footer {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
        background-color: var(--white-100);

        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }

        supr-text {
            &.body {
                --supr-text-color: var(--black-40);
            }
        }
    }
}
