:host {
    supr-text {
        --supr-text-wrap: normal;
    }

    .itemWrapper {
        padding: 0 var(--supr-content-horizontal-padding);
    }

    supr-delivery-slot-chip {
        --supr-delivery-slot-chip-border-color: var(--primary-100);
    }
}
