:host {
    --cart-item-padding: 12px 8px;
    --cart-item-border-radius: 8px;
    --cart-item-border-color: var(--black-10);

    --cart-item-body-separator-border-color: var(--black-5);
    --cart-item-body-separator-border-color-reward-sku: var(--delight-130);

    --cart-item-image-width: 64px;
    --cart-item-image-height: 64px;

    --cart-item-delete-icon-size: 20px;
    --cart-item-delete-icon-color: var(--black-40);
    --cart-item-delete-oos-icon-color: var(--black-80);

    --cart-item-action-chevron-size: 16px;

    supr-text.dark {
        --supr-text-color: var(--black-80) !important;
    }

    .item {
        &Wrapper {
            position: relative;
            border: 1px solid;
            border-color: var(--cart-item-border-color);
            border-radius: var(--cart-item-border-radius);
            padding: var(--cart-item-padding);
            background: var(--white-100);

            supr-modal {
                &.subscription {
                    --supr-modal-bg-color: var(--primary-100);
                }
            }
        }

        &Header {
            border-bottom: 1px solid;
            border-color: var(--cart-item-body-separator-border-color);
            padding-bottom: 12px;
            z-index: calc(var(--supr-base-z-index) + 1);

            &.rewardSku {
                border-bottom: 0.8px solid;
                border-color: var(
                    --cart-item-body-separator-border-color-reward-sku
                );

                .textWrapper {
                    align-items: flex-start;
                }
            }

            supr-icon {
                --supr-icon-color: var(--black-40);
                --supr-icon-font-size: var(--cart-item-action-chevron-size);

                &.calendar {
                    --supr-icon-font-size: 12px;
                }
            }

            supr-text {
                --supr-text-color: var(--black-40);

                &.date {
                    --supr-text-color: var(--black-80);
                    --supr-font-weight: var(--supr-weight-semi-bold);

                    margin-left: 3px;
                }

                &.rewardsSkuHeadertext {
                    --supr-text-color: var(--delight-120) !important;
                    --supr-text-wrap: normal;
                }
            }

            supr-cart-item-action {
                margin-left: auto;
            }
        }

        &Body {
            position: relative;

            supr-icon {
                --supr-icon-color: var(--cart-item-delete-icon-color);
                --supr-icon-font-size: var(--cart-item-delete-icon-size);

                position: absolute;
                top: 0;
                right: 4px;
                z-index: calc(var(--supr-base-z-index) + 1);

                &.outOfStockDelete {
                    --supr-icon-color: var(--cart-item-delete-oos-icon-color);
                }
            }
        }

        &Image {
            supr-image {
                --supr-image-width: var(--cart-item-image-width);
                --supr-image-height: var(--cart-item-image-height);
            }

            width: var(--cart-item-image-width);
            margin-right: 8px;
        }

        &Details {
            supr-week-days-small {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: 7px;
                    left: -7px;
                    background-color: var(--black-40);
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                }
            }

            &IncreaseCounterZIndex {
                z-index: calc(var(--supr-base-z-index) + 1);
            }
        }

        &Content {
            supr-cart-item-details {
                width: 100%;
            }

            supr-cart-item-counter {
                margin-left: auto;
            }
        }

        &Name {
            --supr-text-wrap: normal;

            display: block;
            width: 80%;
        }

        &Price {
            &Strike {
                --supr-text-color: var(--black-30);
                --supr-text-decoration: line-through;
            }
        }

        &Qty {
            --supr-text-color: var(--black-40);
        }

        &Coupon {
            margin-bottom: 2px;
            padding: 1.5px 4px;
            background-color: var(--delight-12);
            border-radius: 4px;

            supr-icon {
                --supr-icon-color: var(--delight-100);
            }

            supr-text {
                --supr-text-color: var(--delight-100);
            }
        }

        &Subscribe {
            border-top: 1px solid;
            border-color: var(--cart-item-body-separator-border-color);
            padding-top: 12px;

            supr-icon {
                --supr-icon-color: var(--black-40);
                --supr-icon-font-size: 20px;

                margin-left: -2px;

                &.chevron {
                    --supr-icon-color: var(--primary-100);
                    --supr-icon-font-size: var(--cart-item-action-chevron-size);

                    margin-left: 0;
                }
            }

            supr-text {
                --supr-text-color: var(--black-40);
                --supr-text-wrap: normal;

                &.subscribe {
                    --supr-text-color: var(--primary-100);
                }
            }

            .right {
                margin-left: auto;
            }
        }

        &Action {
            supr-text {
                --supr-text-color: var(--primary-100);
            }

            supr-icon {
                --supr-icon-color: var(--primary-100);
                --supr-icon-font-size: var(--cart-item-action-chevron-size);
            }
        }

        &Remove {
            padding: var(--supr-content-padding);

            div.relative {
                position: relative;
            }

            supr-text {
                &.body {
                    --supr-text-color: var(--black-40);
                    --supr-text-wrap: normal;
                }
            }

            supr-button {
                --supr-button-width: 100%;
                --supr-button-bg-color: var(--white-100);
                --supr-button-border-color: var(--caution-100);

                supr-text {
                    --supr-text-color: var(--caution-100);
                }
            }
        }

        &Reschedule {
            padding: var(--supr-content-padding);

            supr-icon {
                --supr-icon-font-size: 25px;

                margin: 5px 10px 0 0;
            }

            supr-button {
                --supr-button-width: 100%;

                supr-text {
                    --supr-text-color: var(--white-100);
                }
            }

            .suprPassInfo {
                supr-icon {
                    margin: 2px 0 0 0;
                    --supr-icon-font-size: 14px;
                }

                supr-text {
                    --supr-text-wrap: normal;
                }

                .subscribeText {
                    margin-left: auto;

                    supr-text {
                        --supr-text-color: var(--primary-100);
                    }

                    supr-icon {
                        --supr-icon-color: var(--primary-100);
                    }
                }
            }
        }

        &Error {
            position: relative;
            z-index: calc(var(--supr-base-z-index) + 1);
            margin-right: 12px;

            supr-icon {
                --supr-icon-color: var(--caution-100);
                --supr-icon-font-size: 16px;
            }

            supr-text {
                --supr-text-color: var(--caution-100);
                --supr-text-wrap: normal;
            }
        }

        &Overlay {
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: var(--white-70);
                content: "";
                z-index: var(--supr-base-z-index);
                border-radius: var(--cart-item-border-radius);
            }
        }

        &SuprPassFooter {
            margin-top: 16px;
            padding-top: 10px;
            border-top: 1px solid var(--cart-item-body-separator-border-color);
        }
    }

    supr-number-counter {
        &.remove {
            --counter-qty-text-color: var(--caution-100);
        }
        &.disabled {
            --container-flat-border-color: var(--black-20);
            --supr-number-counter-border-color: var(--black-20);
        }
    }

    .rewardBorder {
        border: 0.8px solid var(--delight-120);
    }

    .footerText {
        supr-icon {
            --supr-icon-color: var(--gold-100);
            --supr-icon-font-size: 12px;

            &.chev {
                margin-left: -3px;
                margin-bottom: -4px;
            }
        }
    }
}
