:host {
    --supr-cart-message-padding: 12px 24px 12px 16px;
    --supr-cart-message-border-radius: 8px;

    .cartMessage {
        background-color: var(--alert-10);
        padding: var(--supr-cart-message-padding);
        border-radius: var(--supr-cart-message-border-radius);

        supr-text {
            --supr-text-wrap: normal;

            &.title {
                --supr-text-color: var(--alert-120);
            }

            &.desc {
                --supr-text-color: var(--black-80);
            }
        }
    }
}
