:host {
    --supr-msg-container-padding: 8px;
    --supr-msg-container-border-radius: 5px;

    .summary {
        supr-text {
            &:last-child {
                --supr-text-color: var(--black-80);
                margin-left: auto;
            }

            --supr-text-color: var(--black-80);

            &.success {
                --supr-text-color: var(--success-100);
            }

            &.suprCredits {
                --supr-text-color: var(--lime-150);
            }

            &.priceStrike {
                --supr-text-color: var(--black-40);
                --supr-text-decoration: line-through;
            }
        }

        supr-svg.creditsImage {
            --supr-svg-width: 17px;
            --supr-svg-height: 17px;
            --supr-svg-path: var(--supr-svg-supr-credits-img);
        }

        .delFeePriceBlock {
            margin-left: auto;
        }

        .suprPassBlock {
            supr-text {
                margin-left: initial;
                --supr-text-color: var(--black-40);

                &.suprPassText {
                    --supr-text-color: var(--primary-100);
                    --supr-text-decoration: underline;
                }
            }
        }

        .line {
            height: 1px;
            background-color: var(--black-10);
        }

        .delFeeRefundMessage {
            padding: var(--supr-msg-container-padding);
            border-radius: var(--supr-msg-container-border-radius);
            background: var(--primary-10);
            border: 2px dashed var(--black-5);

            supr-text {
                margin-left: initial !important;

                --supr-text-wrap: normal;
                --supr-text-color: var(--primary-100);
            }
        }

        .scMessage {
            padding: var(--supr-msg-container-padding);
            border-radius: var(--supr-msg-container-border-radius);
            background: var(--lime-10);

            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-60);

                &.suprCredits {
                    --supr-text-color: var(--lime-160);
                }
            }
        }

        .delFeeInfo {
            --supr-icon-color: var(--black-20);
        }
    }

    .savings {
        padding: 12px;
        border-radius: 8px;
        border: 1px solid var(--black-10);

        &Header {
            padding-bottom: 12px;

            &.collapsed {
                padding-bottom: 0;
            }

            supr-text {
                --supr-text-color: var(--salmon-100);
            }

            .chevron {
                margin-right: 0;
                margin-left: auto;

                --supr-icon-color: var(--black-60);
                --supr-icon-font-size: var(--supr-font-size-large);
            }
        }

        &Content {
            padding-left: 1px;
            border-top: 1px solid var(--black-10);

            .lineItem {
                supr-text {
                    --supr-text-wrap: normal;
                    --supr-text-color: var(--black-60);
                }
            }
        }
    }
}
