:host {
    .pageHeader {
        padding-right: 8px;
    }

    .suprScrollContent {
        padding: var(--supr-content-padding);
        padding-top: calc(var(--supr-page-header-height) + 18px);
        padding-bottom: calc(var(--supr-page-footer-height) + 30px);

        .contentWrapper {
            padding-bottom: 18px;

            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }

    supr-page-footer {
        --supr-page-footer-padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        supr-button {
            width: 48%;

            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }

            &.back {
                --supr-button-bg-color: var(--white-100);

                supr-text {
                    --supr-text-color: var(--primary-100);
                }
            }
        }
    }
}
