:host {
    .suprScrollContent {
        padding-top: var(--supr-page-header-height);
        padding-bottom: calc(var(--supr-page-footer-height) + 30px);

        supr-section-header {
            --supr-section-header-icon-size: 20px;
            --supr-section-header-icon-wrapper-width: 20px;
            --supr-section-header-bg-color: var(--caution-10);
            --supr-section-header-icon-color: var(--black-60);
            --supr-section-header-icon-wrapper-padding-top: 4px;
        }

        .contentWrapper {
            padding: 0 var(--supr-content-horizontal-padding);

            .headerTextWrapper {
                padding: 22px 0;

                supr-text {
                    --supr-text-wrap: normal;
                    --supr-text-color: var(--black-60);
                }
            }

            .issuesWrapper {
                padding-bottom: 30px;
            }

            .descriptionWrapper {
                textarea {
                    width: 100%;
                    resize: none;
                    padding: 8px;
                    margin-top: 8px;
                    border-radius: 2px;
                    border: 1px solid var(--black-20);
                }
            }
        }
    }

    supr-page-footer {
        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
