:host {
    --supr-auto-debit-failure-message-title-color: var(--black-100);
    --supr-auto-debit-failure-message-subtitle-color: var(--black-40);

    .wrapper {
        padding: var(--supr-content-padding);

        supr-text {
            --supr-text-color: var(
                --supr-auto-debit-failure-message-title-color
            );
            --supr-text-wrap: normal;

            &.subtitle {
                --supr-text-color: var(
                    --supr-auto-debit-failure-message-subtitle-color
                );
            }
        }

        .buttonWrapper {
            width: 49%;

            &.right {
                margin-left: auto;
            }

            supr-button {
                --supr-button-width: 100%;

                supr-text {
                    --supr-text-color: var(--white-100);
                }

                &.leave {
                    --supr-button-bg-color: var(--white-100);

                    supr-text {
                        --supr-text-color: var(--primary-100);
                    }
                }
            }
        }
    }
}
