:host {
    .wrapper {
        padding-top: 12px;
        padding-bottom: 16px;

        .title {
            padding-bottom: 8px;

            supr-text {
                --supr-text-color: var(--black-40);

                &.error {
                    --supr-text-color: var(--caution-100);
                }
            }

            supr-icon {
                --supr-icon-color: var(--caution-100);
            }
        }

        .search {
            padding: 12px 16px;
            border-radius: 8px;
            border: 1px solid var(--primary-100);

            supr-text {
                width: 90%;
                --supr-text-overflow: hidden;
                --supr-text-text-overflow: ellipsis;
            }

            supr-icon {
                margin-left: auto;
                --supr-icon-color: var(--primary-100);
            }
        }

        .province {
            padding-top: 20px;

            supr-text {
                --supr-text-color: var(--black-60);
                --supr-text-transform: uppercase;
            }
        }
    }
}
