:host {
    --supr-text-fragment-font-family: inherit;
    --supr-text-fragment-font-color: var(--black-80);
    --supr-text-fragment-font-size: 14px;
    --supr-text-fragment-highlighted-text-color: var(--black-80);
    --supr-text-fragment-decoration: none;
    --supr-text-fragment-font-weight: normal;
    --supr-text-fragment-align: inherit;
    --supr-text-fragment-truncate-line-count: 1;
    --supr-text-fragment-text-overflow: inherit;

    .wrapper {
        overflow: hidden;

        supr-text-highlight {
            --supr-text-font-family: var(--supr-text-fragment-font-family);
            --supr-text-color: var(--supr-text-fragment-font-color);
            --supr-text-font-size: var(--supr-text-fragment-font-size);
            --supr-text-highlight-color: var(
                --supr-text-fragment-highlighted-text-color
            );
            --supr-text-wrap: normal;
            --supr-text-letter-spacing: normal;
            --supr-text-decoration: var(--supr-text-fragment-decoration);
            --supr-text-font-weight: var(--supr-text-fragment-font-weight);
            --supr-text-line-height: 1.4;
            --supr-text-align: var(--supr-text-fragment-align);
            --supr-text-truncate-line-count: var(
                --supr-text-fragment-truncate-line-count
            );
            --supr-text-text-overflow: var(--supr-text-fragment-text-overflow);
        }
    }
}
