:host {
    --svg-width: 120px;
    --svg-height: 88px;

    --critical-bg-color: var(--pale);
    --optional-bg-color: var(--very-light-pink);

    supr-svg {
        --supr-svg-path: var(--supr-svg-app-update-url);
        --supr-svg-width: var(--svg-width);
        --supr-svg-height: var(--svg-height);
    }

    supr-modal {
        --supr-modal-bg-color: var(--optional-bg-color);

        &.critical {
            --supr-modal-bg-color: var(--critical-bg-color);
        }
    }

    .appUpdate {
        background-color: var(--white-100);

        &Header {
            position: relative;

            &Bg {
                height: 80px;
                background-color: var(--optional-bg-color);

                &.critical {
                    background-color: var(--critical-bg-color);
                }
            }

            &Img {
                position: absolute;
                top: calc(50% - 12px);
                padding: 0 var(--supr-content-horizontal-padding);
                width: 100%;
            }
        }

        &Body {
            padding: var(--supr-content-vertical-padding)
                var(--supr-content-horizontal-padding);

            &.critical {
                text-align: center;
                max-width: 348px;
                margin: auto;
            }

            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-40);

                &.subtitle {
                    --supr-text-color: var(--black-100);
                }
            }

            supr-button {
                --supr-button-width: 100%;

                supr-text {
                    --supr-text-color: var(--white-100);
                }
            }

            &Remind {
                supr-text {
                    --supr-text-color: var(--primary-100);
                }

                supr-icon {
                    --supr-icon-color: var(--primary-100);

                    padding-top: 3px;
                }
            }
        }
    }
}
