:host {
    --supr-copy-block-bg-color: transparent;
    --supr-copy-block-border-color: transparent;
    --supr-copy-block-icon-color: var(--primary-100);
    --supr-copy-block-icon-font-size: 12px;

    .copyBlockWrapper {
        .copyBlockTextContainer {
            padding: 2px 8px;
            border: 1px dashed var(--supr-copy-block-border-color);
            background: var(--supr-copy-block-bg-color);
            border-radius: 4px;

            &.borderHidden {
                border: none;
                padding: 0;
            }

            supr-text-fragment {
                --supr-text-fragment-font-weight: var(--supr-weight-bold);
            }

            supr-icon {
                --supr-icon-color: var(--supr-copy-block-icon-color);
                --supr-icon-font-size: var(--supr-copy-block-icon-font-size);
            }
        }

        .helpText {
            supr-text {
                --supr-text-color: var(--black-60);
            }
        }
    }
}
