:host {
    --supr-cart-banner-left-border-color: var(--delight-100);
    --supr-cart-banner-bg-color: var(--delight-10);
    --supr-cart-banner-title-color: var(--delight-120);
    --supr-cart-banner-sub-title-color: var(--black-80);
    --supr-cart-banner-cta-color: var(--delight-130);

    .wrapper {
        background-color: var(--supr-cart-banner-bg-color);
        border-left: 6px solid var(--supr-cart-banner-left-border-color);
        padding: calc(var(--supr-content-vertical-padding) / 2) 24px
            calc(var(--supr-content-vertical-padding) / 2) 10px;

        &Container {
            flex-direction: row-reverse;
        }

        &.noBorder {
            border-left: none;
        }

        .iconWrapper {
            width: 12px;
            padding-top: 4px;
        }

        .imageWrapper {
            width: 64px;
            height: 64px;
            margin-top: 4px;
            background-color: var(--white-100);
            border-radius: 50%;

            supr-image {
                --supr-image-border-radius: 50%;
                --supr-image-border-color: var(--delight-130);
                --supr-image-border-width: 1px;
                --supr-image-wrapper-padding: 8px;
            }
        }

        .contentWrapper {
            padding-left: 12px;
            width: calc(100% - 70px);
        }

        supr-text {
            --supr-text-wrap: normal;

            &.title {
                --supr-text-color: var(--supr-cart-banner-title-color);
            }

            &.subTitle {
                --supr-text-color: var(--supr-cart-banner-sub-title-color);

                span {
                    display: inline-flex;

                    supr-icon {
                        --supr-icon-color: var(
                            --supr-cart-banner-cta-color
                        ) !important;
                    }
                }
            }

            &.cta {
                --supr-text-color: var(--supr-cart-banner-cta-color);
            }
        }

        supr-icon {
            --supr-icon-font-size: 12px;
            --supr-icon-color: var(--black-40);

            &.ctaIcon {
                padding-top: 2px;
            }

            &.cta {
                margin-left: -2px;
                margin-bottom: 1px;

                --supr-icon-font-size: 15px;
                --supr-icon-color: var(--supr-cart-banner-cta-color) !important;
            }

            &.tickIcon {
                --supr-icon-font-size: 7px;
                --supr-icon-color: var(--primary-100);

                margin-top: 8px;
                margin-right: 12px;
            }
        }

        &.caution {
            background-color: var(--alert-10);
            border-left: 6px solid var(--caution-100);

            supr-icon {
                --supr-icon-color: var(--caution-100);
            }
        }

        &.success {
            background-color: var(--success-10);
            border-left: 6px solid var(--success-100);

            supr-icon {
                --supr-icon-color: var(--success-120);
            }
        }
    }

    .cartBannerModal {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        &Item {
            supr-text {
                --supr-text-color: var(--black-40);
            }
        }
    }

    .knowMore {
        text-decoration: underline;
        color: var(--delight-130);
    }
}
