:host {
    --supr-cart-banner-left-border-color: var(--black-20);
    --supr-cart-banner-bg-color: var(--black-5);
    --supr-cart-banner-title-color: var(--black-80);
    --supr-cart-banner-sub-title-color: var(--black-80);
    --supr-cart-banner-cta-color: var(--black-80);

    .wrapper {
        background-color: var(--supr-cart-banner-bg-color);
        border-left: 6px solid var(--supr-cart-banner-left-border-color);
        padding: calc(var(--supr-content-vertical-padding) / 2) 24px
            calc(var(--supr-content-vertical-padding) / 2) 10px;

        &.noBorder {
            border-left: none;
        }

        .iconWrapper {
            width: 12px;
            padding-top: 4px;
        }

        .imageWrapper {
            width: 64px;
            height: 64px;
            padding-top: 4px;
        }

        .contentWrapper {
            padding-left: 12px;
        }

        supr-text {
            --supr-text-wrap: normal;

            &.title {
                --supr-text-color: var(--supr-cart-banner-title-color);
            }

            &.subTitle {
                --supr-text-color: var(--supr-cart-banner-sub-title-color);
            }

            &.cta {
                --supr-text-color: var(--supr-cart-banner-cta-color);
            }
        }

        supr-icon {
            --supr-icon-font-size: 12px;
            --supr-icon-color: var(--black-40);

            &.cta {
                margin-left: -2px;
                margin-bottom: 1px;

                --supr-icon-font-size: 15px;
                --supr-icon-color: var(--supr-cart-banner-cta-color) !important;
            }

            &.tickIcon {
                --supr-icon-font-size: 7px;
                --supr-icon-color: var(--primary-100);

                margin-top: 8px;
                margin-right: 12px;
            }
        }

        &.caution {
            background-color: var(--alert-10);
            border-left: 6px solid var(--caution-100);

            supr-icon {
                --supr-icon-color: var(--caution-100);
            }
        }

        &.success {
            background-color: var(--success-10);
            border-left: 6px solid var(--success-100);

            supr-icon {
                --supr-icon-color: var(--success-120);
            }
        }
    }
}
