:host {
    --container-height: 100vh;

    .container {
        overflow: hidden;
        height: var(--container-height);
    }

    .suprScrollContent {
        padding-top: var(--supr-page-header-height);
    }

    supr-chip.headerChip {
        --supr-chip-border-color: var(--primary-100);

        supr-text {
            --supr-text-color: var(--primary-100);
        }
    }
}
