:host {
    .suprScrollContent {
        padding: var(--supr-content-horizontal-padding);
        padding-top: calc(
            var(--supr-page-header-height) +
                var(--supr-content-horizontal-padding)
        );
        padding-bottom: calc(var(--supr-page-footer-height) + 36px);
    }
}
