:host {
    .header {
        .center {
            position: relative;

            supr-chip {
                --supr-chip-background-color: var(--black-40);
                --supr-chip-padding: 0 14px;
                --supr-chip-border-width: 0;
                --supr-chip-border-radius: 11px;

                display: flex;

                supr-text {
                    --supr-text-color: var(--white-100);
                }
            }

            &Wrapper {
                padding: 4px;
                background-color: var(--white-100);
                z-index: calc(var(--supr-base-z-index) + 1);
            }

            &Line {
                position: absolute;
                top: -25px;
                left: 50%;
                width: 1px;
                height: 72px;
                background-color: var(--black-10);
                z-index: var(--supr-base-z-index);
                transform: rotate(30deg);
            }
        }
    }

    supr-button {
        --supr-button-width: 100%;

        supr-text {
            --supr-text-color: var(--white-100);
        }
    }
}
