:host {
    .container {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
    }

    .create {
        .title {
            supr-text {
                &.unpause {
                    --supr-text-color: var(--primary-100);

                    margin-left: auto;
                }
            }
        }

        .subtitle {
            --supr-text-color: var(--black-30);
            --supr-text-wrap: normal;
        }

        supr-icon {
            --supr-icon-font-size: 28px;
        }
    }

    .confirm {
        .wrapper {
            padding: 0 8px;
        }

        supr-icon {
            --supr-icon-font-size: 28px;
        }

        supr-text {
            &.subtitle {
                --supr-text-color: var(--black-40);
            }
        }

        &.resume {
            .subtitle {
                display: block;
                margin-left: 33px;
            }
        }

        ul {
            list-style-type: disc;
            color: var(--black-40);
            padding-left: 16px;

            li {
                margin-bottom: 16px;
            }

            supr-text {
                --supr-text-color: var(--black-40);
                --supr-text-wrap: normal;
            }
        }

        supr-button {
            --supr-button-bg-color: var(--white-100);
            --supr-button-border-color: var(--caution-100);
            --supr-button-loader-color: var(--caution-100);
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--caution-100);
            }
        }
    }
}
