:host {
    .container {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
    }

    .edit {
        .subtitle {
            --supr-text-color: var(--black-30);
            --supr-text-wrap: normal;
        }

        .vacationStart,
        .vacationEnd {
            width: auto;

            supr-text {
                &.type {
                    --supr-text-color: var(--black-30);
                }
            }
        }

        .vacationEnd {
            margin-left: auto;
            padding-right: 8px;
        }

        .editVacation {
            supr-text {
                --supr-text-color: var(--primary-100);
            }

            supr-icon {
                --supr-icon-color: var(--primary-100);
            }
        }

        supr-button {
            &.endVacation {
                --supr-button-width: 100%;
            }
        }
    }
}
