:host {
    .help {
        supr-support-button {
            width: 100%;

            &.inactive {
                --supr-support-button-bg-color: var(--white-100);
                --supr-support-button-text-color: var(--primary-100);
            }
        }

        supr-icon {
            --supr-icon-color: var(--primary-100);
            --supr-icon-font-size: 20px;
        }

        supr-text {
            &.title {
                --supr-text-font-size: var(--supr-font-size-medium);
                --supr-text-font-weight: var(--supr-weight-bold);
                --supr-text-color: var(--black-60);
            }

            &.subText {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-40);
                --supr-text-font-weight: var(--supr-weight-bold);
            }
        }
    }
}
