:host {
    .wrapper {
        padding: 16px 16px 4px;

        ion-skeleton-text {
            height: 16px;
            margin-bottom: 8px;
        }

        supr-text {
            &.header {
                --supr-text-color: var(--black-20);
            }
        }

        supr-chip {
            padding-right: 12px;
            padding-bottom: 12px;

            --supr-chip-border-color: none;
            --supr-chip-background-color: var(--black-5);

            supr-text {
                --supr-text-color: var(--black-60);
            }
        }
    }
}
