:host {
    --supr-tooltip-tip-size: 16px;
    --supr-tooltip-width: inherit;
    --supr-tooltip-height: inherit;
    --supr-tooltip-padding: 12px 8px;
    --supr-tooltip-border-radius: 4px;
    --supr-tooltip-bg-color: var(--black-100);

    .content {
        width: var(--supr-tooltip-width);
        height: var(--supr-tooltip-height);
        padding: var(--supr-tooltip-padding);
        background-color: var(--supr-tooltip-bg-color);
        border-radius: var(--supr-tooltip-border-radius);
    }

    .tip {
        margin: auto;
        position: relative;
        transform: rotate(45deg);
        width: var(--supr-tooltip-tip-size);
        height: var(--supr-tooltip-tip-size);
        bottom: calc(var(--supr-tooltip-tip-size) / 2);
        background-color: var(--supr-tooltip-bg-color);
    }
}
