:host {
    .container {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
    }

    supr-text {
        --supr-text-wrap: normal;

        &.subtitle {
            --supr-text-color: var(--black-40);
        }
    }

    supr-button {
        --supr-button-width: 100%;

        supr-text {
            --supr-text-color: var(--white-100);
        }
    }
}
