:host {
    --supr-radio-button-group-container-width: 100%;
    --supr-radio-button-group-container-height: 40px;

    --supr-radio-button-group-col-size: 1;

    --supr-radio-button-group-text-wrap: inherit;

    --supr-radio-button-group-item-row-spacing: 12px;
    --supr-radio-button-group-item-col-spacing: 12px;

    --supr-radio-button-group-item-width: calc(
        (100% / var(--supr-radio-button-group-col-size)) -
            (var(--supr-radio-button-group-item-col-spacing) / 2)
    );

    .wrapper {
        width: var(--supr-radio-button-group-container-width);

        .row {
            margin-bottom: var(--supr-radio-button-group-item-row-spacing);
        }

        supr-radio-button {
            --supr-radio-button-container-height: var(
                --supr-radio-button-group-container-height
            );

            --supr-radio-button-text-wrap: var(
                --supr-radio-button-group-text-wrap
            );

            --supr-radio-button-container-width: 100%;

            width: var(--supr-radio-button-group-item-width);
            margin-right: var(--supr-radio-button-group-item-col-spacing);

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
