<supr-sticky-wrapper class="suprRow calendarWrapper">
    <div class="suprRow calendarHeader">
        <div class="suprRow center" (click)="suprModalRef.closeModal()">
            <supr-icon class="closeIcon" name="cross"></supr-icon>
            <supr-text type="subheading"
                >{{ month | titlecase }}, {{ year }}</supr-text
            >
            <div class="spacer8"></div>
            <supr-icon name="chevron_up"></supr-icon>
        </div>
    </div>
    <div class="calendarContent">
        <supr-calendar
            [hideHeader]="true"
            [enableToday]="true"
            [disablePastDays]="true"
            [selectedDate]="selectedDate"
            (handleSelectedDate)="onDateChange($event)"
            (handleDateChange)="onMonthChange($event)"
        ></supr-calendar>
    </div>
</supr-sticky-wrapper>
