:host {
    --supr-grid-row-spacing: 16px;
    --supr-grid-col-spacing: 15px;
    --supr-grid-wrapper-width: calc(100% + 2 * var(--supr-grid-col-spacing));
    --supr-grid-tile-width: 33.33%;

    .wrapper {
        width: var(--supr-grid-wrapper-width);
        height: auto;
        overflow-x: hidden;
        margin-left: calc(var(--supr-grid-col-spacing) * -1);

        .row {
            margin-bottom: var(--supr-grid-row-spacing);

            &:last-child {
                margin-bottom: 0;
            }

            supr-tile {
                width: var(--supr-grid-tile-width);
                padding: 0 var(--supr-grid-col-spacing);
            }
        }
    }
}
