:host {
    --supr-v3-tile-title-color: var(--black-100);
    --supr-v3-tile-subText1-color: var(--black-100);

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 8px;
    }

    .card {
        width: 100%;

        supr-text {
            &.title {
                --supr-text-color: var(--supr-v3-tile-title-color);
                --supr-text-wrap: normal;
            }

            &.subText1 {
                --supr-text-color: var(--supr-v3-tile-subText1-color);
            }
        }

        &Btn {
            height: 36px !important;

            supr-text {
                &.subText2 {
                    --supr-text-color: var(--supr-v3-tile-subText2-color);
                    --supr-text-truncate-line-count: 2;
                    --supr-text-align: center;
                    --supr-text-wrap: normal;
                }
            }
        }
    }

    supr-image {
        &.tileImage {
            --supr-image-width: 72px;
            --supr-image-height: 72px;
        }
    }
}
