:host {
    --supr-nudge-message-image-width: 150px;
    --supr-nudge-message-image-height: 150px;

    --supr-nudge-message-title-color: var(--black-100);
    --supr-nudge-message-subtitle-color: var(--black-40);

    .message {
        supr-image {
            --supr-image-wrapper-width: var(--supr-nudge-message-image-width);
            --supr-image-wrapper-height: var(--supr-nudge-message-image-height);
        }

        supr-text {
            --supr-text-color: var(--supr-nudge-message-title-color);

            &.subtitle {
                --supr-text-color: var(--supr-nudge-message-subtitle-color);
                --supr-text-wrap: normal;
            }
        }

        supr-button {
            --supr-button-width: 100%;
            --supr-button-border-color: var(--primary-100);

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
