:host {
    .modalWrapper {
        padding: 16px 16px 24px;

        supr-icon {
            --supr-icon-color: var(--caution-100);
            --supr-icon-font-weight: var(--supr-weight-bold);
            --supr-icon-font-size: 20px;
        }

        supr-text {
            --supr-text-wrap: normal;

            &.title {
                --supr-text-color: var(--caution-100);
            }

            &.subtitle {
                --supr-text-color: var(--black-40);
            }

            &.amountToPay {
                --supr-text-color: var(--black-60);
            }
        }

        .btnWrapper {
            flex: 1;
        }

        supr-button {
            --supr-button-width: 100%;
            width: 100%;

            &.otherModesBtn {
                --supr-button-text-color: var(--primary-100);
                --supr-button-bg-color: var(--white-100);
                --supr-button-border-color: var(--primary-100);
            }

            &.retry {
                --supr-button-text-color: var(--white-100);
                --supr-button-bg-color: var(--primary-100);
                --supr-button-border-color: var(--primary-100);
            }
        }
    }
}
