:host {
    --supr-cart-container-margin: 16px;
    --supr-cart-container-height: 56px;
    --supr-cart-container-padding: var(--supr-content-vertical-padding)
        var(--supr-content-horizontal-padding);

    --supr-cart-z-index: calc(var(--supr-base-z-index) + 2);

    --supr-cart-bg-color: var(--primary-100);
    --supr-cart-text-color: var(--white-100);
    --supr-cart-box-shadow: 0 2px 7px 0 var(--black-20);

    --supr-cart-border-radius: 4px;

    --supr-cart-divider-height: 38px;
    --supr-cart-divider-width: 1px;
    --supr-cart-divider-bg-color: var(--white-30);

    --supr-cart-wrapper-position-y: calc(
        100% + var(--supr-cart-container-margin)
    );

    --supr-cart-animation-name: pullDown;
    --supr-cart-animation-duration: 0.3s;
    --supr-cart-animation-timing-function: ease-out;
    --supr-cart-bottom-position: 0;

    .cart {
        animation-name: invisible;
        animation-duration: var(--supr-cart-animation-duration);
        will-change: opacity;
        width: 100%;
        background-color: var(--white-100);
        position: relative;
        z-index: var(--supr-cart-z-index);

        &Wrapper {
            background-color: var(--primary-100);
            margin: 0 var(--supr-cart-container-margin)
                var(--supr-cart-container-margin);
            border-radius: var(--supr-cart-border-radius);
            box-shadow: var(--supr-cart-box-shadow);
            height: var(--supr-cart-container-height);
            padding: 0 var(--supr-content-horizontal-padding);
        }

        &.show {
            animation-name: visible;
            animation-duration: 0.2s;

            supr-sticky-wrapper {
                --supr-sticky-wrapper-transform: translate3d(0, 0, 0);
                --supr-sticky-wrapper-transition-duration: 0.2s;
            }
        }

        &Line {
            width: var(--supr-cart-divider-width);
            height: var(--supr-cart-divider-height);
            background-color: var(--supr-cart-divider-bg-color);
        }

        &Proceed {
            margin-left: auto;
        }

        supr-sticky-wrapper {
            --supr-sticky-wrapper-top: none;
            --supr-sticky-wrapper-bottom: var(--supr-cart-bottom-position);
            --supr-sticky-wrapper-bg-color: var(--white-100);
            --supr-sticky-wrapper-transform: translate3d(
                0,
                var(--supr-cart-wrapper-position-y),
                0
            );
            --supr-sticky-wrapper-transition-duration: 0.2s;
        }

        supr-text {
            --supr-text-color: var(--supr-cart-text-color);
        }

        supr-icon {
            --supr-icon-color: var(--supr-cart-text-color);
            --supr-icon-font-size: 16px;

            margin-top: 2px;

            &.bag {
                --supr-icon-font-size: 32px;
            }
        }
    }

    @keyframes visible {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes invisible {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}
