<div class="suprContainer">
    <supr-page-header>
        <supr-text type="subheading">Manage subscription</supr-text>
    </supr-page-header>
    <div class="suprScrollContent" [ngClass]="_subscriptionType">
        <supr-subscription-details-product-info
            [type]="_subscriptionType"
            [subscription]="subscription"
            [sku]="subscription?.sku_data"
            (handleTooltipClick)="openMessageModal()"
        >
        </supr-subscription-details-product-info>
        <div class="divider24"></div>
        <supr-subscription-details-quantity
            saClick
            (click)="openQuantityModal()"
            [quantity]="subscription?.quantity"
            [disabled]="
                _subscriptionType ===
                SUBSCRIPTION_LIST_TYPES.EXPIRED
            "
            [saContextList]="_saContextList"
            [saObjectValue]="subscription?.id"
            [saContext]="subscription?.sku_data?.id"
            [saObjectName]="_saObjectNames.CLICK.QTY_PER_DAY"
        >
        </supr-subscription-details-quantity>
        <div class="divider16"></div>
        <supr-subscription-details-frequency
            saClick
            (click)="openFrequencyModal()"
            [frequency]="subscription?.frequency"
            [disabled]="
                _subscriptionType ===
                SUBSCRIPTION_LIST_TYPES.EXPIRED
            "
            [saContextList]="_saContextList"
            [saObjectValue]="subscription?.id"
            [saContext]="subscription?.sku_data?.id"
            [saObjectName]="_saObjectNames.CLICK.REPEAT"
        >
        </supr-subscription-details-frequency>
        <div class="divider32"></div>

        <supr-subscription-details-action
            [type]="_subscriptionType"
            [saContextList]="_saContextList"
            [saObjectValue]="subscription?.id"
            [saContext]="subscription?.sku_data?.id"
            (handleCancelClick)="openCancelModal()"
            (handleScheduleClick)="openScheduleModal()"
        >
        </supr-subscription-details-action>

        <div class="divider28"></div>

        <supr-subscription-details-schedule
            [schedules]="schedules"
            [showModal]="_showEditModal"
            [loading]="_loadingSchedule"
            [subscription]="subscription"
            [saContextList]="_saContextList"
            (toggleEditModal)="toggleEditModal($event)"
        >
        </supr-subscription-details-schedule>
        <div class="divider16" *ngIf="_loadingSchedule"></div>

        <ng-container *ngIf="schedules?.length && transactions?.length">
            <div class="divider20"></div>
            <div class="divider20"></div>
        </ng-container>

        <div class="divider16" *ngIf="_loadingTransactions"></div>
        <supr-subscription-details-schedule
            [history]="true"
            [transactions]="transactions"
            [subscription]="subscription"
            [loading]="_loadingTransactions"
            [saContextList]="_saContextList"
        >
        </supr-subscription-details-schedule>

        <div class="divider24"></div>
    </div>

    <supr-subscription-details-footer
        *ngIf="subscription?.sku_data.active"
        [type]="_subscriptionType"
        [subscription]="subscription"
        [saContextList]="_saContextList"
        (handleScheduleClick)="openScheduleModal()"
    ></supr-subscription-details-footer>

    <supr-subscription-details-cancel-modal
        *ngIf="_showCancelModal"
        [subscription]="subscription"
        [showModal]="_showCancelModal"
        (handleModalClose)="closeCancelModal()"
    ></supr-subscription-details-cancel-modal>

    <supr-subscription-details-frequency-modal
        *ngIf="_showFrequencyModal"
        [loading]="_showLoader"
        [showModal]="_showFrequencyModal"
        [skuId]="subscription?.sku_data?.id"
        [frequency]="subscription?.frequency"
        [saObjectValue]="subscription?.id"
        (handleModalClose)="closeFrequencyModal()"
        (handleFrequencyChange)="onFrequencyChange($event)"
    >
    </supr-subscription-details-frequency-modal>

    <supr-subscription-details-quantity-modal
        *ngIf="_showQtyModal"
        [loading]="_showLoader"
        [showModal]="_showQtyModal"
        [quantity]="subscription?.quantity"
        [saObjectValue]="subscription?.id"
        [saContext]="subscription?.sku_data?.id"
        (handleModalClose)="closeQuantityModal()"
        (handleQuantityChange)="onQuantityChange($event)"
    >
    </supr-subscription-details-quantity-modal>

    <supr-subscription-delivery-schedule-container
        *ngIf="_showScheduleModal"
        [subscription]="subscription"
        instantRefreshSchedule="true"
        [showModal]="_showScheduleModal"
        (handleModalClose)="closeScheduleModal()"
    ></supr-subscription-delivery-schedule-container>

    <supr-subscription-message-modal
        *ngIf="_showMessageModal"
        [showModal]="_showMessageModal"
        (handleModalClose)="closeMessageModal()"
    >
    </supr-subscription-message-modal>
</div>
