:host {
    --search-box-padding: 0 8px;
    --search-box-height: 48px;
    --search-box-bg-color: var(--white-100);

    --search-box-border-color: var(--primary-100);
    --search-box-border-width: 1px;
    --search-box-border-radius: 8px;

    --search-box-icon-size: 20px;
    --search-box-icon-color: var(--primary-100);

    --search-box-text-color: var(--black-20);

    .searchBox {
        height: var(--search-box-height);
        padding: var(--search-box-padding);
        background-color: var(--search-box-bg-color);
        border-style: solid;
        border-width: var(--search-box-border-width);
        border-color: var(--search-box-border-color);
        border-radius: var(--search-box-border-radius);

        supr-icon {
            --supr-icon-font-size: var(--search-box-icon-size);
            --supr-icon-color: var(--search-box-icon-color);

            margin-right: 10px;
            margin-top: 3px;
        }

        supr-text {
            --supr-text-color: var(--search-box-text-color);
        }
    }
}
