:host {
    --progress-width-percentage: 0;

    .wrapper {
        border-radius: 10px;
        height: 6px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
        min-width: 10vw;

        background-color: var(--white-100);

        &Fill {
            width: var(--progress-width-percentage);
            background-color: #3cc8d8;
            height: 100%;
            border-radius: 10px;
        }
    }
}
