<div class="wrapper">
    <supr-input-label
        textType="body"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [label]="label"
        (handleInputChange)="onInputChange($event)"
        [value]="_selectedValue"
        (click)="showOptions($event)"
    ></supr-input-label>
    <div class="listWrapper" *ngIf="_showOptions && _tempList.length > 0">
        <div class="optionWrapper" *ngFor="let option of _tempList">
            <supr-text type="body" (click)="onSelect(option, $event)">{{
                option.name
            }}</supr-text>
        </div>
    </div>
</div>
