:host {
    --dropdown-position: absolute;
    --dropdown-width: 100%;
    --dropdown-border-style: solid;
    --dropdown-border-width: 1px;
    --dropdown-border-color: var(--black-10);
    --dropdown-background: var(--white-100);
    --dropdown-top-value: 80px;
    --dropdown-z-index: calc(var(--supr-sticky-wrapper-z-index) + 1);
    --dropdown-border-radius: 2px;
    --dropdown-max-height: 270px;
    --dropdown-overflow-y: scroll;
    --dropdown-option-font-size: 16px;
    --dropdown-option-padding: 12px 16px;
    --dropdown-option-bottom-border-style: solid;
    --dropdown-option-bottom-border-width: 1px;
    --dropdown-option-bottom-border-color: var(--black-10);
    --label-text-color: var(--black-40);
    --dropdown-box-shadow-value: 0 9px 45px 0 rgba(0, 0, 0, 0.16);

    .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    supr-input-label {
        --input-label-text-color: var(--label-text-color);
        width: 100%;
    }

    .listWrapper {
        position: var(--dropdown-position);
        width: var(--dropdown-width);
        border-style: var(--dropdown-border-style);
        border-width: var(--dropdown-border-width);
        border-color: var(--dropdown-border-color);
        background: var(--dropdown-background);
        z-index: var(--dropdown-z-index);
        top: var(--dropdown-top-value);
        border-radius: var(--dropdown-border-radius);
        max-height: var(--dropdown-max-height);
        overflow-y: var(--dropdown-overflow-y);
        box-shadow: var(--dropdown-box-shadow-value);

        .optionWrapper {
            font-size: var(--dropdown-option-font-size);
            border-bottom-style: var(--dropdown-option-bottom-border-style);
            border-bottom-width: var(--dropdown-option-bottom-border-width);
            border-bottom-color: var(--dropdown-option-bottom-border-color);
            padding: var(--dropdown-option-padding);
        }

        supr-text:last-child {
            border-bottom: none;
        }
    }
}
