<supr-page-header>
    <div class="suprRow scheduleOrdersHeader">
        <div class="suprRow" (click)="handleMonthClick.emit($event)">
            <supr-text type="subheading">{{ month }}, {{ year }}</supr-text>
            <div class="spacer8"></div>
            <supr-icon name="chevron_down"></supr-icon>
        </div>

        <div class="actionWrapper">
            <supr-chip
                class="headerChip active"
                (handleClick)="openPauseModal()"
                *ngIf="vacation?.start_date; else pauseOrders"
                [saObjectName]="saObjectName"
            >
                <supr-text type="paragraph">{{ pauseActiveText }}</supr-text>
            </supr-chip>
            <div class="suprRow center">
                <supr-text
                    type="subtext10"
                    class="actionText"
                    *ngIf="vacation?.start_date"
                >
                    Tap to update
                </supr-text>
            </div>
        </div>
        <ng-template #pauseOrders>
            <supr-chip
                [saObjectName]="saObjectName"
                (handleClick)="openPauseModal()"
                class="headerChip"
            >
                <supr-text type="paragraph">{{ pauseOrdersText }}</supr-text>
            </supr-chip>
        </ng-template>
    </div>
</supr-page-header>
