:host {
    .wrapper {
        padding: 32px 16px;

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--black-80);
        }

        .content {
            supr-text {
                --supr-text-color: var(--black-60);

                &.nowrap {
                    --supr-text-wrap: nowrap;
                }

                &.adjustmentDate {
                    --supr-text-decoration: underline;
                    --supr-text-color: var(--primary-120);
                }
            }
        }

        .footer {
            .divider24 {
                border-top: 1px solid var(--black-5);
            }

            supr-text {
                --supr-text-color: var(--black-40);
            }

            .refundAmountInfo {
                supr-text {
                    --supr-text-color: var(--black-80);
                }
            }
        }
    }
}
