<div class="wrapper">
    <supr-text type="heading">Order status</supr-text>
    <div class="divider12"></div>

    <supr-text type="action14">{{ sku?.sku_name }}</supr-text>
    <div class="divider16"></div>

    <div class="content">
        <ng-container *ngFor="let lineItem of modalContentInfo">
            <div class="suprRow">
                <div class="suprColumn left">
                    <ng-container *ngIf="lineItem?.date; else simpleText">
                        <div class="suprRow">
                            <supr-text type="regular14" class="nowrap">
                                {{ lineItem?.title }}
                            </supr-text>

                            &nbsp;
                            <supr-text
                                type="regular14"
                                class="nowrap adjustmentDate"
                                (click)="goToCalendar()"
                            >
                                {{ lineItem?.date }}
                            </supr-text>
                        </div>
                    </ng-container>
                    <ng-template #simpleText>
                        <supr-text type="regular14">
                            {{ lineItem.title }}
                        </supr-text>
                    </ng-template>
                </div>

                <div class="suprColumn right">
                    <supr-text type="regular14">
                        {{ lineItem.info }}
                    </supr-text>
                </div>
            </div>
            <div class="divider8"></div>
        </ng-container>
    </div>

    <div class="footer">
        <ng-container *ngIf="refundedAmountInfo">
            <div class="divider24"></div>
            <div class="suprRow refundAmountInfo">
                <div class="suprColumn left">
                    <supr-text type="regular14">
                        {{ refundedAmountInfo?.title }}
                    </supr-text>
                </div>
                <div class="suprColumn right">
                    <supr-text type="regular14">
                        {{ refundedAmountInfo?.info | rupee: 2 }}
                    </supr-text>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="footerInfo">
            <div class="divider24 footer"></div>
            <supr-text type="subheading600">{{ footerInfo?.title }}</supr-text>
            <div class="divider4"></div>
            <supr-text type="regular14">{{ footerInfo?.subtitle }}</supr-text>
        </ng-container>
    </div>
</div>
