:host {
    --supr-add-item-icon-width: 36px;
    --supr-add-item-icon-height: 36px;

    --supr-add-item-icon-wrapper-border-width: 2px;
    --supr-add-item-icon-wrapper-border-style: dashed;
    --supr-add-item-icon-wrapper-border-radius: 50%;
    --supr-add-item-icon-wrapper-border-color: var(--primary-100);

    --supr-add-item-text-color: var(--primary-100);

    supr-svg {
        --supr-svg-path: var(--supr-svg-add-item);
        --supr-svg-width: var(--supr-add-item-icon-width);
        --supr-svg-height: var(--supr-add-item-icon-height);
    }

    supr-text {
        --supr-text-color: var(--supr-add-item-text-color);
    }
}
