:host {
    --supr-benefits-banner-block-header-bg: transparent;
    --supr-benefits-banner-block-padding: 0 16px 10px 16px;
    --supr-benefits-banner-block-icon-size: 45px;
    --supr-benefits-banner-block-icon-margin-left: 16px;
    --supr-benefits-banner-block-icon-margin-top: 4px;
    --supr-benefits-banner-block-cta-icon-font-size: 14px;
    --supr-benefits-banner-block-cta-icon-color: var(--primary-100);

    --supr-benefits-banner-block-tag-padding: 2px 8px;
    --supr-benefits-banner-block-tag-border-radius: 8px;
    --supr-benefits-banner-block-tag-bg: var(--primary-100);

    .benefitBlock {
        &Wrapper {
            background: var(--white-100);
            margin-bottom: 20px;
            padding: var(--supr-benefits-banner-block-padding);
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);

            &.isLast {
                margin-bottom: 0px;
            }

            .contentBlock {
                padding-top: 16px;
            }

            supr-text-fragment {
                &.boldText {
                    --supr-text-fragment-font-weight: var(--supr-weight-bold);
                }

                &.semiBoldText {
                    --supr-text-fragment-font-weight: var(
                        --supr-weight-semi-bold
                    );
                }

                &.middleFold {
                    --supr-text-fragment-font-family: var(
                        --supr-font-family-montserrat
                    );
                }
            }

            supr-configurable-icon.middleFoldIcon {
                &.suprCredits {
                    --supr-configurable-svg-path: var(
                        --supr-svg-supr-credits-img
                    );
                }
            }

            supr-icon.ctaIcon {
                --supr-icon-font-size: calc(
                    var(--supr-benefits-banner-block-cta-icon-font-size) + 4px
                );
                --supr-icon-color: var(
                    --supr-benefits-banner-block-cta-icon-color
                );
            }

            .tag {
                margin-top: 2px;

                padding: var(--supr-benefits-banner-block-tag-padding);
                border-radius: var(
                    --supr-benefits-banner-block-tag-border-radius
                );
                background: var(--supr-benefits-banner-block-tag-bg);
            }

            .textRow {
                max-width: 95%;
            }
        }

        &Header {
            background: var(--supr-benefits-banner-block-header-bg);
            padding: 8px 16px;
            border-radius: 4px 4px 0px 0px;
            margin-left: calc(var(--supr-content-horizontal-padding) * -1);
            margin-right: calc(var(--supr-content-horizontal-padding) * -1);
        }

        &Icon {
            max-width: var(--supr-benefits-banner-block-icon-size);
            margin-left: var(--supr-benefits-banner-block-icon-margin-right);

            .imgWrapper {
                margin-top: var(--supr-benefits-banner-block-icon-margin-top);

                supr-image {
                    --supr-image-width: 100%;
                }
            }
        }
    }
}
