:host {
    --supr-benefits-banner-wrapper-padding: 36px 16px 24px 16px;
    --supr-benefits-banner-wrapper-bg: transparent;

    .benefitsWrapper {
        padding: var(--supr-benefits-banner-wrapper-padding);
        background: var(--supr-benefits-banner-wrapper-bg);
        margin-left: calc(var(--supr-content-horizontal-padding) * -1);
        margin-right: calc(var(--supr-content-horizontal-padding) * -1);
        border-top-left-radius: 50% 10%;
        border-top-right-radius: 50% 10%;

        &.noHeader {
            background: transparent;
            padding: 0 16px;
        }

        supr-text-fragment {
            &.boldText {
                --supr-text-fragment-font-weight: var(--supr-weight-bold);
            }

            &.centerAlign {
                --supr-text-fragment-align: center;
            }
        }

        supr-text-fragment.boldText {
            --supr-text-fragment-font-weight: var(--supr-weight-bold);
        }
    }
}
