:host {
    form {
        height: auto;

        .rowWrapper {
            padding: 8px 0;
        }

        .inputWrapper {
            padding: 16px;
            border-radius: 8px;
            border: 1px solid var(--black-40);
        }

        .cvvWrapper {
            width: 45%;
        }

        .expiryWrapper {
            width: 48%;
        }

        supr-text {
            &.label {
                --supr-text-color: var(--black-40);
            }

            &.error {
                --supr-text-color: var(--caution-100);
            }
        }

        supr-icon {
            &.info {
                padding-top: 1px;
                padding-left: 2px;

                --supr-icon-color: var(--black-40);
                --supr-icon-font-size: var(--supr-font-size-small);
            }

            &.error {
                --supr-icon-color: var(--caution-100);
            }
        }
    }

    supr-line-item-variant-A {
        &.additionalInfo {
            --icon-left-size: 18px;
            --text-color: var(--black-60);
            --icon-left-color: var(--black-40);
            --icon-left-wrapper-margin-right: 8px;

            &.checked {
                --icon-left-color: var(--primary-100);
            }
        }
    }
}
