<form id="add-card-form" novalidate>
    <div class="cardNumberWrapper rowWrapper">
        <supr-text
            class="label"
            type="body"
            [class.error]="
                _errorVisibility &&
                _errorVisibility[_cardForm.CARD_NUMBER.formField] &&
                !cardFormMeta?.validation?.card?.valid
            "
        >
            {{ _cardForm.CARD_NUMBER.text }}
        </supr-text>
        <div class="divider4"></div>

        <div class="inputWrapper">
            <supr-input
                #cardNumber
                type="tel"
                (handleInputBlur)="
                    validateFormField(_cardForm.CARD_NUMBER.formField)
                "
                (handleInputFocus)="
                    validateFormField(_cardForm.CARD_NUMBER.formField)
                "
            ></supr-input>
        </div>

        <ng-container
            *ngIf="
                _errorVisibility &&
                _errorVisibility[_cardForm.CARD_NUMBER.formField] &&
                !cardFormMeta?.validation?.card?.valid
            "
        >
            <div class="divider8"></div>
            <supr-text type="caption" class="error">
                {{ cardFormMeta?.validation?.card?.message }}
            </supr-text>
        </ng-container>
    </div>
    <div class="suprRow top rowWrapper spaceBetween">
        <div class="expiryWrapper">
            <supr-text
                class="label"
                type="body"
                [class.error]="
                    _errorVisibility &&
                    _errorVisibility[_cardForm.EXPIRY.formField] &&
                    !cardFormMeta?.validation?.expiry?.valid
                "
            >
                {{ _cardForm.EXPIRY.text }}
            </supr-text>
            <div class="divider4"></div>

            <div class="inputWrapper">
                <supr-input
                    #expiry
                    type="tel"
                    (handleInputBlur)="
                        validateFormField(_cardForm.EXPIRY.formField)
                    "
                    (handleInputFocus)="
                        validateFormField(_cardForm.EXPIRY.formField)
                    "
                ></supr-input>
            </div>

            <ng-container
                *ngIf="
                    _errorVisibility &&
                    _errorVisibility[_cardForm.EXPIRY.formField] &&
                    !cardFormMeta?.validation?.expiry?.valid
                "
            >
                <div class="divider8"></div>
                <supr-text type="caption" class="error">
                    {{ cardFormMeta?.validation?.expiry?.message }}
                </supr-text>
            </ng-container>
        </div>
        <div class="cvvWrapper">
            <div class="suprRow">
                <supr-text
                    class="label"
                    type="body"
                    [class.error]="
                        _errorVisibility &&
                        _errorVisibility[_cardForm.CVV.formField] &&
                        _invalidCVV
                    "
                >
                    {{ _cardForm.CVV.text }}
                </supr-text>
            </div>
            <div class="divider4"></div>

            <div class="inputWrapper">
                <supr-input
                    #cvvNumber
                    type="password"
                    (handleInputBlur)="
                        validateFormField(_cardForm.CVV.formField)
                    "
                    (handleInputFocus)="
                        validateFormField(_cardForm.CVV.formField)
                    "
                    (handleInputChange)="
                        handleInputChange($event, _cardServiceData.CVV)
                    "
                ></supr-input>
            </div>
        </div>
    </div>
    <div class="nameWrapper rowWrapper">
        <supr-text class="label" type="body">
            {{ _cardForm.NAME.text }}
        </supr-text>
        <div class="divider4"></div>

        <div class="inputWrapper">
            <supr-input
                #name
                type="text"
                (handleInputChange)="
                    handleInputChange($event, _cardServiceData.NAME)
                "
            ></supr-input>
        </div>
    </div>
</form>

<div class="divider4"></div>
<supr-line-item-variant-A
    textType="body"
    class="additionalInfo"
    [class.checked]="_saveCard"
    [text]="_walletTexts.SAVE_CARD"
    [iconOnTheLeft]="_saveCard ? _iconNames.APPROVE : _iconNames.UNCHECKED"
    (handleClick)="toggleSaveCard()"
>
</supr-line-item-variant-A>

<ng-container *ngIf="cardFormMeta?.network === _cardTypes.MAESTRO">
    <div class="divider12"></div>
    <supr-line-item-variant-A
        textType="body"
        class="additionalInfo"
        [class.checked]="_noExpiryOrCvv"
        [text]="_walletTexts.MAESTRO_NO_CVV_EXPIRY"
        [iconOnTheLeft]="
            _noExpiryOrCvv ? _iconNames.APPROVE : _iconNames.UNCHECKED
        "
        (handleClick)="toggleNoExpiryOrCvv()"
    >
    </supr-line-item-variant-A>
</ng-container>
