:host {
    --supr-swipeable-wrapper-width: 100vw;
    --supr-swipeable-wrapper-height: 100%;

    --supr-swipeable-pane-transparent-height: 230px;
    --supr-swipeable-pane-transparent-zindex: calc(
        var(--supr-base-z-index) - 100
    );

    --supr-swipeable-dragable-top-box-shadow: none;
    --supr-swipeable-dragable-pin-height: 24px;

    --supr-swipeable-pane-content-zindex: var(--supr-base-z-index);
    --supr-swipeable-pane-content-bg-color: var(--white-100);
    --supr-swipeable-pane-content-max-height: calc(
        100vh - var(--supr-swipeable-dragable-pin-height)
    );

    .wrapper {
        height: var(--supr-swipeable-wrapper-height);
        width: var(--supr-swipeable-wrapper-width);
        overflow: auto;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        will-change: height;
        transition: height 0.3s ease-out;
    }

    .pane {
        scroll-snap-align: start;
        background-color: transparent;
        position: relative;

        &Transparent {
            height: var(--supr-swipeable-pane-transparent-height);
            z-index: var(--supr-swipeable-pane-transparent-zindex);
        }

        &Holder {
            z-index: var(--supr-swipeable-pane-content-zindex);
        }
    }

    .content {
        height: 100vh;
        max-height: calc(
            var(--supr-swipeable-pane-content-max-height) -
                var(--supr-swipeable-dragable-pin-height)
        );
        overflow-y: scroll;
        background-color: var(--supr-swipeable-pane-content-bg-color);

        &Sticky {
            overflow-y: hidden;
        }
    }

    supr-draggable-top {
        --supr-draggable-top-box-shadow: var(
            --supr-swipeable-dragable-top-box-shadow
        );
    }
}
