:host {
    --supr-sidemenu-icon-color: var(--black-100);
    --supr-sidemenu-icon-size: 24px;

    supr-icon {
        --supr-icon-font-size: var(--supr-sidemenu-icon-size);
        --supr-icon-color: var(--supr-sidemenu-icon-color);
    }
}
