@import "mixins/grid";

:host {
    // --supr-page-header-height: <some value>   [global variable. can be set directly]
    // --supr-page-header-width: <some value>   [global variable. can be set directly]

    --supr-page-header-back-button-display: inherit;
    --supr-page-header-back-button-color: inherit;
    --supr-page-header-bg-color: var(--white-100);
    --supr-page-header-border-color: var(--black-10);
    --supr-page-header-border-height: 1px;
    --supr-page-header-back-button-width: 64px;

    .wrapper {
        @include center-vertical;

        position: relative;
        width: var(--supr-page-header-width);
        height: var(--supr-page-header-height);
        background-color: var(--supr-page-header-bg-color);

        supr-back-button {
            --supr-back-button-icon-color: var(
                --supr-page-header-back-button-color
            );

            display: var(--supr-page-header-back-button-display);
        }

        .content {
            width: calc(100% - var(--supr-page-header-back-button-width));
        }

        &BottomLine {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: var(--supr-page-header-border-height);
            background-color: var(--supr-page-header-border-color);
        }
    }

    supr-sticky-wrapper {
        &.noBg {
            --supr-page-header-bg-color: transparent;
            --supr-page-header-width: var(--supr-page-header-back-button-width);
            --supr-sticky-wrapper-width: var(
                --supr-page-header-back-button-width
            );
        }
    }
}
