:host {
    .wrapper {
        padding: var(--supr-content-padding);
    }

    .prompt {
        supr-text {
            --supr-text-wrap: normal;

            &.never {
                --supr-text-color: var(--primary-100);
                --supr-text-transform: uppercase;
            }
        }
    }

    .thankyou {
        supr-text {
            &.subtitle {
                --supr-text-color: var(--black-40);
            }
        }
    }

    .prompt,
    .thankyou,
    .feedback {
        supr-button {
            --supr-button-bg-color: var(--white-100);
            --supr-button-border-color: var(--primary-100);
            --supr-button-width: 100%;

            width: 100%;

            supr-text {
                --supr-text-color: var(--primary-100);
            }

            &.primary {
                --supr-button-bg-color: var(--primary-100);

                supr-text {
                    --supr-text-color: var(--white-100);
                }
            }
        }
    }

    .feedback {
        supr-text {
            --supr-text-wrap: normal;

            &.subtitle {
                --supr-text-color: var(--black-40);
            }
        }

        &Options {
            supr-icon {
                --supr-icon-color: var(--black-40);
                --supr-icon-font-size: 18px;

                &.selected {
                    --supr-icon-color: var(--primary-100);
                }
            }
        }

        textarea {
            border: 0.5px solid var(--black-40);
            padding: 5px 10px;
            border-radius: 2px;
            width: 100%;
            box-sizing: border-box;

            &::placeholder {
                color: var(--black-40);
            }

            &::-webkit-input-placeholder {
                color: var(--black-40);
            }
        }
    }
}
