:host {
    .wrapper {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
        padding-top: 50px;

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--black-80);
        }

        supr-svg {
            --supr-svg-width: 67px;
            --supr-svg-height: 45px;
            --supr-svg-path: var(--supr-svg-schedule-truck);
        }

        .titleDate {
            --supr-text-color: var(--primary-120);
        }

        .indexWrapper {
            width: 18px;

            .index {
                width: 18px;
                height: 18px;
                padding-top: 1px;
                border-radius: 50%;
                text-align: center;
                box-sizing: border-box;
                background-color: var(--primary-20);

                supr-text {
                    --supr-text-color: var(--black-100);
                }
            }
        }

        .textWrapper {
            padding-left: 8px;
        }

        .info {
            --supr-text-color: var(--black-40);
        }

        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
