<div class="menuContainer">
    <div class="menuSection">
        <ion-menu-toggle>
            <div
                saClick
                [saObjectName]="SA_OBJECT_NAMES.PROFILE"
                [saContext]="SA_CONTEXT.SIDEMENU_SCREEN"
                class="menuItem"
                (click)="handleProfileClick($event)"
            >
                <supr-icon class="profile" name="profile"></supr-icon>
                <ng-container *ngIf="!isAnonymousUser; else login">
                    <supr-text class="menuItemLabel" type="body">
                        {{ name }}
                    </supr-text>
                    <supr-icon
                        class="menuItemRight chevron"
                        name="chevron_right"
                    ></supr-icon>
                </ng-container>
                <ng-template #login>
                    <supr-chip
                        class="login"
                        (handleClick)="handleProfileClick($event)"
                    >
                        <supr-text class="walletBalance" type="caption"
                            >SIGN UP / LOGIN</supr-text
                        >
                    </supr-chip>
                </ng-template>
            </div>
        </ion-menu-toggle>
    </div>
    <div class="menuDivider"></div>
    <ng-container *ngIf="!isAnonymousUser; else citySelection">
        <ng-container *ngIf="showSuprPassCard && isSuprPassEligible">
            <supr-pass-card
                [saCardContext]="SA_CONTEXT.SIDEMENU_SCREEN"
            ></supr-pass-card>
        </ng-container>

        <div class="menuSection">
            <ion-menu-toggle>
                <div
                    saClick
                    [saObjectName]="SA_OBJECT_NAMES.SUBSCRIPTION"
                    [saContext]="SA_CONTEXT.SIDEMENU_SCREEN"
                    class="menuItem"
                    (click)="goToMySubscriptionsPage()"
                >
                    <supr-icon name="repeat" class="repeat"></supr-icon>
                    <supr-text class="menuItemLabel repeat" type="body">
                        {{ mySubscriptionsText }}
                    </supr-text>
                    <supr-text
                        class="menuItemRight"
                        [ngClass]="subscriptionCountClass"
                        type="paragraph"
                    >
                        {{ subscriptionCountStr }}
                    </supr-text>
                </div>
            </ion-menu-toggle>
        </div>
        <div class="menuSection">
            <ion-menu-toggle>
                <div
                    saClick
                    [saObjectName]="SA_OBJECT_NAMES.CALENDAR"
                    [saContext]="SA_CONTEXT.SIDEMENU_SCREEN"
                    class="menuItem"
                    (click)="goToSchedulePage()"
                >
                    <supr-icon name="calendar"></supr-icon>
                    <supr-text class="menuItemLabel" type="body">
                        {{ orderCalendarText }}
                    </supr-text>
                </div>
            </ion-menu-toggle>
        </div>

        <div class="menuSection">
            <ion-menu-toggle>
                <div
                    saClick
                    [saObjectName]="SA_OBJECT_NAMES.VACATION"
                    [saContext]="SA_CONTEXT.SIDEMENU_SCREEN"
                    class="menuItem"
                    (click)="goToPauseOrdersPage()"
                >
                    <supr-icon name="pause"></supr-icon>
                    <supr-text class="menuItemLabel" type="body">
                        {{ vacationText }}
                    </supr-text>
                    <supr-text
                        class="menuItemRight active"
                        *ngIf="isVacationActive"
                        type="paragraph"
                    >
                        {{ vacationActiveText }}
                    </supr-text>
                </div>
            </ion-menu-toggle>
        </div>
        <div class="menuSection">
            <ion-menu-toggle>
                <div
                    saClick
                    [saObjectName]="SA_OBJECT_NAMES.WALLET"
                    [saContext]="SA_CONTEXT.SIDEMENU_SCREEN"
                    class="menuItem"
                    (click)="goToWalletPage()"
                >
                    <supr-icon name="wallet"></supr-icon>
                    <supr-text class="menuItemLabel" type="body">
                        {{ suprWalletText }}
                    </supr-text>
                    <supr-chip class="menuItemRight">
                        <supr-text class="walletBalance" type="caption">
                            {{ walletBalance | rupee }}
                        </supr-text>
                    </supr-chip>
                </div>
            </ion-menu-toggle>
        </div>
        <div class="menuSection">
            <ion-menu-toggle>
                <div
                    saClick
                    [saObjectName]="SA_OBJECT_NAMES.WALLET_TXN"
                    [saContext]="SA_CONTEXT.SIDEMENU_SCREEN"
                    class="menuItem"
                    (click)="goToWalletTxnPage()"
                >
                    <supr-icon name="subscription"></supr-icon>
                    <supr-text class="menuItemLabel" type="body">
                        {{ walletTxnText }}
                    </supr-text>
                </div>
            </ion-menu-toggle>
        </div>

        <ng-container *ngIf="!showSuprPassCard">
            <div
                class="menuSection"
                (click)="goToSuprPassPage()"
                *ngIf="isSuprPassEligible"
            >
                <ion-menu-toggle>
                    <div
                        saClick
                        [saObjectName]="SA_OBJECT_NAMES.SUPR_PASS"
                        [saContext]="SA_CONTEXT.SIDEMENU_SCREEN"
                        class="menuItem"
                    >
                        <supr-icon
                            name="logo_without_text"
                            class="suprPassIcon"
                        ></supr-icon>

                        <supr-text class="menuItemLabel" type="body">
                            {{ suprPassText }}
                        </supr-text>

                        <supr-text
                            class="menuItemRight active"
                            type="paragraph"
                        >
                            {{ suprPassInfoText }}
                        </supr-text>
                    </div>
                </ion-menu-toggle>
            </div>
        </ng-container>

        <div
            class="menuSection"
            (click)="goToReferralPage()"
            *ngIf="isReferralEligible"
        >
            <ion-menu-toggle>
                <div
                    saClick
                    [saObjectName]="SA_OBJECT_NAMES.REFERRAL"
                    [saContext]="SA_CONTEXT.SIDEMENU_SCREEN"
                    class="menuItem"
                >
                    <supr-icon name="share"></supr-icon>
                    <supr-text class="menuItemLabel" type="body">
                        {{ referralText }}
                    </supr-text>
                    <supr-chip
                        class="menuItemRight"
                        (handleClick)="goToReferralPage()"
                        *ngIf="referralInfoText"
                    >
                        <supr-text class="enterCode" type="caption">
                            {{ referralInfoText }}
                        </supr-text>
                    </supr-chip>
                </div>
            </ion-menu-toggle>
        </div>

        <div
            class="menuSection"
            (click)="goToRewardsPage()"
            *ngIf="isRewardsEligible"
        >
            <ion-menu-toggle>
                <div
                    saClick
                    [saObjectName]="SA_OBJECT_NAMES.REWARDS"
                    [saContext]="SA_CONTEXT.SIDEMENU_SCREEN"
                    class="menuItem"
                >
                    <supr-icon name="gift"></supr-icon>
                    <supr-text class="menuItemLabel" type="body">
                        {{ rewardsText }}
                    </supr-text>
                </div>
            </ion-menu-toggle>
        </div>
    </ng-container>
    <ng-template #citySelection>
        <div class="menuSection" (click)="handleAnonymousUserCitySelection()">
            <ion-menu-toggle>
                <div
                    saClick
                    [saObjectName]="SA_OBJECT_NAMES.CITY_SELECTION"
                    [saContext]="SA_CONTEXT.SIDEMENU_SCREEN"
                    class="menuItem"
                >
                    <supr-icon name="location"></supr-icon>
                    <supr-text class="menuItemLabel" type="body">
                        {{ anonymousUserCityInfo?.value }}
                    </supr-text>
                </div>
            </ion-menu-toggle>
        </div>
    </ng-template>
    <div class="menuSection" (click)="goToSupportPage()">
        <ion-menu-toggle>
            <div
                saClick
                [saObjectName]="SA_OBJECT_NAMES.SUPPORT"
                [saContext]="SA_CONTEXT.SIDEMENU_SCREEN"
                class="menuItem"
            >
                <supr-icon name="headphones"></supr-icon>
                <supr-text class="menuItemLabel" type="body">
                    {{ supportText }}
                </supr-text>
            </div>
        </ion-menu-toggle>
    </div>

    <div class="menuVersion menuSection">
        <div class="menuDivider"></div>
        <div class="divider24"></div>
        <div class="suprRow">
            <supr-icon name="error"></supr-icon>
            <div class="spacer14"></div>
            <supr-text type="body">v{{ appVersion }}</supr-text>
        </div>
    </div>
</div>
