:host {
    --content-padding: 16px;

    .suprScrollContent {
        padding: var(--content-padding);
        padding-top: calc(var(--supr-page-header-height) + 8px);
        overflow-x: hidden;
    }

    supr-page-header {
        --supr-page-header-border-color: white;
    }

    .content {
        &Activity {
            width: 100%;
        }

        &Upper {
            width: 100%;
            background-color: white;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
            border-radius: 4px;

            &Header {
                background: #6ac259;
                border-radius: 4px 4px 0px 0px;
                padding: 8px 16px;
                width: 100%;
            }

            supr-text {
                --supr-text-wrap: normal;
            }

            &Body {
                padding: 16px;
                width: 100%;

                &Content {
                    width: 70%;
                }

                supr-text-fragment {
                    &.bodyTextSubtitle {
                        --supr-text-fragment-font-weight: 800;
                    }

                    &.bodyText {
                        width: 60%;
                    }
                }

                supr-image {
                    --supr-image-height: 45px;
                    --supr-image-width: 45px;
                }
            }
        }

        &RewardsHistory {
            supr-text {
                --supr-text-color: var(--black-60);
            }
        }
    }
}
