:host {
    .headerTextWrapper {
        padding-bottom: 4px;

        supr-text.caution {
            padding-left: 8px;

            --supr-text-color: var(--caution-100);
        }
    }

    .issueWrapper {
        padding: 20px 0;
        border-bottom: 1px solid var(--black-10);

        supr-line-item-variant-A {
            --icon-left-size: 20px;
            --icon-left-color: var(--black-60);
            --icon-left-wrapper-margin-right: 24px;

            &.selected {
                --icon-left-color: var(--primary-100);
            }
        }
    }
}
