:host {
    --supr-delivery-slot-chip-border-color: var(--black-20);

    .wrapper {
        height: 36px;
        min-width: 175px;
        border-radius: 0px 18px 18px 0px;
        box-shadow: 0px 1px 2px var(--black-20);
        padding: 0 var(--supr-content-horizontal-padding) 9px
            var(--supr-content-horizontal-padding);
        border: 1px solid var(--supr-delivery-slot-chip-border-color);
        border-left: none;

        supr-text {
            --supr-text-color: var(--black-80);
        }

        supr-svg {
            padding-bottom: 3px;

            --supr-svg-width: 40px;
            --supr-svg-height: 31px;
            --supr-svg-path: var(--supr-svg-schedule-scooter);

            &.ALTERNATE_DELIVERY {
                --supr-svg-width: 43px;
                --supr-svg-height: 28px;
                --supr-svg-path: var(--supr-svg-schedule-truck);
            }
        }
    }
}
