:host {
    --supr-v3-tile-title-color: var(--black-100);
    --supr-v3-tile-subText1-color: var(--black-100);

    .tile {
        padding: 8px 12px;

        supr-text {
            --supr-text-wrap: normal;

            &.title {
                --supr-text-color: var(--supr-v3-tile-title-color);
                --supr-text-overflow: hidden;
            }

            &.subText1 {
                --supr-text-color: var(--supr-v3-tile-subText1-color);
            }
        }

        supr-icon {
            padding-top: 2px;

            --supr-icon-color: var(--supr-v3-tile-subText1-color);
            --supr-icon-font-size: 14px;
        }

        &Btn {
            border-radius: 16px;
            padding: 2px 5px;
            background-color: #f26d76;

            supr-text {
                &.subText2 {
                    --supr-text-color: var(--supr-v3-tile-subText2-color);
                }
            }
        }
    }

    supr-v3-tile-variant-e {
        &:first-child {
            margin-right: 12px;
        }

        &:last-child {
            margin-right: 12px;
        }
    }
}
