:host {
    .suprScrollContent {
        padding: 0 var(--supr-content-horizontal-padding);
        padding-top: var(--supr-page-header-height);
        padding-bottom: calc(var(--supr-page-footer-height) + 18px);

        .cancelAction {
            supr-icon {
                --supr-icon-color: var(--caution-100);
            }

            supr-text {
                --supr-text-color: var(--caution-100);
            }
        }

        &.recharge,
        &.expired {
            padding-bottom: calc(var(--supr-page-footer-height) + 74px);
        }
    }
}
