:host {
    .card {
        height: 80px;
        padding: 8px 16px;
        border-radius: 16px;
        box-shadow: 0px 2px 7px var(--black-20);

        &.quantity {
            padding-top: 10px;
        }

        &Header {
            height: 24px;

            supr-text {
                --supr-text-color: var(--grey-3);
            }
        }

        &Content {
            height: 40px;

            .suprRow {
                width: 100%;

                supr-text.quantity {
                    --supr-text-color: var(--black-80);
                }

                supr-icon {
                    margin-left: auto;

                    --supr-icon-color: var(--black-40);
                }
            }
        }
    }
}
