<div class="suprContainer" #wrapper>
    <div class="suprColumn center wrapper">
        <div class="thankyouContent">
            <img
                class="animate"
                src="assets/videos/order_placed.gif"
                alt="thank you"
                *ngIf="!checkoutAnimationDone"
            />
            <div class="suprColumn center animate" *ngIf="postCheckoutContent">
                <div class="suprRow center">
                    <supr-text type="subheading">
                        {{ postCheckoutContent?.upperFoldText?.text }}
                    </supr-text>
                </div>
                <ng-container *ngIf="postCheckoutContent?.middleFoldText?.text">
                    <div class="suprRow center">
                        <supr-text type="subheading">
                            {{ postCheckoutContent?.middleFoldText?.text }}
                        </supr-text>
                    </div>
                </ng-container>
                <ng-container
                    *ngIf="postCheckoutContent?.middleFoldText?.animationNumValues"
                >
                    <div class="suprRow center">
                        <div class="middleFoldText"></div>
                    </div>
                </ng-container>
                <!--  -->

                <div class="suprRow center">
                    <supr-text type="subheading">
                        {{ postCheckoutContent?.lowerFoldText?.text }}
                    </supr-text>
                </div>
                <ng-container *ngIf="postCheckoutContent?.imageUrl">
                    <div class="divider16"></div>
                    <div class="suprRow center">
                        <div
                            class="imgWrapper flipAnimation"
                            [class.flipAnimation]="postCheckoutContent?.flipImage"
                        >
                            <img [src]="postCheckoutContent?.imageUrl" />
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <supr-cart-order-success-ad-modal
        *ngIf="_showADModal"
        [date]="_firstDeliveryDate"
        [modalConfig]="_adModalConfig"
        (handleModalClose)="routeToSchedulePage()"
    >
    </supr-cart-order-success-ad-modal>
    <supr-modal
        *ngIf="_showWhatsappModal"
        (handleClose)="routeToSchedulePage()"
        [modalName]="_modalNames.WHATSAPP_OPT_IN"
    >
        <supr-whatsapp
            [isLoading]="_updatingWhatsapp"
            [whatsAppOptIn]="whatsAppOptIn"
            (handleUpdateWhatsApp)="handleUpdateWhatsApp.emit($event)"
        ></supr-whatsapp>
    </supr-modal>
</div>
