:host {
    --otp-len: 4;
    --otp-line-width: 45px;
    --otp-input-line-spacing: 35px;
    --otp-len-padding-vertical: 14px;
    --otp-len-padding-horizontal: 21px;

    --opt-wrapper-width: calc(100vw - 2 * var(--container-padding));
    --otp-letter-spacing: calc(
        var(--opt-wrapper-width) / var(--otp-len) - 13px
    );

    .otp {
        width: 100%;
        border: 1px solid var(--black-5);
        border-radius: 4px;
        height: 56px;
        box-sizing: border-box;
        background-color: var(--primary-5);
        position: relative;

        &.error {
            border: 1px solid var(--caution-100);
        }

        supr-input {
            --supr-input-letter-spacing: var(--otp-letter-spacing);
            --supr-input-padding: 0 21px;
        }

        supr-otp-input-lines {
            position: absolute;
            bottom: 24px;
            left: 21px;
            width: calc(100% - 2 * var(--otp-len-padding-horizontal));
        }
    }

    .line {
        width: calc(var(--otp-line-width) - var(--otp-input-line-spacing));
        height: 2px;
        background-color: var(--black-20);
    }
}
