:host {
    --image-size: 30px;
    --image-wrapper-size: 48px;
    --image-border-radius: 8px;
    --image-box-shadow: 0px 2px 5px var(--black-20);

    --title-font-color: var(--black-40);

    --header-icon-color: var(--primary-100);
    --header-icon-size: var(--supr-font-size-large);

    --subtitle-font-color: var(--alert-100);
    --subtitle-icon-color: var(--alert-100);
    --subtitle-icon-size: var(--supr-font-size-extra-small);

    .imageWrapper {
        position: relative;
        width: var(--image-wrapper-size);
    }

    supr-icon {
        &.headerIcon {
            top: -10px;
            right: -10px;
            position: absolute;

            --supr-icon-color: var(--header-icon-color);
            --supr-icon-font-size: var(--header-icon-size);
        }

        &.subtitleIcon {
            --supr-icon-color: var(--subtitle-font-color);
            --supr-icon-font-size: var(--subtitle-icon-size);
        }
    }

    supr-image {
        --supr-image-width: var(--image-size);
        --supr-image-height: var(--image-size);
        --supr-image-wrapper-width: var(--image-wrapper-size);
        --supr-image-wrapper-height: var(--image-wrapper-size);
        --supr-image-border-radius: var(--image-border-radius);
        --supr-image-wrapper-box-shadow: var(--image-box-shadow);
    }

    supr-text {
        width: 100%;

        --supr-text-wrap: normal;
        --supr-text-align: center;

        &.title {
            padding-top: 8px;

            --supr-text-color: var(--title-font-color);
        }

        &.subtitle {
            padding-top: 2px;

            --supr-text-color: var(--subtitle-font-color);
        }
    }
}
