<div class="wrapper suprColumn center">
    <div class="imageWrapper">
        <supr-icon *ngIf="icon" [name]="icon" class="headerIcon"></supr-icon>
        <supr-image
            [src]="imageSrc"
            [useDirectUrl]="useDirectImageUrl"
        ></supr-image>
    </div>
    <supr-text type="caption" class="title" *ngIf="title">
        {{ title }}
    </supr-text>
    <div class="suprRow" *ngIf="subtitle">
        <supr-icon
            class="subtitleIcon"
            [name]="subtitleIcon"
            *ngIf="subtitleIcon"
        ></supr-icon>
        <supr-text type="caption" class="subtitle">
            {{ subtitle }}
        </supr-text>
    </div>
</div>
