@import "mixins/grid";

:host {
    --supr-sub-category-tile-width: 100%;
    --supr-sub-category-tile-height: 60px;

    --supr-sub-category-tile-img-width: 48px;
    --supr-sub-category-tile-img-height: 48px;

    --supr-sub-category-tile-img-wrapper-width: 60px;
    --supr-sub-category-tile-img-wrapper-height: 60px;

    --supr-sub-category-tile-img-bg-color: transparent;
    --supr-sub-category-tile-title-color: var(--black-80);
    --supr-sub-category-tile-item-count-color: var(--black-40);

    --supr-sub-category-tile-img-border-radius: 8px;
    --supr-sub-category-name-line-height: 20px;
    --supr-sub-category-name-wrap: normal;

    .wrapper {
        @include supr-row;

        overflow: hidden;
        width: var(--supr-sub-category-tile-width);
        min-height: var(--supr-sub-category-tile-height);
    }

    .name {
        margin-left: 8px;

        supr-text {
            &.heading {
                --supr-text-color: var(--supr-sub-category-tile-title-color);
                --supr-text-line-height: var(
                    --supr-sub-category-name-line-height
                );
                --supr-text-wrap: var(--supr-sub-category-name-wrap);
            }

            &.count {
                --supr-text-color: var(
                    --supr-sub-category-tile-item-count-color
                );
            }
        }
    }

    supr-image {
        --supr-image-width: var(--supr-sub-category-tile-img-width);
        --supr-image-height: var(--supr-sub-category-tile-img-height);
        --supr-image-wrapper-width: var(
            --supr-sub-category-tile-img-wrapper-width
        );
        --supr-image-wrapper-height: var(
            --supr-sub-category-tile-img-wrapper-width
        );
        --supr-image-border-radius: var(
            --supr-sub-category-tile-img-border-radius
        );
        --supr-image-bg-color: var(--supr-sub-category-tile-img-bg-color);
    }
}
