:host {
    --supr-category-grid-row-spacing: 16px;
    --supr-category-grid-col-spacing: 15px;
    --supr-category-grid-wrapper-width: calc(
        100% + 2 * var(--supr-category-grid-col-spacing)
    );
    --supr-category-grid-tile-width: 33.33%;

    .wrapper {
        width: var(--supr-category-grid-wrapper-width);
        height: auto;
        overflow-x: hidden;
        margin-left: calc(var(--supr-category-grid-col-spacing) * -1);

        .row {
            margin-bottom: var(--supr-category-grid-row-spacing);

            &:last-child {
                margin-bottom: 0;
            }

            supr-category-tile {
                width: var(--supr-category-grid-tile-width);
                padding: 0 var(--supr-category-grid-col-spacing);
            }
        }
    }
}
