@import "mixins/grid";

:host {
    --supr-banner-padding: 12px;
    --supr-banner-with-cross-padding-right: 36px;
    --supr-banner-with-title-padding: 16px 12px;
    --supr-banner-border-radius: 4px;
    --supr-banner-border-size: 0;
    --supr-banner-border-color: var(--black-40);
    --supr-banner-border-style: solid;
    --supr-banner-box-shadow: none;
    --supr-banner-bg: transparent;
    --supr-banner-highlighted-text-color: var(--black-80);
    --supr-banner-content-padding: 12px 0;
    --supr-banner-content-with-title-padding: 16px 0;
    --supr-banner-content-border-bottom: 1px solid var(--black-10);
    --supr-banner-content-icon-size: 32px;
    --supr-banner-content-big-icon-size: 40px;
    --supr-banner-content-icon-margin-right: 12px;
    --supr-banner-content-icon-margin-top: 2px;

    --supr-banner-content-font-size: 14px;
    --supr-banner-content-font-color: var(--black-80);
    --supr-banner-content-title-color: var(--black-100);

    --supr-banner-content-title-weight: var(--supr-weight-semi-bold);
    --supr-banner-content-text-weight: inherit;

    --supr-banner-content-link-color: var(--primary-100);

    --supr-banner-tag-padding: 2px 8px;
    --supr-banner-tag-border-radius: 8px;
    --supr-banner-tag-bg: var(--primary-100);

    supr-text {
        --supr-text-wrap: normal;
    }

    .bannerContainer {
        .bannerWrapper {
            position: relative;
            background: var(--supr-banner-bg);
            padding: var(--supr-banner-padding);
            border: var(--supr-banner-border-size);
            border-radius: var(--supr-banner-border-radius);
            border-color: var(--supr-banner-border-color);
            border-style: var(--supr-banner-border-style);
            box-shadow: var(--supr-banner-box-shadow);

            &.withCrossIcon {
                padding-right: var(
                    --supr-banner-with-cross-padding-right
                ) !important;
            }

            &.withTitle {
                padding: var(--supr-banner-with-title-padding);
            }

            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-80);
            }

            .crossIconWrapper {
                position: absolute;
                right: 12px;

                supr-icon {
                    --supr-icon-font-size: 16px;
                    --supr-icon-color: var(--black-40);
                }
            }
        }

        supr-text-fragment.boldText {
            --supr-text-fragment-font-weight: var(--supr-weight-bold);
        }
    }

    .bannerContentWrapper {
        padding: var(--supr-banner-content-padding);
        border-bottom: var(--supr-banner-content-border-bottom);

        &.withTitle {
            padding: var(--supr-banner-content-with-title-padding);
        }

        .titleBlock {
            width: 100%;

            .tag {
                margin-top: 2px;

                padding: var(--supr-banner-tag-padding);
                border-radius: var(--supr-banner-tag-border-radius);
                background: var(--supr-banner-tag-bg);
            }
        }

        &.isFirst {
            padding-top: 0;
        }

        &.isLast {
            padding-bottom: 0;
            border: none;
        }

        .bannerContentIcon {
            max-width: var(--supr-banner-content-icon-size);
            margin-right: var(--supr-banner-content-icon-margin-right);

            &.bigIcon {
                max-width: var(--supr-banner-content-big-icon-size);
            }

            .imgWrapper {
                margin-top: var(--supr-banner-content-icon-margin-top);

                supr-image {
                    --supr-image-width: 100%;
                }
            }
        }

        supr-text-highlight {
            --supr-text-color: var(--supr-banner-content-font-color);
            --supr-text-font-size: var(--supr-banner-content-font-size);
            --supr-text-highlight-color: var(
                --supr-banner-highlighted-text-color
            );
            --supr-text-wrap: normal;
            --supr-text-letter-spacing: normal;
            --supr-text-line-height: 1.4;
            --supr-text-font-weight: var(--supr-banner-content-text-weight);
        }

        supr-text.link {
            --supr-text-color: var(--supr-banner-content-link-color);
            --supr-text-font-size: var(--supr-banner-content-font-size);
            --supr-text-font-weight: var(--supr-weight-semi-bold);
            --supr-text-letter-spacing: normal;
            --supr-text-line-height: 1.4;
        }

        supr-text.title {
            --supr-text-color: var(--supr-banner-content-title-color);
            --supr-text-font-size: calc(
                var(--supr-banner-content-font-size) + 2px
            );
            --supr-text-font-weight: var(--supr-banner-content-title-weight);
            --supr-text-letter-spacing: normal;
            --supr-text-line-height: 1.4;
        }

        supr-icon.link {
            @include center-vertical;

            --supr-icon-font-size: calc(
                var(--supr-banner-content-font-size) + 2px
            );
            --supr-icon-color: var(--supr-banner-content-link-color);
        }
    }
}
