@import "mixins/grid";

:host {
    --preview-image-width: 180px;
    --preview-image-height: 180px;

    .preview {
        padding: var(--supr-content-padding);

        &.bottomPadding {
            padding-bottom: calc(var(--supr-page-header-height) + 8px);
        }

        supr-image {
            @include center-horizontal;

            --supr-image-width: var(--preview-image-width);
            --supr-image-height: var(--preview-image-height);
            --supr-image-display: block;
        }
    }

    .details {
        &Name {
            --supr-text-wrap: normal;
        }

        &Action {
            &Wrapper {
                width: 92px;
                height: 72px;
                padding-top: 4px;

                supr-text.qtySubtext {
                    --supr-text-color: var(--black-40);
                }
            }
        }

        &Qty {
            --supr-text-color: var(--black-40);

            position: relative;
            margin-top: 4px;
        }

        &Info {
            &Wrapper {
                padding-right: 8px;
            }
        }

        &Price {
            &Strike {
                --supr-text-color: var(--black-30);
                --supr-text-decoration: line-through;
            }

            &Wrapper {
                margin-top: 4px;
            }
        }
    }

    .fadeIn {
        opacity: 0.3;
    }
}
