<div class="containerRtb">
    <ion-slides [options]="slideOpts">
        <ng-container *ngFor="let data of loginData; let i = index">
            <ion-slide>
                <div class="rtb">
                    <rtb-banner
                        [className]="data.className"
                        [title]="data.titleText"
                        [subTitle]="data.subTitleText"
                    >
                    </rtb-banner>
                </div>
            </ion-slide>
        </ng-container>
    </ion-slides>
    <div class="explore suprRow" (click)="handleSkipLogin()" *ngIf="isIos">
        <supr-text type="subtext10">EXPLORE</supr-text>
        <supr-icon name="chevron_right"></supr-icon>
    </div>
</div>
