@import "mixins/grid";

:host {
    --container-padding: 12px;
    --container-bg-color: var(--white-100);

    --section-padding: 15px 12px;

    --divider-height: 1px;
    --divider-color: var(--black-10);

    --item-icon-color: var(--primary-100);
    --item-label-color: var(--black-60);
    --item-label-left-spacing: 10px;

    --header-label-color: var(--black-100);
    --header-icon-size: 24px;
    --header-icon-chevron-color: var(--black-100);

    --active-sub-color: var(--primary-100);

    --wallet-balance-text-color: var(--white-100);
    --wallet-balance-chip-padding: 2px 10px;
    --wallet-balance-chip-bg-color: var(--primary-100);

    --side-menu-min-width: 30px;

    --repeat-icon-size: 20px;
    --repeat-label-left-spacing: calc(var(--item-label-left-spacing) - 2px);

    --supr-wallet-txn-icon-size: 16px;

    .menu {
        position: relative;

        &Container {
            overflow-x: hidden;
            overflow-y: auto;
            background: var(--container-bg-color);
            padding: var(--container-padding);
            height: calc(100vh - 2 * var(--container-padding));
        }

        &Section {
            padding: var(--section-padding);
        }

        &Divider {
            width: 100%;
            height: var(--divider-height);
            background-color: var(--divider-color);
        }

        &Item {
            @include supr-row;

            &Label {
                margin-left: var(--item-label-left-spacing);

                &.repeat {
                    margin-left: var(--repeat-label-left-spacing);
                }
            }

            &Right {
                margin-left: auto;
            }

            supr-icon {
                --supr-icon-color: var(--item-icon-color);

                &.profile {
                    --supr-icon-font-size: var(--header-icon-size);
                }

                &.chevron {
                    --supr-icon-color: var(--header-icon-chevron-color);
                    --supr-icon-font-size: var(--header-icon-size);
                    --supr-icon-font-weight: var(--supr-weight-bold);
                }

                &.repeat {
                    --supr-icon-font-size: var(--repeat-icon-size);

                    margin-left: -2px;
                }

                &.suprPassIcon {
                    margin-left: -4px;
                    margin-right: 4px;
                }
            }

            .walletTxn {
                --supr-svg-path: var(--supr-svg-wallet-txn);
                --supr-svg-width: var(--supr-wallet-txn-icon-size);
                --supr-svg-height: var(--supr-wallet-txn-icon-size);
            }

            supr-text {
                --supr-text-color: var(--item-label-color);

                &.active {
                    --supr-text-color: var(--active-sub-color);
                }

                &.pending {
                    --supr-text-color: var(--alert-100);
                }

                &.ended {
                    --supr-text-color: var(--caution-100);
                }

                &.walletBalance {
                    --supr-text-color: var(--wallet-balance-text-color);
                }

                &.enterCode {
                    --supr-text-color: var(--white-100);
                }
            }

            supr-chip {
                --supr-chip-background-color: var(
                    --wallet-balance-chip-bg-color
                );
                --supr-chip-padding: var(--wallet-balance-chip-padding);
                --supr-chip-min-width: var(--side-menu-min-width);

                &.login {
                    margin-left: 8px;

                    supr-text {
                        --supr-text-color: var(--white-100);
                    }
                }
            }
        }

        &Version {
            @media screen and (min-height: 700px) {
                position: absolute;
                bottom: var(--container-padding);
                width: calc(100% - 2 * var(--supr-content-horizontal-padding));
            }

            supr-icon {
                --supr-icon-color: var(--black-20);
            }

            supr-text {
                --supr-text-color: var(--black-20);
            }
        }
    }
}
