@import "mixins/grid";

:host {
    --supr-horizontal-card-padding: 8px;
    --supr-horizontal-card-spacing: 8px;

    --supr-tile-img-bg-color: var(--white-100);

    --supr-product-tile-image-width: 106px;
    --supr-product-tile-image-height: 106px;

    --supr-horizontal-card-width: 138px;

    --image-with: 64px;
    --image-height: 64px;

    .horizontalSlider {
        @include center-vertical;

        overflow-y: hidden;
        overflow-x: auto;
        margin: 0 calc(var(--supr-content-horizontal-padding) * -1);

        &::-webkit-scrollbar {
            display: none;
        }

        &RowData {
            margin-left: var(--supr-horizontal-card-spacing);

            &:first-child {
                margin-left: var(--supr-content-horizontal-padding);
            }

            &:last-child {
                padding-right: var(--supr-content-horizontal-padding);
                margin-right: var(--supr-content-horizontal-padding);
            }

            &Item {
                margin-bottom: calc(2 * var(--supr-horizontal-card-spacing));
            }
        }
    }

    .image {
        @include center-vertical;

        width: 100%;
        height: 100%;

        padding: 0 4px;
    }

    .tile {
        width: 100%;
        height: auto;
        position: relative;

        &Image {
            background-color: white;
            border-radius: 50%;
            padding: 8px;
            width: var(--supr-product-tile-image-width);
            height: var(--supr-product-tile-image-height);
        }

        &Counter {
            supr-text.qtySubtext {
                --supr-text-color: var(--black-40);
            }
        }
    }

    .card {
        position: relative;
        width: var(--supr-horizontal-card-width);

        &.item {
            padding: var(--supr-horizontal-card-padding);
        }
    }

    .details {
        width: 98px;
        margin-top: -2px;

        &Name {
            --supr-text-wrap: normal;
            --supr-text-truncate-line-count: 2;
        }

        &Qty {
            --supr-text-color: var(--black-40);
        }

        &Price {
            &Strike {
                --supr-text-color: var(--black-30);
                --supr-text-decoration: line-through;
            }
        }
    }

    .icon {
        position: relative;
    }

    .btnIcon {
        position: absolute;
        right: 28%;
        bottom: -10px;

        supr-add-button {
            --supr-add-button-counter-border-color: var(--primary-100);
            --supr-add-button-counter-bg-color: var(--primary-100);
            --supr-add-button-counter-icon-color: var(--white-100);
            --supr-add-button-counter-text-color: var(--white-100);
            --supr-add-button-counter-qty-text-color: var(--white-100);
        }
    }

    supr-image {
        --supr-image-width: var(--image-with);
        --supr-image-height: var(--image-height);
    }

    .overlay50 {
        opacity: 0.5;
    }

    .overlay40 {
        opacity: 0.5;
    }
}
