<div class="map">
    <div class="suprColumn center markerWrapper">
        <div class="suprRow center">
            <supr-tooltip
                [class.warning]="
                    !isLocationServiceable && !checkingServiceability
                "
            >
                <div
                    class="suprRow center"
                    *ngIf="!checkingServiceability; else toastLoader"
                >
                    <supr-icon name="{{ toastMeta.icon }}"></supr-icon>
                    <div class="spacer8"></div>
                    <supr-text type="body">
                        {{ toastMeta.text }}
                    </supr-text>
                </div>
                <ng-template #toastLoader>
                    <supr-loader></supr-loader>
                </ng-template>
            </supr-tooltip>
        </div>
        <div class="divider8"></div>
        <supr-svg class="marker"></supr-svg>
    </div>

    <agm-map
        #myMap
        [latitude]="lat"
        [longitude]="lng"
        [disableDefaultUI]="true"
        [zoom]="zoom"
        [zoomControl]="false"
        [showDefaultInfoWindow]="false"
        [streetViewControl]="false"
        (centerChange)="centerChange($event)"
        (mapReady)="mapReady($event)"
    >
    </agm-map>

    <div class="overlay">
        <div class="divider24"></div>

        <div
            saClick
            class="overlaySearch suprRow"
            [saObjectName]="SA_OBJECT_NAME.MAP_SEARCH_BOX"
            [saContext]="saContext"
            (click)="openSearchAddress()"
        >
            <supr-icon class="pin" name="location"></supr-icon>
            <supr-text type="subheading">
                {{ formatted_address }}
            </supr-text>
            <supr-icon class="search" name="search"></supr-icon>
        </div>

        <div
            class="overlayCurrentLocationMarker suprRow center"
            (click)="moveToCurrentLocation()"
            saClick
            [saObjectName]="SA_OBJECT_NAME.MAP_CURRENT_LOCATION"
            [saContext]="saContext"
        >
            <supr-icon name="gps"></supr-icon>
        </div>
    </div>

    <div class="overlay">
        <div class="overlayFooter">
            <supr-sticky-wrapper>
                <div class="btnWrapper">
                    <supr-button
                        (handleClick)="handleProceedClick()"
                        [disabled]="
                            !isLocationServiceable || checkingServiceability
                        "
                        [saObjectName]="SA_OBJECT_NAME.CONFIRM_LOCATION"
                        [saContext]="saContext"
                    >
                        Confirm location
                    </supr-button>
                </div>
            </supr-sticky-wrapper>
        </div>
    </div>
</div>
