:host {
    .uploadImage {
        height: 80px;
        width: 80px;
        margin: 8px 8px 8px 0;
        position: relative;

        &.loading {
            opacity: 0.6;
        }

        img {
            height: inherit;
            width: inherit;
            border-radius: 8px;
        }

        supr-svg {
            position: absolute;
            right: -4px;
            top: -4px;
            --supr-svg-width: 15px;
            --supr-svg-height: 15px;
            --supr-svg-path: var(--supr-svg-cancel);
        }
    }
}
