:root {
    --supr-icon-thumbs-down: "\e900";
    --supr-icon-thumbs-up: "\e901";
    --supr-icon-deals: "\e902";
    --supr-icon-trophy: "\e903";
    --supr-icon-gift: "\e904";
    --supr-icon-netbanking: "\e905";
    --supr-icon-locked: "\e906";
    --supr-icon-unlocked: "\e907";
    --supr-icon-radio-checked: "\e908";
    --supr-icon-rupee: "\e909";
    --supr-icon-clock: "\e90a";
    --supr-icon-share: "\e90b";
    --supr-icon-copy-code: "\e90c";
    --supr-icon-offers-hexagon: "\e90d";
    --supr-icon-star-outline: "\e90e";
    --supr-icon-bell-2: "\e90f";
    --supr-icon-add-circle: "\e910";
    --supr-icon-whatsapp: "\e911";
    --supr-icon-apartment: "\e912";
    --supr-icon-bell: "\e913";
    --supr-icon-add: "\e914";
    --supr-icon-approve: "\e915";
    --supr-icon-approve-filled: "\e916";
    --supr-icon-pause-filled: "\e917";
    --supr-icon-arrow-down: "\e918";
    --supr-icon-arrow-left: "\e919";
    --supr-icon-arrow-right: "\e91a";
    --supr-icon-arrow-up: "\e91b";
    --supr-icon-bag-cart: "\e91c";
    --supr-icon-bill: "\e91d";
    --supr-icon-calendar: "\e91e";
    --supr-icon-card: "\e91f";
    --supr-icon-chevron-down: "\e920";
    --supr-icon-chevron-left: "\e921";
    --supr-icon-chevron-right: "\e922";
    --supr-icon-chevron-up: "\e923";
    --supr-icon-comment-info: "\e924";
    --supr-icon-cross: "\e925";
    --supr-icon-delivery: "\e926";
    --supr-icon-drop-down: "\e927";
    --supr-icon-drop-up: "\e928";
    --supr-icon-edit: "\e929";
    --supr-icon-error-octagon: "\e92a";
    --supr-icon-error-triangle: "\e92b";
    --supr-icon-error: "\e92c";
    --supr-icon-gps: "\e92d";
    --supr-icon-cart: "\e92e";
    --supr-icon-offer: "\e92f";
    --supr-icon-unchecked: "\e930";
    --supr-icon-receipt: "\e931";
    --supr-icon-menu: "\e932";
    --supr-icon-repeat: "\e933";
    --supr-icon-search: "\e934";
    --supr-icon-location: "\e935";
    --supr-icon-lock: "\e936";
    --supr-icon-phone-slash: "\e937";
    --supr-icon-logout: "\e938";
    --supr-icon-no-bell: "\e939";
    --supr-icon-pause: "\e93a";
    --supr-icon-headphones: "\e93b";
    --supr-icon-logo: "\e93c";
    --supr-icon-profile: "\e93d";
    --supr-icon-question: "\e93e";
    --supr-icon-refresh: "\e93f";
    --supr-icon-settings: "\e940";
    --supr-icon-skip: "\e941";
    --supr-icon-stop-watch: "\e942";
    --supr-icon-subscription: "\e943";
    --supr-icon-subtract: "\e944";
    --supr-icon-wallet: "\e945";
    --supr-icon-delete: "\e946";
    --supr-icon-comment: "\e947";
    --supr-icon-comment-slash: "\e948";
    --supr-icon-recharge-sub: "\e949";
    --supr-icon-logo-without-text: "\e94a";
    --supr-icon-tick: "\e94b";
}
