:root {
    --supr-svg-logo-small-url: url("assets/images/app/supr-logo-small.svg");
    --supr-svg-logo-large-url: url("assets/images/app/supr-logo-large.svg");
    --supr-svg-logo-large-white-url: url("assets/images/app/supr-logo-large-white.svg");

    --supr-svg-logo-url: url("assets/images/app/supr-logo.svg");
    --supr-svg-logo-with-subtitle-url: url("assets/images/app/supr-logo-large.svg");

    --supr-svg-nothing-scheduled-bag-url: url("assets/images/app/nothing-scheduled-bag.svg");
    --supr-svg-otp-verified-url: url("assets/images/app/otp-verified.svg");
    --supr-svg-not-found-url: url("assets/images/app/not-found.svg");

    --supr-svg-city-bangalore-url: url("assets/images/app/supr-city-bangalore.svg");
    --supr-svg-city-mumbai-url: url("assets/images/app/supr-city-mumbai.svg");
    --supr-svg-city-pune-url: url("assets/images/app/supr-city-pune.svg");
    --supr-svg-city-chennai-url: url("assets/images/app/supr-city-chennai.svg");
    --supr-svg-city-delhi-url: url("assets/images/app/supr-city-delhi.svg");
    --supr-svg-city-gurugram-url: url("assets/images/app/supr-city-gurgaon.svg");
    --supr-svg-city-noida-url: url("assets/images/app/supr-city-noida.svg");
    --supr-svg-city-ghaziabad-url: url("assets/images/app/supr-city-ghaziabad.svg");
    --supr-svg-city-hyderabad-url: url("assets/images/app/supr-city-hyderabad.svg");
    --supr-svg-city-thane-url: url("assets/images/app/supr-city-thane.svg");
    --supr-svg-city-pimpri_chinchwad-url: url("assets/images/app/supr-city-pimpri_chinchwad.svg");
    --supr-svg-city-navi-mumbai-url: url("assets/images/app/supr-city-navi-mumbai.svg");

    --supr-svg-wallet-url: url("assets/images/app/supr-wallet.svg");
    --supr-svg-coupon-code-url: url("assets/images/app/coupon-code.svg");

    --supr-svg-rtb-banner1-url: url("assets/images/app/supr-rtb-banner1.svg");
    --supr-svg-rtb-banner2-url: url("assets/images/app/supr-rtb-banner2.svg");
    --supr-svg-rtb-banner3-url: url("assets/images/app/supr-rtb-banner3.svg");
    --supr-svg-rtb-banner4-url: url("assets/images/app/supr-rtb-banner4.svg");
    --supr-svg-rtb-banner5-url: url("assets/images/app/supr-rtb-banner5.svg");

    --supr-svg-supr-bag-url: url("assets/images/app/supr-bag.svg");

    --supr-svg-empty-subscription: url("assets/images/app/supr-empty-subscription.svg");

    --supr-svg-address-apartment: url("assets/images/app/supr-address-apartment.svg");
    --supr-svg-address-independent: url("assets/images/app/supr-address-independent.svg");
    --supr-svg-map-pointer: url("assets/images/app/supr-map-pointer.svg");

    --supr-svg-empty-transactions: url("assets/images/app/supr-empty-transactions.svg");
    --supr-svg-credits-empty-transactions: url("assets/images/app/supr-credits-empty-transactions.svg");

    --supr-svg-error-oops-url: url("assets/images/app/supr-error-oops.svg");
    --supr-svg-error-no-internet-url: url("assets/images/app/supr-error-no-internet.svg");

    --supr-svg-app-update-url: url("assets/images/app/supr-app-update.svg");

    --supr-svg-no-subscriptions-icon-url: url("assets/images/app/no-subscriptions-icon.svg");

    --supr-svg-whatsapp: url("assets/images/app/supr-whatsapp.svg");

    --supr-svg-credits-flat: url("assets/images/app/supr-credits-flat.svg");
    --supr-svg-credits-line: url("assets/images/app/supr-credits-line.svg");
    --supr-svg-no-milk: url("assets/images/app/supr-no-milk.svg");
    --supr-svg-create-sub-info: url("assets/images/app/create-subscription-info.svg");

    --supr-svg-supr-credits-bg: url("assets/images/app/supr-credits-bg.svg");
    --supr-svg-supr-credits-img: url("assets/images/app/supr-credits-img.svg");
    --supr-svg-suprCredits-bg-illustration: url("assets/images/app/suprCredits-background-illustartion.svg");
    --supr-svg-thumbs-up: url("assets/images/app/supr-thumbs-up.svg");
    --supr-svg-thumbs-up-black: url("assets/images/app/supr-thumbs-up-black.svg");
    --supr-svg-thumbs-down: url("assets/images/app/supr-thumbs-down.svg");
    --supr-svg-thumbs-down-black: url("assets/images/app/supr-thumbs-down-black.svg");
    --supr-svg-delivery-feedback-success: url("assets/images/app/supr-delivery-feedback-success.svg");

    --supr-svg-thumbs-down-mini: url("assets/images/app/supr-thumbs-down-mini.svg");
    --supr-svg-thumbs-up-mini: url("assets/images/app/supr-thumbs-up-mini.svg");

    --supr-svg-feedback-thumbs: url("assets/images/app/supr-feedback-thumbs.svg");
    --supr-svg-feedback-thumbs-calender: url("assets/images/app/supr-feedback-thumbs-calender.svg");
    --supr-svg-approved: url("assets/images/app/supr-approved.svg");
    --supr-wallet-primary: url("assets/images/app/supr-wallet-primary.svg");

    --supr-cart-promo-svg: url("assets/images/app/supr-cart-promo.svg");

    --supr-svg-expiring: url("assets/images/app/expiring.svg");
    --supr-svg-wallet-txn: url("assets/images/app/wallet-txn.svg");
    --supr-filled-down-arrow: url("assets/images/app/filled-down-arrow.svg");

    --supr-svg-add-item: url("assets/images/app/add-item.svg");
    --supr-svg-schedule-truck: url("assets/images/app/schedule-truck.svg");
    --supr-svg-schedule-scooter: url("assets/images/app/schedule-scooter.svg");

    --supr-svg-vacation: url("assets/images/app/supr-vacation-new.svg");
    --supr-svg-refund-clock: url("assets/images/app/supr-refund-clock.svg");
    --supr-svg-bill: url("assets/images/app/supr-bill.svg");

    --supr-success-white: url("assets/images/app/supr-success-white.svg");

    --supr-svg-facebook: url("assets/images/app/facebook.svg");
    --supr-svg-options: url("assets/images/app/options.svg");
    --supr-svg-sms: url("assets/images/app/sms.svg");
    --supr-svg-phone: url("assets/images/app/phone.svg");
    --supr-svg-resume-chat: url("assets/images/app/resume-chat.svg");
    --supr-svg-camera: url("assets/images/app/camera.svg");
    --supr-svg-cancel: url("assets/images/app/supr-cancel.svg");
    --supr-icon-translucent: url("assets/images/app/supr-icon-translucent.svg");

    --supr-svg-milestone-header-bg: url("assets/images/app/milestone-header-bg.png");
    --supr-svg-milestone-header-bg-icon: url("assets/images/app/milestone-header-icon.png");
    --supr-svg-gift-box: url("assets/images/app/supr-gift-box.svg");

    --supr-svg-lock: url("assets/images/app/supr-lock.svg");
    --supr-svg-exclamation: url("assets/images/app/supr-exclamation.svg");
    --supr-svg-celebration: url("assets/images/app/supr-celebration.svg");

    --supr-svg-rewards: url("assets/images/app/supr-rewards.svg");

    --supr-coupon-disabled: url("assets/images/app/supr-coupon-disabled.svg");
}
