:host {
    .image {
        width: 64px;
    }

    .space {
        width: 16px;
    }

    ion-skeleton-text {
        &.square {
            width: 64px;
            height: 64px;
        }

        &.third {
            width: 20%;
            height: 8px;
        }

        &.second {
            width: 50%;
            height: 8px;
        }

        &.first {
            width: 90%;
            height: 16px;
        }
    }
}
