:host {
    --image-left-width: 48px;
    --image-left-height: 24px;
    --image-left-border-width: 1px;
    --image-left-margin-right: 8px;
    --image-left-border-radius: 4px;
    --image-left-wrapper-width: 48px;
    --image-left-wrapper-height: 24px;
    --image-left-border-color: var(--black-10);

    --image-right-width: 48px;
    --image-right-height: 24px;
    --image-right-border-width: 1px;
    --image-right-margin-left: auto;
    --image-right-border-radius: 4px;
    --image-right-wrapper-width: 48px;
    --image-right-wrapper-height: 24px;
    --image-right-border-color: var(--black-10);

    --icon-left-wrapper-padding: 0;
    --icon-left-wrapper-border: none;
    --icon-left-wrapper-width: inherit;
    --icon-left-wrapper-margin-right: 0;
    --icon-left-wrapper-border-radius: 0;
    --icon-left-color: var(--primary-100);
    --icon-left-size: var(--supr-font-size-small);

    --icon-right-wrapper-padding: 0;
    --icon-right-wrapper-border: none;
    --icon-right-wrapper-width: inherit;
    --icon-right-wrapper-border-radius: 0;
    --icon-right-wrapper-margin-left: auto;
    --icon-right-color: var(--primary-100);
    --icon-right-size: var(--supr-font-size-regular);

    --text-wrap: normal;
    --text-color: var(--black-80);

    .prefixIconWrapper {
        width: var(--icon-left-wrapper-width);
        border: var(--icon-left-wrapper-border);
        padding: var(--icon-left-wrapper-padding);
        margin-right: var(--icon-left-wrapper-margin-right);
        border-radius: var(--icon-left-wrapper-border-radius);
    }

    .suffixIconWrapper {
        width: var(--icon-right-wrapper-width);
        border: var(--icon-right-wrapper-border);
        padding: var(--icon-right-wrapper-padding);
        margin-left: var(--icon-right-wrapper-margin-left);
        border-radius: var(--icon-right-wrapper-border-radius);
    }

    supr-image {
        &.imageLeft {
            margin-right: var(--image-left-margin-right);

            --supr-image-width: var(--image-left-width);
            --supr-image-height: var(--image-left-height);
            --supr-image-border-width: var(--image-left-border-width);
            --supr-image-border-color: var(--image-left-border-color);
            --supr-image-border-radius: var(--image-left-border-radius);
            --supr-image-wrapper-width: var(--image-left-wrapper-width);
            --supr-image-wrapper-height: var(--image-left-wrapper-height);
        }

        &.imageRight {
            margin-left: var(--image-right-margin-left);

            --supr-image-width: var(--image-right-width);
            --supr-image-height: var(--image-right-height);
            --supr-image-border-width: var(--image-right-border-width);
            --supr-image-border-color: var(--image-right-border-color);
            --supr-image-border-radius: var(--image-right-border-radius);
            --supr-image-wrapper-width: var(--image-right-wrapper-width);
            --supr-image-wrapper-height: var(--image-right-wrapper-height);
        }
    }

    supr-text-highlight {
        --supr-text-wrap: var(--text-wrap);
        --supr-text-color: var(--text-color);
    }

    supr-icon {
        &.suffixIcon {
            --supr-icon-color: var(--icon-right-color);
            --supr-icon-font-size: var(--icon-right-size);
        }

        &.prefixIcon {
            --supr-icon-color: var(--icon-left-color);
            --supr-icon-font-size: var(--icon-left-size);
        }
    }
}
