<div class="suprRow" (click)="handleClick.emit()">
    <supr-image
        class="imageLeft"
        [src]="imageLeft"
        [useDirectUrl]="imageLeftDirectUrl"
        *ngIf="imageLeft; else prefixIcon"
    ></supr-image>
    <supr-text-highlight
        *ngIf="text"
        [text]="text"
        [type]="textType"
    ></supr-text-highlight>
    <supr-image
        class="imageRight"
        [src]="imageRight"
        [useDirectUrl]="imageRightDirectUrl"
        *ngIf="imageRight; else suffixIcon"
    ></supr-image>
</div>

<ng-template #prefixIcon>
    <div class="prefixIconWrapper suprColumn">
        <supr-icon
            class="prefixIcon"
            *ngIf="iconOnTheLeft"
            [name]="iconOnTheLeft"
        ></supr-icon>
    </div>
</ng-template>

<ng-template #suffixIcon>
    <div class="suffixIconWrapper suprColumn">
        <supr-icon
            class="suffixIcon"
            *ngIf="iconOnTheRight"
            [name]="iconOnTheRight"
        ></supr-icon>
    </div>
</ng-template>
