:host {
    --supr-coupon-wrapper-border-color: var(--black-10);
    --supr-coupon-wrapper-border-radius: 8px;
    --supr-coupon-wrapper-padding: 18px 14px;
    --supr-coupon-wrapper-height: 56px;
    --supr-coupon-input-padding-left: 4px;

    --supr-coupon-offer-icon-color: var(--black-80);
    --supr-coupon-offer-icon-size: 52px;

    --supr-coupon-btn-padding: 3px 18px;
    --supr-coupon-btn-border-color: var(--black-80);

    --supr-coupon-invalid-icon-size: 12px;
    --supr-coupon-invalid-icon-width: 12px;
    --supr-coupon-invalid-icon-height: 12px;

    --supr-coupon-remove-chip-padding: 4px 10px;

    --supr-coupon-x-height: 48px;
    --supr-coupon-input-padding: 12px 16px;
    --supr-coupon-input-border-radius: 4px;

    --supr-applied-coupon-offer-col-width: 32px;
    --supr-applied-coupon-selection-col-width: 50px;
    --supr-applied-coupon-chip-col-width: calc(
        100% -
            (
                var(--supr-applied-coupon-offer-col-width) +
                    var(--supr-applied-coupon-selection-col-width)
            )
    );

    .coupon {
        position: relative;
        border-radius: var(--supr-coupon-wrapper-border-radius);
        padding: var(--supr-coupon-wrapper-padding);
        box-sizing: border-box;

        &Apply {
            supr-icon {
                &.chevRight {
                    --supr-icon-color: var(--primary-100);
                    --supr-icon-font-size: 16px;

                    position: absolute;
                    right: 14px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &.chevRightCouponBlock {
                    --supr-icon-color: var(--primary-100);
                    --supr-icon-font-size: 16px;
                }
            }

            .applyRight {
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                --supr-text-color: var(--primary-100);
            }

            supr-text {
                --supr-text-color: var(--black-80);

                &.couponBlockSubtitle {
                    --supr-text-color: var(--primary-100);
                }
            }

            supr-svg {
                &.offer {
                    --supr-svg-width: 24px;
                    --supr-svg-height: 24px;
                    --supr-svg-path: var(--supr-cart-promo-svg);

                    margin-right: 8px;
                }
            }

            &Modal {
                padding: var(--supr-content-padding);

                &Input {
                    height: var(--supr-coupon-input-height);
                    border-radius: var(--supr-coupon-input-border-radius);
                    padding: var(--supr-coupon-input-padding);
                    border: 1px solid var(--black-40);

                    supr-input {
                        --supr-text-transform: uppercase;
                    }

                    &Box {
                        flex: 1;
                    }
                }

                supr-button {
                    --supr-button-width: 100%;
                    supr-text {
                        --supr-text-color: var(--white-100);
                        --supr-text-transform: uppercase;
                    }
                }
            }

            .checkboxCircle {
                position: absolute;
                right: 14px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid var(--primary-100);
            }
        }

        &Applied {
            height: 100%;

            .offerCol {
                width: var(--supr-applied-coupon-offer-col-width);
            }

            .selectionCol {
                width: var(--supr-applied-coupon-selection-col-width);

                ion-checkbox {
                    --size: 20px;
                    --border-width: 2px;
                    --border-radius: 50%;
                    --checkmark-color: var(--white-100);
                    --border-color: var(--primary-100);
                    --background: var(--white-100);
                    --background-checked: var(--primary-100);
                    --border-color-checked: var(--primary-100);
                }
            }

            .chipCol {
                margin-left: 8px;
            }

            supr-svg {
                &.offer {
                    position: absolute;
                    top: 22px;

                    --supr-svg-width: 24px;
                    --supr-svg-height: 24px;
                    --supr-svg-path: var(--supr-cart-promo-svg);
                }
            }

            supr-chip {
                &.code {
                    --supr-chip-border-radius: 4px;
                    --supr-chip-border-color: var(--success-10);
                    --supr-chip-background-color: var(--success-10);
                    --supr-chip-padding: 6px 12px;

                    supr-text {
                        --supr-text-color: var(--success-100);
                        --supr-text-wrap: normal;
                    }
                }

                supr-icon {
                    --supr-icon-font-size: 16px;
                    --supr-icon-color: var(--black-80);
                }
            }

            .couponMsg {
                --supr-text-color: var(--black-40);
                --supr-text-wrap: normal;
            }

            .couponTnc {
                --supr-text-color: var(--primary-100);
            }

            .couponTncIcon {
                --supr-icon-color: var(--primary-100);
                --supr-icon-font-size: 16px;
            }
        }

        &Invalid {
            border-radius: 8px;
            background-color: var(--alert-10);
            padding: 10px;
            align-items: flex-start;

            supr-icon {
                --supr-icon-color: var(--caution-100);
                --supr-icon-font-size: 14px;

                margin-right: 4px;
            }

            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--caution-100);
            }
        }
    }

    supr-icon {
        --supr-icon-color: var(--supr-coupon-offer-icon-color);
        --supr-icon-font-size: var(--supr-coupon-offer-icon-size);
    }
}
