@import "mixins/grid";

:host {
    --supr-v3-tile-title-color: var(--black-100);

    --supr-v3-tile-image-width: 116px;

    .tile {
        min-width: var(--supr-v3-tile-image-width);

        supr-image {
            --supr-image-border-radius: 4px;
        }

        &Image {
            @include center-vertical;
            justify-content: center;
        }
    }
}
