:host {
    --border-color: var(--black-20);

    .wrapper {
        &.noSchedules:not(.tomorrow) {
            border-top: 1px solid var(--primary-20);

            supr-schedule-day-header {
                --supr-schedule-day-header-bg-color: var(--white-100);
            }
        }
    }

    .helpWrapper {
        padding-left: 28px;

        .helpContent {
            padding-top: 12px;
            padding-left: 32px;
            border-left: 1px solid var(--border-color);
            padding-right: var(--supr-content-horizontal-padding);

            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-80);
            }

            .subtitle.emptySlot {
                top: 5px;
                position: relative;
            }
        }
    }

    .itemsWrapper {
        position: relative;
        padding-left: 28px;
        padding-bottom: 6px;

        &empty {
            padding-bottom: 0px;
        }

        .itemsContent {
            padding-left: 32px;
            border-left: 1px solid var(--border-color);
            padding-right: var(--supr-content-horizontal-padding);
        }

        .borderBottom {
            width: 16px;
            height: 1px;
            background-color: var(--border-color);
        }
    }

    .timelineWrapper {
        padding: 16px 16px 26px 32px;
        border-left: 1px solid var(--border-color);

        &.noTimeline {
            padding: 16px 0;
        }
    }

    .tomorrow {
        --border-color: var(--primary-60);

        supr-schedule-day-header {
            --supr-schedule-day-header-bg-color: var(--primary-20);
        }

        supr-delivery-slot-chip {
            --supr-delivery-slot-chip-border-color: var(--primary-100);
        }
    }

    .systemVacation {
        --border-color: var(--black-20);

        background-color: var(--beige);
        border-top: 1px solid var(--black-10) !important;

        supr-schedule-day-header {
            --supr-schedule-day-header-bg-color: var(--beige) !important;
        }

        .iconWrapper {
            supr-icon {
                margin-right: 4px;

                --supr-icon-color: var(--caution-100);
                --supr-icon-font-size: var(--supr-font-size-regular);
            }

            supr-text {
                --supr-text-color: var(--caution-100);
            }
        }

        supr-delivery-slot-chip {
            --supr-delivery-slot-chip-border-color: var(--alert-50);
        }
    }

    .addWrapper {
        padding: 0px 0px 24px var(--supr-content-horizontal-padding);
    }

    .tplusOneWrapper {
        supr-t-plus-one-banner {
            --supr-t-plus-one-banner-bg-color: none;
            --supr-t-plus-one-banner-title-color: var(--black-60);
            --supr-t-plus-one-banner-subtitle-color: var(--black-60);
            --supr-t-plus-one-banner-title-font-size: var(
                --supr-font-size-regular
            );
        }
    }

    .helpChipWrapper {
        bottom: -4px;
        position: absolute;
        padding-left: 32px;

        supr-chip {
            --supr-chip-padding: 2px 8px;

            supr-text {
                --supr-text-color: var(--primary-100);
            }
        }
    }
}
