<div class="wrapper" [ngClass]="getClasses()">
    <supr-schedule-day-header
        [date]="date"
        [paused]="paused"
        [tpEnabled]="tpEnabled"
        [pausedBySystem]="pausedBySystem"
        [subtitle]="getDayHeaderSubtitle()"
        [actionIcon]="getDayHeaderActionIcon()"
        [actionText]="getDayHeaderActionText()"
        [actionImpression]="getDayHeaderActionMeta()"
        (handleActionClick)="onScheduleDayHeaderActionClick()"
    >
    </supr-schedule-day-header>

    <ng-container *ngFor="let slot of DELIVERY_SLOTS">
        <ng-container *ngIf="schedule">
            <div
                saImpression
                [saObjectName]="slot"
                [saContextList]="saContextList"
                [saObjectValue]="getNestedData(slot, 'title')"
                [saContext]="getNestedData(slot, 'delivery_timeslots')"
            >
                <div class="divider24"></div>

                <supr-delivery-slot-chip
                    [slot]="slot"
                    [title]="getNestedData(slot, 'title')"
                >
                </supr-delivery-slot-chip>

                <div
                    class="helpWrapper"
                    *ngIf="!slotTimelines || !slotTimelines[slot]"
                >
                    <div class="helpContent">
                        <supr-text
                            type="caption"
                            class="subtitle"
                            [class.emptySlot]="!schedule[slot]"
                        >
                            {{ getNestedData(slot, "subtitle") }}
                        </supr-text>
                    </div>
                </div>

                <div class="itemsWrapper" [class.empty]="!schedule[slot]">
                    <ng-container
                        *ngIf="schedule[slot] && schedule[slot].subscriptions"
                    >
                        <div
                            class="itemsContent"
                            *ngFor="
                                let subscription of schedule[slot].subscriptions
                            "
                        >
                            <div class="divider24"></div>

                            <supr-schedule-subscription-container
                                [date]="date"
                                [paused]="paused"
                                [showFrequency]="true"
                                [subscription]="subscription"
                                [subscriptionView]="subscriptionView"
                                [editable]="subscription?.quantity > 0"
                                [saContext]="slot"
                                [saContextList]="saContextList"
                                (updateActionListener)="
                                    updateActionListener.emit($event)
                                "
                            ></supr-schedule-subscription-container>
                        </div>
                    </ng-container>

                    <ng-container
                        *ngIf="schedule[slot] && schedule[slot].addons"
                    >
                        <div
                            class="itemsContent"
                            *ngFor="let addon of schedule[slot].addons"
                        >
                            <div class="divider24"></div>

                            <supr-schedule-addon-container
                                [date]="date"
                                [addOn]="addon"
                                [paused]="paused"
                                [editable]="addon?.quantity > 0"
                                [saContext]="slot"
                                [saContextList]="saContextList"
                                (updateActionListener)="
                                    updateActionListener.emit($event)
                                "
                            ></supr-schedule-addon-container>
                        </div>
                    </ng-container>

                    <div
                        class="timelineWrapper"
                        [class.noTimeline]="
                            !slotTimelines || !slotTimelines[slot]
                        "
                    >
                        <supr-order-timeline
                            *ngIf="slotTimelines && slotTimelines[slot]"
                            [slot]="slot"
                            [date]="date"
                            [multiplePOD]="multiplePOD"
                            [slotTimeline]="slotTimelines[slot]"
                            [headerObjectName]="
                                saObjectNames.CLICK.DELIVERY_STATUS
                            "
                            [deliveryProofObjectName]="
                                saObjectNames.CLICK.VIEW_PHOTO
                            "
                        ></supr-order-timeline>
                    </div>

                    <div
                        saClick
                        class="helpChipWrapper"
                        [saContext]="slot"
                        [saContextList]="saContextList"
                        [saObjectName]="saObjectNames.CLICK.NEED_HELP"
                        [saObjectValue]="getNestedData(slot, 'title')"
                    >
                        <supr-chip (handleClick)="goToSupportPage()">
                            <supr-text type="subtext10">
                                {{ TEXTS.GET_HELP }}
                            </supr-text>
                        </supr-chip>
                    </div>

                    <div class="borderBottom"></div>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <div class="tplusOneWrapper" *ngIf="isTomorrow && tpEnabled; else addView">
        <supr-t-plus-one-banner
            [isLeftPaddingZero]="true"
        ></supr-t-plus-one-banner>
    </div>

    <ng-template #addView>
        <div
            class="addWrapper"
            *ngIf="!locked && !paused && !pausedBySystem; else bottomPadding"
        >
            <div *ngIf="isTomorrow || !noSchedule" class="divider16"></div>
            <supr-add-item
                [saContext]="saContextAddItem"
                [saContextList]="saContextList"
                (handleClick)="goToSearchPage(date)"
            ></supr-add-item>
        </div>
    </ng-template>

    <ng-template #bottomPadding>
        <div *ngIf="!noSchedule" class="divider24"></div>
    </ng-template>
</div>

<schedule-past-order-collection
    *ngIf="isTomorrow"
    [pastOrderSkuList]="pastOrderSkuList"
></schedule-past-order-collection>
