:host {
    --header-date-size: 40px;
    --header-info-padding-left: 12px;

    .wrapper {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
    }

    .header {
        .date {
            width: var(--header-date-size);
        }

        .info {
            padding-left: var(--header-info-padding-left);
        }

        ion-skeleton-text {
            &.round {
                width: var(--header-date-size);
                height: var(--header-date-size);
                border-radius: 50%;
            }

            &.first {
                width: 120px;
                height: 16px;
            }

            &.second {
                width: 216px;
                height: 8px;
            }
        }
    }

    .body {
        padding-top: 32px;
        padding-left: calc(
            var(--header-date-size) + var(--header-info-padding-left)
        );

        ion-skeleton-text {
            &.round {
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
        }

        .image {
            width: 48px;
        }

        .info {
            padding-left: 8px;

            ion-skeleton-text {
                &.first {
                    width: 144px;
                    height: 12px;
                }

                &.second {
                    width: 72px;
                    height: 12px;
                }

                &.third {
                    width: 48px;
                    height: 8px;
                }
            }
        }

        .actions {
            margin-left: auto;

            ion-skeleton-text {
                &.first {
                    width: 48px;
                    height: 12px;
                }

                &.second {
                    width: 40px;
                    height: 8px;
                }
            }
        }
    }
}
