<div *ngFor="let schedule of schedules; trackBy: trackByFn" class="wrapper">
    <div class="header suprRow">
        <div class="suprColumn left date">
            <ion-skeleton-text animated class="round"></ion-skeleton-text>
        </div>
        <div class="suprColumn stretch left info">
            <ion-skeleton-text animated class="first"></ion-skeleton-text>
            <ion-skeleton-text animated class="second"></ion-skeleton-text>
        </div>
    </div>

    <div class="body suprRow" *ngFor="let item of items; trackBy: trackByFn">
        <div class="suprColumn left image">
            <ion-skeleton-text animated class="round"></ion-skeleton-text>
        </div>
        <div class="suprColumn stretch left info">
            <ion-skeleton-text animated class="first"></ion-skeleton-text>
            <ion-skeleton-text animated class="second"></ion-skeleton-text>
            <ion-skeleton-text animated class="third"></ion-skeleton-text>
        </div>
        <div class="suprColumn stretch right actions">
            <ion-skeleton-text animated class="first"></ion-skeleton-text>
            <ion-skeleton-text animated class="second"></ion-skeleton-text>
        </div>
    </div>
</div>
