:host {
    .wrapper {
        padding-top: 16px;

        .header {
            padding-left: 16px;

            supr-text {
                --supr-text-color: var(--black-20);
            }
        }
    }
}
