:host {
    --supr-tile-img-bg-color: var(--white-100);

    --supr-product-tile-image-width: 64px;
    --supr-product-tile-image-height: 64px;

    --supr-product-off-text-color: var(--black-40);

    .tile {
        width: 100%;
        height: auto;
        position: relative;

        &Image {
            margin-right: 8px;
            min-width: 64px;
        }

        &Action {
            margin-left: 72px;
        }

        &Counter {
            supr-text.qtySubtext {
                width: 92px;

                --supr-text-align: center;
                --supr-text-color: var(--black-40);
            }
        }

        &FadeIn {
            opacity: 0.5;
        }
    }

    .details {
        padding-right: 10px;
        &Name {
            --supr-text-wrap: normal;
        }

        &Details {
            margin-top: 4px;
        }

        &Pricing {
            margin-top: 4px;

            supr-icon {
                --supr-icon-color: var(--gold-100);
                --supr-icon-font-size: 12px;

                &.lock {
                    --supr-icon-font-size: 14px;
                }

                &.unlock {
                    --supr-icon-font-size: 12px;
                }

                &.chevron {
                    margin-left: -3px;
                    margin-bottom: -4px;
                }
            }

            supr-text {
                --supr-text-wrap: normal;

                &.lightText {
                    --supr-text-color: var(--black-40);
                }
            }
        }

        &Price {
            &Strike {
                --supr-text-color: var(--black-20);
                --supr-text-decoration: line-through;
            }
        }

        &Dot {
            width: 16px;

            &Item {
                height: 3px;
                width: 3px;
                background-color: var(--black-40);
                border-radius: 50%;
            }
        }
    }

    .oosNotifyWrapper {
        padding-top: 8px;
        padding-left: 72px;
    }

    supr-image {
        --supr-image-width: var(--supr-product-tile-image-width);
        --supr-image-height: var(--supr-product-tile-image-height);
    }

    .offDetails {
        supr-text {
            &.qty {
                --supr-text-color: var(--black-40);
            }

            --supr-text-color: var(--supr-product-off-text-color);
        }
    }

    .discount {
        border: 1px solid var(--supr-product-off-text-color);
        padding: 0 6px;
        border-radius: 4px;
    }

    supr-button {
        &.oos {
            --supr-button-width: 90px;
            --supr-button-height: 26px;
            --supr-button-bg-color: #f2f2f2;
            --supr-button-border-color: #f2f2f2;
            --supr-button-border-radius: 8px;

            supr-text {
                --supr-text-color: #999999;
            }
        }
    }
}
