:host {
    --schedule-product-image-size: 32px;
    --schedule-product-name-padding-right: 20px;
    --schedule-product-image-wrapper-size: 48px;
    --schedule-product-image-container-width: 48px;
    --schedule-product-image-wrapper-bg-color: var(--white-100);
    --schedule-product-image-wrapper-border-color: var(--black-20);
    --schedule-product-image-wrapper-border-width: 1px;

    --schedule-product-name-padding-bottom: 3px;

    --schedule-product-quantity-wrapper-width: 22%;
    --schedule-product-quantity-font-color: var(--black-40);

    --schedule-product-frequency-icon-margin-right: 8px;
    --schedule-product-frequency-font-color: var(--black-40);
    --schedule-product-frequency-icon-size: var(--supr-font-size-medium);

    --schedule-status-icon-margin-right: 4px;
    --schedule-status-chip-padding: 2px 10px 2px 5px;
    --schedule-status-chip-border-color: transparent;
    --schedule-status-chip-icon-color: var(--white-100);
    --schedule-status-chip-font-color: var(--white-100);
    --schedule-status-chip-bg-color: var(--primary-100);
    --schedule-status-icon-font-size: var(--supr-font-size-medium);

    --schedule-product-action-padding-right: 8px;
    --schedule-product-action-right-font-color: var(--primary-100);
    --schedule-product-action-right-icon-color: var(--primary-100);
    --schedule-product-action-right-icon-size: var(--supr-font-size-medium);

    .wrapper {
        position: relative;

        .overlay {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            position: absolute;
            background-color: var(--white-30);
        }
    }

    .tile {
        width: 100%;
        height: auto;

        &Image {
            width: var(--schedule-product-image-container-width);

            supr-image {
                --supr-image-border-width: 1px;
                --supr-image-border-radius: 50%;
                --supr-image-width: var(--schedule-product-image-size);
                --supr-image-height: var(--schedule-product-image-size);
                --supr-image-bg-color: var(
                    --schedule-product-image-wrapper-bg-color
                );
                --supr-image-wrapper-width: var(
                    --schedule-product-image-wrapper-size
                );
                --supr-image-wrapper-height: var(
                    --schedule-product-image-wrapper-size
                );
                --supr-image-border-color: var(
                    --schedule-product-image-wrapper-border-color
                );
                --supr-image-border-width: var(
                    --schedule-product-image-wrapper-border-width
                );
            }
        }

        &Content {
            flex: 1;
            padding-right: var(--schedule-product-name-padding-right);

            &Name {
                --supr-text-wrap: normal;
                padding-bottom: var(--schedule-product-name-padding-bottom);
            }
        }

        &Quantity {
            width: var(--schedule-product-quantity-wrapper-width);

            supr-text {
                &.quantityText {
                    padding-right: var(--schedule-product-action-padding-right);
                    --supr-text-color: var(
                        --schedule-product-quantity-font-color
                    );
                }
            }
        }

        supr-chip.statusWrapper {
            --supr-chip-background-color: var(--schedule-status-chip-bg-color);
            --supr-chip-border-color: var(--schedule-status-chip-border-color);
            --supr-chip-padding: var(--schedule-status-chip-padding);

            supr-icon {
                margin-right: var(--schedule-status-icon-margin-right);

                --supr-icon-color: var(--schedule-status-chip-icon-color);
                --supr-icon-font-size: var(--schedule-status-icon-font-size);
            }

            supr-text {
                --supr-text-color: var(--schedule-status-chip-font-color);
            }
        }

        .changeAction {
            supr-text {
                --supr-text-color: var(
                    --schedule-product-action-right-font-color
                );
            }

            supr-icon {
                --supr-icon-font-size: var(
                    --schedule-product-action-right-icon-size
                );

                --supr-icon-color: var(
                    --schedule-product-action-right-icon-color
                );
            }
        }

        .frequencyIcon {
            --supr-icon-color: var(--black-40);
            margin-right: var(--schedule-product-frequency-icon-margin-right);
            --supr-icon-font-size: var(--schedule-product-frequency-icon-size);
        }

        supr-week-days-small {
            --week-day-small-day-selected-text-color: var(
                --schedule-product-frequency-font-color
            );
        }
    }

    .sampleTag {
        supr-text {
            --supr-text-color: var(--white-100);
        }

        &Info {
            padding: 4px 8px;
            border-radius: 4px;
            background-color: var(--success-100);
        }

        supr-icon {
            --supr-icon-color: var(--black-20);

            &.gift {
                --supr-icon-color: var(--white-100);
            }
        }
    }

    .giftInfo {
        padding: 16px;
        color: var(--black-40);

        supr-text {
            --supr-text-color: var(--black-40);
            --supr-text-wrap: normal;
        }

        &Item {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0px !important;
            }
        }
    }
}
