<div class="wrapper">
    <div class="overlay" *ngIf="paused"></div>

    <div #tile class="suprRow tile">
        <!-- [TODO] Handle BG Color -->
        <div
            class="suprColumn tileImage stretch top left"
            (click)="onClick($event)"
            saClick
            [saContext]="saContext"
            [saContextList]="saContextList"
            [saObjectName]="saObjectNameChange"
            [saObjectValue]="saObjectValueTile"
        >
            <supr-image
                [src]="
                    schedule?.meta?.sku_mask_details
                        ? schedule?.meta?.sku_mask_details?.image?.fullUrl
                        : sku?.image?.fullUrl
                "
                [image]="
                    schedule?.meta?.sku_mask_details
                        ? schedule?.meta?.sku_mask_details?.image
                        : sku?.image
                "
                [imgWidth]="CLODUINARY_IMAGE_SIZE.DEFAULT.WIDTH"
                [imgHeight]="CLODUINARY_IMAGE_SIZE.DEFAULT.HEIGHT"
            ></supr-image>
        </div>

        <div class="spacer8"></div>

        <div class="suprColumn tileContent stretch left">
            <supr-text
                class="tileContentName"
                type="body"
                (click)="onClick($event)"
            >
                {{
                    schedule?.meta?.sku_mask_details
                        ? schedule?.meta?.sku_mask_details?.sku_name
                        : sku?.sku_name
                }}
            </supr-text>
            <div
                class="suprRow"
                (click)="onClick($event)"
                saClick
                [saContext]="saContext"
                [saContextList]="saContextList"
                [saObjectName]="saObjectNameChange"
                [saObjectValue]="saObjectValueTile"
                *ngIf="
                    showFrequency &&
                    subscription?.frequency &&
                    schedule?.status ===
                        scheduleStatusConfig.ORDER_SCHEDULED.status
                "
            >
                <supr-icon class="frequencyIcon" name="repeat"></supr-icon>
                <supr-week-days-small
                    [selectedDays]="subscription?.frequency"
                ></supr-week-days-small>
            </div>
            <supr-chip
                class="statusWrapper"
                *ngIf="
                    schedule?.status &&
                    scheduleStatusConfig[schedule.status] &&
                    schedule?.status !==
                        scheduleStatusConfig.ORDER_SCHEDULED.status
                "
            >
                <div class="suprRow">
                    <supr-icon name="approve"></supr-icon>
                    <supr-text type="subtext10">{{
                        scheduleStatusConfig[schedule.status].message
                    }}</supr-text>
                </div>
            </supr-chip>

            <!-- Free Item Sampling -->
            <ng-container *ngIf="schedule?.meta?.tag">
                <div class="divider8"></div>
                <supr-reward-sku-tag
                    [showInfoIcon]="true"
                    [skuRewardType]="schedule?.meta?.tag"
                    [isSuprPassActive]="isSuprPassActive"
                ></supr-reward-sku-tag>
            </ng-container>
        </div>

        <div
            class="suprColumn tileQuantity stretch top right"
            (click)="onClick($event)"
            saClick
            [saContext]="saContext"
            [saContextList]="saContextList"
            [saObjectName]="saObjectNameChange"
            [saObjectValue]="saObjectValueTile"
        >
            <supr-text type="paragraph" class="quantityText">
                {{ quantityText }}
            </supr-text>
            <div class="divider4"></div>
            <div
                *ngIf="
                    editable &&
                    schedule?.status ===
                        scheduleStatusConfig.ORDER_SCHEDULED.status &&
                    !schedule?.meta?.sku_mask_details
                "
                class="suprRow changeAction"
            >
                <supr-text type="subtext10">CHANGE</supr-text>
                <supr-icon name="chevron_right"></supr-icon>
            </div>
        </div>
    </div>
</div>
<supr-modal
    #editScheduleModal
    *ngIf="
        editable &&
        showEditModal &&
        schedule?.status === scheduleStatusConfig.ORDER_SCHEDULED.status
    "
    (handleClose)="closeEditModal()"
    [modalName]="changeScheduleModalName"
    [saObjectValue]="saObjectValueChangeScheduleModal"
>
    <supr-subscription-edit-card-container
        *ngIf="subscription; else addOnModalContainer"
        [sku]="sku"
        [date]="date"
        [schedule]="schedule"
        [subscription]="subscription"
        (updateActionListener)="updateActionListener.emit($event)"
    ></supr-subscription-edit-card-container>
    <ng-template #addOnModalContainer>
        <supr-addon-edit-card-container
            [sku]="sku"
            [date]="date"
            [schedule]="schedule"
            (updateActionListener)="updateActionListener.emit($event)"
        ></supr-addon-edit-card-container>
    </ng-template>
</supr-modal>
