:host {
    --supr-schedule-day-header-bg-color: var(--black-5);
    --supr-schedule-day-header-padding-y: var(--supr-content-vertical-padding);

    .header {
        padding: var(--supr-schedule-day-header-padding-y)
            var(--supr-content-horizontal-padding);
        background-color: var(--supr-schedule-day-header-bg-color);

        &Day {
            --supr-text-color: var(--black-80);
        }

        &Date {
            width: 52px;
            padding-top: 3px;
            padding-right: 20px;
        }

        &Subtitle {
            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-80);
            }
        }

        supr-icon {
            --supr-icon-color: var(--black-30);
        }

        .iconWrapper {
            margin-left: auto;

            supr-icon {
                padding-right: 4px;

                --supr-icon-color: var(--salmon-100);
                --supr-icon-font-size: var(--supr-font-size-large);
            }

            supr-text {
                --supr-text-color: var(--salmon-100);
            }
        }
    }
}
