<div class="suprRow header">
    <div class="suprColumn stretch top left headerDate">
        <supr-schedule-wrapper-date [date]="date"></supr-schedule-wrapper-date>
    </div>
    <div
        class="suprColumn stretch left"
        [class.top]="!paused && !pausedBySystem && !tpEnabled"
    >
        <div
            class="suprRow left fullWidth"
            [class.top]="!paused && !pausedBySystem && !tpEnabled"
        >
            <supr-text type="subtitle" class="dayText headerTitle">
                {{ _day }}
                <supr-text
                    type="regular14"
                    [inline]="true"
                    class="headerDay"
                    *ngIf="_isTomorrow"
                >
                    ({{ date | date: "EEE" }})
                </supr-text>
            </supr-text>

            <ng-container *ngIf="_isTomorrow && tpEnabled">
                <div class="spacer8"></div>
                <supr-icon name="lock"></supr-icon>
            </ng-container>

            <div
                *ngIf="actionIcon || actionText"
                class="suprRow iconWrapper center"
                (click)="handleActionClick?.emit()"
            >
                <supr-icon *ngIf="actionIcon" [name]="actionIcon"></supr-icon>
                <supr-text
                    saImpression
                    type="paragraph"
                    *ngIf="actionText"
                    [saObjectName]="actionImpression?.name"
                    [saObjectValue]="actionImpression?.value"
                >
                    {{ actionText }}
                </supr-text>
            </div>
        </div>

        <div *ngIf="!tpEnabled" class="headerSubtitle">
            <supr-text type="paragraph" *ngIf="subtitle">
                {{ subtitle }}
            </supr-text>
        </div>
    </div>
</div>
