:host {
    supr-sticky-wrapper {
        --supr-sticky-wrapper-bottom: 0;
        --supr-sticky-wrapper-top: none;
        --supr-sticky-wrapper-bg-color: var(--white-100);

        .footer {
            padding: 18px var(--supr-content-horizontal-padding);

            &Text {
                --supr-text-color: var(--black-40);

                &.wrap {
                    --supr-text-wrap: normal;
                }
            }

            &.expired,
            &.recharge {
                box-shadow: 0px -2px 7px rgba(0, 0, 0, 0.2);
            }

            .actionBtn {
                width: 100%;

                --supr-button-width: 100%;

                &.recharge {
                    --supr-button-bg-color: var(--alert-100);
                    --supr-button-border-color: var(--alert-100);
                }

                supr-text {
                    --supr-text-color: var(--white-100);
                }

                supr-icon {
                    --supr-icon-color: var(--white-100);
                }
            }
        }
    }
}
