:host {
    --supr-pass-header-bg: #ebfff9;
    --supr-pass-header-padding-bottom: 32px;
    --supr-pass-warning-icon-color: #f28d18;
    --supr-pass-warning-icon-font-size: 12px;

    .suprPassHeader {
        background: var(--supr-pass-header-bg);
        margin-left: calc(var(--supr-content-horizontal-padding) * -1);
        margin-right: calc(var(--supr-content-horizontal-padding) * -1);
        padding: 0 var(--supr-content-horizontal-padding);
        padding-bottom: var(--supr-pass-header-padding-bottom);
        border-bottom-left-radius: 50% 25%;
        border-bottom-right-radius: 50% 25%;

        &.lowBottomPadding {
            padding-bottom: 24px;
        }

        .viewDetails {
            supr-text {
                --supr-text-color: var(--primary-100);
            }

            supr-icon {
                --supr-icon-color: var(--primary-100);
                --supr-icon-font-size: 12px;
            }
        }

        &Content {
            max-width: 80%;
        }

        supr-text-fragment {
            --supr-text-fragment-align: center;

            &.boldText {
                --supr-text-fragment-font-weight: var(--supr-weight-bold);
            }

            &.semiBoldText {
                --supr-text-fragment-font-weight: var(--supr-weight-semi-bold);
            }
        }

        .imgWrapper {
            text-align: center;

            img {
                height: 64px;
                width: 64px;
            }
        }

        supr-icon.warningInfo {
            --supr-icon-color: var(--supr-pass-warning-icon-color);
            --supr-icon-font-size: var(--supr-pass-warning-icon-font-size);
        }
    }
}
