:host {
    --savings-header-bg-color: var(--primary-100);

    --filter-bg-color: var(--primary-10);
    --filter-active-bg-color: var(--primary-100);
    --filter-text-color: var(--primary-100);
    --filter-active-text-color: var(--white-100);
    --filter-width: 50%;
    --filter-padding: 4px;

    --supr-pass-bottom-padding-with-skip-block: calc(
        var(--supr-content-vertical-padding) + var(--supr-page-header-height) +
            50px
    );

    --supr-pass-bottom-padding-with-new-footer: calc(
        var(--supr-content-vertical-padding) + var(--supr-page-header-height) +
            40px
    );

    .suprScrollContent {
        scroll-behavior: smooth;
        padding: var(--supr-page-header-height)
            var(--supr-content-horizontal-padding)
            calc(
                var(--supr-content-vertical-padding) +
                    var(--supr-page-header-height)
            );

        &.hasSkipBlock {
            padding-bottom: var(--supr-pass-bottom-padding-with-skip-block);
        }

        &.hasNewFooter {
            padding-bottom: var(--supr-pass-bottom-padding-with-new-footer);
        }
    }

    .loaderContainer {
        height: 100%;

        supr-loader {
            --supr-loader-color: var(--primary-100);
            --supr-loader-width: 200px;
            --supr-loader-height: 40px;
        }
    }

    .suprPassInfoWrapper {
        .imgWrapper {
            text-align: center;

            img {
                height: 100px;
                width: 100px;
            }
        }

        supr-text {
            --supr-text-wrap: normal;

            &.pageHeader {
                --supr-text-color: var(--black-40);
            }

            &.titleText {
                --supr-text-color: var(--primary-120);
                --supr-text-transform: uppercase;
                --supr-text-align: center;
                --supr-text-font-size: var(--supr-font-size-regular);
                --supr-text-font-weight: var(--supr-weight-bold);
                --supr-text-line-height: 28px;
                --supr-text-letter-spacing: 0.08em;
            }

            &.subTitleText {
                --supr-text-color: var(--black-80);
                --supr-text-align: center;
                --supr-text-font-size: var(--supr-font-size-medium);
                --supr-text-font-weight: var(--supr-weight-normal);
                --supr-text-line-height: 22px;
            }

            &.memberTitleText {
                --supr-text-align: center;
            }
        }
    }

    .bannerBlock {
        background-color: var(--primary-10);
        padding: 8px 20px 8px 12px;
        border-radius: 4px;

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--primary-120);
        }
    }

    .activityBlockPadding {
        padding-top: 16px;
    }

    .planDetailWrapper {
        padding: 0 18px 16px;
        border: 1px solid var(--black-10);
        border-radius: 4px;
        position: relative;
        margin: 0 5px;
        min-width: 96px;

        &.recommendedActive {
            border-radius: 0 0 4px 4px;
            border-top: 0;
        }

        &.active {
            border: 1.5px solid var(--primary-120);
            background: var(--primary-5);
            transform: scale(1.05);
        }

        .recommended {
            background: var(--primary-100);
            text-align: center;
            position: absolute;
            top: -15px;
            left: -2px;
            right: -2px;
            border: solid 2px var(--primary-120);
            border-bottom: 0;
            border-radius: 4px 4px 0 0;

            supr-text {
                --supr-text-color: var(--white-100);
                --supr-text-font-size: var(--supr-font-size-tiny);
                --supr-text-font-weight: var(--supr-weight-semi-bold);
                --supr-text-line-height: 15px;
            }
        }

        .suprColumn {
            padding-top: 12px;
        }

        supr-text {
            --supr-text-wrap: normal;

            &.duration {
                --supr-text-color: var(--primary-120);
                --supr-text-font-size: var(--supr-font-size-medium);
                --supr-text-font-weight: var(--supr-weight-semi-bold);
                --supr-text-line-height: 19px;
                margin-bottom: 11px;
            }

            &.unitPrice {
                --supr-text-color: var(--black-80);
                --supr-text-font-size: var(--supr-font-size-medium-large);
                --supr-text-font-weight: var(--supr-weight-semi-bold);
                --supr-text-line-height: 20px;
                margin-bottom: 6px;
            }

            &.unitMrp {
                --supr-text-color: var(--black-40);
                --supr-text-decoration: line-through;
                --supr-text-font-size: var(--supr-font-size-medium);
                --supr-text-font-weight: var(--supr-weight-semi-bold);
                --supr-text-line-height: 20px;
                margin-bottom: 10px;
            }

            &.discountText {
                --supr-text-color: var(--success-100);
                --supr-text-font-size: var(--supr-font-size-small);
                --supr-text-font-weight: var(--supr-weight-semi-bold);
                --supr-text-transform: uppercase;
            }
        }
    }

    .activePlanBlock {
        supr-text {
            &.activePlanInfoLabel {
                --supr-text-color: var(--black-40);
                margin-bottom: 4px;
            }

            &.activePlanInfoValue {
                --supr-text-color: var(--black-80);
            }
        }

        .separator {
            border: solid 1px var(--black-10);
            height: 24px;
            margin: 0 28px;
        }

        .textLeft {
            text-align: left;
        }
        .textRight {
            text-align: right;
        }
    }

    .fullPagePadding {
        padding: calc(var(--supr-page-header-height) + 16px)
            var(--supr-content-horizontal-padding)
            calc(var(--supr-content-vertical-padding));
    }

    .faqsBlock {
        .faqContentWrapper {
            padding: 12px;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);

            &.fullPage {
                padding: 0;
                padding-top: 16px;
                box-shadow: none;
            }
        }
    }

    supr-text {
        &.sectionTitle {
            --supr-text-color: var(--black-80);
        }
    }

    .viewAllBlock,
    .changeAutoDebit {
        supr-text {
            --supr-text-color: var(--primary-100);
        }

        supr-icon {
            --supr-icon-color: var(--primary-100);
        }
    }

    .activeAutoDebitInfo {
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
        background: var(--white-100);
        border-radius: 4px;
        padding: 12px;

        supr-text {
            --supr-text-wrap: normal;
        }
    }

    supr-sticky-wrapper {
        --supr-sticky-wrapper-top: none;
        --supr-sticky-wrapper-bottom: 0;
        --supr-sticky-wrapper-bg-color: var(--white-100);
        --supr-sticky-wrapper-box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.16);
    }

    .footerWrapper {
        padding: 16px;

        supr-button {
            width: 100%;

            --supr-button-width: 100%;

            &.skipBtn {
                --supr-button-bg-color: var(--white-100);
                --supr-button-text-color: var(--primary-100);
            }

            supr-text {
                --supr-text-color: var(--white-100);
            }

            supr-icon {
                --supr-icon-color: var(--white-100);
            }
        }
    }

    .savingsScreen {
        supr-page-header {
            --supr-page-header-bg-color: var(--primary-100);
            --supr-page-header-border-height: 0px;
            --supr-page-header-back-button-color: var(--white-100);
        }

        supr-text {
            &.savingsScreenTitle {
                --supr-text-color: var(--white-100);
            }
        }
    }

    .savingsHeader {
        box-sizing: border-box;
        padding: var(--supr-content-padding);
        background-color: var(--savings-header-bg-color);
        margin: 0 calc(-1 * var(--supr-content-horizontal-padding));

        supr-text {
            --supr-text-color: var(--white-100);
        }

        .savingsBlock {
            margin-right: 50px;
        }
    }

    .savingsFilters {
        &Item {
            width: var(--filter-width);
            padding: 0 var(--filter-padding);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        supr-button {
            --supr-button-bg-color: var(--filter-bg-color);
            --supr-button-border-width: 0;
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--filter-text-color);
            }

            &.active {
                --supr-button-bg-color: var(--filter-active-bg-color);

                supr-text {
                    --supr-text-color: var(--filter-active-text-color);
                }
            }
        }
    }
}
