@import "mixins/grid";

:host {
    --supr-v3-tile-title-color: var(--black-100);

    .tile {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);

        supr-image {
            --supr-image-width: 48px;
            --supr-image-height: 48px;
        }

        supr-text {
            --supr-text-color: var(--supr-v3-tile-title-color);
        }

        &Image {
            @include center-vertical;
            justify-content: center;
        }

        &Text {
            @include center-vertical;
            justify-content: center;
        }
    }
}
