:host {
    --supr-draggable-top-bg-color: var(--white-100);
    --supr-draggable-top-height: 24px;
    --supr-draggable-top-radius: 24px;
    --supr-draggable-top-box-shadow: none;
    --supr-draggable-pin-width: 40px;
    --supr-draggable-pin-height: 6px;
    --supr-draggable-pin-radius: 3px;
    --supr-draggable-pin-margin-top: 12px;

    .header {
        width: 100%;
        height: var(--supr-draggable-top-height);
        background-color: var(--supr-draggable-top-bg-color);
        border-radius: var(--supr-draggable-top-radius)
            var(--supr-draggable-top-radius) 0 0;
        box-shadow: var(--supr-draggable-top-box-shadow);

        &Pin {
            width: var(--supr-draggable-pin-width);
            height: var(--supr-draggable-pin-height);
            border-radius: var(--supr-draggable-pin-radius);
            background-color: var(--black-10);
            margin-top: var(--supr-draggable-pin-margin-top);
        }
    }
}
