:host {
    --content-width: 100%;
    --content-bg-color: var(--white-100);

    .content {
        width: var(--content-width);
        background-color: var(--content-bg-color);
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
    }

    supr-button {
        &.next {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
