:host {
    .frequency {
        supr-create-subscription-next {
            margin-top: 40px;
            display: block;
        }

        supr-text {
            &.chooseDays {
                --supr-text-color: var(--black-40);
            }
        }
    }
}
