:host {
    --header-width: 100%;
    --header-bg-color: var(--primary-100);
    --product-tile-bg-color: var(--primary-10);
    --product-tile-padding-top: var(--supr-content-vertical-padding);
    --product-tile-padding-left: var(--supr-content-horizontal-padding);
    --product-tile-padding-right: var(--supr-content-horizontal-padding);
    --product-tile-padding-bottom: var(--supr-content-vertical-padding);

    .header {
        width: var(--header-width);
        background-color: var(--header-bg-color);
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
        padding-bottom: 0;
        position: relative;

        .divider {
            height: 1px;
            background-color: var(--white-30);
        }

        &Tile {
            background-color: var(--product-tile-bg-color);
            padding: var(--product-tile-padding-left)
                var(--product-tile-padding-top)
                var(--product-tile-padding-right)
                var(--product-tile-padding-bottom);

            .image {
                supr-image {
                    --supr-image-wrapper-width: 96px;
                    --supr-image-wrapper-height: 96px;
                    --supr-image-border-radius: 50%;
                    --supr-image-width: 72px;
                    --supr-image-height: 72px;
                    --supr-image-bg-color: var(--white-100);
                    --supr-image-border-color: var(--white-100);
                    --supr-image-border-width: 1px;
                }

                width: 96px;
                overflow: visible;
            }

            .content {
                supr-text {
                    --supr-text-wrap: normal;
                    --supr-text-color: var(--black-80);

                    &.name {
                        width: 80%;
                    }

                    &.itemPriceStrike {
                        --supr-text-color: var(--black-30);
                        --supr-text-decoration: line-through;
                    }

                    &.quantityText {
                        --supr-text-color: var(--black-30);
                    }
                }

                .baseline {
                    align-items: baseline;
                }

                .dotBetween {
                    background-color: var(--black-30);
                    border-radius: 50%;
                    width: 3px;
                    height: 3px;
                }
            }
        }

        &Steps {
            .step {
                max-width: 70px;

                supr-text {
                    --supr-text-color: var(--white-60);
                }

                &.enabled {
                    supr-text {
                        --supr-text-color: var(--white-100);
                    }
                }
            }
        }

        &Edit {
            supr-icon {
                --supr-icon-color: var(--white-100);
            }

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }

    .stepMarkerWrapper {
        left: 0;
        right: 0;
        bottom: -6px;
        position: absolute;
        padding: 0 var(--supr-content-horizontal-padding);

        .suprColumn {
            width: 70px;
        }

        .stepMarker {
            width: 12px;
            height: 12px;
            visibility: hidden;
            transform: rotate(45deg);
            background-color: var(--white-100);

            &.active {
                visibility: visible;
            }
        }
    }
}
