:host {
    --quantity-top-text-width: 216px;

    .quantity {
        supr-text {
            &.top {
                display: inline-block;
                width: var(--quantity-top-text-width);

                --supr-text-wrap: normal;
            }
        }

        &Unit {
            supr-text {
                &:last-child {
                    --supr-text-color: var(--black-40);
                }
            }
        }

        supr-number-counter {
            --container-flat-bg-color: var(--primary-10);

            margin-left: auto;
        }

        .footer {
            margin-top: 64px;

            supr-text {
                &.noSubscribe {
                    --supr-text-color: var(--black-40);
                }

                &.buyTomorrow {
                    --supr-text-color: var(--primary-100);
                }
            }

            supr-icon {
                --supr-icon-color: var(--primary-100);
            }
        }
    }
}
