:host {
    .review {
        supr-text {
            &:last-child {
                --supr-text-color: var(--black-40);

                margin-left: auto;
            }

            &.discount {
                --supr-text-color: var(--success-100);
            }

            &.final {
                --supr-text-color: var(--black-100);
            }

            &.message {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-40);
            }
        }

        .divider {
            height: 1px;
            background-color: var(--black-10);
        }

        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }

        .headerEdit {
            supr-text {
                margin-left: 0;
            }

            supr-icon {
                --supr-icon-color: var(--black-40);
                --supr-icon-font-size: var(--supr-font-size-small);
            }
        }

        supr-week-days-small {
            margin-left: auto;
        }

        .divider80 {
            height: 80px;
        }
    }
}
