:host {
    .startDate {
        supr-create-subscription-next {
            margin-top: 56px;
            display: block;
        }
    }

    .calendar {
        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
