:host {
    --container-max-height: calc(100vh - var(--supr-content-vertical-padding));

    .subscription {
        background-color: var(--white-100);
        max-height: var(--container-max-height);
        overflow: hidden auto;
    }
}
