<div
    class="suprRow tile"
    #tile
    saClick
    [saObjectName]="saObjectName"
    [saObjectValue]="saObjectValue"
>
    <!-- [TODO] Handle BG Color -->
    <div class="suprColumn tileImage stretch top left #skuImage">
        <supr-image
            [src]="
                order?.meta?.sku_mask_details
                    ? order?.meta?.sku_mask_details?.image?.fullUrl
                    : sku?.image?.fullUrl
            "
            [image]="
                order?.meta?.sku_mask_details
                    ? order?.meta?.sku_mask_details?.image
                    : sku?.image
            "
            [imgWidth]="CLODUINARY_IMAGE_SIZE.DEFAULT.WIDTH"
            [imgHeight]="CLODUINARY_IMAGE_SIZE.DEFAULT.HEIGHT"
        ></supr-image>

        <supr-svg
            class="thumbsUp"
            *ngIf="orderFeedbackSubmittedResponse"
            [class.up]="
                orderFeedbackSubmittedResponse === order_feedback.thumbsUp
            "
            [class.down]="
                orderFeedbackSubmittedResponse === order_feedback.thumbsDown
            "
        ></supr-svg>
    </div>

    <div class="spacer8"></div>

    <div class="suprColumn tileContent stretch left center">
        <supr-text class="tileContentName" type="body">
            {{
                order?.meta?.sku_mask_details
                    ? order?.meta?.sku_mask_details?.sku_name
                    : sku?.sku_name
            }}
        </supr-text>

        <div
            class="suprRow"
            *ngIf="statusType === 'frequency' && subscription?.frequency"
        >
            <supr-icon class="frequencyIcon" name="repeat"></supr-icon>
            <supr-week-days-small
                [selectedDays]="subscription.frequency"
            ></supr-week-days-small>
        </div>

        <div
            class="suprRow statusWrapper"
            *ngIf="statusText && statusType === 'text'; else statusChip"
        >
            <supr-icon
                class="statusIcon"
                *ngIf="statusIcon"
                name="{{ statusIcon }}"
            ></supr-icon>
            <supr-text type="subtext10">{{ statusText }}</supr-text>
        </div>
        <!-- [TODO] Check when to show status with chip -->
        <ng-template #statusChip>
            <div class="suprRow chipWrapper">
                <supr-chip
                    [ngClass]="statusType"
                    *ngIf="statusText && statusType !== 'frequency'"
                >
                    <div class="suprRow">
                        <supr-icon
                            name="{{ statusIcon }}"
                            *ngIf="statusIcon"
                        ></supr-icon>
                        <div class="spacer4"></div>
                        <supr-text type="subtext10">{{ statusText }}</supr-text>
                    </div>
                </supr-chip>
                <div class="spacer8"></div>
                <supr-icon
                    saClick
                    name="error"
                    class="refundInfoIcon"
                    *ngIf="isOrderTooltipRequired"
                    [saContext]="refundTooltipSaContext"
                    [saObjectName]="refundTooltipObjectName"
                    [saObjectValue]="order?.statusContext?.refundAmount"
                    (click)="openRefundDetailsModal()"
                ></supr-icon>
            </div>
        </ng-template>

        <!-- Free Item Sampling -->
        <ng-container *ngIf="order?.meta?.tag">
            <div class="divider8"></div>
            <supr-reward-sku-tag
                [showInfoIcon]="true"
                [skuRewardType]="order?.meta?.tag"
            ></supr-reward-sku-tag>
        </ng-container>
    </div>

    <div class="suprColumn tileQuantity stretch top right">
        <supr-text type="paragraph" class="quantityText">
            {{ deliveredQtyText }}
        </supr-text>
        <supr-text
            type="paragraph"
            class="scheduledText"
            *ngIf="scheduledQtyText"
        >
            {{ scheduledQtyText }}
        </supr-text>
    </div>
</div>

<div *ngIf="params && params.length > 0">
    <supr-order-feedback-wrapper
        [params]="params"
        [comment]="comment"
        [id]="sku.id"
        (onSubmit)="onSubmit($event)"
        (contactSupport)="contactSupport()"
        (handleCommentModal)="handleCommentModal($event)"
    >
    </supr-order-feedback-wrapper>

    <supr-modal
        *ngIf="showCommentModal"
        [modalName]="FEEDBACK_COMMENT"
        modalType=""
        fullScreen="true"
        (handleClose)="closeCommentModal()"
    >
        <supr-feedback-comment
            (handleCommentModal)="handleCommentModal($event)"
        ></supr-feedback-comment>
    </supr-modal>
</div>

<supr-modal
    [modalName]="CANCELLATION_INFO"
    *ngIf="showRefundDetailsModal && isOrderTooltipRequired"
    (handleClose)="closeRefundDetailsModal()"
>
    <supr-order-history-refund-modal
        [sku]="sku"
        [order]="order"
        [scheduledQtyText]="scheduledQtyText"
        [deliveredQtyText]="deliveredQtyText"
    >
    </supr-order-history-refund-modal>
</supr-modal>
