:host {
    --order-history-product-image-size: 32px;
    --order-history-product-name-padding-right: 20px;
    --order-history-product-image-wrapper-size: 48px;
    --order-history-product-image-container-width: 48px;
    --order-history-product-tile-image-opacity: 1;
    --order-history-product-image-wrapper-bg-color: var(--white-100);
    --order-history-product-image-wrapper-border-color: var(--black-20);
    --order-history-product-image-wrapper-border-width: 1px;

    --order-history-product-name-padding-bottom: 3px;
    --order-history-product-tile-name-font-color: var(--black-100);

    --order-history-product-quantity-wrapper-width: 22%;
    --order-history-product-delivered-qty-font-color: var(--black-40);
    --order-history-product-scheduled-qty-font-color: var(--black-20);

    --order-history-product-frequency-icon-margin-right: 8px;
    --order-history-product-frequency-font-color: var(--black-40);
    --order-history-product-frequency-icon-size: var(--supr-font-size-medium);

    --order-history-product-status-icon-margin-right: 4px;
    --order-history-product-status-icon-color: var(--black-40);
    --order-history-product-status-font-color: var(--black-40);
    --order-history-product-status-icon-font-size: var(--supr-font-size-medium);

    --order-history-status-chip-padding: 2px 10px 2px 5px;
    --order-history-status-chip-info-border-color: transparent;
    --order-history-status-chip-warning-border-color: transparent;
    --order-history-status-chip-info-bg-color: var(--primary-100);
    --order-history-status-chip-warning-bg-color: var(--alert-100);
    --order-history-status-chip-icon-color: var(--white-100);
    --order-history-status-chip-font-color: var(--white-100);

    --order-history-refund-tooltip-color: var(--black-30);

    --order-history-product-quantity-padding-right: 8px;
    --order-history-product-action-right-icon-size: 12px;
    --order-history-product-action-right-font-color: var(--primary-100);
    --order-history-product-action-right-icon-color: var(--primary-100);

    .tile {
        width: 100%;
        height: auto;

        &Image {
            position: relative;
            width: var(--order-history-product-image-container-width);
            height: var(--order-history-product-image-container-width);
            opacity: var(--order-history-product-tile-image-opacity);

            supr-image {
                --supr-image-border-width: 1px;
                --supr-image-border-radius: 50%;
                --supr-image-width: var(--order-history-product-image-size);
                --supr-image-height: var(--order-history-product-image-size);
                --supr-image-bg-color: var(
                    --order-history-product-image-wrapper-bg-color
                );
                --supr-image-wrapper-width: var(
                    --order-history-product-image-wrapper-size
                );
                --supr-image-wrapper-height: var(
                    --order-history-product-image-wrapper-size
                );
                --supr-image-border-color: var(
                    --order-history-product-image-wrapper-border-color
                );
                --supr-image-border-width: var(
                    --order-history-product-image-wrapper-border-width
                );
            }

            supr-svg {
                position: absolute;
                bottom: 0;
                right: 0;
                --supr-svg-path: var(--supr-svg-thumbs-up-mini);
                --supr-svg-width: 16px;
                --supr-svg-height: 16px;

                &.thumbsUp.down {
                    --supr-svg-path: var(--supr-svg-thumbs-down-mini);
                }
            }
        }

        &Content {
            flex: 1;
            padding-right: var(--order-history-product-name-padding-right);

            &Name {
                --supr-text-wrap: normal;
                --supr-text-color: var(
                    --order-history-product-tile-name-font-color
                );
                padding-bottom: var(
                    --order-history-product-name-padding-bottom
                );
            }
        }

        &Quantity {
            width: var(--order-history-product-quantity-wrapper-width);

            supr-text {
                &.quantityText {
                    padding-right: var(
                        --order-history-product-quantity-padding-right
                    );

                    --supr-text-color: var(
                        --order-history-product-delivered-qty-font-color
                    );
                }

                &.scheduledText {
                    padding-right: var(
                        --order-history-product-quantity-padding-right
                    );

                    --supr-text-decoration: line-through;
                    --supr-text-color: var(
                        --order-history-product-scheduled-qty-font-color
                    );
                }
            }
        }

        .statusWrapper {
            supr-icon {
                &.statusIcon {
                    margin-right: var(
                        --order-history-product-status-icon-margin-right
                    );
                    --supr-icon-font-size: var(
                        --order-history-product-status-icon-font-size
                    );
                    --supr-icon-color: var(
                        --order-history-product-status-icon-color
                    );
                }
            }

            supr-text {
                --supr-text-color: var(
                    --order-history-product-status-font-color
                );
            }
        }

        .chipWrapper {
            supr-chip {
                --supr-chip-padding: var(--order-history-status-chip-padding);

                &.info {
                    --supr-chip-border-color: var(
                        --order-history-status-chip-info-border-color
                    );
                    --supr-chip-background-color: var(
                        --order-history-status-chip-info-bg-color
                    );
                }

                &.warning {
                    --supr-chip-border-color: var(
                        --order-history-status-chip-warning-border-color
                    );
                    --supr-chip-background-color: var(
                        --order-history-status-chip-warning-bg-color
                    );
                }

                supr-icon {
                    --supr-icon-color: var(
                        --order-history-status-chip-icon-color
                    );
                }

                supr-text {
                    --supr-text-color: var(
                        --order-history-status-chip-font-color
                    );
                }
            }

            supr-icon.refundInfoIcon {
                --supr-icon-color: var(--order-history-refund-tooltip-color);
            }
        }

        .changeAction {
            supr-text {
                --supr-text-color: var(
                    --order-history-product-action-right-font-color
                );
            }

            supr-icon {
                --supr-icon-font-size: var(
                    --order-history-product-action-right-icon-size
                );

                --supr-icon-color: var(
                    --order-history-product-action-right-icon-color
                );
            }
        }

        .frequencyIcon {
            --supr-icon-color: var(--black-40);
            margin-right: var(
                --order-history-product-frequency-icon-margin-right
            );
            --supr-icon-font-size: var(
                --order-history-product-frequency-icon-size
            );
        }

        supr-week-days-small {
            --week-day-small-day-selected-text-color: var(
                --order-history-product-frequency-font-color
            );
        }
    }

    supr-order-feedback-wrapper {
        --wrapper-primary-res-align: left;
        --wrapper-primary-res-margin-left: 48px;
    }

    .separator {
        border-bottom: 1px solid var(--black-10);
    }

    supr-modal {
        --supr-modal-content-position: fixed;
    }

    .sampleTag {
        supr-text {
            --supr-text-color: var(--white-100);
        }

        &Info {
            padding: 4px 8px;
            border-radius: 4px;
            background-color: var(--success-100);
        }

        supr-icon {
            --supr-icon-color: var(--black-20);

            &.gift {
                --supr-icon-color: var(--white-100);
            }
        }
    }

    .giftInfo {
        padding: 16px;
        color: var(--black-40);

        supr-text {
            --supr-text-color: var(--black-40);
            --supr-text-wrap: normal;
        }

        &Item {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0px !important;
            }
        }
    }
}
