@import "mixins/grid";

:host {
    --container-width: 100vw;

    --header-bg-color: var(--black-5);
    --header-title-color: var(--black-80);
    --header-sub-title-color: var(--black-40);
    --header-info-height: 192px;
    --header-info-width: 100%;

    --back-button-width: 60px;

    --header-title-height: calc(
        var(--header-info-height) - var(--supr-page-header-height)
    );
    --info-img-width: 80px;
    --info-img-height: 80px;

    --filter-item-image-size: 72px;
    --filter-item-image-wrapper-size: 80px;
    --filter-item-image-border-radius: 8px;
    --filter-item-image-bg-color: var(--white-100);
    --filter-item-padding: 8px;
    --filter-item-wrapper-width: 96px;

    --group-border-color: var(--black-5);

    --grid-column-width: calc((100% - 60px) / 3);
    --grid-column-gap: 30px;

    --modal-container-padding: var(--supr-content-vertical-padding)
        var(--supr-content-horizontal-padding);

    .suprScrollContent {
        padding-top: var(--supr-page-header-height);
        padding-bottom: calc(80px + var(--supr-content-vertical-padding));
        scroll-behavior: smooth;

        &Wrapper {
            padding: var(--supr-content-vertical-padding)
                var(--supr-content-horizontal-padding);
            padding-bottom: 0;
            background-color: var(--white--100);
        }

        &.noScroll {
            overflow: hidden;
        }
    }

    .header {
        supr-page-header {
            --supr-page-header-bg-color: var(--header-bg-color);
            --supr-page-header-border-height: 0;

            supr-search-box {
                --search-box-height: 40px;
                --search-box-icon-color: var(--black-20);
                --search-box-border-color: var(--header-bg-color);
                --search-box-border-width: 0;

                display: block;
                width: calc(
                    var(--container-width) - var(--back-button-width) -
                        var(--supr-content-horizontal-padding)
                );
            }
        }
    }

    .oosBanner {
        padding: 0 var(--supr-content-horizontal-padding);
        background-color: var(--header-bg-color);

        supr-banner {
            --supr-banner-with-title-padding: 16px;
        }
    }

    .info {
        width: var(--container-width);
        height: var(--header-title-height);
        background-color: var(--header-bg-color);
        padding: 0 var(--supr-content-horizontal-padding);
        box-sizing: border-box;

        .suprRow {
            height: var(--info-img-height);
        }

        &Image {
            @include center-vertical;

            supr-image {
                --supr-image-width: var(--info-img-width);
                --supr-image-height: var(--info-img-height);
            }
        }

        supr-text {
            --supr-text-wrap: normal;

            &.title {
                --supr-text-color: var(--header-title-color);
            }

            &.subTitle,
            &.itemCount {
                --supr-text-color: var(--header-sub-title-color);
            }
        }
    }

    .filter {
        background-color: var(--header-bg-color);
        padding: 0 var(--supr-content-horizontal-padding)
            var(--supr-content-vertical-padding);

        supr-text {
            --supr-text-color: var(--black-40);
        }

        &Slider {
            margin: 0 calc(var(--supr-content-horizontal-padding) * -1);
            overflow-y: hidden;
            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            supr-category-filter-item {
                &:first-child {
                    margin-left: var(--filter-item-padding);
                }

                &:last-child {
                    padding-right: var(--filter-item-padding);
                }
            }
        }

        &Item {
            width: var(--filter-item-wrapper-width);

            supr-text {
                --supr-text-color: var(--black-80);
                --supr-text-align: center;
            }

            &Image {
                width: var(--filter-item-image-wrapper-size);
                height: var(--filter-item-image-wrapper-size);

                supr-image {
                    --supr-image-width: var(--filter-item-image-size);
                    --supr-image-height: var(--filter-item-image-size);
                    --supr-image-wrapper-width: var(
                        --filter-item-image-wrapper-size
                    );
                    --supr-image-wrapper-height: var(
                        --filter-item-image-wrapper-size
                    );
                    --supr-image-border-radius: var(
                        --filter-item-image-border-radius
                    );
                    --supr-image-bg-color: var(--filter-item-image-bg-color);
                }
            }

            supr-text {
                --supr-text-color: var(--black-80);
                --supr-text-wrap: normal;
            }
        }
    }

    .group {
        &Header {
            width: 100%;
            background-color: var(--white-100);

            supr-text {
                &.caption {
                    --supr-text-color: var(--black-40);
                }
            }

            supr-icon {
                --supr-icon-font-weight: var(--supr-weight-bold);
                --supr-icon-font-size: 24px;

                margin: 0 6px 0 auto;
                transition: transform 0.3s ease-in-out;
                transform: rotate(0deg);

                &.up {
                    transform: rotate(-180deg);
                }
            }
        }

        &Wrapper {
            border-bottom: 1px solid var(--group-border-color);

            &.last {
                border-bottom: 0;

                .groupItemList {
                    padding-bottom: 0;
                }
            }
        }

        &ItemList {
            --animation-duration: 0.5s;

            padding-bottom: 16px;
        }
    }

    .modal {
        padding: var(--modal-container-padding);

        supr-text {
            --supr-text-wrap: normal;

            &.paragraph {
                --supr-text-color: var(--black-80);
            }
        }

        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }

    .feature {
        padding: 0 var(--supr-content-horizontal-padding);
    }
}
