:host {
    --header-bg-color: var(--black-5);
    --header-title-height: calc(
        200px - var(--supr-content-vertical-padding) -
            var(--supr-page-header-height)
    );

    .header {
        width: 100%;

        background-color: var(--header-bg-color);
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        &Title {
            height: var(--header-title-height);
            align-items: flex-start;

            ion-skeleton-text {
                &.round {
                    border-radius: 50%;
                    width: 109px;
                    margin: 0;
                    height: 80px;
                }

                &.first {
                    width: 80px;
                    height: 16px;
                    margin-top: 16px;
                }

                &.second {
                    width: 48px;
                    height: 8px;
                }
            }
        }

        &Filter {
            &Title {
                width: 100px;
                height: 16px;
            }

            &Row {
                overflow: hidden;
            }

            &Tile {
                margin-right: 16px;
                width: 80px;

                ion-skeleton-text {
                    &.image {
                        width: 80px;
                        height: 80px;
                        border-radius: 8px;
                    }

                    &.title {
                        width: 48px;
                        height: 8px;
                    }
                }
            }
        }
    }

    .body {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        &Item {
            ion-skeleton-text {
                &.title {
                    width: 100px;
                    height: 16px;
                }

                &.subtext {
                    width: 48px;
                    height: 8px;
                }
            }
        }
    }
}
