:host {
    .calendar {
        padding: var(--supr-content-padding);

        supr-icon {
            --supr-icon-font-size: 25px;

            margin: 5px 10px 0 0;
        }

        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
