:host {
    --supr-sticky-wrapper-width: 100%;
    --supr-sticky-wrapper-bg-color: transparent;

    --supr-sticky-wrapper-transform: translateZ(0);

    --supr-sticky-wrapper-transition-name: transform;
    --supr-sticky-wrapper-transition-duration: 0.3s;
    --supr-sticky-wrapper-transition-timing-function: ease-in-out;

    --supr-sticky-wrapper-box-shadow: none;

    .sticky {
        position: var(--supr-sticky-wrapper-position, absolute);
        top: var(--supr-sticky-wrapper-top, 0);
        bottom: var(--supr-sticky-wrapper-bottom, none);
        left: var(--supr-sticky-wrapper-left, 0);
        right: var(--supr-sticky-wrapper-right, 0);

        background-color: var(--supr-sticky-wrapper-bg-color);

        width: var(--supr-sticky-wrapper-width);
        z-index: var(--supr-sticky-wrapper-z-index);

        transform: var(--supr-sticky-wrapper-transform);

        transition-property: var(--supr-sticky-wrapper-transition-name);
        transition-duration: var(--supr-sticky-wrapper-transition-duration);
        transition-timing-function: var(
            --supr-sticky-wrapper-transition-timing-function
        );
        transition-delay: 0s;

        box-shadow: var(--supr-sticky-wrapper-box-shadow);
    }
}
