:host {
    --info-padding: 16px;

    --info-container-rest-padding: 24px 0 24px;
    --info-container-top-padding: calc(
        var(--supr-page-header-height) + var(--info-padding)
    );
    --info-container-z-index: 2;
    --info-container-height: 64px;
    --info-container-shadow: 0 0 4px var(--black-20);
    --info-icon-font-size: var(--supr-font-size-large);

    --divider-height: 1px;
    --divider-color: var(--black-10);

    --result-width: calc(100vw - var(--supr-content-horizontal-padding) - 56px);
    --supr-add-item-icon-color: var(--primary-100);

    --divider-height: 1px;
    --divider-color: var(--black-10);

    .suprScrollContent {
        padding: 0 var(--supr-content-horizontal-padding);
        padding-top: var(--supr-page-header-height);
    }

    .apartmentNameInfo {
        position: absolute;
        left: 0;
        right: 0;
        z-index: var(--info-container-z-index);
        background: var(--white-100);
        box-shadow: var(--info-container-shadow);

        &Wrapper {
            padding: var(--info-container-top-padding)
                var(--info-container-rest-padding);

            supr-text {
                --supr-text-color: var(--black-40);

                margin-left: 15px;
            }

            supr-icon {
                --supr-icon-color: var(--black-40);
                --supr-icon-font-size: var(--info-icon-font-size);

                transform: rotate(180deg);
            }
        }

        &Divider {
            display: block;
            margin: auto;
            width: 100%;
            height: var(--divider-height);
            background-color: var(--divider-color);
        }
    }

    .resultWrapper {
        .titleWrapper {
            width: 100%;
        }

        &.paddingTop {
            padding-top: calc(16px + var(--supr-page-header-height));

            &NoTitle {
                padding-top: calc(-2px + var(--supr-page-header-height));
            }
        }

        &Content {
            width: 100%;
        }

        &Divider {
            display: block;
            margin: auto;
            width: 100%;
            height: var(--divider-height);
            background-color: var(--divider-color);
        }

        supr-text {
            --supr-text-color: var(--alert-100);
        }
    }

    .results {
        supr-icon {
            --supr-icon-color: var(--black-30);
            --supr-icon-font-size: 24px;
        }

        supr-text {
            --supr-text-text-overflow: ellipsis;
            --supr-text-overflow: hidden;

            width: var(--result-width);

            &.primary {
                --supr-text-color: var(--black-80);
                --supr-text-transform: capitalize;
            }

            &.secondary {
                --supr-text-color: var(--black-40);
            }
        }

        &Divider {
            height: var(--divider-height);
            background-color: var(--divider-color);
            margin-left: 0px;
        }

        &.icon {
            .resultsDivider {
                margin-left: 39px;
            }
        }
    }

    .apartmentSearchInfo {
        supr-icon {
            --supr-icon-color: var(--black-40);
        }

        supr-text {
            --supr-text-color: var(--black-40);
            --supr-text-wrap: normal;
        }
    }

    .locationSearchNotFoundInfo {
        padding: 16px 0 0 0;

        supr-icon {
            --supr-icon-color: var(--black-30);
            --supr-icon-font-size: var(--supr-font-size-large);
        }

        supr-text {
            --supr-text-color: var(--black-40);
            --supr-text-wrap: normal;
        }

        &Divider {
            width: 100%;
            height: var(--divider-height);
            background-color: var(--divider-color);
            margin-left: 39px;
        }
    }

    supr-loader {
        --supr-loader-color: var(--primary-100);

        height: 100px;

        &.society {
            height: 200px;
        }
    }
}
