:host {
    --supr-ordered-list-text-color: var(--black-60);
    --supr-ordered-list-margin: 4px 0 4px 24px;
    --supr-ordered-list-style-type: decimal;

    ol {
        list-style-type: var(--supr-ordered-list-style-type);
        margin: var(--supr-ordered-list-margin);
    }

    li {
        color: var(--supr-ordered-list-text-color);
    }

    supr-text {
        --supr-text-wrap: normal;
        --supr-text-color: var(--supr-ordered-list-text-color);
    }
}
