:host {
    --divider-height: 1px;
    --divider-color: var(--black-10);

    .current {
        supr-text {
            --supr-text-color: var(--black-80);

            &.secondary {
                --supr-text-color: var(--black-40);
            }
        }

        supr-icon {
            --supr-icon-font-size: 24px;
            --supr-icon-color: var(--black-60);
        }

        &Divider {
            width: 100%;
            height: var(--divider-height);
            background-color: var(--divider-color);
            margin-left: 39px;
        }
    }
}
