:host {
    --supr-credits-container-border: solid 1px var(--black-10);
    --supr-credits-container-border-radius: 8px 8px 0 0;
    --supr-credits-container-padding: 18px 14px;

    --supr-credits-image-container-width: 32px;
    --supr-credits-image-width: 24px;

    --supr-credits-selection-container-width: 70px;

    --supr-credits-content-container-width: calc(
        100% - var(--supr-credits-selection-container-width) -
            var(--supr-credits-image-container-width)
    );

    .suprCredits {
        &Container {
            border-bottom: var(--supr-credits-container-border);
            border-radius: var(--supr-credits-container-border-radius);
            padding: var(--supr-credits-container-padding);

            .credits {
                &ImageContainer {
                    width: var(--supr-credits-image-container-width);

                    supr-svg.creditsImage {
                        position: absolute;
                        top: 14px;

                        --supr-svg-width: 24px;
                        --supr-svg-height: 24px;
                        --supr-svg-path: var(--supr-svg-supr-credits-img);
                    }
                }

                &ContentContainer {
                    width: var(--supr-credits-content-container-width);

                    .subTitle {
                        --supr-text-color: var(--black-40);
                        --supr-text-wrap: normal;

                        &.expiry {
                            --supr-text-color: var(--caution-100);
                        }
                    }

                    .info {
                        supr-text {
                            --supr-text-color: var(--primary-100);
                            --supr-text-wrap: normal;
                        }

                        supr-icon {
                            --supr-icon-color: var(--primary-100);
                            --supr-icon-font-size: 16px;

                            margin-bottom: -1px;
                        }
                    }
                }

                &SelectionContainer {
                    width: var(--supr-credits-selection-container-width);

                    supr-svg.nonUsableImage {
                        --supr-svg-width: 36px;
                        --supr-svg-height: 35px;
                        --supr-svg-path: var(--supr-svg-no-milk);
                    }

                    ion-checkbox {
                        --size: 20px;
                        --border-width: 2px;
                        --border-radius: 50%;
                        --checkmark-color: var(--white-100);
                        --border-color: var(--primary-100);
                        --background: var(--white-100);
                        --background-checked: var(--primary-100);
                        --border-color-checked: var(--primary-100);
                    }

                    .info {
                        supr-text {
                            --supr-text-color: var(--primary-100);
                            --supr-text-wrap: normal;
                        }

                        supr-icon {
                            --supr-icon-color: var(--primary-100);
                            --supr-icon-font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
