:host {
    supr-ribbon {
        --supr-ribbon-padding-x: 16px;
        --supr-ribbon-border-radius: 8px;
        --supr-ribbon-bg-color: var(--black-1);

        supr-icon {
            --supr-icon-color: var(--alert-100);
        }

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--black-60);
        }
    }
}
