<supr-sticky-wrapper>
    <ng-container *ngIf="footNoteText">
        <div class="footNoteWrapper">
            <supr-text type="caption">
                {{ footNoteText }}
            </supr-text>
            <ng-container *ngIf="footNoteLinkText">
                <div
                    class="suprRow footNoteIcon"
                    (click)="handleFooterNoteClick.emit()"
                >
                    <supr-text type="caption">
                        {{ footNoteLinkText }}
                    </supr-text>
                    <supr-icon name="chevron_right"></supr-icon>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <div class="wrapper suprRow">
        <div class="contentWrapper">
            <ng-content></ng-content>
        </div>

        <div class="btnWrapper">
            <supr-button
                [class.disabled]="disabled"
                [disabled]="disabled"
                [saObjectName]="saObjectName"
                [saObjectValue]="saObjectValue"
                [saContext]="saContext"
                [saContextList]="saContextList"
                (handleClick)="handleButtonClick.emit()"
            >
                <div class="suprRow">
                    <supr-text type="paragraph">
                        {{ buttonTitle }}
                    </supr-text>
                    <supr-configurable-icon
                        [config]="buttonTitleIcon"
                    ></supr-configurable-icon>
                </div>

                <ng-container *ngIf="buttonSubtitle">
                    <div class="divider4"></div>
                    <div class="suprRow">
                        <supr-icon
                            *ngIf="buttonSubtitleIconLeft"
                            [name]="buttonSubtitleIconLeft"
                        >
                        </supr-icon>

                        <supr-text type="bold16">
                            {{ buttonSubtitle }}
                        </supr-text>

                        <supr-icon class="chevron" [name]="buttonIcon">
                        </supr-icon>
                    </div>
                </ng-container>
            </supr-button>
        </div>
    </div>
</supr-sticky-wrapper>
