:host {
    --supr-page-footer-width: 100%;
    --supr-page-footer-box-shadow: none;
    --supr-page-footer-bg-color: var(--white-100);
    --supr-page-footer-padding: 12px 16px 24px;
    --supr-page-footer-main-icon-size: var(--supr-font-size-medium-large);
    --supr-page-footer-subtitle-left-icon-size: var(--supr-font-size-small);
    --supr-page-footer-button-wrapper-width: 50%;
    --supr-page-footer-content-wrapper-width: initial;

    supr-sticky-wrapper {
        --supr-sticky-wrapper-top: none;
        --supr-sticky-wrapper-bottom: 0;
        --supr-sticky-wrapper-box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.16);
    }

    .footNoteWrapper {
        padding: 16px;
        background: var(--white-100);

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--black-40);
        }

        .footNoteIcon {
            supr-text {
                --supr-text-color: var(--primary-100);
            }

            supr-icon {
                --supr-icon-color: var(--primary-100);
            }
        }
    }

    .wrapper {
        position: relative;
        box-sizing: border-box;
        width: var(--supr-page-footer-width);
        padding: var(--supr-page-footer-padding);
        box-shadow: var(--supr-page-footer-box-shadow);
        background-color: var(--supr-page-footer-bg-color);

        .contentWrapper {
            max-width: var(--supr-page-footer-content-wrapper-width);
        }

        .btnWrapper {
            width: var(--supr-page-footer-button-wrapper-width);
            overflow: hidden;
            margin-left: auto;

            supr-button {
                margin-left: auto;

                --supr-button-width: 100%;
                --supr-button-height: auto;
                --supr-button-padding: 8px 12px;
                --supr-button-border-radius: 8px;
                --supr-button-border-color: none;

                &.disabled {
                    --supr-button-bg-color: var(--black-20);
                }

                supr-text {
                    --supr-text-align: left;
                    --supr-text-color: var(--white-100);
                }

                supr-icon {
                    --supr-icon-color: var(--white-100);
                    --supr-icon-font-size: var(
                        --supr-page-footer-subtitle-left-icon-size
                    );

                    &.chevron {
                        margin-left: auto;
                        --supr-icon-font-size: var(
                            --supr-page-footer-main-icon-size
                        );
                    }
                }
            }
        }
    }
}
