:host {
    --supr-backdrop-opacity: 0;
    --supr-backdrop-bg-color: var(--black-40);
    --supr-backdrop-position: fixed;
    --supr-backdrop-bg-image: linear-gradient(
        var(--primary-100),
        var(--primary-100) 5%,
        var(--white-80) 15%,
        var(--white-80) 30%,
        var(--white-70) 45%
    );

    --supr-backdrop-animation-name: fadeIn;
    --supr-backdrop-animation-duration: 0.3s;
    --supr-backdrop-animation-timing-function: forwards;

    .backdrop {
        z-index: var(--supr-backdrop-z-index);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: var(--supr-backdrop-position);
        opacity: var(--supr-backdrop-opacity);
        background-color: var(--supr-backdrop-bg-color);
        background-image: var(--supr-backdrop-bg-image);
        transition: top 0.3s ease-in-out;

        animation-duration: var(--supr-backdrop-animation-duration);
        animation-name: var(--supr-backdrop-animation-name);
        animation-timing-function: var(
            --supr-backdrop-animation-timing-function
        );
        animation-fill-mode: forwards;
        animation-delay: 0s;
        animation-direction: normal;
    }
}
