:host {
    --container-height: 100vh;

    .container {
        overflow: hidden;
        height: var(--container-height);
    }

    .suprScrollContent {
        padding-top: var(--supr-page-header-height);
        padding-bottom: calc(64px + var(--supr-content-vertical-padding));
    }

    div.fullWidth {
        width: 100%;
    }

    .infoWrapper {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        .infoItem {
            border-bottom: 1px solid var(--black-10);
            padding: var(--supr-content-vertical-padding) 0;

            &:first-child {
                padding-top: 0;
            }

            supr-text {
                &.title,
                &.subtitle {
                    --supr-text-color: var(--black-60);
                }

                &.info {
                    --supr-text-color: var(--black-80);
                }
            }

            supr-icon {
                &.leftIcon {
                    --supr-icon-font-size: 24px;
                    --supr-icon-color: var(--grey-3);
                    --supr-icon-font-weight: var(--supr-weight-normal);
                }

                &.rightChevron {
                    padding-top: 14px;
                    margin-left: auto;
                }
            }

            &.quantityInfoWrapper {
                supr-icon.leftIcon {
                    --supr-icon-font-weight: var(--supr-weight-semi-bold);
                }

                supr-number-counter {
                    margin-left: auto;
                }
            }

            &.frequencyInfoWrapper {
                @media screen and (max-width: 360px) {
                    supr-week-days-select {
                        --supr-week-days-select-width: 24px;
                        --supr-week-days-select-height: 24px;
                    }
                }

                @media screen and (min-width: 360px) and (max-width: 375px) {
                    supr-week-days-select {
                        --supr-week-days-select-width: 28px;
                        --supr-week-days-select-height: 28px;
                    }
                }

                @media screen and (max-width: 350px) {
                    .rightChevron {
                        display: none;
                    }
                }

                supr-text {
                    &.info {
                        --supr-text-color: var(--primary-100);
                    }
                }

                .rightChevron {
                    padding-top: 0px;
                }
            }
            &.dateInfoWrapper {
                supr-t-plus-one-banner {
                    --supr-t-plus-one-banner-title-font-size: var(
                        --supr-font-size-regular
                    );
                    --supr-t-plus-one-banner-title-color: var(--black-50);
                    --supr-t-plus-one-banner-bg-color: var(--black-5);
                    --supr-t-plus-one-banner-ribbon-padding-x: 8px;
                    --supr-t-plus-one-banner-ribbon-padding-y: 8px;
                }
            }
        }
    }

    .descriptionWrapper {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
        padding-top: 0;

        .header {
            supr-text {
                --supr-text-color: var(--primary-100);
            }

            supr-svg {
                margin-left: auto;
                --supr-svg-width: 70px;
                --supr-svg-height: 70px;
                --supr-svg-path: var(--supr-svg-create-sub-info);
            }
        }

        .descriptionItem {
            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-40);
            }
        }

        supr-icon {
            --supr-icon-font-size: 20px;
            --supr-icon-color: var(--black-40);
            --supr-icon-font-weight: var(--supr-weight-normal);
        }
    }

    supr-sticky-wrapper {
        --supr-sticky-wrapper-bottom: 0;
        --supr-sticky-wrapper-top: none;
        --supr-sticky-wrapper-position: fixed;

        .footerWrapper {
            padding-top: 16px;
            box-shadow: 0 0 10px var(--black-20);
            background-color: var(--white-100);
            padding: var(--supr-content-vertical-padding)
                var(--supr-content-horizontal-padding);

            .deliverOnce {
                width: 36%;

                @media screen and (max-width: 375px) {
                    width: 40%;
                }

                supr-button {
                    --supr-button-width: 100%;
                    --supr-button-bg-color: var(--white-100);

                    @media screen and (max-width: 375px) {
                        --supr-button-padding: 0px;
                    }

                    supr-text {
                        --supr-text-color: var(--primary-100);
                    }
                }
            }

            .confirm {
                width: 60%;
                margin-left: auto;

                @media screen and (max-width: 375px) {
                    width: 58%;
                }

                supr-button {
                    --supr-button-width: 100%;
                    supr-text {
                        --supr-text-color: var(--white-100);
                    }
                }
            }
        }
    }
}
