:host {
    --supr-coupon-block-padding: 4px 8px;
    --supr-coupon-message-block-padding: 12px;
    --supr-coupon-block-bg: var(--success-10);
    --supr-coupon-block-color: var(--success-100);
    --supr-coupon-block-border: 1px dashed var(--success-100);
    --supr-coupon-block-border-radius: 4px;

    .wrapper {
        padding: var(--supr-content-padding);

        supr-text {
            --supr-text-wrap: normal;
        }

        .couponBlock {
            border: var(--supr-coupon-block-border);
            background: var(--supr-coupon-block-bg);
            padding: var(--supr-coupon-block-padding);
            border-radius: var(--supr-coupon-block-border-radius);

            supr-text {
                --supr-text-color: var(--supr-coupon-block-color);
            }
        }

        .lightText {
            --supr-text-color: var(--black-40);
        }

        .couponMessageBlock {
            background: var(--supr-coupon-block-bg);
            border-radius: var(--supr-coupon-block-border-radius);
            padding: var(--supr-coupon-message-block-padding);
        }
    }
}
