:host {
    supr-page-header {
        font-size: var(--supr-font-size-medium);
    }

    .suprScrollContent {
        padding: var(--supr-content-padding);
        padding-top: calc(var(--supr-page-header-height) + 24px);

        supr-text {
            --supr-text-color: var(--black-40);
        }

        textarea {
            width: 100%;
            background-color: var(--black-3);
            border-radius: 6px;
            padding: 12px;
            line-height: 24px;
            border: none;
        }
    }

    supr-button {
        --supr-button-width: 100%;
    }
}
