:host {
    .orderFeedbackNudge {
        padding: 24px 16px;

        --supr-order-feedback-title-box-shodow: 0px 0px 8px 0px var(--black-20);
        --supr-order-feedback-tile-image-size: 40px;
        --supr-order-feedback-thumbs-size: 48px;

        supr-expand-banner {
            --supr-expand-banner-bg-color: var(--white-100);
            --supr-expand-banner-subtitle-font-size: var(
                --supr-font-size-medium
            );
            --supr-expand-banner-title-font-size: var(
                --supr-font-size-medium-large
            );
            --supr-expand-banner-title-color: var(--black-100);
            --supr-expand-banner-subtitle-color: var(--black-40);
        }

        .orderImage {
            margin-left: 20px;
            flex-direction: row-reverse;

            supr-text {
                margin-left: 10px;
                --supr-text-font-size: var(--supr-font-size-extra-large);
                --supr-text-font-weight: var(--supr-weight-bold);
                --supr-text-color: var(--black-40);
            }
        }

        supr-product-tile-image {
            border-radius: 42px;
            padding: 12px;
            box-shadow: var(--supr-order-feedback-title-box-shodow);
            background-color: var(--white-100);
            margin-left: -20px;

            --supr-product-tile-image-width: var(
                --supr-order-feedback-tile-image-size
            );
            --supr-product-tile-image-height: var(
                --supr-order-feedback-tile-image-size
            );
        }

        supr-order-feedback-wrapper {
            --wrapper-thumbs-size: var(--supr-order-feedback-thumbs-size);
        }
    }

    .feedbackSubmit {
        padding: 72px 16px;

        supr-svg {
            &.thumbsUp {
                --supr-svg-path: var(--supr-svg-delivery-feedback-success);
                --supr-svg-width: 96px;
                --supr-svg-height: 96px;
            }
        }

        supr-text {
            --supr-text-color: var(--black-40);
            --supr-text-font-size: var(--supr-font-size-large);
        }
    }
}
