@import "mixins/grid";

:host {
    --primary-res-align: center;
    --primary-res-margin-left: 0;
    --primary-thumbs-size: 40px;
    --primary-buttons-height: 75px;
    --primary-text-block-height: 123px;

    .primaryRes {
        @include center-vertical();
        justify-content: var(--primary-res-align);
        margin-left: var(--primary-res-margin-left);

        supr-svg {
            cursor: pointer;
            padding: 12px 4px 0;

            &.thumbsUp {
                --supr-svg-path: var(--supr-svg-thumbs-up);
                --supr-svg-width: var(--primary-thumbs-size);
                --supr-svg-height: var(--primary-thumbs-size);
            }

            &.thumbsUp.black {
                --supr-svg-path: var(--supr-svg-thumbs-up-black);
            }

            &.thumbsDown {
                --supr-svg-path: var(--supr-svg-thumbs-down);
                --supr-svg-width: var(--primary-thumbs-size);
                --supr-svg-height: var(--primary-thumbs-size);
            }

            &.thumbsDown.black {
                --supr-svg-path: var(--supr-svg-thumbs-down-black);
            }
        }

        .suprColumn {
            padding: 12px 8px 0;
            supr-text {
                --supr-text-color: var(--caution-100);
            }

            supr-button {
                --supr-button-bg-color: var(--white-100);
                --supr-button-text-color: var(--caution-100);
                --supr-button-border-color: var(--caution-100);
                --supr-button-border-radius: 24px;
                --supr-button-padding: 0 12px;
                --supr-button-height: 28px;
            }
        }
    }

    .secResponse {
        .buttonList {
            min-height: var(--primary-buttons-height);
            display: flex;
            flex-flow: wrap;
            margin: 0 -4px;

            supr-button {
                margin: 4px;
                --supr-button-height: 30px;
                --supr-button-padding: 0 8px;
                --supr-button-bg-color: transparent;
                --supr-button-text-color: var(--primary-100);
                --supr-button-border-color: var(--primary-25);

                &.selected {
                    --supr-button-bg-color: var(--primary-100);
                    --supr-button-text-color: var(--white-100);
                }
            }
        }

        supr-text {
            --supr-text-color: var(--black-60);
            --supr-text-font-size: var(--supr-font-size-regular);
            --supr-text-font-weight: var(--supr-weight-bold);

            &.commentText {
                --supr-text-color: var(--black-40);
                --supr-text-font-weight: var(--supr-weight-normal);
                --supr-text-font-size: var(--supr-font-size-small);
            }

            &.supportText {
                --supr-text-color: var(--caution-100);
                --supr-text-font-weight: var(--supr-weight-normal);
                --supr-text-font-size: var(--supr-font-size-small);

                supr-icon {
                    --supr-icon-color: var(--caution-100);
                }
            }
        }

        .textBlock {
            padding: 0 24px;
            min-height: var(--primary-text-block-height);

            supr-text {
                --supr-text-color: var(--black-80);
                --supr-text-align: center;
                --supr-text-wrap: normal;
                --supr-text-font-size: var(--supr-font-size-medium);

                &.subtitle {
                    --supr-text-color: var(--black-40);
                    --supr-text-font-size: var(--supr-font-size-regular);
                }
            }
        }
    }

    supr-text {
        --supr-text-color: var(--black-40);
        --supr-text-font-size: var(--supr-font-size-small);
    }

    .links {
        justify-content: space-between;
        margin-right: 8px;

        supr-icon {
            --supr-icon-color: var(--black-40);
            &.support {
                --supr-icon-color: var(--caution-100);
            }
        }
    }
}
