:host {
    --wrapper-primary-res-align: center;
    --wrapper-primary-res-margin-left: 0;
    --wrapper-thumbs-size: 40px;

    supr-feedback-options {
        --primary-res-align: var(--wrapper-primary-res-align);
        --primary-res-margin-left: var(--wrapper-primary-res-margin-left);
        --primary-thumbs-size: var(--wrapper-thumbs-size);
    }

    supr-button {
        --supr-button-width: 100%;
    }
}
