:host {
    --supr-complaint-view-margin: 8px 0;
    --complaint-tag-color: var(--primary-100);
    --complaint-bg-color: var(--lime-10);

    .complaintView {
        border: 1px solid var(--black-10);
        padding: 10px 10px 0;
        margin: var(--supr-complaint-view-margin);
        border-radius: 8px;

        .issueDate {
            supr-text {
                --supr-text-font-size: var(--supr-font-size-medium);
                --supr-text-color: var(--black-80);
                --supr-text-font-weight: var(--supr-weight-bold);
                --supr-text-wrap: normal;

                &.newText {
                    --supr-text-color: var(--salmon-80);
                }
            }
        }

        .type {
            supr-text {
                --supr-text-font-size: var(--supr-font-size-regular);
                --supr-text-color: var(--black-80);

                width: 95%;

                --supr-text-text-overflow: ellipsis;
                --supr-text-overflow: hidden;
            }
        }

        .details {
            supr-text {
                --supr-text-color: var(--black-40);
                --supr-text-font-weight: var(--supr-weight-bold);
                --supr-text-font-size: var(--supr-font-size-small);
            }
        }

        .status {
            supr-text {
                --supr-text-color: var(--white-100);
                --supr-text-font-size: var(--supr-font-size-small);
                --supr-text-wrap: normal;
            }

            supr-tag {
                --supr-tag-padding: 4px 8px;
                --supr-tag-border-radius: 4px;
                --supr-tag-bg-color: var(--complaint-tag-color);
            }
        }

        .separator {
            border-bottom: 1px solid var(--black-10);
        }

        .footer {
            supr-text {
                --supr-text-font-size: var(--supr-font-size-small);
                --supr-text-color: var(--black-40);
                --supr-text-wrap: normal;
            }

            supr-icon {
                --supr-icon-wrapper-size: var(--supr-font-size-large);
                --supr-icon-color: var(--black-40);
            }

            .helpLink {
                color: var(--primary-100);

                supr-text {
                    --supr-text-color: var(--primary-100);
                    --supr-text-font-size: var(--supr-font-size-small);
                    --supr-text-font-weight: var(--supr-weight-bold);
                }

                supr-button {
                    --supr-button-bg-color: none;
                    --supr-button-text-color: var(--primary-100);
                    --supr-button-border-color: none;
                    --supr-button-border-width: 0;
                    --supr-button-padding: 0;
                }

                supr-icon {
                    --supr-icon-wrapper-size: var(--supr-font-size-large);
                    --supr-icon-color: var(--primary-100);
                }
            }
        }
    }

    .new {
        background-color: var(--complaint-bg-color);
    }
}
