:host {
    --balance-wrapper-left-spacing: 64px;
    --balance-wrapper-width: calc(100% - var(--balance-wrapper-left-spacing));
    --balance-wrapper-height: 44px;

    --balance-active-text-color: var(--black-80);
    --balance-expired-text-color: var(--black-40);
    --balance-recharge-text-color: var(--alert-100);

    .balance {
        margin-left: auto;
        width: var(--balance-wrapper-width);
        height: var(--balance-wrapper-height);
        border: 1px solid var(--black-10);
        border-width: 1px 0;

        supr-text {
            &.text {
                --supr-text-color: var(--black-40);
            }
        }

        .value {
            margin-left: auto;

            supr-text {
                --supr-text-color: var(--balance-active-text-color);
            }

            .unit {
                margin-left: 2px;
            }
        }

        &.recharge {
            .value {
                supr-text {
                    --supr-text-color: var(--balance-recharge-text-color);
                }
            }

            supr-text {
                &.text {
                    --supr-text-color: var(--balance-recharge-text-color);
                }
            }
        }

        &.expired {
            .value {
                supr-text {
                    --supr-text-color: var(--balance-expired-text-color);
                }
            }
        }
    }
}
