:host {
    .empty {
        height: 100%;
    }

    supr-svg {
        --supr-svg-path: var(--supr-svg-empty-subscription);
        --supr-svg-width: 140px;
        --supr-svg-height: 100px;
    }

    supr-text {
        &.subText {
            --supr-text-color: var(--black-40);
            --supr-text-wrap: normal;
        }
    }

    supr-button {
        --supr-button-bg-color: var(--white-100);
        --supr-button-border-color: var(--primary-100);

        supr-text {
            --supr-text-color: var(--primary-100);
        }
    }
}
