:host {
    .suprScrollContent {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
        padding-top: var(--supr-page-header-height);

        .loader {
            margin-top: 25vh;

            supr-loader {
                --supr-loader-color: var(--primary-100);
            }
        }
    }
}
