:host {
    .header {
        padding-right: 8px;

        supr-button {
            --supr-button-border-radius: 16px;
            --supr-button-width: 70px;
            --supr-button-height: 32px;

            --supr-button-text-color: var(--primary-100);
            --supr-button-bg-color: var(--white-100);
            --supr-button-border-color: var(--primary-100);
        }

        supr-text {
            width: 70%;

            --supr-text-color: var(--black-40);
            --supr-text-text-overflow: ellipsis;
            --supr-text-overflow: hidden;
        }
    }
}
