<div class="wrapper">
    <ng-container *ngIf="options?.length">
        <ng-container *ngFor="let option of options; trackBy: _trackByFn">
            <ng-container *ngIf="option">
                <div
                    class="lineItemWrapper"
                    saClick
                    saImpression
                    [saPosition]="_i + 1"
                    [saContext]="saContext"
                    [saObjectName]="saObjectName"
                    [saObjectValue]="saObjectName"
                    (click)="_handleItemClick(option)"
                >
                    <supr-line-item-variant-A
                        textType="subheading"
                        [imageRightDirectUrl]="true"
                        [text]="option.desc?.title"
                        [imageRight]="option.desc?.image"
                        [class.selected]="option.id === selectedOption"
                        [iconOnTheLeft]="
                            selectedOption === option.id
                                ? _iconNames.APPROVE_FILLED
                                : _iconNames.APPROVE
                        "
                    ></supr-line-item-variant-A>

                    <div
                        class="cvvWrapper"
                        *ngIf="showCVVInput && option.id === selectedOption"
                    >
                        <supr-wallet-cvv-input
                            [maxLength]="_getCvvMaxLength(option)"
                            (handleCvvChange)="_handleCvvChange($event, option)"
                        ></supr-wallet-cvv-input>

                        <ng-container
                            *ngIf="
                                option?.network?.toLowerCase() ===
                                _cardTypes.MAESTRO
                            "
                        >
                            <div class="divider8"></div>
                            <supr-line-item-variant-A
                                textType="body"
                                class="additionalInfo"
                                [class.checked]="_noExpiryOrCvv"
                                [text]="_walletTexts.MAESTRO_NO_CVV_EXPIRY"
                                [iconOnTheLeft]="
                                    _noExpiryOrCvv
                                        ? _iconNames.APPROVE
                                        : _iconNames.UNCHECKED
                                "
                                (handleClick)="_toggleNoExpiryOrCvv()"
                            >
                            </supr-line-item-variant-A>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>

    <div
        class="lineItemWrapper"
        saClick
        saImpression
        [saContext]="saContext"
        [saObjectValue]="_paymentMethods.CARD"
        [saObjectName]="_saObjectNames.CLICK.ADD_NEW_PAYMENT_MODE"
        (click)="_handleAddCardClick()"
    >
        <supr-line-item-variant-A
            class="addNewCard"
            textType="subheading"
            iconOnTheRight="card"
            [text]="_walletTexts.ADD_CARD"
            [class.selected]="_customOptions.NEW_CARD === selectedOption"
            [iconOnTheLeft]="
                selectedOption === _customOptions.NEW_CARD
                    ? _iconNames.APPROVE_FILLED
                    : _iconNames.APPROVE
            "
        ></supr-line-item-variant-A>

        <div
            class="newCardFormWrapper"
            *ngIf="selectedOption === _customOptions.NEW_CARD"
        >
            <supr-wallet-card-form></supr-wallet-card-form>
        </div>
    </div>
</div>
