:host {
    .wrapper {
        padding: 8px 16px;

        .lineItemWrapper {
            padding: 16px 0px;
            border-bottom: 1px solid var(--black-10);

            &:last-of-type {
                border-bottom: none;
            }
        }

        .cvvWrapper {
            padding-top: 16px;
            padding-left: 46px;
        }

        .newCardFormWrapper {
            padding-top: 16px;
        }

        supr-line-item-variant-A {
            --icon-left-size: 20px;
            --icon-left-wrapper-width: 18px;
            --icon-left-color: var(--black-10);
            --icon-left-wrapper-margin-right: 26px;

            &.selected {
                --icon-left-color: var(--primary-100);
            }

            --image-right-width: 28px;
            --image-right-height: auto;

            &.addNewCard {
                --icon-right-size: 20px;
                --icon-right-border-radius: 4px;
                --icon-right-wrapper-width: 48px;
                --icon-right-color: var(--black-40);
                --icon-right-wrapper-border-radius: 4px;
                --icon-right-wrapper-padding: 0 0 1px 0;
                --icon-right-wrapper-border: 1px solid var(--black-10);
            }

            &.additionalInfo {
                --icon-left-size: 18px;
                --text-color: var(--black-60);
                --icon-left-color: var(--black-40);
                --icon-left-wrapper-margin-right: 6px;

                &.checked {
                    --icon-left-color: var(--primary-100);
                }
            }
        }
    }
}
