@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

:host {
    --supr-wallet-cashback-border-color: var(--black-10);
    --supr-wallet-cashback-border-radius: 8px;
    --supr-wallet-cashback-padding: 0 12px;
    --supr-wallet-cashback-width: 200px;
    --supr-wallet-cashback-bottom: 130px;

    --start-num: 0;
    --end-num: 0;

    div.middleFoldText {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 24px;
        letter-spacing: normal;
        color: var(--delight-80);
        font-weight: bold;
        animation: counter 3s alternate forwards;
        counter-reset: num var(--num);
    }

    div.middleFoldText::after {
        content: counter(num);
    }

    div.middleFoldText::before {
        content: "\20B9";
    }

    @keyframes counter {
        from {
            --num: var(--start-num);
        }
        to {
            --num: var(--end-num);
        }
    }

    img {
        width: 300px;
    }

    .wrapper {
        background-color: var(--primary-100);
    }

    .thankyou {
        &Content {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 70%;

            supr-text {
                --supr-text-color: var(--white-100);
                --supr-text-wrap: normal;
            }

            .imgWrapper {
                text-align: center;

                img {
                    height: 48px;
                    width: 48px;
                }
            }

            .animate {
                opacity: 1;
                animation: fadeAndSlide 4s linear forwards;
            }

            .flipAnimation {
                animation: rotateCoin 1s linear forwards;
            }

            @keyframes rotateCoin {
                0% {
                    transform: rotateY(0deg);
                }

                50% {
                    transform: rotateY(90deg);
                }

                100% {
                    transform: rotateY(0deg);
                }
            }

            @keyframes fadeAndSlide {
                0% {
                    opacity: 0;
                    transform: translateY(50px);
                }

                10% {
                    opacity: 1;
                    transform: translateY(0);
                }

                90% {
                    opacity: 1;
                    transform: translateY(0);
                }

                100% {
                    opacity: 0;
                    transform: translateY(-50px);
                }
            }
        }
    }
}
