:host {
    supr-button {
        width: calc(50% - 6px);

        --supr-button-width: 100%;
        --supr-button-border-radius: 8px;
        --supr-button-border-color: transparent;
        --supr-button-disabled-bg-color: var(--black-10);
        --supr-button-disabled-border-color: transparent;

        &.stacked {
            width: 100%;
        }

        &.scheduleBtn {
            --supr-button-bg-color: var(--primary-10);

            supr-text {
                --supr-text-color: var(--primary-120);
            }
        }

        &.cancelBtn {
            --supr-button-bg-color: var(--alert-10);

            supr-text {
                --supr-text-color: var(--caution-100);
            }
        }

        &.disabled {
            supr-text {
                --supr-text-color: var(--black-50);
            }
        }
    }
}
