<div
    class="modal"
    [class.noAnimate]="!animate"
    saModalView
    [saModalName]="modalName"
    [saObjectName]="saObjectName"
    [saObjectValue]="saObjectValue"
    [saContext]="saContext"
>
    <supr-backdrop
        [class.hide]="hide"
        (click)="_backdropClick()"
        *ngIf="!hideBackdrop"
    ></supr-backdrop>

    <div class="modalContent" [class.fullScreen]="fullScreen">
        <ng-container [ngSwitch]="modalType">
            <div *ngSwitchCase="modalTypes.BOTTOM_SHEET">
                <ng-container *ngTemplateOutlet="bottom_sheet"></ng-container>
            </div>
            <div *ngSwitchDefault>
                <ng-container *ngTemplateOutlet="holder"></ng-container>
            </div>
        </ng-container>

        <ng-template #bottom_sheet>
            <supr-bottom-sheet
                [class.hide]="hide"
                [disableSwipe]="!backdropDismiss"
                (handleSwipeDown)="closeModal()"
            >
                <ng-container *ngTemplateOutlet="holder"></ng-container>
            </supr-bottom-sheet>
        </ng-template>

        <ng-template #holder>
            <ng-content></ng-content>
        </ng-template>
    </div>
</div>
