:host {
    --supr-modal-z-index: calc(var(--supr-backdrop-z-index) - 1);
    --supr-modal-content-z-index: calc(var(--supr-backdrop-z-index) + 1);
    --supr-modal-bg-color: var(--white-100);
    --supr-modal-content-position: absolute;

    --supr-modal-backdrop-bg-color: var(--black-40);
    --supr-modal-backdrop-bg-image: linear-gradient(
        var(--primary-100),
        var(--primary-100) 5%,
        var(--white-80) 15%,
        var(--white-80) 30%,
        var(--white-70) 45%
    );

    .modal {
        z-index: var(--supr-modal-z-index);

        supr-backdrop {
            --supr-backdrop-bg-color: var(--supr-modal-backdrop-bg-color);
            --supr-backdrop-bg-image: var(--supr-modal-backdrop-bg-image);

            &.hide {
                --supr-backdrop-animation-name: fadeOut;
                --supr-backdrop-animation-duration: 0.25s;
            }
        }

        supr-bottom-sheet {
            --supr-bottom-sheet-bg-color: var(--supr-modal-bg-color);

            &.hide {
                --supr-bottom-sheet-animation-name: pullDown;
                --supr-bottom-sheet-animation-duration: 0.2s;
            }
        }

        &.noAnimate {
            supr-backdrop {
                --supr-backdrop-animation-name: none;
                --supr-backdrop-opacity: 1;
            }

            supr-bottom-sheet {
                --supr-bottom-sheet-animation-name: none;
            }
        }

        &Content {
            z-index: var(--supr-modal-content-z-index);
            position: relative;

            &.fullScreen {
                position: var(--supr-modal-content-position);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--supr-modal-bg-color);
            }
        }
    }
}
