:host {
    .suprScrollContent {
        padding-top: var(--supr-page-header-height);
        padding-bottom: var(--supr-page-footer-height);
        scroll-behavior: smooth;

        .wrapper {
            padding: 8px var(--supr-content-horizontal-padding);

            .lineItemWrapper {
                padding: 16px 0px;
                border-bottom: 1px solid var(--black-10);

                &:last-of-type {
                    border-bottom: none;
                }

                supr-line-item-variant-A {
                    --icon-left-size: 20px;
                    --icon-left-wrapper-width: 20px;
                    --icon-left-color: var(--black-10);
                    --icon-left-wrapper-margin-right: var(
                        --supr-font-size-medium-large
                    );

                    &.selected {
                        --icon-left-color: var(--primary-100);
                    }
                }
            }
        }
    }
}
