<supr-page-header (handleBackButtonClick)="_goBack()">
    <supr-search-input
        placeholder="Search bank name"
        (handleChangeText)="_filterBanksList($event)"
    ></supr-search-input>
</supr-page-header>

<div class="suprScrollContent">
    <div class="wrapper" *ngIf="options?.length">
        <ng-container *ngFor="let option of options; trackBy: _trackByFn">
            <ng-container *ngIf="option">
                <div class="lineItemWrapper" (click)="_handleItemClick(option)">
                    <supr-line-item-variant-A
                        textType="subheading"
                        [text]="option?.desc?.title"
                        [iconOnTheLeft]="_getOptionIconLeft(option.id)"
                        [class.selected]="option.id === selectedOption"
                    ></supr-line-item-variant-A>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
