:host {
    .loadMore {
        margin-bottom: 24px;

        supr-icon {
            --supr-icon-color: var(--black-40);
            --supr-icon-wrapper-size: 20px;
            --supr-icon-font-size: 20px;

            margin-right: 8px;
        }

        supr-text {
            --supr-text-color: var(--black-40);
        }
    }
}
