:host {
    --supr-v3-tile-title-color: var(--black-100);
    --supr-v3-tile-subText1-color: var(--black-100);

    #horizontalSliderContainer {
        overflow: visible !important;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .card {
        width: 100%;
        padding: 8px;
        padding-top: 75px;

        supr-text {
            --supr-text-wrap: normal;

            &.title {
                --supr-text-color: var(--supr-v3-tile-title-color);
                --supr-text-truncate-line-count: 2;
            }

            &.subText1 {
                --supr-text-color: var(--supr-v3-tile-subText1-color);
            }
        }

        &Btn {
            supr-text {
                &.subText2 {
                    --supr-text-color: var(--supr-v3-tile-subText2-color);
                }
            }
        }
    }

    .image {
        height: 84px;
        width: 84px;

        border-radius: 50%;
        background-color: white;
        z-index: 10;
        position: absolute;
        top: -16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    supr-image {
        &.tileImage {
            --supr-image-width: 54px;
            --supr-image-height: 54px;
        }
    }
}
