:host {
    .wrapper {
        padding: 12px;
        border-radius: 8px;
        background: var(--red-10);

        .infoText {
            margin-left: 2px;
        }

        supr-text {
            --supr-text-wrap: normal;
        }

        .innerWrapper {
            padding: 12px;
            border-radius: 8px;
            background: var(--white-100);

            .availableProducts {
                margin-top: 6px;

                supr-text {
                    --supr-text-color: var(--primary-120);
                    --supr-text-transform: uppercase;
                }

                supr-icon {
                    --supr-icon-color: var(--primary-100);

                    margin-left: 4px;
                    margin-top: 2px;
                }
            }
        }
    }
}
