:host {
    --supr-svg-path: unset;
    --supr-svg-width: 56px;
    --supr-svg-height: 16px;

    --supr-svg-bg-size: cover;
    --supr-svg-background-repeat: no-repeat;

    .svg {
        background-repeat: var(--supr-svg-background-repeat);
        background-image: var(--supr-svg-path);
        background-size: var(--supr-svg-bg-size);
        background-position: bottom left;

        width: var(--supr-svg-width);
        height: var(--supr-svg-height);
    }
}
