:host {
    --supr-sku-ribbon-position-top: 8px;
    --supr-sku-ribbon-position-bottom: 0;

    --supr-sku-img-width: 110px;

    --supr-sku-name-color: var(--black-100);
    --supr-sku-qty-color: var(--black-40);

    --supr-sku-wide-padding: 8px;

    --supr-sku-tag-banner-border-radius: 0 0 4px 4px;

    .sku {
        width: 100%;
        height: 100%;
        padding: 4px 4px;
        text-align: center;
        position: relative;
        border-radius: 5px;
        border: 1px solid var(--black-10);
        background-color: var(--white-100);

        .suprColumn {
            height: 100%;
        }

        &Section {
            width: 100%;
        }

        supr-collection-tag-ribbon {
            position: absolute;
            top: var(--supr-sku-ribbon-position-top);
            left: -1px;
        }

        supr-collection-tag-banner {
            position: absolute;
            bottom: var(--supr-sku-ribbon-position-bottom);
            left: -1px;
            right: -1px;
        }

        supr-image {
            --supr-image-width: var(--supr-sku-img-width);
        }

        supr-text {
            &.name {
                --supr-text-color: var(--supr-sku-name-color);
                --supr-text-wrap: normal;
                --supr-text-truncate-line-count: 2;
            }

            &.qty {
                --supr-text-color: var(--supr-sku-qty-color);
            }
        }

        &Add {
            right: -1px;
            top: -1px;
            border-top-right-radius: 4px;
            position: absolute;
            background-color: var(--primary-100);
            transition: width, height 1s ease;

            supr-icon {
                --supr-icon-color: var(--white-100);
            }

            &Icon {
                padding: 3px;
            }
        }

        &AddedToCart {
            background-color: var(--primary-100);

            text-align: center;
            left: 0px;
            top: 0px;
            bottom: -1px;
            width: 100%;
            height: 100%;

            supr-icon {
                --supr-icon-font-size: 24px;
            }

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
