:host {
    --supr-collection-width: 100%;
    --supr-collection-bg-color: var(--grey-100);

    .itemsWrapper {
        position: relative;
        padding: 18px 0 var(--supr-content-vertical-padding) 0;
    }
}
