@import "mixins/grid";

:host {
    --supr-horizontal-card-width: 120px;
    --supr-horizontal-card-height: 196px;
    --supr-horizontal-card-padding: 8px;
    --supr-horizontal-card-border-radius: 8px;
    --supr-horizontal-card-border-width: 1px;
    --supr-horizontal-card-bg-color: var(--white-100);
    --supr-horizontal-card-border-color: transparent;

    --supr-horizontal-card-top-banner-height: 28px;
    --supr-horizontal-card-bottom-banner-height: 24px;

    .wrapper {
        @include center-vertical;

        overflow-y: hidden;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        &Card {
            position: relative;
            width: var(--supr-horizontal-card-width);
            height: var(--supr-horizontal-card-height);
            border-radius: var(--supr-horizontal-card-border-radius);
            background-color: var(--supr-horizontal-card-bg-color);
            border-color: var(--supr-horizontal-card-border-color);
            border-width: 1px;
            border-style: solid;

            &.item {
                padding: var(--supr-horizontal-card-padding);

                &.banner {
                    &Top {
                        padding-top: calc(
                            var(--supr-horizontal-card-padding) +
                                var(--supr-horizontal-card-top-banner-height)
                        );
                    }

                    &Bottom {
                        padding-bottom: calc(
                            var(--supr-horizontal-card-padding) +
                                var(--supr-horizontal-card-bottom-banner-height)
                        );
                    }

                    &Both {
                        padding-top: calc(
                            var(--supr-horizontal-card-padding) +
                                var(--supr-horizontal-card-top-banner-height)
                        );
                        padding-bottom: calc(
                            var(--supr-horizontal-card-padding) +
                                var(--supr-horizontal-card-bottom-banner-height)
                        );
                    }
                }
            }
        }

        & > div {
            padding-left: var(--supr-content-horizontal-padding);
        }

        & > div:last-child {
            padding-right: var(--supr-content-horizontal-padding);
        }
    }
}
