:host {
    --card-bg: var(--primary-100);

    .suprPassCard {
        position: relative;
        margin: 16px 0;
        padding: 12px 12px 12px 20px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        overflow: hidden;

        background: var(--card-bg);

        .translucentImage {
            position: absolute;
            right: -12px;
            top: 0;
            supr-svg {
                --supr-svg-width: 178.85px;
                --supr-svg-height: 170px;
                --supr-svg-path: var(--supr-icon-translucent);
            }

            &.small {
                right: 0px;
                supr-svg {
                    --supr-svg-width: 75.37px;
                    --supr-svg-height: 71.64px;
                }
            }
        }

        supr-text {
            --supr-text-color: var(--white-100);
            --supr-text-wrap: normal;

            &.lightText {
                --supr-text-color: var(--white-60);
            }

            &.bottomAlign {
                margin-bottom: -4px;
            }
        }

        supr-icon {
            --supr-icon-color: var(--white-100);
        }

        .subText {
            margin-left: 4px;
        }

        .actionBlock {
            .cta {
                margin-left: auto;
                z-index: 101;

                &.left {
                    margin-left: initial;
                }
            }
        }

        .leftSection {
            max-width: calc(100% - 120px);
        }

        .rightSection {
            margin-left: auto;

            max-width: 112px;

            supr-button {
                --supr-button-bg-color: var(--white-100);
                --supr-button-border-color: var(--white-100);
                --supr-button-height: 20px;
                --supr-button-padding: 0 8px;

                supr-icon {
                    --supr-icon-color: var(--card-bg);
                    --supr-icon-font-size: 12px;
                }

                supr-text {
                    --supr-text-transform: uppercase;
                    --supr-text-color: var(--card-bg);
                }
            }
        }
    }
}
