:host {
    .wrapper {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        supr-text.headerText {
            --supr-text-color: var(--black-40);
        }

        @media screen and (min-width: 360px) and (max-width: 375px) {
            supr-week-days-select {
                --supr-week-days-select-width: 36px;
                --supr-week-days-select-height: 36px;
            }
        }

        @media screen and (min-width: 380px) {
            supr-week-days-select {
                --supr-week-days-select-width: 42px;
                --supr-week-days-select-height: 42px;
            }
        }

        .frequencyWrapper {
            width: 30%;
            padding: 12px 0px;
            border-radius: 4px;
            text-align: center;
            border: 1px solid var(--black-20);

            supr-week-days-select {
                --supr-week-days-select-bg-color: var(--white-100);
            }

            supr-text {
                --supr-text-color: var(--black-20);
            }

            &.selected {
                background-color: var(--primary-10);
                border: 1px solid var(--primary-100);

                supr-text {
                    --supr-text-color: var(--primary-100);
                }
            }
        }

        supr-button {
            --supr-button-width: 100%;
        }
    }
}
