:host {
    --supr-order-product-tile-width: 88px;
    --supr-order-product-tile-bg-color: var(--white-100);
    --supr-order-product-tile-image-wrapper-size: 72px;
    --supr-order-product-tile-image-size: 48px;

    .tile {
        width: var(--supr-order-product-tile-width);
    }

    supr-image {
        --supr-image-bg-color: var(--supr-order-product-tile-bg-color);
        --supr-image-border-radius: 50%;
        --supr-image-width: var(--supr-order-product-tile-image-size);
        --supr-image-height: var(--supr-order-product-tile-image-size);
        --supr-image-wrapper-width: var(
            --supr-order-product-tile-image-wrapper-size
        );
        --supr-image-wrapper-height: var(
            --supr-order-product-tile-image-wrapper-size
        );
    }

    supr-text {
        --supr-text-align: center;
        --supr-text-wrap: normal;

        display: block;

        &.title {
            --supr-text-color: var(--white-100);
            --supr-text-wrap: normal;
            --supr-text-truncate-line-count: 2;

            margin-top: 8px;
            max-width: 80px;
        }

        &.quantity {
            --supr-text-color: var(--white-60);
        }
    }
}
