:host {
    --supr-order-product-tile-width: 54px;
    --supr-order-product-tile-bg-color: var(--white-100);
    --supr-order-product-tile-image-wrapper-size: 48px;
    --supr-order-product-tile-image-size: 30px;
    --supr-order-product-tile-image-wrapper-shadow: 0px 1.3px 3.3px
        rgba(0, 0, 0, 0.05);

    .deliveryStatusProductsTile,
    .deliveryStatusAddMore {
        max-width: var(--supr-order-product-tile-width);
        margin-right: 26px;
    }

    .addMore {
        border-radius: 50%;
        background-color: var(--primary-60);
        height: var(--supr-order-product-tile-image-wrapper-size);
        width: var(--supr-order-product-tile-image-wrapper-size);
        box-shadow: var(--supr-order-product-tile-image-wrapper-shadow);

        supr-icon {
            --supr-icon-color: var(--white-100);
            --supr-icon-font-size: 18px;
        }
    }

    .deliveryStatusAddMore {
        supr-text {
            --supr-text-color: var(--primary-100);
            padding-top: 8px;
        }

        &.disabled {
            .addMore {
                background-color: var(--black-10);
            }

            supr-text {
                --supr-text-color: var(--black-20);
            }
        }
    }

    .deliveryStatusProductsTile {
        supr-text {
            --supr-text-align: center;
            --supr-text-wrap: normal;
            --supr-text-truncate-line-count: 2;
            --supr-text-color: var(--primary-80);

            display: block;
            max-width: var(--supr-order-product-tile-width);
            padding-top: 6px;
        }

        supr-image {
            --supr-image-bg-color: var(--supr-order-product-tile-bg-color);
            --supr-image-border-radius: 50%;
            --supr-image-width: var(--supr-order-product-tile-image-size);
            --supr-image-height: var(--supr-order-product-tile-image-size);
            --supr-image-wrapper-width: var(
                --supr-order-product-tile-image-wrapper-size
            );
            --supr-image-wrapper-height: var(
                --supr-order-product-tile-image-wrapper-size
            );
            --supr-image-wrapper-box-shadow: var(
                --supr-order-product-tile-image-wrapper-shadow
            );
        }
    }
}
