@import "mixins/grid";

:host {
    --content-height: 100vh;

    --content-bg-color: var(--primary-100);

    --home-draggable-wrapper-pin-height: 24px;

    --home-top-header-height: 30px;
    --home-top-header-chip-spacing: 8px;

    --home-top-header-svg-width: 70px;
    --home-top-header-svg-height: 34px;

    --header-notice-height: 80px;
    --header-notice-bg-color: var(--white-20);
    --header-notice-products-bg-color: var(--white-100);
    --header-notice-padding: 12px var(--supr-content-horizontal-padding);

    --home-sticky-header-width: 100%;
    --home-sticky-header-height: 306px;
    --home-sticky-header-with-notice-height: calc(
        var(--home-sticky-header-height) + var(--header-notice-height)
    );
    --home-sticky-header-zindex: calc(var(--supr-base-z-index) - 50);

    --discovery-bg-color: var(--white-100);
    --discovery-spacing-height: 24px;
    --discovery-mini-spacing-height: 16px;

    --search-box-padding: 0 14px;
    --search-box-height: 48px;

    --draggable-pin-shadow: 0 0 4px 0px var(--black-5);

    --home-featured-tile-width: 240px;
    --home-featured-tile-height: 222px;

    --home-featured-tile-v2-width: 270px;
    --home-featured-tile-v2-height: 156px;

    .suprScrollContent {
        background-color: var(--content-bg-color);
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);

        supr-swipeable-wrapper {
            --supr-swipeable-pane-transparent-height: var(
                --home-sticky-header-height
            );
            --supr-swipeable-pane-content-max-height: calc(
                var(--content-height) - var(--home-top-header-height) - 2 *
                    var(--supr-content-vertical-padding)
            );
            --supr-swipeable-dragable-top-box-shadow: var(
                --draggable-pin-shadow
            );
        }

        &.notice {
            supr-swipeable-wrapper {
                --supr-swipeable-pane-transparent-height: calc(
                    var(--home-sticky-header-with-notice-height) -
                        var(--home-draggable-wrapper-pin-height)
                );
            }
        }
    }

    .scrollable {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: auto;
        box-sizing: border-box;
    }

    .sticky {
        position: absolute;
        top: 0;
        z-index: var(--home-sticky-header-zindex);
        width: var(--home-sticky-header-width);
        height: var(--home-sticky-header-height);
        background-color: var(--content-bg-color);
        box-sizing: border-box;
        will-change: height;

        &Content {
            padding: var(--supr-content-vertical-padding)
                var(--supr-content-horizontal-padding);
        }

        &.withNotice {
            height: var(--home-sticky-header-with-notice-height);
        }
    }

    .deliveryNotification {
        background: var(--primary-20);
        box-shadow: inset 0px 6px 6px var(--black-5);
        padding: 18px var(--supr-content-horizontal-padding);

        .slotWrapper:not(:last-of-type) {
            padding-bottom: 10px;
        }

        .slotWrapper {
            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-80);

                &.otp {
                    --supr-text-color: var(--black-100);
                }
            }
        }

        .helpWrapper {
            width: 104px;
            padding-left: 24px;

            supr-text {
                --supr-text-color: var(--primary-120);
            }

            supr-icon {
                --supr-icon-color: var(--primary-120);
            }
        }

        supr-svg {
            padding-top: 3px;
            padding-right: 14px;

            --supr-svg-width: 30px;
            --supr-svg-height: 23px;
            --supr-svg-path: var(--supr-svg-schedule-scooter);

            &.ALTERNATE_DELIVERY {
                padding-right: 10px;

                --supr-svg-width: 32px;
                --supr-svg-height: 20px;
                --supr-svg-path: var(--supr-svg-schedule-truck);
            }
        }
    }

    .orderCalendar {
        supr-icon {
            --supr-icon-color: var(--white-100);

            &.calendarChevron {
                margin-top: 1px;
            }
        }
    }

    .discovery {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding) 0;
        background-color: var(--discovery-bg-color);

        &Spacing {
            height: var(--discovery-spacing-height);
        }

        &HalfSpacing {
            height: var(--discovery-mini-spacing-height);
        }

        &.cartPresent {
            padding-bottom: calc(80px + var(--supr-content-vertical-padding));
        }
    }

    .header {
        position: relative;
        height: var(--home-top-header-height);

        &Logo {
            margin-top: 8px;
            position: relative;

            supr-svg {
                --supr-svg-path: var(--supr-svg-logo-url);
                --supr-svg-width: var(--home-top-header-svg-width);
                --supr-svg-height: var(--home-top-header-svg-height);

                position: absolute;
                top: -5px;
            }
        }

        &Notice {
            height: var(--header-notice-height);
            background-color: var(--header-notice-bg-color);
            padding: var(--header-notice-padding);
            margin: 0 -16px;

            &Text {
                supr-text {
                    --supr-text-color: var(--white-90);
                }

                supr-icon {
                    --supr-icon-font-size: 20px;
                    --supr-icon-color: var(--white-100);
                    padding-right: 4px;
                }
                .needHelp {
                    --supr-text-decoration: underline;
                }
            }

            &Products {
                display: flex;
                flex-direction: row-reverse;
                margin-right: 12px;

                &Wrapper {
                    @include center-all;

                    height: 32px;
                    width: 32px;
                    border-radius: 50%;
                    margin-right: -12px;
                    background: var(--white-100);

                    supr-image {
                        --supr-image-bg-color: var(
                            --header-notice-products-bg-color
                        );
                        --supr-image-border-radius: 50%;
                        --supr-image-width: 22px;
                        --supr-image-height: 22px;
                        --supr-image-wrapper-width: 32px;
                        --supr-image-wrapper-height: 32px;
                    }

                    supr-text {
                        --supr-text-color: var(--black-40);
                        margin-left: 12px;
                    }
                }
            }

            &NoContent {
                supr-text {
                    --supr-text-wrap: normal;
                    --supr-text-color: var(--white-60);
                }

                &Text {
                    max-width: 120px;
                }

                .seeSchedule {
                    @include center-all;

                    .deliveryInfoProductsMore {
                        background-color: var(--white-100);
                        transform: none;
                    }

                    supr-text {
                        &.seeScheduleText {
                            --supr-text-transform: uppercase;
                            width: 60px;
                            --supr-text-color: var(--white-100);
                        }
                    }
                }
            }
        }

        supr-side-menu-opener {
            --supr-sidemenu-icon-color: var(--white-100);

            position: absolute;
            top: 0;
            left: 0;
        }

        supr-chip {
            --supr-chip-border-color: var(--white-40);

            &:last-child {
                margin-left: var(--home-top-header-chip-spacing);
            }

            &.pending {
                --supr-chip-background-color: var(--white-100);

                supr-text {
                    --supr-text-color: var(--alert-100);
                }

                supr-icon {
                    --supr-icon-font-size: 16px;
                    --supr-icon-color: var(--alert-100);
                }
            }

            &.ended {
                --supr-chip-background-color: var(--white-100);

                supr-text {
                    --supr-text-color: var(--caution-100);
                }

                supr-icon {
                    --supr-icon-font-size: 16px;
                    --supr-icon-color: var(--caution-100);
                }
            }

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }

    .noDelivery {
        margin-top: 10px;

        supr-svg {
            --supr-svg-path: var(--supr-svg-nothing-scheduled-bag-url);
            --supr-svg-width: 178px;
            --supr-svg-height: 90px;

            margin: 0px auto 24px;
        }

        supr-text {
            --supr-text-color: var(--white-100);

            &.caption {
                --supr-text-color: var(--white-60);
            }
        }
    }

    .deliveryInfo {
        padding: 24px 0;

        &Status {
            &Title {
                --supr-text-color: var(--white-100);
            }

            &SubTitle {
                --supr-text-color: var(--white-60);
            }

            &Icon {
                --supr-icon-font-size: 24px;
                --supr-icon-color: var(--white-100);
                --supr-icon-font-weight: var(--supr-weight-bold);

                transform: translate(8px, 4px);
            }
        }

        &Products {
            position: relative;
            min-height: 134px;

            &More {
                @include center-all;

                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: var(--white-60);
                position: absolute;
                right: 0;
                top: 17px;

                supr-text {
                    --supr-text-color: var(--primary-100);
                }

                supr-icon {
                    --supr-icon-font-size: 20px;
                    --supr-icon-color: var(--primary-100);
                    --supr-icon-font-weight: var(--supr-weight-bold);
                }
            }

            .seeSchedule {
                @include center-all;

                position: absolute;
                bottom: 0;
                right: 0;

                .deliveryInfoProductsMore {
                    position: unset;
                }

                supr-text {
                    --supr-text-wrap: normal;

                    &.seeScheduleText {
                        --supr-text-transform: uppercase;
                        --supr-text-color: var(--white-60);

                        width: 60px;
                    }
                }
            }
        }
    }

    .systemVacationBanner {
        background-color: var(--alert-20);
        padding: var(--supr-content-horizontal-padding);

        .iconWrapper {
            width: 32px;
            padding-top: 2px;
            padding-right: 12px;
        }

        supr-icon {
            --supr-icon-font-size: 20px;
            --supr-icon-color: var(--alert-120);
        }

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--alert-120);
        }
    }

    .deliveryStatus {
        background-color: var(--primary-10);
        padding: var(--supr-content-horizontal-padding);

        &.vacation {
            background-color: var(--supr-grey);
        }

        &.systemVacation {
            background-color: var(--alert-10);
        }

        supr-icon {
            margin-left: 5px;
            margin-top: 2px;
            --supr-icon-font-size: 20px;
        }

        supr-text {
            --supr-text-color: var(--black-80);
        }

        &Dates {
            align-items: flex-start;

            .suprColumn {
                position: relative;
            }

            supr-text {
                --supr-text-color: var(--black-40);
            }

            &Wrapper {
                padding: 4px 0;
                margin: 0 2px;

                &.today {
                    background-color: var(--primary-20);
                }

                &.activeDate {
                    border-bottom: solid 1px var(--primary-100);
                    padding-bottom: 4px;

                    supr-text {
                        --supr-text-color: var(--primary-100);
                    }
                }

                .downArrow {
                    width: 6px;
                    height: 6px;
                    bottom: -4px;
                    position: absolute;
                    transform: rotate(45deg);
                    border: 3px solid transparent;
                    border-right: 3px solid var(--primary-100);
                    border-bottom: 3px solid var(--primary-100);
                }
            }

            &OrderCircle {
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: var(--primary-100);
                position: absolute;
                top: 8px;
                right: 10px;
            }

            .vacation {
                border-bottom: none;

                supr-text {
                    --supr-text-color: var(--salmon-80);
                }

                &.activeDate {
                    border-bottom: solid 1px var(--salmon-100);

                    .downArrow {
                        border-right: 3px solid var(--salmon-100);
                        border-bottom: 3px solid var(--salmon-100);
                    }

                    supr-text {
                        --supr-text-color: var(--salmon-100);
                    }
                }
            }

            .systemVacation {
                border-bottom: none;

                supr-text {
                    --supr-text-color: var(--alert-75);
                }

                &.activeDate {
                    border-bottom: solid 1px var(--alert-100);

                    .downArrow {
                        border-right: 3px solid var(--alert-100);
                        border-bottom: 3px solid var(--alert-100);
                    }

                    supr-text {
                        --supr-text-color: var(--alert-100);
                    }
                }
            }
        }

        &Title {
            supr-text {
                --supr-text-color: var(--black-80);
            }
        }

        &Products {
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .search {
        supr-text {
            &.colored {
                --supr-text-color: var(--primary-100);
            }
        }

        supr-search-box {
            --search-box-icon-size: 24px;
            --search-box-padding: 0 14px;
            supr-icon {
                margin-right: 10px;
                margin-top: 0;
            }
        }
    }

    .featured {
        &Slider {
            @include center-vertical;
            margin: 0 calc(var(--supr-content-horizontal-padding) * -1);
            overflow-y: hidden;
            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            supr-home-featured-tile {
                padding-right: 8px;

                &:first-child {
                    margin-left: var(--supr-content-horizontal-padding);
                }

                &:last-child {
                    padding-right: var(--supr-content-horizontal-padding);
                }
            }
        }

        &Tile {
            @include center-all;

            width: var(--home-featured-tile-width);
            height: var(--home-featured-tile-height);
            background-color: var(--black-5);
            border-radius: 8px;

            &.v2 {
                width: var(--home-featured-tile-v2-width);
                height: var(--home-featured-tile-v2-height);
            }

            supr-image {
                --supr-image-display: block;
            }
        }
    }

    .essentials {
        &SubCategory {
            &Row {
                margin-bottom: 16px;
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }

                supr-sub-category-tile {
                    width: 50%;

                    &:first-child {
                        margin-right: 12px;
                    }
                }
            }

            &More {
                width: 50%;

                supr-text {
                    --supr-text-color: var(--black-40);
                }

                &Tile {
                    @include center-all;

                    width: 60px;
                    height: 60px;
                    background-color: var(--black-5);
                    border-radius: 8px;
                    margin-right: 8px;
                }

                &Text {
                    --supr-text-wrap: normal;

                    width: auto;
                }
            }
        }

        &NonDaily {
            &Row {
                width: 100%;

                supr-home-essentials-closed-component {
                    width: 50%;
                    margin-right: 12px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &Wrapper {
                border: none;
                border-radius: 8px;
                background-color: var(
                    --home-essentials-closed-background-color
                );
                width: 100%;
                height: 68px;
                padding: 12px 16px;

                supr-text {
                    --supr-text-color: var(--home-essentials-closed-text-color);
                    --supr-text-wrap: normal;
                }

                supr-icon {
                    margin-top: -6px;
                    --supr-icon-color: var(--home-essentials-closed-text-color);
                    --supr-icon-font-weight: var(--supr-weight-normal);
                }
            }
        }
    }
}
