:host {
    --milestone-border-radius: 4px;
    --milestone-indicator-bg-color: var(--spatzle-yellow);

    .container {
        min-height: 200px;

        &Lock {
            supr-image {
                --supr-image-height: 200px;
                --supr-image-width: 100%;
            }
        }

        &OtherState {
            border-bottom-right-radius: var(--milestone-border-radius);
            border-bottom-left-radius: var(--milestone-border-radius);

            background: #f5fffe;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);

            &Header {
                background-color: var(--turquoise-100);
                border-top-right-radius: var(--milestone-border-radius);
                border-top-left-radius: var(--milestone-border-radius);
                padding: 8px;

                supr-svg {
                    --supr-svg-path: var(--supr-svg-gift-box);
                    --supr-svg-width: 20px;
                    --supr-svg-height: 22px;
                }
            }

            &Info {
                padding: 16px 8px;
                supr-image {
                    --supr-image-height: 30px;
                    --supr-image-width: 40px;
                }

                &Text {
                    width: 65%;
                }

                &Indicator {
                    min-width: 27%;
                    background-color: var(--milestone-indicator-bg-color);
                    border-color: var(--milestone-indicator-bg-color);
                    padding: 4px 16px;
                    border-radius: 16px;
                }

                &Bar {
                    width: 65%;

                    supr-button {
                        --supr-button-height: 30px;
                        --supr-button-bg-color: var(--turquoise-100);

                        supr-text {
                            --supr-text-color: var(--white-100);
                        }

                        supr-icon {
                            --supr-icon-color: var(--white-100);
                        }
                    }
                }
            }
        }
    }
}
