@import "mixins/grid";

:host {
    --skeleton-round-size: 72px;
    --skeleton-round-small-size: 40px;
    --skeleton-circle-border-radius: 50%;

    --skeleton-featured-width: 200px;
    --skeleton-featured-height: 200px;

    --skeleton-essentials-tile-width: 100%;
    --skeleton-essentials-tile-height: 84px;
    --skeleton-essentials-image-width: 60px;
    --skeleton-essentials-image-height: 60px;

    --skeleton-delivery-info-min-height: 246px;

    --skeleton-notice-text-width: 50%;
    --skeleton-notice-text-height: 12px;
    --skeleton-notice-text-small-width: 40%;
    --skeleton-notice-text-small-height: 10px;

    --skeleton-delivery-status-new-product-size: 48px;
    --skeleton-delivery-status-new-dates-size: 24px;

    ion-skeleton-text {
        &.round {
            width: var(--skeleton-round-size);
            height: var(--skeleton-round-size);
            border-radius: var(--skeleton-circle-border-radius);
        }

        &.roundSmall {
            width: var(--skeleton-round-small-size);
            height: var(--skeleton-round-small-size);
            border-radius: var(--skeleton-circle-border-radius);
        }

        &.heading {
            width: 220px;
            height: 24px;
            margin-bottom: 8px;
        }

        &.subHeading {
            width: 144px;
            height: 12px;
            margin-bottom: 20px;
        }

        &.text1 {
            width: 64px;
            height: 8px;
            margin: 0 auto 4px;

            ion-skeleton-text {
                background-color: var(--white-15);
            }
        }

        &.text2 {
            width: 40px;
            height: 8px;
            margin: 0 auto 4px;

            ion-skeleton-text {
                background-color: var(--white-15);
            }
        }
    }

    .deliveryInfo {
        padding: 1.5rem 0;
        min-height: var(--skeleton-delivery-info-min-height);

        ion-skeleton-text {
            background-color: var(--white-30);
        }

        .productsWrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            &Products {
                width: 24%;

                div {
                    max-width: var(--skeleton-round-size);
                }
            }

            &Next {
                width: 12%;
                transform: translateY(-10px);
            }
        }
    }

    .deliveryStatus {
        padding: var(--supr-content-horizontal-padding);
        background: var(--primary-10);

        .datesWrapper {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 12px;

            &Item {
                width: var(--skeleton-delivery-status-new-dates-size);
                margin-right: 24px;

                ion-skeleton-text {
                    &.round {
                        width: var(--skeleton-delivery-status-new-dates-size);
                        height: var(--skeleton-delivery-status-new-dates-size);
                    }
                }
            }
        }

        .productsWrapper {
            display: flex;
            width: 100%;
            align-items: center;

            &Products {
                width: var(--skeleton-delivery-status-new-product-size);
                margin-right: 26px;

                ion-skeleton-text {
                    &.round {
                        width: var(--skeleton-delivery-status-new-product-size);
                        height: var(
                            --skeleton-delivery-status-new-product-size
                        );
                    }

                    &.text1 {
                        width: var(--skeleton-delivery-status-new-product-size);
                    }
                }
            }
        }
    }

    .notice {
        ion-skeleton-text {
            background-color: var(--white-30);
        }

        &Text {
            width: var(--skeleton-notice-text-width);
            height: var(--skeleton-notice-text-height);
            margin-bottom: 8px;

            &Small {
                width: var(--skeleton-notice-text-small-width);
                height: var(--skeleton-notice-text-small-height);
            }
        }
    }

    .launch {
        background-color: var(--primary-5);
        height: 100%;

        supr-loader {
            --supr-loader-color: var(--primary-100);
            --supr-loader-width: 200px;
            --supr-loader-height: 40px;
        }
    }

    .discovery {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
    }

    .search {
        &Title {
            width: 70%;
            height: 24px;
        }

        &Box {
            width: 100%;
            height: 48px;
            border-radius: 8px;
        }
    }

    .featured {
        &Container {
            @include center-vertical;

            margin: 0 calc(var(--supr-content-horizontal-padding) * -1);
            overflow: hidden;
        }

        ion-skeleton-text {
            &.heading {
                width: 26%;
                height: 24px;
            }

            &.tile {
                flex-shrink: 0;
                border-radius: 8px;
                height: var(--skeleton-featured-height);
                width: var(--skeleton-featured-width);
                margin: 0;
                margin-right: 8px;

                &:first-child {
                    margin-left: var(--supr-content-horizontal-padding);
                }
            }
        }
    }

    .essentials {
        ion-skeleton-text {
            margin-right: 8px;

            &.heading {
                width: 26%;
                height: 24px;
            }

            &.image {
                width: var(--skeleton-essentials-image-width);
                height: var(--skeleton-essentials-image-height);
                border-radius: 8px;
            }

            &.text1 {
                margin: 0;
            }

            &.text2 {
                margin: 4px 0;
            }

            &.tile {
                width: var(--skeleton-essentials-tile-width);
                height: var(--skeleton-essentials-tile-height);
                border-radius: 8px;
            }
        }

        .row {
            width: 100%;
        }

        &Item {
            width: calc(50% - 4px);

            &:first-child {
                margin-right: 8px;
            }
        }
    }

    .categories {
        ion-skeleton-text {
            width: 26%;
            height: 28px;
            margin-bottom: 12px;
        }
    }
}
