:host {
    --supr-top-sticky-header-height: 70px;
    --supr-top-contents-opacity: 1;
    --supr-search-text-opacity: 1;

    --supr-scrollable-header-height: 100px;
    --supr-scrollable-header-width: 100%;
    --supr-scrollable-header-left: 0px;

    --supr-fixed-search-box-height: 38px;
    --supr-search-box-padding-left: 18px;

    --supr-sticky-header-zindex: calc(var(--supr-base-z-index) - 50);

    --supr-search-box-padding: 0 14px;

    --supr-sidemenu-icon-size: 24px;

    --svg-supr-logo-width: 65px;
    --svg-supr-logo-height: 32px;

    .stickyHeaderWrapper {
        background-color: var(--content-bg-color);

        .stickyHeader {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: var(--content-bg-color);
            height: var(--supr-top-sticky-header-height);
            z-index: var(--supr-sticky-header-zindex);
            display: flex;
            align-items: center;
            padding: 0 var(--supr-content-horizontal-padding);

            .shimmer {
                width: 100%;

                &Chip {
                    width: 75px;
                    height: 20px;
                    border-radius: 12px;

                    &:first-child {
                        margin-right: 12px;
                    }
                }
            }

            &LogoWrapper {
                opacity: var(--supr-top-contents-opacity);
                width: 100%;
                position: relative;

                .logo {
                    supr-svg {
                        --supr-svg-path: var(--supr-svg-logo-large-white-url);
                        --supr-svg-width: var(--svg-supr-logo-width);
                        --supr-svg-height: var(--svg-supr-logo-height);
                    }
                }

                supr-button {
                    &.addMoney {
                        position: absolute;
                        right: 0px;

                        supr-icon {
                            --supr-icon-color: var(--white-100);

                            margin-right: 4px;
                        }

                        supr-text {
                            --supr-text-color: var(--white-100);
                        }

                        --supr-button-border-color: var(--white-100);
                        --supr-button-border-radius: 16px;
                        --supr-button-padding: 6px 12px;
                        --supr-button-width: auto;
                        --supr-button-height: auto;
                    }
                }
            }

            supr-side-menu-opener {
                --supr-sidemenu-icon-color: var(--white-100);

                position: absolute;
                z-index: 1;
            }

            &ChipWrapper {
                opacity: var(--supr-top-contents-opacity);
                width: 100%;

                supr-chip {
                    --supr-chip-border-color: var(--white-40);

                    &:last-child {
                        margin-left: var(--home-top-header-chip-spacing);
                    }

                    &.pending {
                        --supr-chip-background-color: var(--white-100);

                        supr-text {
                            --supr-text-color: var(--alert-100);
                        }

                        supr-icon {
                            --supr-icon-font-size: 16px;
                            --supr-icon-color: var(--alert-100);
                        }
                    }

                    &.ended {
                        --supr-chip-background-color: var(--white-100);

                        supr-text {
                            --supr-text-color: var(--caution-100);
                        }

                        supr-icon {
                            --supr-icon-font-size: 16px;
                            --supr-icon-color: var(--caution-100);
                        }
                    }

                    &.scChip {
                        --supr-chip-background-color: var(--white-15);
                        --supr-chip-padding: 0;

                        .scBalance {
                            background-color: var(--primary-100);
                            border-top-right-radius: 14px;
                            border-bottom-right-radius: 14px;
                            padding: 6px 12px;

                            supr-svg {
                                --supr-svg-path: var(
                                    --supr-svg-supr-credits-img
                                );
                                --supr-svg-width: 16px;
                                --supr-svg-height: 16px;
                                margin-left: 4px;
                            }
                        }

                        .walletBalance {
                            padding: 6px 12px;
                        }
                    }

                    supr-text {
                        --supr-text-color: var(--white-100);
                    }
                }
            }
        }

        .stickyHeaderSpacing {
            height: var(--supr-top-sticky-header-height);
        }

        .scrollableHeader {
            position: relative;
            height: var(--supr-scrollable-header-height);
            width: var(--supr-scrollable-header-width);
            padding: 0 var(--supr-content-horizontal-padding);
            background-color: var(--content-bg-color);

            supr-text {
                --supr-text-color: var(--white-100);
            }

            .scrollableHeaderSearch {
                supr-search-box {
                    --search-box-icon-size: 24px;
                    --supr-search-box-padding: 0 14px;

                    supr-icon {
                        margin-right: 10px;
                        margin-top: 0;
                    }
                }

                &.fixed {
                    position: fixed;
                    z-index: var(--home-sticky-header-zindex);
                    top: calc(
                        (
                                var(--supr-top-sticky-header-height) -
                                    var(--supr-fixed-search-box-height)
                            ) / 2
                    );
                    left: calc(
                        var(--supr-content-horizontal-padding) +
                            var(--supr-sidemenu-icon-size) +
                            var(--supr-search-box-padding-left)
                    );
                    width: calc(
                        100% - (var(--supr-content-horizontal-padding) * 2) -
                            (
                                var(--supr-sidemenu-icon-size) +
                                    var(--supr-search-box-padding-left)
                            )
                    );

                    supr-search-box {
                        --search-box-height: var(
                            --supr-fixed-search-box-height
                        );
                    }
                }
            }
        }
    }
}
