:host {
    --supr-full-screen-modal-content-padding: 24px 36px;

    .fullScreenModal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--delight-50);

        z-index: calc(var(--supr-backdrop-z-index) + 1);

        supr-modal {
            height: 100%;

            --supr-modal-backdrop-bg-color: transparent;
            --supr-modal-backdrop-bg-image: unset;
        }

        .wrapper {
            padding: var(--supr-full-screen-modal-content-padding);

            &.scratchCardContainer {
                background-repeat: no-repeat;
                background-size: contain;
                background-image: var(--supr-svg-celebration);

                .scratchCardWrapper {
                    height: 360px;

                    .cardWrapper {
                        max-width: 270px;
                        margin: 0 auto;

                        .actionBtn {
                            supr-button {
                                --supr-button-bg-color: var(--alert-100);
                                --supr-button-border-color: var(--alert-100);

                                supr-text {
                                    --supr-text-color: var(--white-100);
                                }

                                supr-icon {
                                    --supr-icon-color: var(--white-100);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
