:host {
    --input-label-padding: 8px 0;

    --input-label-input-height: 46px;
    --input-label-input-padding: 12px 16px;
    --input-label-font-size: 16px;
    --input-label-input-color: var(--black-80);
    --input-label-border-radius: 4px;
    --input-label-border-width: 1px;
    --input-label-border-color: var(--black-10);
    --input-label-text-color: var(--black-80);

    --input-label-input-disable-bg-color: var(--black-5);

    .wrapper {
        supr-input {
            --supr-input-height: var(--input-label-input-height);
            --supr-input-padding: var(--input-label-input-padding);
            --supr-input-color: var(--input-label-input-color);
            --supr-input-font-size: var(--input-label-font-size);

            border: var(--input-label-border-width) solid
                var(--input-label-border-color);
            display: block;
            border-radius: var(--input-label-border-radius);

            &.disabled {
                background-color: var(--input-label-input-disable-bg-color);
                border: none;
            }
        }

        &IconContent {
            justify-content: space-between;
            padding: 0px 8px;
            border: 1px solid var(--black-10);
            border-radius: 4px;
            height: 48px;

            supr-text {
                width: 80%;

                --supr-text-color: var(--black-80);
                --supr-text-text-overflow: ellipsis;
                --supr-text-overflow: hidden;

                &.placeholderText {
                    --supr-text-color: var(--black-20);
                }
            }

            supr-icon {
                --supr-icon-color: var(--black-40);
            }

            &.disabled {
                border: none;
                background-color: var(--input-label-input-disable-bg-color);
            }
        }
    }

    supr-text {
        --supr-text-color: var(--input-label-text-color);

        &.error {
            --supr-text-color: var(--caution-100);
            --supr-text-wrap: normal;
        }
    }
}
