<div class="wrapper">
    <ng-container *ngIf="options?.length">
        <ng-container
            *ngFor="let option of options; trackBy: _trackByFn; index as _i"
        >
            <ng-container *ngIf="option">
                <div
                    class="lineItemWrapper"
                    saClick
                    saImpression
                    [saPosition]="_i + 1"
                    [saContext]="[saContext]"
                    [saObjectName]="saObjectName"
                    [saObjectValue]="saObjectName"
                    (click)="_handleItemClick(option)"
                >
                    <supr-line-item-variant-A
                        textType="subheading"
                        [text]="option?.desc?.title"
                        [class.selected]="option.id === selectedOption"
                        [iconOnTheLeft]="
                            selectedOption === option.id
                                ? _iconNames.APPROVE_FILLED
                                : _iconNames.APPROVE
                        "
                    ></supr-line-item-variant-A>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>

    <div
        class="lineItemWrapper"
        saClick
        saImpression
        [saContext]="[saContext]"
        [saObjectValue]="_paymentMethods.UPI"
        [saObjectName]="_saObjectNames.CLICK.ADD_NEW_PAYMENT_MODE"
        (click)="_handleAddVPAClick()"
        *ngIf="!hideAddNewOption"
    >
        <supr-line-item-variant-A
            class="addNewVPA"
            textType="subheading"
            [text]="_walletTexts.ADD_VPA"
            [class.selected]="_customPaymentOptions.NEW_VPA === selectedOption"
            [iconOnTheLeft]="
                selectedOption === _customPaymentOptions.NEW_VPA
                    ? _iconNames.APPROVE_FILLED
                    : _iconNames.APPROVE
            "
        ></supr-line-item-variant-A>

        <ng-container *ngIf="_customPaymentOptions.NEW_VPA === selectedOption">
            <div class="newVpaWrapper">
                <supr-wallet-vpa-input></supr-wallet-vpa-input>
                <div class="divider12"></div>

                <supr-line-item-variant-A
                    textType="body"
                    class="additionalInfo"
                    [class.checked]="_saveVPA"
                    [text]="_walletTexts.SAVE_VPA"
                    [iconOnTheLeft]="
                        _saveVPA ? _iconNames.APPROVE : _iconNames.UNCHECKED
                    "
                    (handleClick)="_toggleSaveVPA()"
                >
                </supr-line-item-variant-A>
            </div>
        </ng-container>
    </div>
</div>
