:host {
    .plansHeader {
        width: 100%;

        supr-text-fragment {
            --supr-text-fragment-align: center;

            &.boldText {
                --supr-text-fragment-font-weight: var(--supr-weight-bold);
            }
        }
    }

    .planDetailWrapper {
        padding: 0 18px 16px;
        border: 1px solid var(--black-10);
        border-radius: 4px;
        position: relative;
        margin: 0 5px;
        min-width: 96px;

        &.recommendedActive {
            border-radius: 0 0 4px 4px;
            border-top: 0;
        }

        &.active {
            border: 1.5px solid var(--primary-120);
            background: var(--primary-5);
            transform: scale(1.05);
        }

        .recommended {
            background: var(--primary-100);
            text-align: center;
            position: absolute;
            top: -15px;
            left: -2px;
            right: -2px;
            border: solid 2px var(--primary-120);
            border-bottom: 0;
            border-radius: 4px 4px 0 0;

            supr-text {
                --supr-text-color: var(--white-100);
                --supr-text-font-size: var(--supr-font-size-tiny);
                --supr-text-font-weight: var(--supr-weight-semi-bold);
                --supr-text-line-height: 15px;
            }
        }

        .suprColumn {
            padding-top: 12px;
        }

        supr-text {
            --supr-text-wrap: normal;

            &.duration {
                --supr-text-color: var(--primary-120);
                --supr-text-font-size: var(--supr-font-size-medium);
                --supr-text-font-weight: var(--supr-weight-semi-bold);
                --supr-text-line-height: 19px;
                margin-bottom: 11px;
            }

            &.unitPrice {
                --supr-text-color: var(--black-80);
                --supr-text-font-size: var(--supr-font-size-medium-large);
                --supr-text-font-weight: var(--supr-weight-semi-bold);
                --supr-text-line-height: 20px;
                margin-bottom: 6px;
            }

            &.unitMrp {
                --supr-text-color: var(--black-40);
                --supr-text-decoration: line-through;
                --supr-text-font-size: var(--supr-font-size-medium);
                --supr-text-font-weight: var(--supr-weight-semi-bold);
                --supr-text-line-height: 20px;
                margin-bottom: 10px;
            }

            &.discountText {
                --supr-text-color: var(--success-100);
                --supr-text-font-size: var(--supr-font-size-small);
                --supr-text-font-weight: var(--supr-weight-semi-bold);
                --supr-text-transform: uppercase;
            }
        }
    }
}
