<div class="wrapper">
    <agm-map
        #myMap
        [latitude]="location?.lat"
        [longitude]="location?.lng"
        [zoom]="mapSettings.zoom"
        [zoomControl]="mapSettings.zoomControl"
        [showDefaultInfoWindow]="mapSettings.defaultInfo"
        [streetViewControl]="mapSettings.streetViewControl"
        [disableDoubleClickZoom]="mapSettings.doubleClickZoom"
        (mapReady)="mapReady($event)"
        (centerChange)="centerChange($event)"
    >
        <!-- [TODO_RITESH] Remove AGM Marker, only for desing reference -->
        <!-- <agm-marker
            [latitude]="location?.lat"
            [longitude]="location?.lng"
        ></agm-marker> -->
    </agm-map>
    <div class="markerWrapper suprRow center">
        <supr-map-location-marker
            [text]="markerText"
            [error]="unserviceable"
            [updating]="checkingServiceability"
        ></supr-map-location-marker>
    </div>
    <div
        class="currentLocationMarker suprRow center"
        (click)="moveToCurrentLocation()"
        saClick
        [saObjectName]="saObjectName.CLICK.CURRENT_LOCATION_MAP"
    >
        <supr-icon name="gps"></supr-icon>
    </div>
</div>
