:host {
    --supr-loader-content-padding: 24px 36px;
    --supr-loader-content-bg-color: var(--white-100);
    --supr-loader-dots-color: var(--black-100);

    .loader {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: calc(var(--supr-backdrop-z-index) + 1);

        supr-modal {
            height: 100%;

            --supr-modal-backdrop-bg-color: var(--black-10);
            --supr-modal-backdrop-bg-image: unset;
        }

        supr-loader {
            --supr-loader-color: var(--supr-loader-dots-color);
        }

        .content {
            padding: var(--supr-loader-content-padding);
            background-color: var(--supr-loader-content-bg-color);
            box-shadow: 0 0 15px 5px var(--black-30);
        }
    }
}
