:host {
    .wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transform: translate3d(
            0,
            calc(var(--supr-no-internet-banner-height) * -1),
            0
        );
        height: var(--supr-no-internet-banner-height);
        background-color: var(--caution-100);
        transition: transform 0.3s ease-in-out,
            background-color 0.3s ease-in-out;

        &.show {
            transform: translate3d(0, 0, 0);
        }

        &.online {
            background-color: var(--success-100);
        }

        supr-text {
            --supr-text-align: center;
            --supr-text-color: var(--white-100);
        }
    }
}
