:host {
    --success-svg-height: 96px;
    --success-svg-width: 96px;

    .wrapper {
        background-color: var(--primary-100);
        height: 100vh;

        supr-text {
            --supr-text-color: var(--white-100);

            &.recurringPaymentSuccess {
                --supr-text-wrap: normal;
                --supr-text-align: center;
            }
        }

        supr-svg {
            &.success {
                --supr-svg-path: var(--supr-success-white);
                --supr-svg-height: var(--success-svg-height);
                --supr-svg-width: var(--success-svg-width);
            }
        }

        supr-button {
            &.retryBtn {
                --supr-button-bg-color: var(--white-100);
                --supr-button-text-color: var(--primary-100);
                --supr-button-border-color: var(--white-100);
                --supr-button-width: 200px;
                --supr-button-border-radius: 8px;
            }
        }
    }
}
