:host {
    .header {
        background: var(--primary-20);
        padding: 12px;

        &.similarProducts {
            background: var(--supr-grey);
        }

        &.similarProductsLightBg {
            background: var(--primary-20);
        }

        &Date {
            width: 52px;
            padding-top: 3px;
            padding-right: 20px;
        }

        supr-text {
            &.infoText {
                --supr-text-color: var(--black-100);
            }
        }

        &Subtitle {
            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-80);
            }
        }

        supr-icon {
            --supr-icon-color: var(--black-30);
            --supr-icon-font-size: var(----supr-font-size-medium-large);
        }
    }
}
