:host {
    .suprScrollContent {
        padding: var(--supr-content-vertical-padding) 0;
        padding-top: var(--supr-page-header-height);

        &.cartPresent {
            padding-bottom: calc(80px + var(--supr-content-vertical-padding));
        }

        .listContainer {
            padding: var(--supr-content-horizontal-padding);
        }
    }
}
