:host {
    --order-history-product-name-font-color: var(--black-100);
    --order-history-product-image-opacity: 1;

    supr-order-history-product-tile {
        --order-history-product-tile-name-font-color: var(
            --order-history-product-name-font-color
        );
        --order-history-product-tile-image-opacity: var(
            --order-history-product-image-opacity
        );
    }
}
