<div class="review">
    <supr-text type="subtitle" class="title">
        {{ addressDisplayText.FIND_DOORSTEP }}
    </supr-text>

    <div class="divider24"></div>

    <supr-text type="body" class="textAreaLabel">
        {{ addressDisplayText.FRONT_DOOR_DESC }}
    </supr-text>

    <textarea
        #input
        rows="6"
        cols="50"
        placeholder="Add as much information as possible to help us find your door without calling you"
        saClick
        saObjectName="text-box"
        [saContext]="saContext"
    ></textarea>
    <div class="divider24"></div>

    <supr-text type="subheading" class="exampleHeading">For example,</supr-text>
    <ng-container *ngIf="isApartment; else elseTemplate">
        <supr-text type="body" class="exampleBody">
            {{ addressDisplayText.APARTMENT.line1 }}
        </supr-text>
        <supr-text type="body" class="exampleBody">
            {{ addressDisplayText.APARTMENT.line2 }}
        </supr-text>
        <supr-text type="body" class="exampleBody">
            {{ addressDisplayText.APARTMENT.line3 }}
        </supr-text>
    </ng-container>
    <ng-template #elseTemplate>
        <supr-text type="body" class="exampleBody">
            {{ addressDisplayText.INDIVIDUAL_HOUSE.line1 }}
        </supr-text>
        <supr-text type="body" class="exampleBody">
            {{ addressDisplayText.INDIVIDUAL_HOUSE.line2 }}
        </supr-text>
        <supr-text type="body" class="exampleBody">
            {{ addressDisplayText.INDIVIDUAL_HOUSE.line3 }}
        </supr-text>
    </ng-template>

    <div class="reviewFooter">
        <supr-page-footer>
            <supr-button
                [loading]="updatingAddress"
                (handleClick)="updateAddress()"
                [saObjectName]="saObjectNameConfirmLocation"
                [saContext]="saContext"
            >
                Save address
            </supr-button>
        </supr-page-footer>
    </div>
</div>
