:host {
    --wrapper-width: 120px;
    --wrapper-padding: 16px;
    --wrapper-border-radius: 8px;
    --placeholder-color: var(--black-40);
    --wrapper-border: 1px solid var(--black-40);

    .wrapper {
        width: var(--wrapper-width);
        border: var(--wrapper-border);
        padding: var(--wrapper-padding);
        border-radius: var(--wrapper-border-radius);

        supr-input {
            --supr-input-placeholder-color: var(--placeholder-color);
        }
    }
}
