:host {
    --supr-page-footer-width: 100%;
    --supr-page-footer-bg-color: var(--white-100);
    --supr-page-footer-padding: 0 var(--supr-content-horizontal-padding)
        var(--supr-content-vertical-padding)
        var(--supr-content-horizontal-padding);
    --supr-page-footer-box-shadow: none;

    supr-sticky-wrapper {
        --supr-sticky-wrapper-top: none;
        --supr-sticky-wrapper-bottom: 0;
    }

    .wrapper {
        width: var(--supr-page-footer-width);
        position: relative;
        background-color: var(--supr-page-footer-bg-color);
        padding: var(--supr-page-footer-padding);
        box-sizing: border-box;
        box-shadow: var(--supr-page-footer-box-shadow);
    }
}
