:host {
    .mask {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 8px;

        &Start {
            background: #ffffff;

            width: 100%;
            height: 100%;
            border-radius: 8px;

            &Container {
                &Text {
                    width: 50%;
                    text-align: center;

                    supr-text {
                        --supr-text-wrap: normal;
                    }
                }

                supr-button {
                    --supr-button-width: 54vw;
                }
            }
        }

        &Expired {
            background: #fffafa;
            box-shadow: 0px 1px 4px rgba(121, 108, 108, 0.25);
            width: 100%;
            height: 100%;
            border-radius: 8px;

            &Text {
                width: 70%;
                text-align: center;

                &Svg {
                    border-radius: 50%;
                    background-color: #ea755b;

                    supr-svg {
                        --supr-svg-path: var(--supr-svg-exclamation);
                        --supr-svg-width: 80px;
                        --supr-svg-height: 80px;
                    }
                }

                supr-text {
                    --supr-text-wrap: normal;
                }

                &Cta {
                    supr-text {
                        --supr-text-color: var(--primary-100);
                    }

                    supr-icon {
                        --supr-icon-font-size: 16px;
                        --supr-icon-color: var(--primary-100);
                    }
                }
            }
        }

        &Locked {
            background: #fffcf1;
            width: 100%;
            height: 100%;
            border-radius: 8px;

            &Text {
                width: 50%;
                text-align: center;

                &Round {
                    height: 80px;
                    width: 80px;
                    background-color: white;
                    text-align: center;
                    border-radius: 50%;
                    box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.2);

                    supr-svg {
                        --supr-svg-path: var(--supr-svg-lock);
                        --supr-svg-width: 37px;
                        --supr-svg-height: 53px;
                    }
                }

                supr-text {
                    --supr-text-wrap: normal;
                }

                &Cta {
                    supr-text {
                        --supr-text-color: var(--primary-100);
                    }

                    supr-icon {
                        --supr-icon-font-size: 16px;
                        --supr-icon-color: var(--primary-100);
                    }
                }
            }
        }

        &Complete {
            background: #f8fff7;
            box-shadow: 0px 1px 4px rgba(121, 108, 108, 0.25);
            width: 100%;
            height: 100%;
            border-radius: 8px;

            &Text {
                width: 70%;
                text-align: center;

                &Round {
                    height: 65px;
                    width: 65px;
                    border-radius: 50%;
                    box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.2);

                    supr-icon {
                        --supr-icon-font-size: 80px;
                        --supr-icon-color: #6ac259;
                    }
                }

                supr-text {
                    --supr-text-wrap: normal;
                }

                &Cta {
                    supr-text {
                        --supr-text-color: var(--primary-100);
                    }

                    supr-icon {
                        --supr-icon-font-size: 16px;
                        --supr-icon-color: var(--primary-100);
                    }
                }
            }
        }
    }
}
