:host {
    --content-padding: 16px;

    --reward-image-box-width: 48px;
    --reward-image-box-height: 48px;

    --reward-image-width: 36px;
    --reward-image-height: 36px;

    --milestone-header-bg-image: var(--supr-svg-milestone-header-bg);
    --milestone-header-center-image: var(--supr-svg-milestone-header-bg-icon);

    --milestone-carousal-item-indicator-bg-color: rgb(80, 193, 186);

    .suprScrollContent {
        padding-top: var(--supr-page-header-height);
        padding-bottom: var(--content-padding);
        overflow-x: hidden;
    }

    supr-horizontal {
        height: 100%;
    }

    .header {
        height: 235px;
        width: 100%;
        position: relative;
        background-size: cover;
        background-image: var(--milestone-header-bg-image);
        background-color: #07c4b6;

        &Content {
            position: absolute;
            width: 100%;
            bottom: 25%;

            &LockText {
                padding: 0 16px;

                supr-text-fragment {
                    --supr-text-fragment-font-weight: var(--supr-weight-bold);
                    --supr-text-fragment-font-size: var(--supr-font-size-large);
                    --supr-text-fragment-text-overflow: ellipsis;
                    --supr-text-fragment-truncate-line-count: 2;

                    &.title {
                        --supr-text-fragment-truncate-line-count: 1;
                    }
                }

                supr-image {
                    --supr-image-width: 75px;
                    --supr-image-height: 75px;
                }

                supr-icon {
                    --supr-icon-font-size: 18px;
                    --supr-icon-color: #fffea9;
                }
            }
        }
    }

    .content {
        position: relative;

        &Carousal {
            width: 100%;
            background-color: transparent;
            margin-top: -5vh;
            z-index: 20;
            overflow-x: scroll;
            height: 545px;
            margin-bottom: calc(var(--content-padding) * -2);

            &MilestoneCompete {
                padding: 0 16px;
                height: auto;
                margin-bottom: 4px;

                supr-milestone-complete {
                    width: 100%;
                }
            }
        }

        &Body {
            width: 100%;
            padding: 0 var(--content-padding) var(--content-padding)
                var(--content-padding);
        }
    }

    .carousal {
        height: auto;
        margin-bottom: 4px;

        &Item {
            width: 91vw;
            height: 164px;
            background: #ffffff;
            box-shadow: 0px -1px 4px rgba(121, 108, 108, 0.25);
            /* border-radius: 8px; */
            padding: 16px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            &Info {
                supr-text {
                    --supr-text-color: var(--success-100);
                }

                supr-image {
                    &.rewardTypeImage {
                        --supr-image-width: 16px;
                        --supr-image-height: 16px;
                    }
                }
            }

            &Header {
                width: 100%;

                &Status {
                    background: var(
                        --milestone-carousal-item-indicator-bg-color
                    );
                    border-radius: 16px;
                    padding: 4px 16px;
                }
            }

            &List {
                padding: 0 16px;
            }
        }
    }

    .rules {
        supr-card {
            --supr-card-box-shadow: 0px 1px 4px rgba(121, 108, 108, 0.25);
        }

        supr-text {
            --supr-text-font-size: var(--supr-font-size-medium);
            --supr-text-wrap: normal;
        }

        supr-icon {
            --supr-icon-font-size: 20px;
        }

        &Container {
            &Item {
                supr-text {
                    --supr-text-font-size: var(--supr-font-size-medium);
                    --supr-text-color: var(--black-60);
                    --supr-text-wrap: normal;

                    &.text {
                        width: calc(100% - 40px);
                    }
                }

                &Counter {
                    border-radius: 50%;
                    background-color: var(--primary-100);
                    width: 18px;
                    height: 18px;
                    padding: 10px;

                    supr-text {
                        --supr-text-color: var(--white-100);
                    }
                }
            }
        }
    }

    .rewards {
        padding: 0 var(--content-padding);

        &List {
            padding: 0 var(--content-padding);
        }

        supr-card {
            width: 100%;
            --supr-card-box-shadow: 0px 1px 4px rgba(121, 108, 108, 0.25);
        }

        &Cta {
            supr-text {
                --supr-text-color: var(--primary-100);
            }

            supr-icon {
                --supr-icon-color: var(--primary-100);
                --supr-icon-font-size: 20px;

                padding-top: 2px;
            }
        }
    }

    .list {
        margin-bottom: 16px;
        padding: 1px;

        &:last-child {
            margin-bottom: 0px;
        }

        &Item {
            margin-right: 20px;

            &Image {
                background: #ffffff;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                width: var(--reward-image-box-width);
                height: var(--reward-image-box-height);

                supr-image {
                    --supr-image-width: var(--reward-image-width);
                    --supr-image-height: var(--reward-image-height);
                }
            }
        }

        supr-milestone-carousal-item {
            margin-right: var(--content-padding);

            &:last-child {
                margin-right: 0px;
            }
        }
    }

    .expire {
        background: #f5f5f5;
    }

    .completed {
        background: #f8fff7;
    }

    .locked {
        background: #fffcf1;
    }

    .unLocked {
        background: var(--primary-100);
    }

    .activeCard {
        height: 140px;
    }

    .faq {
        padding: var(--content-padding);

        supr-text {
            --supr-text-color: var(--black-70);
        }

        supr-icon {
            padding-top: 2px;

            --supr-icon-color: var(--black-70);
            --supr-icon-font-size: 20px;
        }
    }

    .milestoneComplete {
        width: 100%;
        background-color: white;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        &Header {
            background: #6ac259;
            border-radius: 4px 4px 0px 0px;
            padding: 8px 16px;
            width: 100%;
        }

        supr-text {
            --supr-text-wrap: normal;
        }

        &Body {
            padding: 16px;

            supr-text-fragment {
                &.bodyText {
                    width: 60%;
                }
            }

            supr-image {
                --supr-image-height: 45px;
                --supr-image-width: 45px;
            }
        }
    }

    .removeDefaultStyle {
        height: auto;
        margin-bottom: 16px;
    }

    ion-content {
        --background: transparent;
    }

    ion-slides {
        overflow-y: hidden;
    }

    supr-loader {
        --supr-loader-color: var(--success-100);
    }
}
