:host {
    .header {
        height: 235px;
        width: 100%;
        position: relative;

        &Container {
            position: absolute;
            width: 100%;

            ion-skeleton-text {
                height: calc(235px + 55px);
                width: 100%;
            }
        }
    }
}
