:host {
    --task-padding: 16px;

    .wrapper {
        box-shadow: 0px 1px 3px rgba(121, 108, 108, 0.25);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .task {
        width: 91vw;
        height: 290px;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;

        &Card {
            padding: var(--task-padding);

            &::-webkit-scrollbar {
                width: 12px !important;
            }

            &Item {
                supr-milestone-task-item {
                    width: 100%;
                }

                &Divider {
                    width: 100%;
                    border: 1px solid var(--black-3);
                    margin: var(--task-padding) 0;
                }

                &Info {
                    supr-text-fragment {
                        width: 85%;

                        --supr-text-fragment-font-size: var(
                            --supr-font-size-small
                        );
                        --supr-text-fragment-font-weight: var(
                            --supr-weight-semi-bold
                        );
                        --supr-text-fragment-align: left;

                        &.title {
                            --supr-text-fragment-font-size: var(
                                --supr-font-size-medium
                            );
                            --supr-text-fragment-font-weight: var(
                                --supr-weight-semi-bold
                            );
                        }

                        &.cta {
                            --supr-text-fragment-font-color: var(--primary-100);
                        }
                    }

                    supr-image {
                        --supr-image-width: 50px;
                        --supr-image-height: 50px;
                    }

                    supr-icon {
                        --supr-icon-font-size: 20px;
                        --supr-icon-color: var(--black-15);

                        &.done {
                            --supr-icon-color: var(--success-100);
                        }

                        &.cta {
                            --supr-icon-color: var(--primary-100);
                            --supr-icon-font-size: 13px;
                        }
                    }

                    &Progress {
                        width: 20%;
                        padding-top: 16px;

                        supr-icon {
                            --supr-icon-font-size: 8px;
                            --supr-icon-color: var(--black-80);
                        }

                        supr-text {
                            --supr-text-color: var(--black-80);
                        }

                        supr-progress-bar {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .taskHeader {
        &Item {
            width: 100%;
            padding: var(--task-padding);

            &Count {
                &Divider {
                    padding: 0 2px;
                }
            }
        }
    }

    .overflowHidden {
        overflow: hidden;
    }
}
