:host {
    --container-height: 100vh;
    --container-padding: var(--supr-content-padding);

    --wrapper-height: 316px;

    --title-text-color: var(--black-80);

    --login-input-height: 56px;
    --login-input-border-radius: 4px;
    --login-input-bg-color: var(--primary-5);

    --otp-resend-action-color: var(--primary-100);
    --otp-change-number-text-width: 98px;

    --rtb-container-svg-width: 100%;
    --rtb-banner-width: calc(100vw);
    --rtb-hight-width-ratio: calc(400 / 360);
    --rtb-banner-height: calc(
        var(--rtb-banner-width) * var(--rtb-hight-width-ratio)
    );
    --rtb-container-svg-height: calc(100vh * 0.53);
    --rtb-container-svg-small-height: calc(100vh * 0.4);

    --rtb-banner3-svg-width: 150vw;

    --rtb-svg-sketch1-height: 222px;
    --rtb-svg-sketch1-width: 172px;
    --rtb-svg-sketch1-bottom: 20px;

    --rtb-svg-sketch2-height: 198px;
    --rtb-svg-sketch2-width: 200px;
    --rtb-svg-sketch2-bottom: 2%;
    --rtb-svg-sketch2-bottom: 38%;

    --rtb-svg-sketch3-height: 238px;
    --rtb-svg-sketch3-width: 168px;
    --rtb-svg-sketch3-bottom: 0%;

    --rtb-svg-supr-logo-height: 34px;
    --rtb-svg-supr-logo-width: 70px;
    --rtb-svg-supr-logo-top: 24px;
    --rtb-svg-supr-logo-left: 16px;

    --rtb-text-left: 16px;
    --rtb-text-top: 70px;
    --rtb-text-width: 80%;

    --rtb-text-time-font-size: 56px;

    --rtb-text-color: #707693;

    --rtb-text-time-color: #282c3f;

    --rtb-text-time-am-margin-left: -8px;

    --rtb-svg-small-sketch-height: 132px;
    --rtb-svg-small-sketch-banner2-height: 168px;
    --rtb-svg-small-sketch-width: 100px;
    --rtb-svg-small-sketch-banner-right: 24px;
    --rtb-svg-small-text-banner-bottom: 10%;
    --rtb-svg-small-sketch-banner-bottom: -30px;

    --rtb-right-space: 24px;

    supr-sticky-wrapper {
        --supr-sticky-wrapper-top: none;
        --supr-sticky-wrapper-bottom: 0;

        .wrapper {
            height: var(--wrapper-height);
        }
    }

    .login {
        padding: calc(var(--supr-content-vertical-padding) * 4)
            var(--supr-content-horizontal-padding) 0
            var(--supr-content-horizontal-padding);

        &Input {
            height: var(--login-input-height);
            border-radius: var(--login-input-border-radius);
            background-color: var(--login-input-bg-color);
            padding: 0 var(--supr-content-horizontal-padding);

            &Prefix {
                padding-right: 16px;
                margin-right: 16px;
                position: relative;

                supr-text {
                    &.light {
                        --supr-text-color: var(--black-20);
                    }
                }

                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: -4px;
                    background-color: var(--black-20);
                    width: 1px;
                    height: 28px;
                }
            }

            supr-input {
                --supr-input-placeholder-color: var(--black-20);
                --supr-input-letter-spacing: 3.2px;
                --supr-input-font-size: var(--supr-font-size-medium);
                --supr-input-font-weight: var(--supr-weight-semi-bold);
                --supr-input-line-height: 1.5;

                width: 100%;
            }
        }

        &Note {
            --supr-text-color: var(--black-40);

            margin-top: 12px;
        }

        supr-text {
            --supr-text-color: var(--black-40);

            &.errorText {
                --supr-text-color: var(--caution-100);
            }
        }

        &ActionButton {
            supr-button {
                --background: var(--background);
                --supr-button-width: 100%;
                flex: 1;

                supr-text {
                    --supr-text-color: var(--white-100);
                }

                supr-icon {
                    --supr-icon-color: var(--white-100);
                }

                &.message {
                    --supr-button-bg-color: var(--white-100);
                    --supr-button-border-color: var(--primary-100);

                    supr-text {
                        --supr-text-color: var(--primary-100);
                    }
                }
            }
        }
    }

    .otp {
        padding: var(--supr-content-horizontal-padding);
        padding-top: calc(var(--supr-content-vertical-padding) * 2);

        &.extraTopPadding {
            padding-top: calc(var(--supr-content-vertical-padding) * 3);
        }

        supr-icon {
            --supr-icon-font-size: 24px;
            --supr-icon-font-color: var(--title-text-color);
        }

        supr-button {
            --background: var(--background);
            --supr-button-width: 100%;

            margin-top: 24px;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }

        &Resend {
            supr-text {
                --supr-text-color: var(--black-40);

                &.mobile {
                    --supr-text-color: var(--black-80);
                }

                &.error {
                    --supr-text-color: var(--caution-100);
                }
            }

            &Timer {
                supr-text {
                    &.active {
                        --supr-text-color: var(--primary-100);
                    }
                }

                supr-icon {
                    --supr-icon-color: var(--primary-100);
                    --supr-icon-font-size: 12px;
                }
            }
        }

        &Footer {
            display: block;

            supr-button {
                --supr-button-width: 100%;

                supr-text {
                    --supr-text-color: var(--white-100);
                }
            }

            &WhatsApp {
                supr-svg {
                    --supr-svg-width: 24px;
                    --supr-svg-height: 24px;
                    --supr-svg-path: var(--supr-svg-whatsapp);
                    --supr-svg-bg-size: cover;
                }

                supr-text {
                    --supr-text-color: var(--black-40);
                    --supr-text-wrap: normal;
                }

                supr-icon {
                    --supr-icon-color: var(--primary-100);
                    --supr-icon-font-size: 20px;
                }
            }
        }

        &Verified {
            margin-top: 38px;

            supr-svg {
                --supr-svg-path: var(--supr-svg-otp-verified-url);
                --supr-svg-width: 38.2vw;
                --supr-svg-height: 27.9vw;
            }
        }
    }

    .rtb {
        width: var(--rtb-container-svg-width);

        &Banner {
            supr-svg {
                &.banner {
                    --supr-svg-width: var(--rtb-banner-width);
                    --supr-svg-height: var(--rtb-banner-height);
                    --supr-svg-bg-size: cover;

                    &.banner1 {
                        --supr-svg-path: var(--supr-svg-rtb-banner1-url);
                    }

                    &.banner2 {
                        --supr-svg-path: var(--supr-svg-rtb-banner2-url);
                    }

                    &.banner3 {
                        --supr-svg-path: var(--supr-svg-rtb-banner3-url);
                    }

                    &.banner4 {
                        --supr-svg-path: var(--supr-svg-rtb-banner4-url);
                    }

                    &.banner5 {
                        --supr-svg-path: var(--supr-svg-rtb-banner5-url);
                    }
                }

                &.suprLogo {
                    position: absolute;
                    top: var(--rtb-svg-supr-logo-top);
                    left: var(--rtb-svg-supr-logo-left);

                    --supr-svg-path: var(--supr-svg-logo-large-white-url);
                    --supr-svg-width: var(--rtb-svg-supr-logo-width);
                    --supr-svg-height: var(--rtb-svg-supr-logo-height);
                }
            }

            &Text {
                position: absolute;
                left: var(--rtb-text-left);
                top: var(--rtb-text-top);
                width: var(--rtb-text-width);

                supr-text {
                    --supr-text-font-size: var(--supr-font-size-large);
                    --supr-text-color: var(--white-100);
                    --supr-text-align: left;
                    --supr-text-wrap: normal;
                    --supr-text-font-weight: normal;
                    --supr-text-font-style: normal;
                    --supr-text-font-stretch: normal;
                    --supr-text-line-height: 1.2;
                    --supr-text-letter-spacing: normal;

                    &.titleText {
                        --supr-text-font-weight: bold;
                    }
                }
            }

            @media screen and (max-height: 600px), (min-width: 600px) {
                supr-svg {
                    &.banner {
                        display: none;
                    }

                    &.suprLogo {
                        display: none;
                    }
                }

                &Text {
                    top: 0;
                    height: 190px;
                    left: 0;
                    width: 100%;
                    padding: 34px 32px 0 16px;
                    background: #f4ffff;

                    supr-text {
                        --supr-text-color: var(--black-100);
                    }
                }
            }

            @media screen and (max-width: 320px) {
                &Text {
                    supr-text {
                        &.titleText {
                            --supr-text-font-size: var(--supr-font-size-medium);
                        }
                        &.helpText {
                            --supr-text-font-size: var(--supr-font-size-medium);
                        }
                    }
                }
            }
        }
    }

    .errorInput {
        border: 1px solid var(--caution-100);
    }

    .explore {
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 2;

        supr-text {
            --supr-text-color: var(--white-100);
        }

        supr-icon {
            --supr-icon-color: var(--white-100);
            --supr-icon-wrapper-size: 16px;
            --supr-icon-font-size: 16px;

            margin-right: 4px;
        }

        @media screen and (max-height: 600px) {
            display: none;
        }
    }

    supr-text {
        &.title {
            --supr-text-color: var(--title-text-color) !important;
        }
    }
}
