:host {
    .headerText {
        padding-bottom: 12px;
        border-bottom: 1px solid var(--black-10);

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--black-40);
        }
    }

    .image {
        padding: 32px 0px;

        supr-svg {
            --supr-svg-width: 189px;
            --supr-svg-height: 195px;
            --supr-svg-path: var(--supr-svg-create-sub-info);
        }
    }

    .descriptionWrapper {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
        padding-top: 0;

        .header {
            supr-text {
                --supr-text-color: var(--primary-100);
            }
        }

        .descriptionItem {
            supr-text {
                --supr-text-wrap: normal;
                --supr-text-color: var(--black-40);
            }
        }

        supr-icon {
            --supr-icon-font-size: 20px;
            --supr-icon-color: var(--black-40);
            --supr-icon-font-weight: var(--supr-weight-normal);
        }
    }
}
