:host {
    --supr-nudge-image-width: 165px;
    --supr-nudge-padding: 24px 32px;

    --supr-nudge-message-title-color: var(--black-80);
    --supr-nudge-message-subtitle-color: var(--black-40);

    .wrapper {
        padding: var(--supr-nudge-padding);

        supr-image {
            --supr-image-wrapper-width: var(--supr-nudge-image-width);
        }

        supr-text {
            --supr-text-color: var(--supr-nudge-message-title-color);
            --supr-text-wrap: normal;
        }

        supr-button {
            --supr-button-width: 100%;
            --supr-button-border-color: var(--primary-100);

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
