<div class="summary" *ngIf="cartMeta">
    <ng-container *ngIf="!isSuprPassSku; else suprPassSkuWrapper">
        <div class="suprRow">
            <supr-text type="regular14">
                {{ TEXTS.PRICE_PER_DELIVERY }} ({{ displayQty }})
            </supr-text>
            <supr-text type="body">
                {{ _itemPrice * unitQty | rupee: 2 }}
            </supr-text>
        </div>
        <div class="divider16"></div>
        <div class="suprRow">
            <supr-text type="regular14">
                {{ TEXTS.TOTAL_NUMBER_OF_DELIVERIES }}
            </supr-text>
            <supr-text type="body">{{ rechargeQty }}</supr-text>
        </div>

        <div class="divider16"></div>
        <div class="suprRow">
            <supr-text type="regular14">
                Total price for {{ rechargeQty }} deliveries
            </supr-text>
            <supr-text type="body">
                {{ _itemPrice * rechargeQty * unitQty | rupee: 2 }}
            </supr-text>
        </div>
    </ng-container>

    <ng-template #suprPassSkuWrapper>
        <div class="suprRow">
            <supr-text type="regular14">
                {{ TEXTS.CART_TOTAL }}
            </supr-text>
            <supr-text type="body">
                {{ _totalAmount | rupee: 2 }}
            </supr-text>
        </div>
    </ng-template>

    <ng-container *ngIf="discountApplied">
        <div class="divider16"></div>
        <div class="suprRow">
            <supr-text type="regular14" class="success">
                Discount ({{ _couponCode }})
            </supr-text>
            <supr-text type="body" class="success">
                <ng-container *ngIf="instantDiscount; else cashback">
                    {{ _discountAmount | rupee: 2 }}
                </ng-container>
            </supr-text>
        </div>

        <ng-template #cashback>
            {{ _discountAmount * -1 | rupee: 2 }} CASHBACK
        </ng-template>
    </ng-container>

    <ng-container *ngIf="_suprCreditsUsed < 0">
        <div class="divider16"></div>
        <div class="suprRow">
            <supr-text type="regular14">
                {{ TEXTS.CREDITS_USED }}
            </supr-text>
            <supr-text type="body">
                {{ _suprCreditsUsed | rupee: 2 }}
            </supr-text>
        </div>
    </ng-container>

    <ng-container *ngIf="!isSuprPassSku">
        <div class="divider16"></div>
        <div class="suprRow">
            <supr-text type="regular14"> {{ TEXTS.DELIVERY_FEE }}</supr-text>

            <div class="spacer4"></div>
            <supr-icon
                name="error"
                class="delFeeInfo"
                *ngIf="_deliveryFee"
                (click)="showDeliveryFeeInfo()"
            ></supr-icon>

            <div class="delFeePriceBlock suprRow">
                <supr-text type="body" *ngIf="_deliveryFee; else delFree">
                    {{ _deliveryFee | rupee: 2 }}
                </supr-text>

                <ng-template #delFree>
                    <supr-text type="body" class="success">
                        {{ TEXTS.FREE }}
                    </supr-text>
                </ng-template>

                <ng-container *ngIf="_preDeliveryFee && _isSuprPassApplied">
                    <div class="spacer4"></div>
                    <supr-text type="body" class="priceStrike">
                        {{ _preDeliveryFee | rupee: 2 }}
                    </supr-text>
                </ng-container>
            </div>
        </div>
        <div class="suprRow suprPassBlock">
            <ng-container *ngIf="_isSuprPassApplied">
                <supr-text type="caption"> {{ appliedSuprPassText }}</supr-text>
            </ng-container>
        </div>
    </ng-container>

    <ng-container
        *ngIf="
            _suprCreditsGainedAmount > 0 &&
            _deliveryFee &&
            delFeeInfo?.short_info
        "
    >
        <div class="divider12"></div>
        <div
            class="suprRow delFeeRefundMessage"
            saImpression
            [saObjectName]="saObjectNames.IMPRESSION.DELIVERY_FEE_BLOCK"
        >
            <supr-text type="paragraph">
                {{ delFeeInfo?.short_info }}
            </supr-text>
        </div>
    </ng-container>

    <div class="divider16"></div>
    <div class="line"></div>
    <div class="divider16"></div>

    <div class="suprRow">
        <supr-text type="regular14">{{ TEXTS.FINAL_AMOUNT }}</supr-text>
        <supr-text type="body">{{ _finalAmount | rupee: 2 }}</supr-text>
    </div>

    <div class="divider16"></div>
    <div class="line"></div>
    <div class="divider16"></div>

    <div class="suprRow">
        <supr-text type="regular14">{{ TEXTS.WALLET_BALANCE }}</supr-text>
        <supr-text type="body">{{ _balance | rupee: 2 }}</supr-text>
    </div>

    <div class="divider16"></div>

    <div class="suprRow">
        <supr-text type="regular14">{{ TEXTS.AMOUNT_TO_ADD }}</supr-text>
        <supr-text type="body">{{ _amountToAdd | rupee: 2 }}</supr-text>
    </div>

    <ng-container *ngIf="_suprCreditsGainedAmount > 0">
        <div class="divider16"></div>
        <div class="suprRow scMessage">
            <div class="suprColumn left">
                <div class="suprRow left">
                    <supr-text type="paragraph">
                        {{ TEXTS.CREDITS_GAINED }}
                    </supr-text>
                </div>
            </div>
            <div class="suprColumn right">
                <div class="suprRow">
                    <supr-text type="body" class="suprCredits">
                        {{ _suprCreditsGainedAmount }}
                    </supr-text>
                    <supr-svg class="creditsImage"></supr-svg>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="divider16"></div>
</div>

<supr-delivery-fee-info
    [showModal]="showDeliveryFeeInfoModal"
    [delFeeInfo]="delFeeInfo"
    (handleClose)="closeDeliveryFeeInfo()"
></supr-delivery-fee-info>
