:host {
    supr-text {
        &.frequencyLabel {
            --supr-text-color: var(--black-40);
        }

        &.daily {
            --supr-text-color: var(--black-80);
        }

        &.frequencyDetail {
            --supr-text-color: var(--primary-120);
        }
    }
}
