:host {
    --subscribed-product-image-size: 48px;

    --subscribed-product-image-wrapper-size: 72px;
    --subscribed-product-image-container-width: 72px;
    --subscribed-product-image-wrapper-bg-color: var(--white-100);

    --subscribed-product-quantity-font-color: var(--black-40);
    --subscribed-product-plus-icon-font-size: 18px;
    --subscribed-product-plus-width: 16px;
    --subscribed-product-plus-height: 16px;
    --subscribed-product-tile-width: 88px;
    --subscribed-product-tile-margin-right: 12px;
    --subscribed-product-tile-margin-horizontal-padding: 12px;

    .tile {
        max-width: var(--subscribed-product-tile-width);
        margin-right: var(--subscribed-product-tile-margin-right);
        height: auto;
        position: relative;
        padding: 0 var(--subscribed-product-tile-margin-horizontal-padding);

        &:first-child {
            padding-left: 0;
        }

        &Image {
            position: relative;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
            border-radius: 50%;

            width: var(--subscribed-product-image-container-width);

            supr-image {
                --supr-image-border-radius: 50%;
                --supr-image-width: var(--subscribed-product-image-size);
                --supr-image-height: var(--subscribed-product-image-size);
                --supr-image-bg-color: var(
                    --subscribed-product-image-wrapper-bg-color
                );
                --supr-image-wrapper-width: var(
                    --subscribed-product-image-wrapper-size
                );
                --supr-image-wrapper-height: var(
                    --subscribed-product-image-wrapper-size
                );
            }
        }

        &Plus {
            position: absolute;
            bottom: 5%;
            right: 0;
            width: var(--subscribed-product-plus-width);
            height: var(--subscribed-product-plus-height);
            border-radius: 50%;
            background-color: var(--white-100);

            supr-icon {
                --supr-icon-color: var(--primary-100);
                --supr-icon-font-size: var(
                    --subscribed-product-plus-icon-font-size
                );
            }
        }

        &Content {
            text-align: center;

            &Name {
                width: 100%;
                --supr-text-wrap: normal;
                --supr-text-text-overflow: ellipsis;
                --supr-text-overflow: hidden;
                --supr-text-truncate-line-count: 2;
                --supr-text-color: var(--black-80);
            }
        }
    }
}
