:host {
    --tile-product-image-container-width: 62px;

    --tile-product-image-wrapper-size: 48px;
    --tile-product-image-size: 40px;
    --tile-product-name-padding-right: 20px;
    --tile-product-image-wrapper-bg-color: var(--white-100);
    --tile-product-image-wrapper-border-color: var(--black-20);
    --tile-product-image-wrapper-border-width: 1px;

    --tile-product-name-color: inherit;

    --tile-product-qty-color: var(--black-40);

    --tile-product-frequency-icon-color: var(--black-40);
    --tile-product-frequency-icon-size: 16px;

    --tile-product-frequency-text-color: var(--black-40);
    --tile-product-frequency-day-text-color: var(--black-10);
    --tile-product-frequency-selected-day-text-color: var(--black-40);

    .tile {
        &Image {
            width: var(--tile-product-image-container-width);

            supr-image {
                --supr-image-border-radius: 50%;

                --supr-image-width: var(--tile-product-image-size);
                --supr-image-height: var(--tile-product-image-size);

                --supr-image-wrapper-width: var(
                    --tile-product-image-wrapper-size
                );
                --supr-image-wrapper-height: var(
                    --tile-product-image-wrapper-size
                );

                --supr-image-bg-color: var(
                    --tile-product-image-wrapper-bg-color
                );
                --supr-image-border-color: var(
                    --tile-product-image-wrapper-border-color
                );
                --supr-image-border-width: var(
                    --tile-product-image-wrapper-border-width
                );
            }
        }

        &Price {
            &Strike {
                --supr-text-color: var(--black-30);
                --supr-text-decoration: line-through;
            }
        }

        &Name {
            flex: 1;

            supr-text {
                --supr-text-color: var(--tile-product-name-color);
                --supr-text-wrap: normal;
            }
        }

        &Qty {
            width: 30%;
            margin-top: 2px;

            supr-text {
                --supr-text-color: var(--tile-product-qty-color);
            }

            supr-icon {
                --supr-icon-color: var(--tile-product-frequency-icon-color);
                --supr-icon-font-size: var(--tile-product-frequency-icon-size);
            }

            supr-week-days-small {
                --week-day-small-text-color: var(
                    --tile-product-frequency-text-color
                );
                --week-day-small-day-text-color: var(
                    --tile-product-frequency-day-text-color
                );
                --week-day-small-day-selected-text-color: var(
                    --tile-product-frequency-selected-day-text-color
                );
            }
        }
    }

    .topMargin {
        margin-top: 4px;
    }
}
