:host {
    --supr-add-button-counter-border-color: var(--primary-100);
    --supr-add-button-counter-bg-color: var(--white-100);
    --supr-add-button-counter-icon-color: var(--primary-100);
    --supr-add-button-counter-text-color: var(--primary-100);
    --supr-add-button-counter-qty-text-color: var(--black-100);

    supr-add-button-wrapper {
        --supr-add-button-wrapper-counter-border-color: var(
            --supr-add-button-counter-border-color
        );

        --supr-add-button-wrapper-counter-bg-color: var(
            --supr-add-button-counter-bg-color
        );
        --supr-add-button-wrapper-counter-icon-color: var(
            --supr-add-button-counter-icon-color
        );
        --supr-add-button-wrapper-counter-text-color: var(
            --supr-add-button-counter-text-color
        );

        --supr-add-button-wrapper-counter-qty-text-color: var(
            --supr-add-button-counter-qty-text-color
        );
    }
}
