:host {
    --supr-add-button-wrapper-counter-border-color: inherit;
    --supr-add-button-wrapper-counter-bg-color: inherit;
    --supr-add-button-wrapper-counter-icon-color: inherit;
    --supr-add-button-wrapper-counter-text-color: inherit;
    --supr-add-button-wrapper-counter-qty-text-color: inherit;

    supr-number-counter {
        --supr-number-counter-border-color: var(
            --supr-add-button-wrapper-counter-border-color
        );
        --supr-number-counter-add-bg-color: var(
            --supr-add-button-wrapper-counter-bg-color
        );
        --supr-number-counter-icon-color: var(
            --supr-add-button-wrapper-counter-icon-color
        );
        --supr-number-counter-text-color: var(
            --supr-add-button-wrapper-counter-text-color
        );

        --counter-qty-text-color: var(
            --supr-add-button-wrapper-counter-qty-text-color
        );
    }

    .roundBtnContainer {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        overflow: hidden;
        border-radius: 28px;
    }

    .addRoundIcon {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        border-radius: 50%;
        background-color: var(--primary-100);

        supr-icon {
            --supr-icon-color: var(--white-100);
        }
    }

    .btnContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 28px;
        flex-grow: 1;
        transform: translateX(100%);
        transition: transform 0.3s cubic-bezier(0, 0, 0.45, 0.01);
        z-index: 2;
        background: var(--primary-100);
        margin-right: -35px;
    }

    .expand {
        transform: translateX(0px);
        margin-right: 0;
    }
}
