@import "mixins/grid";

:host {
    --qty-text-color: var(--black-100);
    --counter-icon-color: var(--primary-100);

    .counter {
        height: 100%;
        width: 100%;

        &Icon {
            --supr-icon-color: var(--counter-icon-color);
            --supr-icon-font-size: var(--counter-icon-size);

            width: var(--counter-icon-width);
            margin-top: 2px;

            &Left {
                @include center-right;
            }

            &Right {
                @include center-left;
            }
        }

        &Quantity {
            --supr-text-color: var(--qty-text-color);
            --supr-text-align: center;

            flex: 1;
        }
    }
}
