@import "mixins/grid";
@import "mixins/typography";

:host {
    --wrapper-width: 92px;
    --wrapper-height: 28px;

    --border-width: 1px;
    --border-radius: 16px;
    --container-secondary-bg-color: var(--primary-10);

    --supr-number-counter-icon-color: var(--primary-100);
    --supr-number-counter-text-color: var(--primary-100);
    --supr-number-counter-add-bg-color: var(--white-100);
    --supr-number-counter-border-color: var(--primary-100);

    --counter-qty-text-color: var(--black-100);

    --add-icon-spacing: 4px;
    --add-icon-size: var(--supr-font-size-small);

    --counter-icon-size: 14px;
    --counter-icon-width: 26px;
    --counter-qty-width: calc(
        var(--wrapper-width) - 2 * var(--counter-icon-width)
    );

    --container-flat-border-radius: 4px;
    --container-flat-wrapper-width: 152px;
    --container-flat-wrapper-height: 48px;
    --container-flat-bg-color: var(--primary-5);
    --container-flat-border-color: var(--primary-5);

    .container {
        @include paragraph;

        border-style: solid;
        width: var(--wrapper-width);
        height: var(--wrapper-height);
        border-width: var(--border-width);
        line-height: var(--wrapper-height);
        border-radius: var(--border-radius);
        border-color: var(--supr-number-counter-border-color);
        background-color: var(--supr-number-counter-add-bg-color);

        &.flat {
            --wrapper-width: var(--container-flat-wrapper-width);
            --border-radius: var(--container-flat-border-radius);
            --wrapper-height: var(--container-flat-wrapper-height);
            --supr-number-counter-add-bg-color: var(--container-flat-bg-color);
            --supr-number-counter-border-color: var(
                --container-flat-border-color
            );
        }

        &.secondary {
            --supr-number-counter-border-color: transparent;

            .add {
                border-radius: var(--border-radius);
                background-color: var(--container-secondary-bg-color);
            }
        }
    }

    .add {
        height: 100%;
        position: relative;

        &Icon {
            --supr-icon-font-size: var(--add-icon-size);
            --supr-icon-color: var(--supr-number-counter-icon-color);

            @include center-right;
        }

        &Label {
            --supr-text-transform: uppercase;
            --supr-text-color: var(--supr-number-counter-text-color);

            margin-left: var(--add-icon-spacing);

            &Subscribe {
                margin-left: 0;
            }
        }

        ion-ripple-effect {
            border-radius: var(--border-radius);
        }
    }

    supr-counter {
        --qty-text-color: var(--counter-qty-text-color);
        --counter-icon-color: var(--supr-number-counter-text-color);
    }
}
