:host {
    .custom {
        padding-bottom: 16px;

        &Content {
            width: 80%;
        }
    }

    supr-icon {
        --supr-icon-color: var(--primary-100);

        &.add {
            background-color: var(--primary-100);
            padding: 8px;
            border-radius: 50%;

            --supr-icon-color: var(--white-100);
        }
    }

    supr-text {
        width: 80%;
        word-break: break-all;

        --supr-text-color: var(--black-40);
        --supr-text-wrap: normal;

        &.title {
            --supr-text-color: var(--primary-100);
        }
    }
}
