:host {
    .content {
        padding: 16px 0;
        align-items: normal;
    }

    img {
        width: 96px;
        height: 96px;
        border-radius: 50%;
    }

    supr-text {
        --supr-text-wrap: normal;
        --supr-text-color: var(--black-40);

        &.address {
            --supr-text-color: var(--black-80);
            --supr-text-transform: capitalize;
        }

        &.type {
            --supr-text-transform: uppercase;
        }
    }

    .mapImgWrapper {
        .map,
        .mapShimmer {
            position: absolute;
            top: 36px;
            bottom: 0;
            width: 96px;
            height: 96px;
            border-radius: 50%;
        }

        .map {
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease-out;

            &.visible {
                display: block;
                opacity: 1 !important;
            }
        }
    }

    .texts {
        word-break: break-word;
        flex: 1;
    }
}
