:host {
    --supr-support-button-bg-color: var(--primary-100);
    --supr-support-button-text-color: var(--white-100);
    --supr-support-button-border-radius: 4px;
    --supr-support-button-height: 40px;

    .actionButton {
        supr-button {
            --supr-button-width: 100%;
            --supr-button-bg-color: var(--supr-support-button-bg-color);
            --supr-button-text-color: var(--supr-support-button-text-color);
            --supr-button-border-radius: var(
                --supr-support-button-border-radius
            );
            --supr-button-height: var(--supr-support-button-height);
        }
    }
}
