:host {
    --modal-container-padding: var(--supr-content-vertical-padding)
        var(--supr-content-horizontal-padding);

    --modal-input-padding: 16px 0;

    --modal-map-width: 100%;
    --modal-map-padding: 8px 0 0 0;

    agm-map {
        height: 96px;
        width: 100%;
        text-align: center;
    }

    .modal {
        padding: 0 var(--modal-container-padding);
    }

    .input {
        padding: var(--modal-input-padding);
        border-bottom: 1px solid var(--black-10);

        supr-text {
            --supr-text-color: var(--black-40);
            --supr-text-wrap: normal;

            &.header {
                --supr-text-color: var(--black-80);
            }
        }

        &Content {
            padding-bottom: 8px;

            supr-text {
                width: 90%;
            }
        }

        supr-icon {
            --supr-icon-color: var(--primary-100);
        }

        &.isBorderBottom {
            border-bottom-width: 0px;
        }
    }

    .mapImgWrapper {
        position: relative;
        width: 100%;
        padding-top: 33.33%;

        .map,
        .mapShimmer {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }

        .map {
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease-out;

            &.visible {
                display: block;
                opacity: 1 !important;
            }
        }
    }

    supr-button {
        --supr-button-width: 100%;

        supr-text {
            --supr-text-color: var(--white-100);
        }
    }
}
