:host {
    --modal-container-padding: var(--supr-content-vertical-padding)
        var(--supr-content-horizontal-padding);

    .modal {
        padding: var(--modal-container-padding);
    }

    supr-text {
        --supr-text-wrap: normal;
        --supr-text-color: var(--black-40);

        &.title {
            --supr-text-color: var(--black-100);
        }
    }

    supr-icon {
        --supr-icon-font-size: 20px;
        --supr-icon-color: var(--alert-100);
    }

    supr-button {
        --supr-button-width: 100%;

        supr-text {
            --supr-text-color: var(--white-100);
        }
    }
}
