:host {
    --modal-container-padding: var(--supr-content-vertical-padding)
        var(--supr-content-horizontal-padding);

    --modal-input-height: 46px;
    --modal-input-padding: 12px 16px;
    --modal-input-border-radius: 4px;
    --modal-input-font-size: 16px;

    --modal-input-padding-bottom: 24px;

    .modal {
        padding: var(--modal-container-padding);

        &Input {
            padding-bottom: var(--modal-input-padding-bottom);
        }

        &Info {
            supr-text {
                span {
                    color: var(--primary-100);
                    text-decoration: underline;
                    font-size: 14px;
                }
            }

            padding-bottom: var(--modal-input-padding-bottom);
        }
    }

    supr-input {
        --supr-input-height: var(--modal-input-height);
        --supr-input-padding: var(--modal-input-padding);
        --supr-input-color: var(--black-80);
        --supr-input-font-size: var(--modal-input-font-size);

        border: 1px solid var(--black-10);
        display: block;
        border-radius: var(--modal-input-border-radius);

        &.disabled {
            background-color: var(--black-5);
            border: none;
        }
    }

    supr-input-label {
        --input-label-text-color: var(--black-40);
    }

    supr-text {
        --supr-text-color: var(--black-40);

        &.title {
            --supr-text-color: var(--black-100);
        }
    }

    supr-button {
        --supr-button-width: 100%;

        supr-text {
            --supr-text-color: var(--white-100);
        }
    }
}
