:host {
    --wrapper-padding: var(--supr-content-vertical-padding)
        var(--supr-content-horizontal-padding);

    --item-padding: var(--supr-content-vertical-padding)
        var(--supr-content-horizontal-padding);

    .wrapper {
        padding: var(--wrapper-padding);
    }

    .logout {
        &.modal {
            padding: var(--supr-content-vertical-padding)
                var(--supr-content-horizontal-padding);

            supr-text {
                &.body {
                    --supr-text-color: var(--black-40);
                    --supr-text-wrap: normal;
                }
            }

            supr-button {
                display: block;
                margin-top: 20px;

                --supr-button-width: 100%;
                --supr-button-bg-color: var(--white-100);
                --supr-button-border-color: var(--caution-100);

                supr-text {
                    --supr-text-color: var(--caution-100);
                }
            }
        }

        supr-profile-content-item {
            --item-border-width: 0;
            --item-title-color: var(--black-40);
        }
    }

    supr-profile-content-item {
        supr-text {
            word-break: break-word;

            --supr-text-color: var(--black-40);
            --supr-text-wrap: normal;
        }
    }
}
