:host {
    .modal {
        padding: var(--supr-content-padding);

        supr-text {
            &.description {
                width: 60%;

                --supr-text-color: var(--black-40);
                --supr-text-wrap: normal;
            }
        }

        &Toggle {
            &Btn {
                width: 40px;
                height: 32px;
                background-color: var(--black-5);
                border-radius: 2px 0 0 2px;

                &Right {
                    border-radius: 0 2px 2px 0;
                }

                supr-text {
                    --supr-text-color: var(--black-20);
                }

                &.active {
                    background-color: var(--primary-100);

                    supr-text {
                        --supr-text-color: var(--white-100);
                    }
                }
            }
        }

        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
