@import "mixins/grid";

:host {
    --header-bg-color: var(--primary-100);
    --header-height: 50vh;

    --circle-width: 31vw;
    --circle-height: 31vw;

    --profile-icon-font-size: 14.57vw;

    --header-padding-top: 40px;

    .header {
        height: var(--header-height);
        background-color: var(--header-bg-color);
        padding-top: var(--header-padding-top);

        &Icon {
            @include center-all;

            width: var(--circle-width);
            height: var(--circle-height);
            border-radius: 50%;
            background-color: var(--white-15);

            supr-icon {
                --supr-icon-color: var(--white-100);
                --supr-icon-font-size: var(--profile-icon-font-size);
            }
        }
    }

    supr-text {
        --supr-text-color: var(--white-100);
    }

    supr-chip {
        --supr-chip-border-color: var(--white-40);
        --supr-chip-text-color: var(--white-100);
    }
}
