:host {
    --item-padding: var(--supr-content-vertical-padding) 0;
    --item-title-color: var(--black-80);
    --item-border-width: 1px;

    --item-title-color: var(--black-80);
    --item--sub-title-color: var(--black-40);

    .item {
        padding: var(--item-padding);
        border-bottom: var(--item-border-width) solid var(--black-10);

        &Left {
            width: 30px;

            supr-icon {
                --supr-icon-color: var(--black-10);
                --supr-icon-font-size: 20px;
            }
        }

        &Content {
            supr-text {
                --supr-text-color: var(--item--sub-title-color);

                &.title {
                    --supr-text-color: var(--item-title-color);
                }
            }
        }

        &Right {
            width: 30px;

            supr-icon {
                --supr-icon-color: var(--primary-100);
                --supr-icon-font-size: 24px;
            }
        }
    }
}
