:host {
    supr-page-header {
        --supr-page-header-border-height: 0;
        --supr-page-header-bg-color: var(--primary-100);
        --supr-page-header-back-button-color: var(--white-100);

        supr-text {
            --supr-text-color: var(--white-60);
        }
    }
}
