:host {
    --supr-credits-info-balance-bg: var(--lime-10);
    --supr-credits-info-balance-height: 52px;
    --supr-credits-info-balance-horizontal-padding: 12px;
    --supr-credits-info-balance-border-radius: 4px;

    .wrapper {
        padding: var(--supr-content-padding);

        .info {
            .textContainer {
                .subHeading {
                    --supr-text-color: var(--black-60);
                    --supr-text-wrap: normal;
                }

                .infoText {
                    --supr-text-color: var(--lime-150);
                    --supr-text-wrap: normal;
                }
            }
        }

        .subTitle {
            --supr-text-color: var(--black-40);

            &.expiry {
                --supr-text-color: var(--caution-100);
            }
        }

        .balance {
            background: var(--supr-credits-info-balance-bg);
            height: var(--supr-credits-info-balance-height);
            padding: 0 var(--supr-credits-info-balance-horizontal-padding);
            border-radius: var(--supr-credits-info-balance-border-radius);

            &Text {
                --supr-text-color: var(--lime-150);
                --supr-text-wrap: normal;
            }

            &Amount {
                --supr-text-color: var(--lime-150);
                --supr-text-wrap: normal;
            }

            supr-svg.creditsImage {
                --supr-svg-width: 30px;
                --supr-svg-height: 30px;
                --supr-svg-path: var(--supr-svg-supr-credits-img);
            }
        }

        &Faq {
            &List {
                height: 250px;
                overflow-y: scroll;
            }
        }
    }
}
