:host {
    --content-width: 100%;

    --header-padding: 32px 24px;
    --header-svg-width: 75px;
    --header-svg-height: 36px;

    supr-page-header {
        --supr-page-header-back-button-display: none;
        --supr-page-header-border-height: 0;

        supr-svg {
            margin-left: var(--supr-content-horizontal-padding);
            margin-top: 32px;
            display: block;

            --supr-svg-path: var(--supr-svg-logo-large-url);
            --supr-svg-width: var(--header-svg-width);
            --supr-svg-height: var(--header-svg-height);
        }
    }

    .suprScrollContent {
        padding: var(--supr-content-vertical-padding)
            var(--supr-content-horizontal-padding);
        padding-top: var(--supr-page-header-height);

        supr-text {
            &.subHeading {
                --supr-text-color: var(--black-40);
            }
        }
    }

    supr-page-footer {
        supr-button {
            --supr-button-width: 100%;

            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
