<div class="wrapper" *ngIf="options?.length">
    <ng-container
        *ngFor="let option of options; trackBy: _trackByFn; index as _i"
    >
        <ng-container *ngIf="option">
            <div
                class="lineItemWrapper"
                saClick
                saImpression
                [saPosition]="_i + 1"
                [saContext]="[saContext]"
                [saObjectName]="saObjectName"
                [saObjectValue]="option.method"
                (click)="_handleItemClick(option)"
            >
                <supr-line-item-variant-A
                    [text]="option.name"
                    textType="subheading"
                    [iconOnTheLeft]="
                        selectedOption === option.id
                            ? _iconNames.APPROVE_FILLED
                            : _iconNames.APPROVE
                    "
                    [class.selected]="option.id === selectedOption"
                ></supr-line-item-variant-A>

                <div
                    class="cvvWrapper"
                    *ngIf="
                        showCVVInput &&
                        option.id === selectedOption &&
                        option.method === _PAYMENT_METHODS_V2.CARD
                    "
                >
                    <supr-wallet-cvv-input
                        [maxLength]="_cvvMaxLength"
                        (handleCvvChange)="_handleCvvChange($event, option)"
                    ></supr-wallet-cvv-input>

                    <ng-container
                        *ngIf="
                            option?.network?.toLowerCase() ===
                            _cardTypes.MAESTRO
                        "
                    >
                        <div class="divider12"></div>
                        <supr-line-item-variant-A
                            textType="body"
                            class="additionalInfo"
                            [class.checked]="_noExpiryOrCvv"
                            [text]="_walletTexts.MAESTRO_NO_CVV_EXPIRY"
                            [iconOnTheLeft]="
                                _noExpiryOrCvv
                                    ? _iconNames.APPROVE
                                    : _iconNames.UNCHECKED
                            "
                            (handleClick)="_toggleNoExpiryOrCvv()"
                        >
                        </supr-line-item-variant-A>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
