:host {
    .wrapper {
        padding: 8px var(--supr-content-horizontal-padding);

        .lineItemWrapper {
            padding: 16px 0px;
            border-bottom: 1px solid var(--black-10);

            &:last-of-type {
                border-bottom: none;
            }

            supr-line-item-variant-A {
                --icon-left-size: 20px;
                --icon-left-wrapper-width: 18px;
                --icon-left-color: var(--black-10);
                --icon-left-wrapper-margin-right: 26px;

                &.selected {
                    --icon-left-color: var(--primary-100);
                }
            }
        }

        .cvvWrapper {
            padding-top: 16px;
            padding-left: 46px;

            supr-line-item-variant-A {
                &.additionalInfo {
                    --icon-left-size: 18px;
                    --text-color: var(--black-60);
                    --icon-left-color: var(--black-40);
                    --icon-left-wrapper-margin-right: 6px;

                    &.checked {
                        --icon-left-color: var(--primary-100);
                    }
                }
            }
        }
    }
}
