<div class="summary">
    <div class="suprRow">
        <supr-text type="regular14"> {{ TEXTS.TOTAL_AMOUNT }}</supr-text>
        <supr-text type="body">
            {{ _totalAmount | rupee: 2 }}
        </supr-text>
    </div>
    <ng-container *ngIf="_discountAmount < 0">
        <div class="divider16"></div>
        <div class="suprRow">
            <supr-text type="regular14" class="success">
                {{ TEXTS.DISCOUNT }}
            </supr-text>
            <supr-text type="body" class="success">
                {{ _discountAmount | rupee: 2 }}
            </supr-text>
        </div>
    </ng-container>
    <ng-container *ngIf="_suprCreditsUsed < 0">
        <div class="divider16"></div>
        <div class="suprRow">
            <supr-text type="regular14">
                {{ TEXTS.CREDITS_USED }}
            </supr-text>
            <supr-text type="body">
                {{ _suprCreditsUsed | rupee: 2 }}
            </supr-text>
        </div>
    </ng-container>
    <ng-container>
        <div class="divider16"></div>
        <div class="suprRow">
            <supr-text type="regular14"> {{ TEXTS.DELIVERY_FEE }}</supr-text>

            <div class="spacer4"></div>
            <supr-icon
                name="error"
                class="delFeeInfo"
                *ngIf="_deliveryFee"
                (click)="showDeliveryFeeInfo()"
            ></supr-icon>

            <div class="delFeePriceBlock suprRow">
                <supr-text type="body" *ngIf="_deliveryFee; else delFree">
                    {{ _deliveryFee | rupee: 2 }}
                </supr-text>

                <ng-template #delFree>
                    <supr-text type="body" class="success">
                        {{ TEXTS.FREE }}
                    </supr-text>
                </ng-template>

                <ng-container
                    *ngIf="_preDeliveryFee && _deliveryFee < _preDeliveryFee"
                >
                    <div class="spacer4"></div>
                    <supr-text type="body" class="priceStrike">
                        {{ _preDeliveryFee | rupee: 2 }}
                    </supr-text>
                </ng-container>
            </div>
        </div>
        <div class="suprRow suprPassBlock">
            <ng-container *ngIf="_isSuprPassApplied">
                <div
                    class="suprRow"
                    saImpression
                    [saObjectName]="
                        saObjectNames.IMPRESSION.SUPR_ACCESS_APPLIED
                    "
                >
                    <supr-text type="caption">
                        {{ appliedSuprPassText }}
                    </supr-text>
                </div>
            </ng-container>
            <ng-container
                *ngIf="
                    !_isSuprPassApplied && isEligibleForSuprPass && _deliveryFee
                "
            >
                <div
                    class="suprRow"
                    saImpression
                    [saObjectName]="saObjectNames.IMPRESSION.GET_SUPR_ACCESS"
                >
                    <supr-text type="caption">
                        {{ applySuprPassText }}</supr-text
                    >
                    <div class="spacer4"></div>
                    <supr-text
                        type="paragraph"
                        class="suprPassText"
                        (click)="goToSuprPassPage()"
                        saClick
                        [saObjectName]="suprAccessCartCtaObjectName"
                    >
                        {{ suprPassText || TEXTS.SUPR_PASS }}
                    </supr-text>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="_serviceFeeBannerInfo">
        <div class="divider4"></div>
        <supr-banner
            saImpression
            [saObjectName]="
                saObjectNames.IMPRESSION.SUPR_ACCESS_SERVICE_FEE_BANNER
            "
            [banner]="_serviceFeeBannerInfo"
        ></supr-banner>
    </ng-container>
    <div class="divider16"></div>
    <div class="line"></div>
    <div class="divider16"></div>
    <div class="suprRow">
        <supr-text type="regular14"> {{ TEXTS.FINAL_AMOUNT }} </supr-text>
        <supr-text type="body">{{ _finalAmount | rupee: 2 }}</supr-text>
    </div>
    <div class="divider16"></div>
    <div class="line"></div>
    <div class="divider16"></div>
    <div class="suprRow">
        <supr-text type="regular14"> {{ TEXTS.WALLET_BALANCE }} </supr-text>
        <supr-text type="body">{{ _balance | rupee: 2 }}</supr-text>
    </div>
    <div class="divider16"></div>
    <div class="suprRow">
        <supr-text type="regular14"> {{ TEXTS.AMOUNT_TO_ADD }} </supr-text>
        <supr-text type="body">{{ _amountToAdd | rupee: 2 }}</supr-text>
    </div>
    <ng-container *ngIf="_suprCreditsGainedAmount > 0">
        <div class="divider16"></div>
        <div class="suprRow scMessage">
            <div class="suprColumn left">
                <div class="suprRow left">
                    <supr-text type="paragraph">
                        {{ TEXTS.CREDITS_GAINED }}
                    </supr-text>
                </div>
            </div>
            <div class="suprColumn right">
                <div class="suprRow">
                    <supr-text type="body" class="suprCredits">
                        {{ _suprCreditsGainedAmount }}
                    </supr-text>
                    <supr-svg class="creditsImage"></supr-svg>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="divider16"></div>

    <!-- Saving block -->
    <ng-container
        *ngIf="cartMeta?.savings_info && cartMeta?.savings_info?.total_savings"
    >
        <div class="savings">
            <!-- Total Savings, Percent calculation on FE -->
            <div
                class="suprRow savingsHeader"
                [class.collapsed]="savingsCollapsed"
                (click)="toggleSavings()"
            >
                <supr-text type="body">
                    {{ savingsTexts.TOTAL_SAVINGS }}
                </supr-text>
                <div class="spacer4"></div>
                <supr-text type="body">
                    {{ cartMeta?.savings_info?.total_savings | rupee: 2 }}
                </supr-text>
                <ng-container *ngIf="savingsPercentText">
                    <div class="spacer4"></div>
                    <supr-text type="body">
                        {{ savingsPercentText }}
                    </supr-text>
                </ng-container>

                <supr-icon
                    class="chevron"
                    name="chevron_down"
                    *ngIf="savingsCollapsed"
                ></supr-icon>

                <supr-icon
                    class="chevron"
                    name="chevron_up"
                    *ngIf="!savingsCollapsed"
                ></supr-icon>
            </div>
            <div class="savingsContent" *ngIf="!savingsCollapsed">
                <!-- Supr Pass Savings -->
                <ng-container
                    *ngIf="cartMeta?.savings_info?.supr_access_discount"
                >
                    <div class="divider14"></div>
                    <div class="lineItem">
                        <div class="suprRow top">
                            <supr-text type="paragraph">
                                {{ savingsTexts.SUPR_PASS_DISCOUNT }}
                            </supr-text>
                            <supr-text type="paragraph">
                                {{
                                    cartMeta?.savings_info?.supr_access_discount
                                        | rupee: 2
                                }}
                            </supr-text>
                        </div>
                    </div>
                </ng-container>

                <!-- Service Fee Savings -->
                <ng-container
                    *ngIf="cartMeta?.savings_info?.service_fee_saving"
                >
                    <div class="divider14"></div>
                    <div class="lineItem">
                        <div class="suprRow top">
                            <supr-text type="paragraph">
                                {{ savingsTexts.SERVICE_FEE_SAVINGS }}
                            </supr-text>
                            <supr-text type="paragraph">
                                {{
                                    cartMeta?.savings_info?.service_fee_saving
                                        | rupee: 2
                                }}
                            </supr-text>
                        </div>
                    </div>
                </ng-container>

                <!-- Cummulative Item Discount -->
                <ng-container *ngIf="cartMeta?.savings_info?.coupon_discount">
                    <div class="divider14"></div>
                    <div class="lineItem">
                        <div class="suprRow top">
                            <supr-text type="paragraph">
                                {{ savingsTexts.COUPON_DISCOUNT }}
                            </supr-text>
                            <supr-text type="paragraph">
                                {{
                                    cartMeta?.savings_info?.coupon_discount
                                        | rupee: 2
                                }}
                            </supr-text>
                        </div>
                    </div>
                </ng-container>

                <!-- Supr Credits Used -->
                <ng-container *ngIf="cartMeta?.savings_info?.supr_credits_used">
                    <div class="divider14"></div>
                    <div class="lineItem">
                        <div class="suprRow top">
                            <supr-text type="paragraph">
                                {{ savingsTexts.SUPR_CREDITS_USED }}
                            </supr-text>
                            <supr-text type="paragraph">
                                {{
                                    cartMeta?.savings_info?.supr_credits_used
                                        | rupee: 2
                                }}
                            </supr-text>
                        </div>
                    </div>
                </ng-container>

                <!-- Cummulative Item Discount -->
                <ng-container *ngIf="cartMeta?.savings_info?.item_discount">
                    <div class="divider14"></div>
                    <div class="lineItem">
                        <div class="suprRow top">
                            <supr-text type="paragraph">
                                {{ savingsTexts.ITEM_DISCOUNT }}
                            </supr-text>
                            <supr-text type="paragraph">
                                {{
                                    cartMeta?.savings_info?.item_discount
                                        | rupee: 2
                                }}
                            </supr-text>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="divider16"></div>
    </ng-container>
</div>

<supr-delivery-fee-info
    [showModal]="showDeliveryFeeInfoModal"
    [delFeeInfo]="delFeeInfo"
    (handleClose)="closeDeliveryFeeInfo()"
></supr-delivery-fee-info>
