:host {
    --supr-tag-bg-color: var(--primary-100);
    --supr-tag-padding: 0;
    --supr-tag-border-radius: 0;

    .tag {
        background-color: var(--supr-tag-bg-color);
        padding: var(--supr-tag-padding);
        border-radius: var(--supr-tag-border-radius);
    }
}
