:host {
    .scWrapper {
        height: 100vh;
        box-sizing: border-box;
        background-color: var(--white-100);

        &.balanceScreen {
            background-color: var(--white-100);

            .absolute {
                position: absolute;
                top: -35px;
            }

            supr-text {
                --supr-text-color: var(--lime-160);
            }
        }

        .suprColumn {
            padding: var(--supr-content-padding);
        }

        supr-svg {
            &.scImg {
                --supr-svg-path: var(--supr-svg-supr-credits-img);
                --supr-svg-width: 150px;
                --supr-svg-height: 150px;
            }

            &.bgIllustration {
                --supr-svg-path: var(--supr-svg-suprCredits-bg-illustration);
                --supr-svg-width: 100vw;
                --supr-svg-height: 100vh;

                position: absolute;
            }

            &.suprCreditsBg {
                --supr-svg-path: var(--supr-svg-supr-credits-bg);
                --supr-svg-width: 192px;
                --supr-svg-height: 192px;

                margin-top: -60px;
            }
        }

        supr-text {
            --supr-text-color: var(--black-100);
            --supr-text-wrap: normal;

            &.scRupee {
                --supr-text-color: var(--lime-150);
            }
        }

        .desc {
            max-width: 270px;
            text-align: center;
            white-space: normal;

            supr-text {
                --supr-text-color: var(--black-40);
            }
        }

        supr-button {
            --supr-button-bg-color: var(--lime-150);
            --supr-button-border-color: none;
            --supr-button-width: 270px;
            supr-text {
                --supr-text-color: var(--white-100);
            }
        }
    }
}
