:host {
    --supr-nudge-action-button-bg-color: var(--white-100);
    --supr-nudge-action-button-border-color: var(--primary-100);
    --supr-nudge-action-button-text-color: var(--primary-100);
    width: 100%;

    .wrapper {
        supr-button {
            --supr-button-width: 100%;
            --supr-button-bg-color: var(--supr-nudge-action-button-bg-color);
            --supr-button-border-color: var(
                --supr-nudge-action-button-border-color
            );

            supr-text {
                --supr-text-color: var(--supr-nudge-action-button-text-color);
            }
        }
    }
}
