:host {
    .wrapper {
        padding: var(--supr-content-padding);

        supr-text {
            --supr-text-wrap: normal;
            --supr-text-color: var(--black-100);
        }

        .buttonWrapper {
            width: 50%;

            &.singleButton {
                width: 100%;
            }
        }

        .linkCta {
            supr-generic-nudge-text-fragment {
                --supr-text-fragment-decoration: underline;
            }
        }
    }
}
