:host {
    supr-loader {
        --supr-loader-color: var(--primary-100);
    }

    supr-text-highlight {
        --supr-text-color: var(--black-40);
        --supr-text-highlight-color: var(--primary-100);

        &.countText {
            padding-left: 4px;
        }

        &.wrap {
            --supr-text-wrap: normal;
        }
    }

    supr-text {
        &.filterText {
            --supr-text-color: var(--black-80);
        }
    }

    .loaderGif {
        padding-top: 50%;

        &.fullPage {
            padding-top: 65%;
        }

        ion-spinner {
            width: 36px;
            height: 36px;
        }
    }

    .loadingMore {
        padding-bottom: 16px;
    }

    .categoryChipsWrapper {
        padding: 16px;
        padding-top: 0;
    }
}
